[2016-01-24 22:03] goetzc opened #942 "Color picker widget: cropped in vertical panel"
In a vertical panel, the widget is horizontal and cropped, so it cannot be used to read the selected color value.

[2016-01-24 22:22] pmattern commented on #942
Confirmed in lxde/lxqt-panel@2c87224.

[2016-01-25 11:04] #931 closed

[2016-01-25 11:05] palinek commented on #931
Tried to fix in lxde/lxqt-panel@216669b. @pmattern please, confirm.

[2016-01-25 11:27] palinek commented on #941
The (non)usage of specific icon names was already discussed in #576 also....

[2016-01-25 17:07] sixsixfive commented on #941
I don't really see why this is an issue KDE oxygen and Enlightenment are probably the only projects that really tried to follow and extend this specification(eg following the naming scheme for new icons).

Adwaita is now part of GTK3, and GNOME 3 proved that they actually don't care if libgnome stuff breaks outside GNOME so why should other desktops care about GNOME? You could also still ship an i

[2016-01-25 17:25] pmattern commented on #931
@palinek
As of lxde/lxqt-panel@216669b dialog "Choose icon file" starts to look in the old icon's directory when a distinct icon that had been selected before gets modified.
So really everything fixed now.

[2016-01-25 17:50] sixsixfive opened #943 "Use Starter Icons as Taskbar icons"
running the same applications(trojita, qmmp, qt-desgner, qt-linguist & kodi) in plasma and lxqt

![kde](https://cloud.githubusercontent.com/assets/3780774/12559174/b9aa88d4-c393-11e5-8bdc-5e56958ae663.png)

as you can see on the screenshot if icon only is set in taskbar settings it can get very confusing to find the right application because its using different icons than in the menu/*.desktop fil

[2016-01-25 17:51] tsujan commented on #941
Sticking to Gome/GTK+ icon themes isn't a good approach to me either. After all, thanks to Gnome's weird concepts of "standard", we now have LXQT. Being based on Qt, KDE is a better model to follow. I would consider an icon theme incomplete if it doesn't have `preferences-desktop-notification`.

BTW, don't desktop files accept fallback icons?

[2016-01-25 18:22] pmattern commented on #941
Icon themes are usually provided independently from any desktop environment they eventually belong to. So chances are distinct icons are lacking in some particular theme if their names aren't covered by the Icon Naming Specification.

Nevertheless this issue is clearly a duplicate of #576 that you opened as well, which really doesn't make sense.

All relevant aspects, in particular the indeed rath

[2016-01-25 18:22] #941 closed

[2016-01-25 18:41] pmattern commented on #943
In your screenshot *LXQt* is using the very same icons in panel's `plugin-taskbar` which are normally used in plugin-mainmenu. Same thing trying to reproduce your findings in a VM here.
Isn't it rathter *KDE* that's using different stuff? Am I missing something else?

[2016-01-25 18:47] tsujan commented on #576
I told my (related) opinion at https://github.com/lxde/lxqt/issues/941 but @pmattern closed it. So, I repeat it here:

Sticking to current standards isn't a good approach to me. Being based on Qt, KDE is a good model to follow. KDE doesn't see "standard" as a sacred concept. I would consider an icon theme incomplete if it doesn't have `preferences-desktop-notification`, for example.

It's good to

[2016-01-25 18:50] sixsixfive commented on #943
exactly its using the default icons but not the icons from the icon theme

here my menu which uses the icons from the icon theme:

![menu](https://cloud.githubusercontent.com/assets/3780774/12560784/d4c00e4c-c39c-11e5-965b-f7cc9ddb4c52.png)

[2016-01-25 19:19] tsujan commented on #943
This is a valid report to me. LXQT should always use icons from the user icon theme and only if nonexistent, fallback ones.

[2016-01-25 19:49] palinek commented on #943
We get the icon from the [KWindowSystem](http://api.kde.org/frameworks-api/frameworks5-apidocs/kwindowsystem/html/classKWindowSystem.html) -> see [here](https://github.com/lxde/lxqt-panel/blob/master/plugin-taskbar/lxqttaskbar.cpp#L273).

... this finaly goes into:
[code]

...so the question here is: are we going to honor the priority of getting icon information as it is defined/implemented in `Kw

[2016-01-25 20:03] pmattern commented on #943
I didn't say the issue isn't valid but don't think it's that obvious to understand, in particular as the screenshots don't display a single icon in plugin-taskbar that's differing from its counterpart in plugin-menu.

Genuine icons like e. g. the ones of Firefox, Thunderbird or whatever go to icon theme `hicolor` anyway and hence there cannot be any confusion as there's a single icon only (aside f

[2016-01-25 20:14] palinek commented on #943
In the lxde/lxqt-panel#299 is a preview of what I've said in the above comment...

[2016-01-25 21:44] tsujan commented on #943
@palinek
I need some time. I'll start to study this part of LXQT tomorrow -- previously I'd never encountered any serious problem about it, hence my lack of knowledge. And, BTW, this problem isn't serious at all!

@pmattern
I didn't mean that you meant it is invalid ;) I'm familiar with sixsixfive's style of bug reporting and feature requesting from Kvantum. He may not convey his mind clearly in E

[2016-01-26 01:34] intialonso commented on #576
Just a note: Design and maintain icons could be a big deal, specially to achieve consistency with the user environment (dark, light, monochrome?).

For example, have you seen the CMST icon? It looks absolutely out of place in almost every desktop.

[2016-01-26 02:49] jeremywh7 opened #944 "[lxqt-panel] Regression: right-click on app icons keeps panel unhidden until mouse-over"
I just noticed this panel autohide regression after updating to lxqt-panel-git 0.10.0.43.g216669b-1 (arch x64: previously on g3dc228d), and is similar to (part of) https://github.com/lxde/lxqt/issues/853.  From what I've checked so far, it only affects right-clicking window application icons in the Panel's 'Task Manager'.

[2016-01-26 07:26] palinek commented on #943
Just to clarify this issue... Hereafter is the difference between current master and the lxde/lxqt-panel#299 with *Numix circle* icon theme -> which provides icons for many applications (the example applications: xterm, chromium, Qt Designer, Skrooge):
- current master
![screenshot](https://cloud.githubusercontent.com/assets/10990929/12574601/b59afbf8-c405-11e5-8d9e-801e9363d56e.png)

-  lxde/lxqt

[2016-01-26 07:46] tsujan commented on #943
@palinek
Yes! Your commit at lxde/lxqt-panel#299 works here. Now, Qt Creator and Qt Designer use the user theme. Logically, it should also work for the other apps sixsixfive mentioned.

[2016-01-26 07:54] tsujan commented on #943
However, some apps, like SMPlayer and VLC, seem to still enforce their icons. @sixsixfive : Do they have the same behavior under KDE (I don't have KDE here)?

[2016-01-26 07:56] tsujan commented on #943
Oh, SMPlayer and VLC are Qt4-based, so that behavior is expected.

[2016-01-26 08:08] palinek commented on #943
This shouldn't have nothing to do with Qt version or even a framework (or maybe yes... I don't know who is responsible for setting the windowClass for X). You can test the existence of icon based on the windowClass `xprop | egrep -i class`

[2016-01-26 08:20] tsujan commented on #943
@palinek
Under LXQT, no Qt4 app can use the user theme in its GUI either. I expected that since LXQT doesn't support Qt4. For example, GUI icons of Qt4-Designer are all Qt4 icons and not the user ones.

[2016-01-26 08:23] tsujan commented on #943
All in all, I think your commit is the best that can be done, although I can't be sure.

[2016-01-26 08:28] palinek commented on #943
Let's wait also for others, what they think.

But there is one drawback in current lxde/lxqt-panel#299: if the icon from theme is used for application in taskbar, then user changes the icon theme and in the new theme there is no icon for the application => no icon will be shown until application restart or panel's "heavy reconfiguration"...

[2016-01-26 08:57] tsujan commented on #943
Then, please try to fix that too -- I'm still a newbie in Panel's code.

[2016-01-26 08:58] #944 closed

[2016-01-26 08:59] palinek commented on #944
@jeremywh7 please, confirm that this is fixed in master now...

[2016-01-26 10:24] palinek commented on #943
Tried that in lxde/lxqt-panel@9866027. Please, test.

[2016-01-26 10:44] tsujan commented on #943
Perfect! It works. And you proved that I was wrong: now VLC and SMPlayer pick their taskbar icons from the user theme too.

[2016-01-26 11:21] palinek commented on #943
E. g. launch lxqt-config-notificationd - change the current icon theme by lxqt-config-appearance → icons in plugin-taskbar and plugin-menu are different.

I tend to say that this is a Qt bug. The icon for the window is set by [QWidget::setWindowIcon](http://doc.qt.io/qt-5/qwidget.html#windowIcon-prop). So the provided `QIcon` object (picture based on theme) and `QWidget` should re-set the correct

[2016-01-26 11:37] sequoiar commented on #417
any update on fcitx ?

[2016-01-26 12:40] PCMan commented on #417
if you're using ubuntu, try im-switch command.

On Wed, Apr 22, 2015 at 9:23 AM, peyoot <notifications@github.com> wrote:

[2016-01-26 13:23] jeremywh7 commented on #944
Fixed; everything looks good.  Thanks!

[2016-01-26 14:25] palinek commented on #943
I'm still not convinced that the icon derived from windowClass should override the image(s) provided by app to window system...

E.g. the pidgin's conversation window sets the icon/image as the buddy icon, with the lxde/lxqt-panel#299... the icon in task bar will be the one provided by the them for `pidgin` (if there is one).

[2016-01-26 14:32] tsujan commented on #943
Could you think of a situation where that would create a problem?

[2016-01-26 14:37] tsujan commented on #943
I use Plank (dock) and it does the same thing, in its own way.

[2016-01-26 15:19] palinek commented on #943
Nothing mentioned here should be considered as a bug/problem. It is all about the user experience/preference.

[2016-01-26 15:32] tsujan commented on #943
It might be called a feature request but it would make no difference. User experience and a consistent look-n-feel are important for GUI apps.

[2016-01-26 17:14] renegat opened #945 "Claws-Mail SysTray-icon broken"
lxqt-panel 0.10.0-5
claws-mail 3.13.2-1
4.3.3-2-ARCH x86_64 GNU/Linux

With configuration -> preferences -> plugins -> notification -> systrayicon -> enabled in claws-mail
after starting claws-mail the systray icon appears too big and without function in the notification area of the lxqt-panel.

When doing right-click on the panel, panel -> configure panel the icon becomes normal size and the func

[2016-01-26 18:37] charwhee commented on #576
Have you considered asking Numix for some help with your icon/theming issues? Just a thought.
https://numixproject.org/ They probably have some good experience in this type of issue, and maybe a good solution.

[2016-01-26 19:24] Vladimir-csp commented on #576
Speaking of artistic theming and icons projects, I would also add [RAVEfinity](http://ravefinity.com/) in the mix.

[2016-01-27 13:20] palinek commented on #945
@renegat can you, please, check if the lxde/lxqt-panel#300 fixes the issue on your side?

[2016-01-27 16:15] sixsixfive commented on #943
LXQt allows to change the icon theme, but since it isn't/wasn't possible on an LXQt application So I would call it a bug

there exist also monochrome themes like awoken , or all those new iphone like blocky themes that use a completely different icon style than the default icons.

[2016-01-27 16:39] sixsixfive commented on #576
thats probably since your icon theme didn't include those icons or you didn't set the correct icon name( https://github.com/andrew-bibb/cmst/wiki/Icons-and-Icon-Themes ) ,since i don't have those issues:

![untitled](https://cloud.githubusercontent.com/assets/3780774/12619924/71b6e6d4-c51a-11e5-83ae-dee67d073329.png)

@recommendations

If you ever include a "default" LXQT icon set, keep in mind th

[2016-01-27 17:57] tsujan commented on #576
CMST uses different icons for its desktop file and window/taskbar. The taskbar icon is correct, as sixsixfive mentioned.

[2016-01-30 10:17] ArthurBorsboom opened #946 "lxqt-panel shows too many items"
When I startup Virtualbox I have many of the same items in the panel.
I would expect to see only two items (Win7 + Oracle VM Box), but instead I see this.

![2016-01-30-111356_3520x1200_scrot](https://cloud.githubusercontent.com/assets/6639859/12695086/02436afe-c743-11e5-985a-4c0c0d5deb5f.png)

[2016-01-30 13:51] ghost opened #947 "[lxqt-config] - add a frame to the icon view"
the should be a frame around or a line after the icon view to look better on bright themes:

![aaa](https://cloud.githubusercontent.com/assets/3780774/12696034/5e205ba4-c75f-11e5-8e61-7d32494111ac.png)

looks a lot better after adding a bottom border:

![bbb](https://cloud.githubusercontent.com/assets/3780774/12696040/9905b520-c75f-11e5-80cd-67294b7e4af9.png)

[2016-01-30 13:52] sixsixfive commented on #946
probably the same issue as https://github.com/lxde/lxqt/issues/937

[2016-01-30 15:01] tsujan commented on #947
Please use Fusion when sending screenshots of such issues: `lxqt-config-appearance -style fusion`, which gives this:

![2016-01-30-18 26 56-scrot](https://cloud.githubusercontent.com/assets/981076/12696403/5a3954e4-c77f-11e5-812d-e4f0dd438ef9.png)

[2016-01-30 15:12] tsujan commented on #947
BTW, Kvantum could work around it if you set a frame around ItemView:

![2016-01-30-18 39 42-scrot](https://cloud.githubusercontent.com/assets/981076/12696485/249c5550-c781-11e5-87a4-03730f903141.png)

[2016-01-30 15:43] tsujan commented on #946
I can't reproduce this issue, even when I shut down a virtual machine and run another:

![vbox](https://cloud.githubusercontent.com/assets/981076/12696652/564ee2c6-c785-11e5-8ad5-332ea28cb1d7.png)

[2016-01-30 15:52] ArthurBorsboom commented on #946
Maybe it is because I have multiple logical CPU's assigned to the VM?
Can you try that?

On 30 January 2016 at 16:43, tsujan <notifications@github.com> wrote:

--
Arthur Borsboom
Mob: +31629089953
Email: arthurborsboom@gmail.com
Skype: Arthur Borsboom, The Hague, The Netherlands

[image: View Arthur's LinkedIn profile]
<http://uk.linkedin.com/in/arthurborsboom>

[2016-01-30 16:01] sixsixfive commented on #947
its even simpier just add this qss to your LXQt-theme: https://github.com/sixsixfive/other-themes/blob/master/LXQt/aalglatt/lxqt-config.qss

anyway I would prefer a real fix than work around something ;)

[2016-01-30 17:31] tsujan commented on #946
I don't think so. In the previous screenshot, the v-machine had 2 processors.
It may be related to the version of lxqt-panel. Mine is the latest git, compiled from the source.

[2016-01-30 17:36] ArthurBorsboom commented on #946
My lxqt-panel is the latest git. However, i have a mix of lxqt v0.10
packages and latest git packages, for the benefit of previous issues with
lxqt-panel.

I will investigate a bit more, and report back if I notice another pattern.

Sent from my phone
On 30 Jan 2016 18:32, "tsujan" <notifications@github.com> wrote:

[2016-01-30 17:39] tsujan commented on #946
Good! Please also consider the version of kf5 libraries too. Here, it's 5.16.0.

[2016-01-31 00:20] paulolieuthier commented on #946
@ArthurBorsboom which window manager?

[2016-01-31 05:36] Jemi opened #948 "Zombie apps taking up space in lxqt-panel"
As I write this, I have 'zombie' entries on my panel for vlc and for wine. They all correspond to programs I had open but subsequently closed. 'wine - 6 windows' shows up on one tab (and hovering over it brings up 6 zombie tabs) and just 'vlc' on the other. I don't know how this happened, so I hope this is not too difficult to reproduce. Please let me know if there's a way I can help make this rep

[2016-01-31 08:44] ArthurBorsboom commented on #946
I am using Arch with kf5 5.18 and openbox

The issue is reproducable and if it is helpful, I can provide a Teamviewer
session.

arthur@z97:~$ yaourt -Q | grep lxqt

local/liblxqt-git 0.10.0.12.g1b34ac9-1
local/liblxqt-mount 0.9.0-2
local/lximage-qt 0.4.0-1 (lxqt)
community/lxqt-about 0.10.0-4 (lxqt)
community/lxqt-common 0.10.0-2 (lxqt)
community/lxqt-config 0.10.0-3 (lxqt)
community/lxqt-globalke

[2016-01-31 08:58] pmattern commented on #948
Seems a bit related go #946.

[2016-02-01 10:53] tsujan commented on #786
Done!

![margins](https://cloud.githubusercontent.com/assets/981076/12715368/39335620-c8ef-11e5-9417-1c02a06e1692.png)

[2016-02-01 14:41] palinek commented on #940
Confirmed.

I've digged a bit into this and it seems weird to me:
- the behaviour is/should be given by the QPA platform plugin, in our case `lxqt-qtplugin` -> here https://github.com/lxde/lxqt-qtplugin/blob/master/src/lxqtplatformtheme.cpp#L253; I've made a test if this hint is ever queried:
[code]
=> it is queried right upon the click on file name (in the dialog) => don't know why it doesn't wor

[2016-02-02 20:53] palinek commented on #940
...after a hard time with reviewing/debugging the core QT libraries finaly found the reason.

@pmattern can you, please, check the lxde/liblxqt#80?

[2016-02-02 21:08] #945 closed

[2016-02-02 21:10] palinek commented on #945
@renegat should you encounter the problem after the lxde/lxqt-panel@9dc1ba0, please reopen this issue

[2016-02-03 11:33] paulolieuthier commented on #884
@ArthurBorsboom my problem with nm-applet was solved with recent commits. Could you try again?

[2016-02-03 18:10] ArthurBorsboom commented on #884
Hi Paulo,

I have the latest lxqt-panel-git already installed and the problem still exists. However, I have a mix of repository version packages of lxqt v0.10 and git versions (mainly because of different lxqt-panel issues).

Which package do you mean when you referred to "recent commits"?

[2016-02-03 18:16] tpgxyz commented on #582
Hi, looks like issue can be noticed with autostart files.
For example lxqt starts all /etc/xdg/autostart/*.desktop not matter if OnlyShowIn=KDE;
NotShowIn=LXQt;

Second i've noticed that autostart files with OnlyShowIn=LXQt; are executed only when in startlxqt script
XDG_CURRENT_DESKTOP is set to "X-LXQt" instead of "LXQt"

https://github.com/lxde/lxqt-common/blob/master/startlxqt.in#L65

[2016-02-03 18:26] paulolieuthier commented on #884
I meant lxqt-panel.

[2016-02-03 18:36] ArthurBorsboom commented on #884
I believe I have the latest lxqt-panel running.
[code]
However, I am still getting the issue, instantly after booting in the journal.

[code]

Am I missing something, or might it be something else?

[2016-02-03 18:41] paulolieuthier commented on #884
Well, I didn't check if the warning is being emmited here. I'm talking about the icon appearing correctly.

[2016-02-03 18:51] ArthurBorsboom commented on #884
Ah okay. I have to keep an eye on it, since I recall it most of the time
not working and sometimes it did. Currently the icon is showing, but the
image looks a bit malformed on the sides / bottom.

Sent from my phone
On 3 Feb 2016 19:41, "Paulo Lieuthier" <notifications@github.com> wrote:

[2016-02-03 19:07] Atalanttore commented on #791
@pmattern
I didn't see this problem for over a month. It seems to be fixed.

[2016-02-03 19:19] pmattern commented on #791
@Atalanttore
Alright then. Please drop another note should you run into this once more.

[2016-02-03 21:46] ArthurBorsboom commented on #884
For some reason it seems the most to the right GTK icon, is usually or maybe always malformed. The xpad icon has some random pixels around, as you can see in this screenshot.

![2016-02-03-223855_1920x32_scrot](https://cloud.githubusercontent.com/assets/6639859/12798004/5c5f19ca-cac7-11e5-92e8-954d4c086250.png)

[2016-02-04 13:32] zjes opened #949 "Panel external plugin, pluginsettings.h"
Hi,
If it not a bug, but feature by design - close it.
Public interface of the lxqpanelplugin contains not public pluginsettings.h. Implementation of this pluginsettings in lxqt-plugin executable. So, impossible use it for external plugin without extra work.

[2016-02-04 18:45] Schwefelsaeure opened #950 "lxqt-session (0.10.0-3) crashes directly on login and writes core dump"
After latest update on Arch Linux two days ago, `lxqt-session` crashes directly on login using `sddm` and writes a core dump.

Used compenents:

- Arch Linux with kernel 4.3.3-3
- sddm 0.13.0-2
- lxqt-session 0.10.0-3

Core dump:

[code]

After chrashing, `sddm` restarts and offers possibility to login again (using other desktop environment).

Other desktop environments like KDE Plasma work with s

[2016-02-04 22:25] pmattern commented on #950
Cannot reproduce your findings on Arch Linux x86_64 or i686 running in KVM/QEMU virtual machines.
Systems updated today, hence among other kernel 4.4.1, but this actually shouldn't matter.

So besides I can't really judge the stack trace you provided I tend to say this is a particular problem of your system.
Did you eventually do partial upgrades or install some of the packages from the AUR?
To fu

[2016-02-05 01:21] pmattern commented on #949
Somewhat related to #162...

[2016-02-05 07:08] palinek commented on #950
This realy seems like some build problem. The application is crashing in initialization of the Qt core....

[2016-02-05 07:15] palinek commented on #949
Not directly... this is a "regression" introduced by lxde/lxqt-panel#244.

To allow developing of the 3rd party plugins we need to somehow publish the introduced `PluginSettings` class...

@paulolieuthier @jleclanche @luis-pereira
Are we going to crate new `IPluginSettings` virtual class and publish that or simply publish the *pluginsettings.h* header?

[2016-02-05 07:55] zjes commented on #949
Like a workaround allow external plugin have own config (Do not use settings thru ILXQtPanelPluginStartupInfo, and PluginSettings can be just forward declaration and remove this include from lxpanelplugin header). IMHO, this is better solution.

[2016-02-05 10:56] palinek commented on #949
Of course we can do the forward declaration, but normaly we would like to store configurations of all plugins into one file => the plugin need to know how to get the configuration from `PluginSettings` object => it needs to be public.

[2016-02-05 11:13] zjes commented on #949
Hmmm, in case of external plugins too? Ok... :)

[2016-02-05 11:15] palinek commented on #949
Why shouldn't we?

[2016-02-05 11:22] zjes commented on #949
External plugins can have same sections, can broke config, can have different format, what else... In short words - not under control of lxqt team. :)

[2016-02-05 11:37] palinek commented on #949
That is exactly what is `PluginSettings` about. It doesn't allow you to go *outside of your section*. The *section* is defined by the panel, not be the plugin itself.

[2016-02-05 14:14] paulolieuthier commented on #949
@palinek what's your opinion? I think exporting the header is enough, since most plugins won't need to extend it, I think.

[2016-02-05 14:16] palinek commented on #949
Agreed...

[2016-02-05 15:17] palinek commented on #949
How about the lxde/lxqt-panel#301 ?

[2016-02-05 16:24] zjes commented on #949
Forward declaration... I like it :)

[2016-02-05 18:01] PCMan commented on #949
@paulolieuthier @palinek @zjes In theory, I'd say IPluginSettings interface is better.
This piece of code is in the binary of lxqt-panel, but you intend to call it from third party external plugins. Calling a function in the executable file back from an external library is what we call "back linking". While it seems to work, this is neither portable nor standard. It just happens to be supported by

[2016-02-06 08:58] Schwefelsaeure commented on #950
Thanks for pointing me in the right direction. :) It seems to be a `sddm` problem when theme `breeze` is used (see [Arch Linux Forum](https://bbs.archlinux.org/viewtopic.php?id=207705)).

As workaround, I use `maui` (default) theme for `sddm` and it works now. Sorry for blaming `lxqt-session`, but the stack trace put me in the wrong direction.

[2016-02-06 08:58] #950 closed

[2016-02-06 19:17] npmiller opened #951 "lxqt-runner: random segfaults on startup with already running instances"
I've been having some segfaults happening fairly regularly when running the `lxqt-runner` with an lxqt runner instance already running.

It still has the expected behaviour so it's not too bad but I think it's still a problem.

So I've been looking into `LXQtSingleApplication` and improved a few things that might have helped:

* Cleanup the adaptor: https://github.com/npmiller/liblxqt/commit/980bf

[2016-02-07 00:23] goetzc commented on #948
I have seen this bug some time ago, not sure if in the current version (0.10) or in older versions.

[2016-02-07 19:03] agaida opened #952 "Please release libfm-qt"
It will make distribution maintainers happy if the latest release of pcmanfm-qt depend on a already released library.
@PCMan

[2016-02-07 19:36] PCMan commented on #952
Yes, time to make a new release. There are still some issues but they are not blockers.
@jleclanche let's do it?

[2016-02-07 20:19] pvanek opened #953 "mouse cursor size is not adjustable"
It's quite critical for modern high-resolution displays. KDE and GNOME offer this option.

[2016-02-07 20:39] goetzc opened #954 "lxqt-config-session doesn't read "Path" in desktop files for autostart"
It seems to be ignored.

[2016-02-07 21:15] goetzc commented on #223
I have seen something strange with this.
DPMS disabled with `xset -dpms` doesn't prevent the display from turning off after ~10 minutes or so. Is this behavior hard-coded?

[2016-02-07 21:23] tsujan commented on #223
I don't think so. I have `xset dpms 0 0 300` in my start-up script and use `xset -dpms` to manually disable it with a keyboard shortcut. Video players like VLC and SMPlayer do that automatically.

[2016-02-07 21:25] tsujan commented on #223
However, I have "When idle then: Nothing" in Power Manager -> Idle. So, you may be right.

[2016-02-08 08:03] palinek commented on #954
Did you try the latest libqtxdg from git? This [commit](https://github.com/lxde/libqtxdg/commit/f87f2089c4e99a54701022a6e956101145f7bd3e) should fix that...

[2016-02-08 09:24] Salzi commented on #774
Is there a work around for this?
It's a bit annoying to enter the credits every day.
Thanks for any hint

[2016-02-08 10:04] palinek commented on #949
@PCMan you're right. Could you, please, review the lxde/lxqt-panel#301. Is making all the methods virtual enough?

[2016-02-08 10:11] #940 closed

[2016-02-08 10:39] PCMan commented on #949
@palinek Here are some discussions on this issue.
The doc from autotools suggest avoiding back-linking.
https://www.sourceware.org/autobook/autobook/autobook_99.html
However, few platforms do not support the feature (mainly Windows and AIX, which are not our targets)
http://mdcc.cx/pub/autobook/autobook-latest/autobook.pdf
So, after some more consideration, I'd say we might not need to be so porta

[2016-02-08 10:40] palinek commented on #949
:smile:

[2016-02-08 10:42] palinek commented on #949
And how about hiding the c-tor? Should we leave public or hide it?

[2016-02-08 11:05] palinek commented on #951
@npmiller see lxde/liblxqt#81..

[2016-02-08 20:20] goetzc commented on #223
I have the same option enabled in Power Manager :/ I have observed this behavior in an old setup and in a fresh one. There is something that turns off the display.

I'll test with the "Idleness watcher" disabled.

[2016-02-08 20:23] goetzc commented on #954
Oh, I'm using the latest release version.
 I guess it should work, and will test it, until that, I'll close this.

[2016-02-08 20:23] #954 closed

[2016-02-08 20:55] npmiller commented on #951
Nice, that fixes the segfault issue.

[2016-02-09 09:33] YamashitaRen opened #955 "Panel freeze if I change the Qt theme"
Built master ~2 days ago.
If I change the Qt Style, the panel will freeze (I think I tried Breeze and Oxygen).
If I restart the session after the change, the panel will not appear anymore (and use all the cpu).
Latest release of lxqt-panel doesn't have this bug.

[2016-02-09 10:56] palinek commented on #955
@YamashitaRen can you, please, check if lxde/lxqt-panel#302 makes it better on your side?

[2016-02-09 12:16] YamashitaRen commented on #955
Good ! It works here :)

[2016-02-09 12:16] #955 closed

[2016-02-09 18:01] Brunux opened #956 "Translations: lxqt-sudo spanish ts file missed?"
Hi, is the lxqt-sudo_es.ts file [missed](https://github.com/lxde/translations/tree/master/lxqt-sudo)? I like to work on spanish translations. This looks like a good start.

[2016-02-10 06:49] palinek commented on #956
Nobody did translate `lxqt-sudo` before, so there is no *\_es.ts* file. Feel free to create one (based on the template *lxqt-sudo.ts*).

@jleclanche how is it going with pootle etc.?

[2016-02-10 08:18] palinek commented on #956
Huh... I didn't catch you were talking about the `translations` repository....

We are in a transition of how translations are submitted (see lxde/liblxqt#78, lxde/lxqt-sudo#19). The `translations` repository is meant to be used **only** by [pootle](http://pootle.lxde.org), but this is not fully settled right now (that's why I've asked jleclanche about the pootle here).

Untill then, please, make

[2016-02-10 08:25] Brunux commented on #956
That makes sense, will do.

[2016-02-11 18:14] Vladimir-csp commented on #433
Some additional info:
At least in Debian, desktop entries for terminal emulators have 'TerminalEmulator' category associated with them. Might be of help.

[2016-02-12 06:13] styrsven opened #957 "Building from source creates unusable .desktop file when grep 2.23 is installed."
When grep 2.22 is installed the .desktop files are created correctly.
This has been discovered on a gentoo system, and found in at least
lxqt-base/lxqt-common-0.10.0
lxqt-base/lxqt-panel-0.10.0
x11-misc/pcmanfm-qt.0.10.0
x11-misc/obconf-qt-0.9.0_p20150729
lxqt-base/lxqt-session-0.10.0
lxqt-base/lxqt-config-0.10.0
lxqt-base/lxqt-powermanagement-0.10.0
lxqt-base/lxqt-notificationd-0.10.0
lxqt-base/l

[2016-02-12 07:13] palinek commented on #957
@styrsven please, confirm that the lxde/liblxqt@082321a fixes this issue on your side.

[2016-02-12 14:52] palinek commented on #839
Closing.. as the name for instance is now assembled as *pluginname* or *pluginnameX* (beggining with X from 2)

[2016-02-12 14:52] #839 closed

[2016-02-12 16:10] cyberbeat commented on #948
I have the same problem with wine apps (they stay in taskbar after been closed)
LXQT: 0.10, Openbox, Opensuse, x86-64

[2016-02-12 17:45] palinek commented on #948
Could anyone observing this issue check if the issue persists also with the latest git?

[2016-02-12 21:51] palinek commented on #937
I can see this behaviour (*playlist*, *equalizer* shown in taskbar when qmms is minimized) on my system. But I'm confused if it is the desired behaviour of qmmp or not.
The *playlist* and *equalizer* windows
- are of type [`NET::Utility`](http://api.kde.org/frameworks-api/frameworks5-apidocs/kwindowsystem/html/classNET.html#a4b3115c0f40e7bc8e38119cc44dd60e0) -> we do show such windows in [taskbar]

[2016-02-12 22:11] palinek commented on #937
Submitted a ticket in qmmp -> https://sourceforge.net/p/qmmp-dev/tickets/844/. Let's wait for their statement.

[2016-02-12 23:52] tsujan commented on #948
@palinek I saw this behavior about 4 months ago. I was going to open an issue but after an LXQT upgrade (directly compiled from the latest sources), it totally disappeared. I've never seen it since then, neither in Wine, nor in VirtualBox, or .... So, I think it's really fixed.

Considering the fact that none of us has been able to reproduce it, logically, we can just wait a month or so for distro

[2016-02-13 07:57] styrsven commented on #957
Thanks, this fixed the issue for everything that depends on liblxqt

[2016-02-13 14:18] sixsixfive commented on #937
at least you have it now, too

Ok but I still think its a pure LXQt issue since as mentioned I dont have this issue with QMMP on Xfce, LXDE, KDE, MATE, Tint2 or Fluxbox

[2016-02-13 15:03] tsujan commented on #937
@sixsixfive
Xfce, LXDE, MATE, Tint2 or Fluxb consult Xlib, either directly or through GTK+. We rely on KWindowSystem, hence the difference. Here, only KDE can be considered for comparison.

Now, I don't know whether KDE fully relies on KWindowSystem or it sometimes consults Xlib directly too. The latter case wouldn't be a "clean" approach, IMO.

[2016-02-13 15:19] tsujan commented on #937
And why can't I reproduce this issue?! I installed QMMP and this is the result:

![qmmp](https://cloud.githubusercontent.com/assets/981076/13028367/74715d12-d282-11e5-821e-ddbffb636239.png)

@palinek can it be because of Debian? My KF5 version is 5.16.0.

[2016-02-13 17:30] sixsixfive commented on #937
maybe, unstick windows grouping in the panel settings?

[2016-02-13 17:47] tsujan commented on #937
Makes no difference: no multiple popup with window grouping and only one entry without it.
Your KF5 and Qt5 versions?

[2016-02-14 10:48] renegat commented on #945
Sorry but I'am just a user trying to help make lxqt better.
I cannot do anything with instructions like 'check if the lxde/lxqt-panel#300 fixes the issue'. I was not able to find anything to install, to download or to compile, the git version available in arch linux aur is older (0.9.0.155.gbc4d32b-1) than the one in the official (0.10.0-5) repositories.
The issue still persits.
If you want me to

[2016-02-14 11:08] renegat opened #958 "lxqt-panel dumps core"
lxqt-panel 0.10.0-5
4.4.1-2-ARCH #1 SMP PREEMPT Wed Feb 3 13:12:33 UTC 2016 x86_64 GNU/Linux

On every suspend/wakeup and irregular going along with weird graphical issues (ghost icons):

Sometimes according to libQt5XcbQpa.so.5.5.1 or libQt5Gui.so.5.5.1:

[code]

[code]

[2016-02-14 12:32] sixsixfive commented on #937
5.18 & Qt is 5.5.1, lxqt-panel is still the same as above since i haven't used it in the last month(-->too buggy)

[2016-02-14 13:02] tsujan commented on #937
OK. lxqt-panel has been under heavy development by @palinek and others. I think you have no technical problem with making a clean lxqt-panel Arch package from GitHub for your personal use.

I'm just confused about one thing: it seems @palinek and I both use Debian and have the latest lxqt-panel but he said that he could reproduce the issue while I can't. Until we can pinpoint a difference, finding

[2016-02-14 13:33] sixsixfive commented on #937
my qmmp version is 1.06

maybe he uses sid or rc-buggy, since i have the same issue now on my devuan ceres/sid box

by all respect but whats the point of that statement? If it works for you - its ok, For myself: there are just too many tiny issues to get my stuff done effectively. (flock makes also muck). Logical consequence: use a different one(We are on linux so they exist hundreds of alternativ

[2016-02-14 13:48] tsujan commented on #937
Clearly it's a simple direction in case you want to participate in solving a problem -- which apparently you don't and that's OK.

As for lxqt-panel being "too buggy" (your words), last summer, when I came to LXQT, it was the only part I had no serious problem with. However, I don't mean at all that your problems aren't real.

[2016-02-14 14:07] pmattern opened #959 "dialogue "Configure Panel": widget configuration dysfunctional"
The configuration of plugins (widgets) from panel's dialogue "Configure Panel" - Widgets (left pane) is dysfunctional in recent VCS code.

If a plugin in the main pane in the middle gets selected by single mouse click and one of the buttons at the right corresponding to actions like move or open the plugin's configuration dialogue gets clicked most of the time just nothing happens.
Sometimes those

[2016-02-14 14:08] pmattern opened #960 "plugin-volume: attempts to configure from context menu trigger panel crash"
Attempts to launch the configuration dialogue of plugin-volume by selecting `Configure "Volume control"` from the plugin's context menu make the panel crash and dump core.

Figuring out whether  the dialogue can eventually be launched via panel's dialogue "Configure Panel" - Widgets (left pane) failed due to #959. The problem seems to be different from #958 as it cannot be seen with lxqt-panel rel

[2016-02-14 14:36] rapgro commented on #957
:+1: We need and use this patch in Fedora, too.

[2016-02-14 15:19] pmattern commented on #945
... which is perfectly okay in the first place. So you're an Arch Linux user already. In order to help out you'd hence have to dig into that ABS / AUR thing a bit deeper.
Some hints:

Basic  information can be found in the Arch wiki at [Arch Build System](https://wiki.archlinux.org/index.php/Arch_Build_System) and [Arch User Repository](https://wiki.archlinux.org/index.php/Arch_User_Repository).

[2016-02-14 15:25] pmattern commented on #958
Since release 0.10 quite a lot of changes have taken place in lxqt-panel so I wonder wether it still makes sense to try and track this down. Maybe it would be better to try and reproduce with more recent versions as described in https://github.com/lxde/lxqt/issues/945#issuecomment-183904590.
But maybe @palinek will know better.

[2016-02-14 15:42] styrsven commented on #957
Just remember there are separate copies of the file in compton.conf, libfm-qt, lximage-qt, obconf-qt and pcmanfm-qt. They need also to be updated.

[2016-02-14 20:13] palinek commented on #960
@pmattern please, try the lxde/lxqt-panel#304..

[2016-02-14 20:33] pmattern commented on #960
@palinek
Problem is fixed in lxde/lxqt-panel@0931c85.

[2016-02-14 20:34] palinek commented on #960
ok... merging

[2016-02-14 20:34] #960 closed

[2016-02-14 20:36] palinek commented on #960
thanks for testing

[2016-02-14 20:36] palinek commented on #959
working on this...

[2016-02-14 20:44] palinek commented on #937
@tsujan are you on debian unstable?

If you don't you observe this.... wait... the 0.9.X are Qt4 based, not?

I've got qmmp v1.0.5-1 (directly from [debian](https://packages.debian.org/sid/qmmp)) on my system...

[2016-02-14 21:08] jubalh commented on #945
It works perfectly with:
lxqt-panel 0.10.0
claws 3.13.2
on openSUSE Tumbleweed for me.

[2016-02-14 21:18] palinek commented on #959
Done... @pmattern, please, test the lxde/lxqt-panel#305

[2016-02-14 21:32] pmattern commented on #959
@palinek
Problem is fixed in lxde/lxqt-panel@223a913.

[2016-02-14 23:20] tsujan commented on #937
~80% Testing and the remaining Unstable and Experimental, but KF5 and Qt5/Qt4 versions are the same in both, so there should be no difference.

Ah, yes! I used the "multimedia.org" version. A few minutes ago, I installed v1.0.5-1 and saw the problem ONLY WHEN QMMP WAS MINIMIZED.

I also have an old Desktop computer with an updated Manjaro. There, the issue is observable whether QMMP is minimized o

[2016-02-14 23:38] tsujan commented on #937
Moreover, check QMMP -> Settings -> Plugins -> User Interfaces -> Simple User Interface, and there will be no multiple taskbar entry. I think we're trying to fix an outside issue here, hence the confusion.

[2016-02-15 08:05] palinek commented on #937
yes, I've described that in the above [comment](#issuecomment-183501334)

[2016-02-15 08:11] zjes commented on #958
It seems like https://bugreports.qt.io/browse/QTBUG-42985, I met this bug few month ago(#867) :(. Fixed in qt 5.6.

[2016-02-15 08:23] palinek commented on #958
Indeed. @zjes thanks for letting us know... This could also be the reason for #671

[2016-02-15 08:35] palinek commented on #671
@Vladimir-csp the referenced Qt bug [QTBUG-47385](https://bugreports.qt.io/browse/QTBUG-47385) got fixed already. Are you still able to reproduce this crash?

It's now OK on my machine (debian unstable).

[2016-02-15 08:41] Vladimir-csp commented on #671
On Debian testing it looks OK. At least, switching off all outputs does not trigger the crash.

[2016-02-15 08:45] palinek commented on #671
Great ... closing

[2016-02-15 08:45] #671 closed

[2016-02-15 08:53] #959 closed

[2016-02-15 09:43] palinek commented on #937
Closing as upstream issure... see the discussion in qmmp https://sourceforge.net/p/qmmp-dev/tickets/844/

[2016-02-15 09:43] #937 closed

[2016-02-15 13:32] palinek commented on #937
@sixsixfive or anyone else who compiles Qt from source ... you can check if the following patch fixes the issue reported here

[2016-02-15 15:56] tsujan commented on #937
@palinek Nice catch! lxqt-panel was innocent after all ;)

[2016-02-15 15:58] pmattern commented on #632
In current lxde/lxqt-panel@9713796 the problem can still be seen when plugin-worldclock gets modified in a way that changes the space it needs.
E. g. when displaying seconds gets enabled in a running instance the text gets cut. Similarly, plugin-worldclock is reserving more space than needed when displaying seconds gets disabled, namely exactly the amount of space needed to display the seconds bef

[2016-02-15 15:59] palinek commented on #937
It wasn't me, I've just cited trialuser02's [comment](https://sourceforge.net/p/qmmp-dev/tickets/844/#d151)

[2016-02-15 16:12] palinek commented on #632
Sorry to disapoint you, but I will not dedicate my time to solve this. I've digged into this kind of problem multiple times in plugin-clock (maybe also in plugin-worldclock) and it was always very frustrating & time consuming (maybe I'm not smart enought for this kind of tasks). Now I'm lacking enthusiasm for this.

[2016-02-15 17:06] pmattern commented on #378
Cannot confirm this running today's VCS checkouts on Arch Linux.
After copying `lxqt-config-monitor.conf` from `~/.config/LXQt` to `~/.config/lxqt` and starting another session the desktop still looks as depicted in the second screenshot of the first comment in KVM/QEMU virtual machines here.

[2016-02-15 17:36] pmattern commented on #312
If this should get implemented one day I think it would be pretty good if the "new" plugin could feature the tooltip displaying the complete date upon hovering
![lxqt-panel_plugin-clock-popup](https://cloud.githubusercontent.com/assets/9860801/13056031/07c9c39c-d413-11e5-97bc-4fbd51c3800b.png)
which is provided by plugin-clock but missing in plugin-worldclock right now.

[2016-02-15 18:08] pepa65 commented on #312
Worldclock in 0.10 has all functionality I could wish for, and is very configurable. Indeed, the only welcome addition would be a configurable popup. Then I would only show the time, but hover to see the date. And the world clock functionality is very important to me. At this point, LXQt is fully usable! (except the small matter of actually remembering the arandr configuration for a session...)

[2016-02-16 00:49] intialonso commented on #156
Bump.

We need to detach wallpapers from themes.

[2016-02-16 11:51] mirh commented on #331
I guess this follows #93
And personally, I'd be interested to Super (only) just to show Start Menu

[2016-02-16 16:17] agaida commented on #156
second this

[2016-02-16 23:00] palinek commented on #875
What is there to firgure out? Isn't it caused by the (missing) compositor?

[2016-02-17 01:22] agaida opened #961 "http://lxqt.org - please remove siduction ..."
as we don't provide any packages any longer.

Please add debian instead, the whole LXQt is in debian unstable/testing now.
Currently we work on a snapshot repo with packages close to the current git.

[2016-02-17 01:48] jleclanche commented on #875
It shouldn't happen regardless. Notifications are square; if there's no compositor we should make sure it doesn't artifact out.

[2016-02-17 07:20] palinek commented on #961
Should you need some man power, I'll be glad to help you.

[2016-02-17 08:16] palinek commented on #961
Done in lxde/lxde.github.io@5bff2a1

[2016-02-17 08:16] #961 closed

[2016-02-17 08:25] palinek commented on #875
- notifications doesn't need to be rectangular, e.g. rounded corners can be defined by stylesheet (e.g. [here](https://github.com/lxde/lxqt-common/blob/master/themes/kde-plasma/lxqt-notificationd.qss#L6))
- what do you mean by *artifact out*? There is only black background widget underneath the notifications if the compositing isn't available

[2016-02-17 12:47] agaida commented on #961
@palinek: yes, we will need man power later, any help will be appreciated.

[2016-02-17 15:47] jleclanche commented on #875
@palinek The fact that black background is there can be avoided. The notifications need to be displayed as separate windows, and the graphical effects need to be removed if they aren't usable.

[2016-02-17 20:51] intialonso commented on #875
Should we remove the rounded corners from the notifications in all the themes to avoid this?
In this logic should we also remove the themes that depend on composition (Plasma, and Dark) as if they are used in a no composite environment (and this is the majority of our users, i guess) the resul is not the expected?

[2016-02-17 21:03] agaida commented on #875
i don't agree with jerome in this point - if one decide not to use a compositor - fine, so one has to live with the consequences, we are not in the 80s of the last century anymore.

[2016-02-17 22:12] agaida commented on #952
@PCMan: not a new release - the first one. At least please tag a pre-release or beta. Making packages for debian from never released nor tagged sources is not so funny. Dito for snapshots. Thanks.

[2016-02-18 08:14] palinek commented on #875
We already discussed that in #596 -> [comment](https://github.com/lxde/lxqt/issues/596#issuecomment-93737171), [comment](https://github.com/lxde/lxqt/issues/596#issuecomment-93743824), [comment](https://github.com/lxde/lxqt/issues/596#issuecomment-99877866) => from my point of view, it isn't worth doing it and alf's statement `if one decide not to use a compositor - fine, so one has to live with t

[2016-02-18 08:20] jleclanche commented on #875
Guys, I think you're misunderstanding the issue. We have rectangular notification boxes, there's no good reason why they should have black artifacts with compositing off.

And please remember a lot of our users will not have a compositor on.

[2016-02-18 08:27] jleclanche commented on #875
And to be clear I'm not talking about the rounded corners, i'm talking about the space between the notifications.

[2016-02-18 08:34] palinek commented on #875
Did you read the comments with the consequencies of having the notfications as standalone windows?

[2016-02-18 08:44] jleclanche commented on #875
I missed that, sorry. I don't know, it seems very weird that we don't have them as separate windows in the first place.. anyway it's not very high priority.

[2016-02-18 09:56] PCMan commented on #952
@agaida It's almost ready for a new stable release (not pre-release). Previously I'd like to merge the remaining PRs first, but I do not have enough time for that. Maybe we should make the initial release first. Thank you. I'll do that this week (tag and tarball release).

[2016-02-18 12:05] agaida commented on #952
Cool, Thanks.

[2016-02-18 12:05] #952 closed

[2016-02-21 21:13] pmattern commented on #582
@tpgxyz
Running recent VCS checkouts on Arch Linux x86_64 and i686 I cannot confirm your findings, both of them checked with desktop entry files in directories `$XDG_CONFIG{DIRS,HOME}/autostart`.

The apparent disregard of keys `{Not,Only}ShowIn` in `XDG_CONFIG_DIRS/autostart/*.desktop` could be due to running an outdated version of some LXQt component like lxqt-session or libqtxdg.

That aside bo

[2016-02-22 07:26] palinek commented on #957
@jleclanche @PCMan @luis-pereira @paulolieuthier @tsujan
Should I update all the components to use the *translate\** from `liblxqt` in build time?

[2016-02-22 12:31] maverick74 commented on #225
Hi... sorry to use this method of contact but, since you too were experimenting whit it... any news on the area?

[2016-02-22 19:50] OhDaeto opened #962 "Plugin showdesktop"
![_2016-02-23_14-33-49](https://cloud.githubusercontent.com/assets/14937307/13250356/9d1a43cc-da3a-11e5-8afc-43fc44a68e8d.png)
Please drag the area for plugin-showdesktop at 1 pixel up.
I want to like Xfce from the first time to hit the button to minimize windows.

[2016-02-22 23:42] paulolieuthier commented on #957
Only lximage-qt. The others should keep lxqt-independent, AFAIK.

[2016-02-22 23:53] paulolieuthier commented on #225
@maverick74 I don't think there has been no advance with this, apart from what the MoonLightDE guys [have done](https://github.com/MoonLightDE/MoonLightDE) (which is now sadly more than one year old).

[2016-02-23 03:14] intialonso commented on #156
We can delete the wallpapers (image and config file) for now. If there is no wallpaper when changing the theme, the previous wallpaper stays unmodified. Is a little rough solution, but it works.

I think that we need to preserve just one wallpaper for our default theme (to avoid a black desktop in clean installs).

Tell me what you think.

[2016-02-23 07:24] palinek commented on #962
Sorry, but I don't follow this message. What is the problem or what do you wish to achieve?

[2016-02-23 07:35] palinek commented on #156
IMO wallpapers should not be coupled with themes at all. We should provide only one *default* wallpaper picture which will be set in clean install. No theme should provide any wallpaper. We should not provide any extra set of wallpapers.
It's the user's choice and responsibility to find (download) and use wallpaper of his/her wish (theme change should not change wallpaper in any way).

That's my o

[2016-02-23 07:49] palinek commented on #957
And the reasoning?

[2016-02-23 11:28] rogerfranz opened #963 "Upgrade to qt5 v 5.5.1 seems to have broken a dependency"
Not sure this is where this belongs, but an upgrade today removed all of lxqt except lxqt-common because of broken dependencies. I think the problem is qtbase-abi-5-4-2, formerly supplied by libqt5core5a, but which now supplies qtbase-abi-5-5-1. I'm not really good at tracking these things down, though, and I've been awake far too long. But I'm unhappy to lose all of lxqt to a dependency issue and

[2016-02-23 11:34] palinek commented on #963
That's a packaging downstream problem.

@gilir, can you give @rogerfranz further information? thanks

[2016-02-23 11:38] xDShot commented on #962
There is a 1-pixel depth gap between "show desktop" button and the top side of screen edge. So, if you drag the mouse at the top, you can't press the button, and so you have to move your cursor a bit lower to hit it. OP just meant that there were no same issues with Xfce as it worked perfectly for him :)

[2016-02-23 12:15] pmattern commented on #963
@rogerfranz
You may want to tell as which way you installed LXQt because right now [two different PPAs](https://github.com/lxde/lxqt/wiki) are available.

[2016-02-23 16:12] intialonso commented on #156
@palinek I agree.

So Ithe road is to design a default wallpaper, put it in **lxqt-common/graphics/** and set it in  **lxqt-common/config/pcmanfm-qt/lxqt/settings.conf.in**

Once this is done we can delete all the wallpapers and the wallpaper.cfg files from the themes.

 Is that correct?

[2016-02-23 18:46] intialonso commented on #962
So is the clickable area not working as expected? In which themes have you seen this isuue?

[2016-02-23 19:46] rogerfranz commented on #963
okay. I'm using:

deb http://ppa.launchpad.net/lubuntu-dev/lubuntu-daily/ubuntu wily main

Installed via Synaptic.

[2016-02-23 20:11] gilir commented on #963
I started a rebuild of most lxqt components to rebuild again the new qt package, just in case. But It's weird to have a qt change on a stable release (15.10 is stable since november).

[2016-02-23 20:12] rogerfranz commented on #963
Here's why I think it's qtbase-abi -- apt-get output, modified (... inserted for removed lines) for brevity:

[code]
Not sure what to do next. I hesitate to downgrade (there were quite some few files upgraded to 5.5.1).

[2016-02-23 20:43] tsujan commented on #963
Not sure if this could be of any help but I also saw a similar issue when Qt5-5.5.1 came to Debian months ago. Upgrading of Qt5 *incompletely* (with some Qt5 deb packages having the older version -- especially libqt5x11extras5) could cause serious problems. The Qt5 maintainer should make new Qt5 deb packages in such a way that all of them are upgraded together.

[2016-02-23 21:05] OhDaeto commented on #962
In all themes.

[2016-02-23 21:18] rogerfranz commented on #963
I note that Debian has libqt5xdg1 depending on the correct virtual, https://packages.debian.org/sid/libqt5xdg1

Not sure I should go get it from there, because I've had issues mixing Ubuntu distro and Debian distro packages.

[2016-02-23 21:21] OhDaeto commented on #962
Also, the clock display is clicked on the last pixel.

[2016-02-23 21:26] gilir commented on #963
Actually, 15.10 has 5.4, not 5.5 : http://packages.ubuntu.com/fr/wily/qt5-default
Please check the origin of your 5.5 packages and downgrade them, you should not have them

[2016-02-23 21:40] agaida commented on #963
@rogerfranz: the abi package is a virtual package, provided by qtbase afaik - so one don't want depend on it if one has Qt in a former version installed. And yes - the packages work great in sid and testing - but are not binary compatible with ubuntu 15.10

[2016-02-23 22:24] intialonso commented on #963
I faced this issue but I was running the Kubuntu ppa, so the problem as
Gilir says come from foreign upgrades.
El feb 23, 2016 4:40 PM, "Alf Gaida" <notifications@github.com> escribió:

[2016-02-23 22:29] agaida commented on #963
beside of that - i would hereby recommend to leave 15.10 alone and use xenial - ok, might not be the best choice for beginners, but for advanced users.

[2016-02-24 02:21] #922 closed

[2016-02-24 02:33] intialonso commented on #962
This seems the same as #374 I will close this one as duplicate. Some things have changed since then, so I will review the theming to see if this can be fixed now.

[2016-02-24 07:25] palinek commented on #962
@OhDaeto what version of LXQt are you using?
A time ago I made this [commit](https://github.com/lxde/lxqt-common/commit/d0e0edaa486fcec13bab67eeaade6810eea8fe2f), which I believe is fixing this partially. But if you have configured the icon size smaller than the height of the panel, the widgets are centered -> leaving a gap that you are reporting.

[2016-02-24 07:33] palinek commented on #156
Agreed.

[2016-02-24 12:09] paulolieuthier commented on #957
Alright, I'm OK with build-dependency.

[2016-02-24 12:28] nboughton opened #964 "Saving monitor settings"
Distribution: Arch Linux
LXQT version: 0.10.0

Saving monitor settings (for a multimonitor set up) from the config GUI creates ~/.config/LXQt/lxqt-config-monitor.conf whereas all other settings are stored in ~/.config/lxqt as such the LXQt folder is never read and so monitor settings appear to never be saved even though they are.

Reproduce steps:
Attach secondary monitor
Go to LXQT menu -> Prefer

[2016-02-24 16:20] sixsixfive commented on #937
@palinek

thx, that works ;)

[2016-02-24 16:32] #736 closed

[2016-02-24 17:17] pmattern opened #965 "lxqt-config: adoption of key Enter upon exiting terminal emulator on same virtual desktop"
Leaving a terminal emulator that's running on the same virtual desktop as `lxqt-config` can make the latter adopt key `Enter` and hence launch the dialogue that was selected before.

Steps to reproduce
- Open `lxqt-config` and a terminal emulator on the same virtual desktop. Additional windows may or may not be present.
- If the terminal emulator features tabs make sure a single one is opened only

[2016-02-24 17:26] Vladimir-csp commented on #965
Confirming.

[2016-02-24 18:21] tsujan commented on #965
Confirming and more than that:

Just open lxqt-config and highlight an item that can have multiple instances (like Print Settings). Press Enter and hold it for a few seconds. Then several instances will be launched -- in my case, more than 30 windows of Print Settings!

The correct behavior would be for lxqt-config to launch only one instance and that only after the Enter key is released.

[2016-02-24 20:24] maverick74 commented on #225
@paulolieuthier I knew Alexis does not have time to continue his work on this, but i was hopping someone had picked it up... i really thought this would be a great improvement to LXQt.

it's sad such a nice idea is ending up in the trashcan...

[2016-02-24 22:19] palinek commented on #965
Can you, guys, confirm correctness of lxde/lxqt-config@8487f6a ?

[2016-02-25 02:29] paulolieuthier commented on #225
That's because we don't have enough manpower. Anyway, this idea, although nice, has its downsides.

[2016-02-25 10:49] MttCastelli commented on #958
Since some days I always find a 'core' file on my home (wich is also my desktop): different weight, from 10 to 90 to 200 and more MB. I keep these files in trash, if yuo want. Wish it could help

[2016-02-25 12:04] maverick74 commented on #225
Out of curiosity (since i'm not an expert), what downsides are you referring to?
 -----Original Message-----From: notifications@github.comSent: Wed, 24 Feb 2016 18:29:55 -0800To: lxqt@noreply.github.comSubject: Re: [lxqt] Experiment with single-process + loadable module architecture (#225)That's because we don't have enough manpower. Anyway, this idea, although nice, has its downsides.

—Reply to

[2016-02-25 12:39] tsujan commented on #965
@palinek
Yes, it fixes both issues.

[2016-02-25 15:31] #406 closed

[2016-02-25 21:04] limusch commented on #964
To solve this issue, I did add an entry to LXQt Autostart in Session Settings
which runs the command:

`lxqt-config-monitor -l`

This seems to load the monitor configuration.

[2016-02-25 21:37] pmattern commented on #736
Now that the GUI of `lxqt-leave` was revamped I think the counterparts of invocations like `lxqt-leave --logout` should be adjusted accordingly.
Having `lxqt-leave` shine the new way while all those others still come as regular window is an inconsistency which looks a bit odd, IMO.

[2016-02-25 21:58] pmattern opened #966 "autostart files: Qlipper and XScreenSaver daemon should probably be handled as LXQt Module as well"
In files `/etc/xdg/autostart/*.desktop` which belong to lxqt-common and are used to launch several daemon-like processes all corresponding binaries are treated as LXQt Module (`X-LXQt-Module=true`) except Qlipper and XScreenSaver daemon. The latter seems questionable to me.

In practice, that missing key `X-LXQt-Module=true` excludes these programs from list "LXQt Modules" in `lxqt-config-session`

[2016-02-25 22:04] pmattern commented on #964
These are valid findings which have already been addressed in #923, though.

May I ask you to add your thoughts to that issue so that we can avoid clutter on the issue tracker?

[2016-02-25 22:04] #964 closed

[2016-02-26 01:29] paulolieuthier commented on #225
I may be wrong, but two things that come to my mind are: some users want to use only some components of LXQt, not all, and a crash in a component code would crash the whole DE.

[2016-02-26 18:05] gilir commented on #963
Thanks for the feedback, closing as it's the Kubuntu PPA that seems to cause the conflict.

[2016-02-26 18:05] #963 closed

[2016-02-27 02:35] intialonso commented on #156
Some wallpapers I have working on for the default. Im thinking in something minimal, lightweight, something with the hummingbird.

![lxqt-wall01](https://cloud.githubusercontent.com/assets/7544231/13370266/c0717fdc-dcd0-11e5-90ca-8700aeb9a698.png)
![lxqt-wall02](https://cloud.githubusercontent.com/assets/7544231/13370267/c37a7a12-dcd0-11e5-90c0-b8de6ea7c52b.png)
![lxqt-wall03](https://cloud.github

[2016-02-27 20:25] maverick74 commented on #225
I actually thought that this approach would do exactly the opposite from that. In another words: i thought it would load the modules "on demand" (only when a user needed them), and that, if a module crash, it would prevent that same crash from expand to the rest of the DE.

This only shows that my understanding is actually limited in this field...

Thanks for clarifying that for me. :)

-----Origi

[2016-02-28 09:40] OhDaeto commented on #962
@palinek This problem manifests itself when the panel is at the top

[2016-02-28 14:11] pmattern commented on #965
Running lxde/lxqt-config@8487f6a or lxde/lxqt-config@336f28d on Arch Linux the problem of launched items upon exiting a terminal emulator is fixed but the incorrect behaviour of key `Enter` persists.

Still a multitude of instances comes up if `Enter` is held some time. Seen with `lxqt-config-appswitcher` of [LXQt Application Switcher](https://github.com/zjes/lxqt-appswitcher) (in case anybody wan

[2016-02-28 17:34] palinek commented on #962
how is your panel configured(panel size, icon size, # of rows)?

[2016-02-28 18:14] OhDaeto commented on #962
![screenshot_2016-02-28_21-13-12](https://cloud.githubusercontent.com/assets/14937307/13380959/358ad6c0-de60-11e5-8a21-cbcedf6fd390.png)

[2016-02-28 18:24] palinek commented on #962
@OhDaeto did you read my previous post?

Based on the screenshot... it is exactly your situation.

[2016-02-28 18:31] OhDaeto commented on #962
![_2016-02-28_21-29-21](https://cloud.githubusercontent.com/assets/14937307/13381045/74c68a3a-de62-11e5-9696-0648bef4f16f.png)
The problem persists

[2016-02-28 18:46] palinek commented on #965
And why shouldn't they? It's a normal way how keyboard events are generated (I don't know what are the default settings of keyboard repeat rate & delay).

E.g. if you keep holding enter key in a text editor, you keep entering new lines, not?

[2016-02-29 08:20] palinek commented on #962
confirmed

[2016-02-29 08:46] palinek commented on #962
@OhDaeto can you check the lxde/lxqt-panel#306 ?

[2016-02-29 11:12] pmattern commented on #965
I was actually only referring to

Nobody contradicted so I thought there was a kind of agreement that opening several instances is no expected behaviour.
Personally, I'm not sure at all whether or not opening several instances that way is desirable.

What on the other hand do you think about the behaviour regarding `lxqt-config-monitor` and `obconf-qt` as depicted in my previous comment which is s

[2016-02-29 11:45] palinek commented on #965
I also tend to say it is useless... but it's the user's responsibility & configuration if his/her system.

Here I think the same way... if the user will hold the enter key he/she should know the consequencies. Here we have absolutely no control what events are propagated to the newly created window, as it doesn't not belong to our app (lxqt-config).

All in all I think we should not try to do any

[2016-02-29 12:08] tsujan commented on #965
@palinek
Pressing Enter inside a text editor can't be compared with pressing it to launch an app. Yes, they're `Enter` and it being pressed but with very different meanings and consequences. In the latter case, a key release can be expected after the key press; hence what I wrote about "the correct behavior".

Should he?! The consequences could be grave (as in the case of 30-40 instances, which wa

[2016-02-29 12:38] palinek commented on #965
I just removed the home made "activate" logic which I believe was there only because of another hidden bug in lxqt-qt-plugin. So what we are observing now is the default Qt behaviour (activation). There is the logic implemented in `void QAbstractItemView::keyPressEvent(QKeyEvent *event)` => so the `activated` signal is emitted upon keyPress not keyRelease.... @tsujan do you think, it is a Qt bug?

[2016-02-29 13:12] pmattern commented on #965
Please let me briefly repeat that the bug / feature that plenty of instances of applications provided by `lxqt-config` come up when holding key `Enter` is *not* fixed / removed in lxde/lxqt-config@336f28d.
This issue's primary problem, the launch of an application provided by `lxqt-config` upon exiting a terminal emulator, is fixed, though.

[2016-02-29 14:07] tsujan commented on #965
Yes, I saw that and it did the job.

I'll look into it as soon as I have time. Right now I'm busy with an exciting workaround for another hidden Qt5 bug (for inclusion in Kvantum).

[2016-02-29 14:15] palinek commented on #965
@paulolieuthier @tsujan Although I don't like such workarounds (it can break whenever Qt guys change their internal logic), I've created one in lxde/lxqt-config#77. Please have a look on that.

[2016-02-29 17:27] azubieta commented on #225
Hello Guys!
Is Alexis from MoonlightDE. First I would like to apologize with all of you guys, for been more than a year with out putting any new code on MoonlightDE, my company decided that it's no longer a priority so I was assigned another task which is taking a big part of my time.

Now let's talk about modules, @paulolieuthier you are right, as we are using c/c++ a crash in a component would c

[2016-03-01 11:32] paulolieuthier commented on #156
@intialonso: awesome!

[2016-03-01 12:44] tsujan commented on #965
@palinek I think about QCategorizedView.

[2016-03-01 13:07] tsujan commented on #965
In QAbstractItemView, `activated()` is emitted on `mouseReleaseEvent()` for mouse but on `keyPressEvent()` for keyboard. I can't call it a bug but I think we could do something here.

[2016-03-01 13:11] palinek commented on #965
Is there something I've missed in lxde/lxqt-config#77?

[2016-03-01 13:13] jleclanche commented on #156
Loving it Inti. They would all make kickass defaults.

[2016-03-01 13:15] tsujan commented on #965
No, I don't think so; I'm just working on another approach, now that I have time.

[2016-03-01 13:25] intialonso commented on #156
But we need just one :(

[2016-03-01 13:28] jleclanche commented on #156
We need just one, but we don't have to have just one. We can have multiple defaults for people to choose from.

Like I said in a comment above, too, one matching (default) wallpaper per theme would be a good idea. It would give each theme a lot more identity.

[2016-03-01 13:32] palinek commented on #156
But then changing theme will also change the wallpaper...and we want to avoid that.

[2016-03-01 13:37] tsujan commented on #965
I did this and it worked:

In QCategorizedView, I added `keyPressEvent()` and `keyReleaseEvent()`. In `keyPressEvent()`, I just ignored `Key_Enter` and `Key_Return` and let QAbstractItemView do the rest. In `keyReleaseEvent()`, I emitted `activated()` for the same keys in the same way QAbstractItemView did it under `keyPressEvent()`.

Would you want me to make a PR or you'll try that yourself? (I'

[2016-03-01 13:40] palinek commented on #965
Make your proposal. It's neither my application nor my code in `QCategorizedView`... actualy the whole categorized view seems to be taken from KDE (based on the license comments).

[2016-03-01 13:43] intialonso commented on #156
So, I suggest to put, lets say 3 defaults, all of them in  lxqt-common/graphics/ and when the user open the dialog to change the wallpaper it will open that same directory, so the option to choose one of those defaults will be there.

The wallpapers will not be "tie" to any theme. Besides that, almost everybody changes the default within minutes :D

[2016-03-01 13:49] pmattern commented on #156
On a side note I for one found it a pity if the wallpapers currently provided got lost, in particular the one of Ambiance.
So couldn't we just keep the files themselves but use them the new way discussed in this issue? Otherwise I think it would be nice if they were still available as an option somehow.

[2016-03-01 14:01] OhDaeto commented on #962
I compile minutes ago and now everything works fine! Thank you!

[2016-03-01 14:01] #962 closed

[2016-03-01 14:10] intialonso commented on #156
@pmattern I like that idea. So thats 5 wallpapers, plus maybe one more.

For this to be perfect I hope #391 get fixed.

[2016-03-01 14:15] palinek commented on #962
@OhDaeto thanks... let's wait for some other review before merging the lxde/lxqt-panel#306 PR

[2016-03-01 14:23] jleclanche commented on #156
No, I suggested how to handle this in the original post:

[2016-03-01 14:36] intialonso commented on #156
What @jleclanche proposes require some changes in the code, right?

We came up with a simplest approach some comments before, but I thought that to achieve a codeless solution (as every designer :D). So I will leave to you guys to decide what is the better and cleanest approach to this.

Im more inclined to @palinek solution, and remove completly the theme-wallpaper relation, provide a sane defaul

[2016-03-01 14:40] jleclanche commented on #156
Personally I'm strongly in favour of adding a default wallpaper per theme. Like I said, it gives themes an identity and  the user more choice on basic customization.

[2016-03-01 14:50] pmattern commented on #156
Agree. The UX is probably better when wallpapers matching the themes are used by default on a new user profile and the decoupling takes place only once a different wallpaper has been chosen manually.

[2016-03-01 14:54] intialonso commented on #156
I dont fully understand how will this work. Lets say someone install LXQT, the default is Frost with the matching wallpaper, this person changes the wallpaper to his liking. Some days later he decides to change the theme to Ambiance. Does the wallpaper change then to the Ambiance default?

If not, then shipping defaults for every theme will be pointless, because with the first user change they wil

[2016-03-01 15:19] tsujan commented on #965
@pmattern
After https://github.com/lxde/lxqt-config/commit/8487f6a, do you see the mutiple instance problem with any item other than `lxqt-config-appswitcher` (which I don't have)?

[2016-03-01 15:44] jleclanche commented on #156
That's right, but I don't see how you reach the conclusion that it's pointless. A lot of users do not change their wallpaper.

[2016-03-01 17:31] tsujan commented on #965
@pmattern Ignore my last comment! Would you please test https://github.com/lxde/lxqt-config/pull/78 and see if fixes all issues (including the one you mentioned about transference of Enter to the launched app)?

[2016-03-01 19:11] pmattern commented on #156
Couldn't we eventually introduce a switch to toggle whether or not the themes' wallpapers are used?
Something like this:
* Each theme still comes with a genuine corresponding wallpapers. The way to implement this could very well be changed, e. g. all wallpapers could be summarized in a directory like `/usr/share/wallpapers` and no longer in the themes' directories.
* As long as the switch is unche

[2016-03-01 20:06] intialonso commented on #156
I feel like we are overcomplicating this. No other desktop environment have wallpapers attached to themes, there is no need for that, and we have been discussing this for almost two years.

Why a switch for something as trivial as setting a wallpaper? If we ship all the wallpapers together, they will be there whenever someone wants to use them. We will be the DE where I need to click an option to

[2016-03-01 20:18] Vladimir-csp commented on #156
I would like to support this issue. Coupling wallpapers and widget themes is an overcomplication. Not to mention that DE is modular and something other than pcmanfm can govern root window. Without hypothetical XDG wallpaper spec, throwing additional ties from wallpaper to anything else would be premature.

[2016-03-01 20:24] Vladimir-csp commented on #966
IMHO, it's better to merge "LXQt Modules" into Autostart. They are handled by same mechanism, diffenences are only cosmetic. Accentuate them by sorting up in the list or something.

Or/and present autostart as a table where "Comment" entry field also visible.

Lack of Start/Stop buttons for generic autostarted apps could also be addressed.

[2016-03-01 20:25] jleclanche commented on #156
Alright, let's clarify a couple of things...

Currently, we have themes *coupled* with the wallpaper in that if you change the theme, your wallpaper changes with it. What we want here is for the wallpaper *not* to change if it was *already* set to something different by the user.

We do not need a switch/toggle/whatever for this, it's implicit behaviour that covers the majority of use cases. The w

[2016-03-01 20:34] agaida commented on #156
and what hinder us to put the wallpapers to a different repo and install them to /usr/share/wallpapers/$theme - they would be in a place where everyone would search. And if we provide some kind of makefile we could build and provide them in different resolutions if we want to. Right now i'm doing this for siduction that way - i provide only the links to the real wallpapers in my themes.

[2016-03-01 20:34] Vladimir-csp commented on #156
By "supporting this issue" I've meant what it says in the title: "Decouple wallpapers and themes".

Regarding XDG, that is why I said "hypothetical". And even if XDG is out of business, modularity should be preserved by keeping DE from getting into way in areas that can be cross-desktop.

[2016-03-01 20:41] pmattern opened #967 "plugin-mainmenu: malfunction due to key DBusActivatable in desktop entry files"
Desktop entry files featuring `DBusActivatable=true` are handled faulty by plugin-mainmenu.

Running Debian stretch (testing) and LXQt 0.10 from the official repositories they just aren't launched, on Arch Linux running LXQt from recent VCS checkouts, among other lxde/lxqt-panel@b0f6d23, they trigger a crash / core dump of the panel altogether.

The key belongs to the [officially supported ones](h

[2016-03-01 22:38] pmattern commented on #965
Unfortunately both problems can still be seen with tsujan/lxqt-config@eeea902 on Arch Linux. Still several instances of e. g. `obconf-qt` come up when `Enter` gets hold a bit, still `Enter` gets handed to the application started from `lxqt-config`.
Regarding the latter, I realized two more aspects. First, it seems to be a matter of timing as sometimes none of the several instances of `obconf-qt` h

[2016-03-01 22:42] pmattern commented on #966
The difference is not a cosmetic one only.
Applications handled according to the Autostart Specification are launched once when the session starts and then forgotten. The so-called LXQt Modules are monitored all over the session and re-launched if they exit before the session ends, e. g. due to a crash.
Both approaches are reasonable with regards to the respective applications and should be kept w

[2016-03-01 22:53] tsujan commented on #965
@pmattern
Strange! I can't reproduce your results here. Always only one instance is launched and that's after `Enter` is released. The interval between pressing and releasing doesn't have any effect. I especially tried obconf-qt: just one instance and no transference of `Enter`.

OK. I just didn't know about that.

[2016-03-01 23:30] tsujan commented on #965
@pmattern
Are you sure you tested https://github.com/tsujan/lxqt-config/commit/eeea902? Both theoretically and practically, your results are improbable with it. Or I may be totally lost?

IMO, it would be worth the effort (although I consider it done).

[2016-03-01 23:39] Vladimir-csp commented on #966
Does monitoring need any special feedback from application being monitored? If not, then anything can be watched and restarted by adding `X-LXQt-Module=true`. If so, then again, why separate these lists on different sections of lxqt-config-session instead of adding "watch and restart" checkbox for applications.

[2016-03-02 00:36] paulolieuthier commented on #966
No. Nevertheless, LXQt modules are not the usual apps you would want to be autostarted. They are essential to the DE and IMO should be treated differently.

[2016-03-02 00:38] paulolieuthier commented on #966
@palinek

How is that so?

[2016-03-02 01:04] pmattern commented on #966
@paulolieuthier
(Assuming it's me you wanted to address due to the quote.)
When opening this issue I wasn't aware that both applications are listed in section "Autostart" of `lxqt-config-session`. Looking back I have no clue why I missed that.
So the main concern, being able to toggle the auto start in a convenient way, is in fact a non issue.
Still files `/etc/xdg/autostart/lxqt-{qlipper,xscreens

[2016-03-02 01:33] tsujan commented on #965
BTW, I started my older computer with its updated Manjaro+KDE and saw that systemsettings had similar problems, namely, the "terminal" issue and the auto-repeated `Enter`. For the latter, highlight Personalization -> Applications, hold `Enter` for a few moments, and then release it. No excuse for us, of course. QCategorizedView wasn't tailored to our needs/expectations; I hope it is now.

[2016-03-02 07:37] palinek commented on #965
@pmattern
Just tested also the lxde/lxqt-config#78 and it doesn't suffer from any problem reported here (multi instance enter, terminal enter, enter to spawned window)... just the same as in the lxde/lxqt-config#77.

So that's realy weird... it's working for both of us (tsujan & me) and not for you.

@paulolieuthier can you, please, test the PRs? (as you are on arch also)

[2016-03-02 09:37] palinek commented on #967
This is due to a discrepancy in the name of .desktop file (at least on my machine):
The desktop file is `/usr/share/applications/ca.desrt.dconf-editor.desktop`. The spec (I can't cite because freedesktop.org is currently down) says that the DBus service and path for invocation are assembled based on the filename. That is service = *ca.desrt.dconf-editor*, path = */ca/desrt/dconf-editor*.

Based on

[2016-03-02 09:49] palinek commented on #967
@pmattern Can you, please, check if lxde/libqtxdg@88d4bafa fixes the crash?

[2016-03-02 10:32] palinek commented on #967
...actually the crash probably happens because of the invalid path (freedesktop.org is up now :smile:) -> https://dbus.freedesktop.org/doc/dbus-specification.html#message-protocol-marshaling-object-path

The lxde/libqtxdg@9a8545b should do the checking job correctly.

[2016-03-02 11:03] tsujan commented on #965
@palinek Yes, both work. IMO, it's better to keep `mainwindow.cpp` uncluttered, while the new QCategorizedView can show the root of a problem and be used elsewhere (maybe you'd want to enhance it), but the decision is yours.

[2016-03-02 11:21] palinek commented on #967
@pmattern please, make your tests with lxqt/libqtxdg#75

Note: *nautilus* has also DBusActivatable .desktop file

[2016-03-02 16:18] intialonso commented on #156
A couple of polls I found about wallpapers. This are a little old (I wasnt able to find something more recent) and have little samples, but I think they can light our little debate:

![poll01](https://cloud.githubusercontent.com/assets/7544231/13466263/2de7a3e0-e067-11e5-8295-1854d5e3dc94.jpg)

This one is from kde-look.org, 2005. In this one 9% of the 662 votes keep the default wallpaper.

![poll

[2016-03-02 16:21] jubalh commented on #156
@intialonso awesome wallpapers indeed!

[2016-03-02 16:28] jleclanche commented on #156
Yes, from a deviantart community :) I'd wager it's a lot higher outside of that. By no means a majority but nothing negligible.

My main concern is also with eg. reviewers who will be testing various themes, all of which will appear in "promo" type media. We want good first impressions and that's part of that.

[2016-03-02 18:01] tsujan opened #968 "lxqt-config: The grid size is static"
I opened this issue to fix it with a PR later.
The lxqt-config grid size is currently 100 px but it should respect both font and icon sizes.

[2016-03-02 19:51] tsujan commented on #965
@pmattern
The doc (https://github.com/lxde/lxqt/wiki/Contributing-code) explicitly says that the repositries should be forked first. I might make PR's for *any* LXQT component and, as I'm not (and *won't be*) a GitHub expert, I don't want to cause any mess inadvertently. So, isn't it better for me to continue working on my own forks? After all, it's so easy to test a branch by downloading its zip

[2016-03-02 20:09] pmattern commented on #965
@tsujan
Well, I guess the advice to fork first is written with non-team members in mind. These have to fork as they don't have permissions to write to the project's repository and hence can't upload their contributions without a fork.
Working with the project's repositories is actually not that difficult. Checkout the project repository, create your own branch `git checkout -b somenewbranch`, make

[2016-03-02 20:53] tsujan commented on #965
OK! I'll do as you told. Thanks!

[2016-03-02 21:14] intialonso commented on #156
Uhmmm I hadn´t though of that, makes a lot of sense.

[2016-03-03 01:04] paulolieuthier commented on #966
I don't think they should be LXQt modules, as they are third party apps, but I wouln't bother if they were either. Let's close this (discussion can, of course, continue).

[2016-03-03 01:04] #966 closed

[2016-03-03 01:42] paulolieuthier commented on #965
I hold Enter for a couple of seconds, and that opened 45 instances of "Print Settings", leaving the system unresponsive for a few more seconds. We need the workaround. I tested @tsujan PR, it works well here.

[2016-03-03 13:29] pmattern commented on #966
Agree.

While my concern that toggling the autostart via a GUI isn't possible turned out to be pointless I was thinking about the fact that only LXQt Modules get relaunched upon failure in the meantime.
Actually this could be a reason to make those two tools an LXQt Module in the long run. But on the other hand relaunching may mask issues causing crashes which sure isn't desirable at the current s

[2016-03-03 13:40] pmattern commented on #965
In the meantime I had another look at the commits proposed both in lxde/lxqt-config#77 and lxde/lxqt-config#78 after re-compiling a checkout of all other LXQt components.
Running either commit both launching several instances and handing key `Enter` to the launched application ceased - but most of the time only.
Sometimes both problems could still be seen but so far I failed to reproduce when exac

[2016-03-03 17:00] agaida opened #969 "liblxqt-config-cursor: Please fix up the used licenses if possible"
[code]

I'm ok with any WTFPL oder LGPL+ License, i'm not ok with double licensed files (GPL2 or GPL3 ) without later clause. Belive it or not, but this can turn out to be a shoot in both feets later. Really, 20 files, 30 licenses should not be the way to go.

[2016-03-03 21:37] jleclanche commented on #969
Anything WTFPL we can (and should) relicense to GPL3.

[2016-03-03 22:16] tsujan commented on #965
@pmattern
This might sound strange at first but do you have another keyboard to test with? My reason is that:

(1) The logic of both commits seems sound;
(2) @palinek, @paulolieuthier and I see one and the same result, which is the opposite of yours.

BTW, I played with the arrow keys and saw no difference.

[2016-03-04 06:59] palinek commented on #965
...or could potetialy the bare metal vs. virtualization testing make a difference?

[2016-03-04 13:46] intialonso commented on #101
How hard is to port a KDE menu like [Kickoff ](https://github.com/KDE/plasma-desktop/tree/master/applets/kickoff)(QML)? or [Lancelot ](https://github.com/KDE/kdeplasma-addons/tree/master/applets/lancelot)(QT4)?

[2016-03-04 13:46] tsujan commented on #965
That's a possibility I hadn't thought of.

[2016-03-04 16:14] agaida commented on #969
I have no problem with the WTFPL v2, is a known and FSF approved free license and will ever be compatible with any upcoming GPL. But some people might be offended. So we could do this. But i fear another thing. GPL3 files without later clause might be not compatible with a possible successor of GPL3. Have seen this before with GPL2 (kernel anyone?) and was in this trap before. So i had to ask upst

[2016-03-04 16:36] jleclanche commented on #969
It's not about being offended, I just want us to keep our licensing simple.

[2016-03-04 16:36] jleclanche commented on #969
Regarding later clauses, I agree, which is why I always label as "GPL3+".

[2016-03-04 18:00] palinek commented on #967
Fixed by lxde/libqtxdg#75

[2016-03-04 18:12] tsujan commented on #101
Adding a search capability to the *current* main menu is in my TODO list but I haven't still have time to look into it and know how hard -- or even possible -- it might be.

IMO, Kickoff or Lancelot like menus aren't so practical despite their attractive looks but they could be added with an appropriate plugin infrastructure.

[2016-03-04 18:18] intialonso commented on #101
@tsujan didi you see what @marcoscarpetta [did](https://github.com/marcoscarpetta/lxqt-panel/blob/master/plugin-mainmenu/lxqtmainmenu.h)?

[2016-03-04 18:30] tsujan commented on #101
@intialonso
I haven't started to study this part of LXQT but I surely will. It's just a matter of time.

[2016-03-04 19:08] palinek commented on #101
@intialonso just had a look... it seems a bit broken...but I can try to polish it a bit

[2016-03-04 19:11] renegat commented on #945
With lxqt-panel-git 0.10.0.55.gb0f6d23-1 and Claws Mail 3.13.2 the issue is gone here

[2016-03-04 19:36] renegat commented on #958
Issue still persists with lxqt-panel-git 0.10.0.55.gb0f6d23-1

[2016-03-04 22:44] palinek commented on #101
Have a look on the proposal in lxde/lxqt-panel#307, I didn't like the way of marcoscarpetta/lxqt-panel@44943bb (hiding the original actions and inserting new "proxy" actions).... this just hides the filtered apps (and the empty (sub)menus)

[2016-03-04 22:51] Vladimir-csp commented on #101
Side note: two-line representation in whisker menu is interesting. Could be utilized to compactly show Name and GenericName of the entries, while Comment could stay in tooltip.

[2016-03-05 13:08] gilir opened #970 "CMake minimum version to 3.1.3 ?"
Some components (lxqt-runner, lxqt-session for example) started to fail to build on some old Ubuntu versions.
See examples :
- Build OK : https://launchpadlibrarian.net/245936047/buildlog_ubuntu-wily-i386.lxqt-runner_0.10.0+201603042347~ubuntu15.10.1_BUILDING.txt.gz
- Build fail : https://launchpadlibrarian.net/245935749/buildlog_ubuntu-vivid-i386.lxqt-runner_0.10.0+201603042347~ubuntu15.04.1_BUIL

[2016-03-06 10:25] agaida commented on #970
@gilir: there is nothing wrong with cmake i guess - reading the vivid log i found these lines after the capabilities check:
[code]
CMakeLists.txt:41ff. is
[code]
so i guess you run into a problem with libmenu-cache. I will check this in a vivid installation.

[2016-03-06 13:44] agaida commented on #970
@gilir: The good news is - i got the builds working, the not so good news is - i don't know why. The fault is really that the pkg_check_modules fails - it is not visible, we should remove the QUIET. After some testing the module is found on my test system. Have to setup an vivid again and find the reason for that behaviour.

[2016-03-06 14:05] pmattern opened #971 "plugin-taskbar: undesirable highlighting of buttons"
The highlighting of buttons in plugin-taskbar that's normally seen upon hovering over the buttons only
![lxqt-panel_plugin-taskbar-highlight-move-other-desktop](https://cloud.githubusercontent.com/assets/9860801/13554584/0aae7942-e3ac-11e5-984b-994fb0e2153f.png)
takes place due to two actions as well where it actually does not make sense.

The first one is leaving buttons' context menu without per

[2016-03-06 14:24] pmattern commented on #967
Running yesterday's VCS checkouts including lxde/libqtxdg@0a66207 on Arch Linux the core dumps of the panel have gone but e. g. `dconf-editor` still doesn't get launched by its desktop entry file. (It's working flawlessly if invoked from a virtual terminal.)

[2016-03-06 15:45] tsujan commented on #971
This is a Qt5 bug. I've included a workaround for it in Kvantum (https://github.com/tsujan/Kvantum/commit/55bd599d26e0e5e2ccb40616cb5fcd2cd855ccc8).

https://bugreports.qt.io/browse/QTBUG-36862 can be about the same bug. They've closed it but apparently it isn't fixed yet.

[2016-03-06 16:11] palinek commented on #967
What is the name of dconf editor desktop file?

[2016-03-06 16:24] pmattern commented on #967
`ca.desrt.dconf-editor.desktop`. Same file (checksum) in Arch Linux and current Debian testing. After removing `DBusActivatable=true` the application does start.

[2016-03-06 16:39] gilir commented on #970
@agaida  Thanks for the test, and yes the bug seems to be in menu-cache. I updated the version on the PPA, and the behavior is now more understandable for me :-)

[2016-03-06 16:39] #970 closed

[2016-03-06 16:57] agaida commented on #970
@gilir: right now i really don't understand it - libmenu-cache-dev contain the .pc file - this should be sufficient. There must be at least a missed dependency - but hey - glad it works for you.

[2016-03-06 17:38] agaida commented on #970
ok, found it - there is a dependency missed - and i don't know the reason, maybe it was added later in the process and is not there for earlier versions.

Adding libglib2.0-dev to the build-dependencies should solve the bug for lxqt-runner, but i guees the dependency should be introduced in another package like libfm-gtk or menu-cache. We will never know until we analyze it :) - beware of the soun

[2016-03-06 18:26] palinek commented on #967
Then I don't understand reopening this issue. I've clearly described that in [this](#issuecomment-191155855) and [this](#issuecomment-191175620) that this is an issue of *dconf editor* and its **invalid** .desktop file.

[2016-03-06 18:37] palinek commented on #971
Yes, I also believe that this is an issue in QT and already submitted bugs for something like that:
- https://bugreports.qt.io/browse/QTBUG-49222 -> is fixed, but delivered in 5.6.1 release
- and https://bugreports.qt.io/browse/QTBUG-51573 -> which has a fix already

Not: I believe that this has the very same reason as issue with highlighted plugins after menu spawn/close in lxde/lxqt#706

[2016-03-06 19:35] agaida commented on #970
@gilir - so you should port the dependency of the dev package too
http://git.lxde.org/gitweb/?p=debian/menu-cache.git;a=commitdiff;h=c00089c5ddf5995c97f14246c3beb4e316900709

[2016-03-06 19:42] gilir commented on #970
Yes the libglib-dev depends is an old bug on the packaging, but it was fixed some time ago, and I was hit by it several times :-)

[2016-03-06 19:46] agaida commented on #970
:)

[2016-03-06 19:48] pmattern commented on #965
Sure enough my own tests regarding this issue were all "bare metal" already...

After compiling lxde/lxqt-config@90930e3 and tsujan/lxqt-config@ba81d35 another time against yesterday's checkout of all LXQt components the results remain the same as depicted in my previous comment.
Of course it's strange when I'm the only one seeing this but on the other hand I can't real figure what should be parti

[2016-03-06 19:53] agaida opened #972 "lxqt-config-brightness-settings license"
@selairi: Please consider to license your files as LGPL-2+ or better LGPL-2.1+ - the KDE files are LGPL-2, so there is no need to introduce GPL2. Thanks.

[2016-03-06 19:56] tsujan commented on #971
@palinek Thanks for the links.
The Qt5 menu-hover bugs are somehow related to each other. I hope all of them will be fixed soon because they're so annoying but QTBUG-36862 seems to be forgotten.

[2016-03-06 20:36] palinek commented on #965
Well, qt knows :smile: -> http://doc.qt.io/qt-5/qkeyevent.html#isAutoRepeat

[2016-03-06 20:46] tsujan commented on #965
I quote from the same place: "Note that if the event is a *multiple-key compressed* event that is partly due to auto-repeat, this function could return either true or false indeterminately." (Italics are mine.)

[2016-03-06 20:54] pmattern commented on #967
Using the said desktop entry file `dconf-editor` gets apparently launched flawlessly in LXDE, KDE Plasma 5 and Xfce. My knowledge regarding D-Bus doesn't allow for judging what exactly is happening in these desktop environments.

Dconf doesn't seem to be developed actively any longer, at first glance I couldn't even find a suitable upstream bugtracker. Yet it's still used by many GTK applications

[2016-03-06 21:09] palinek commented on #967
Do they start it by DBus?

Yes, and the very same spec says: ` If the value is true then implementations should ignore the Exec key and send a D-Bus message to launch the application.`

I don't know if there were any changes in the DBus specification ([allowed characters in the object paths](https://dbus.freedesktop.org/doc/dbus-specification.html#message-protocol-marshaling-object-path)), but the

[2016-03-07 00:13] agaida commented on #969
i would prefer lgpl-2.1+, then gpl2+ if possible - both include the later 3 license. And if a problem with some particular things in (L)GPL2 show up there is the chance to use the sources at wish with the later license. This could prevent problems with other code written in (L)GPL2 only. But that means too, that we should keep our portfolio of used licences clean. the wtfpl was never a problem, th

[2016-03-07 00:28] jleclanche commented on #969
I strongly dislike that we have bits and pieces of the code under completely different licenses. If someone wants to fork our code, that's fine, gpl allows for that. But if that's the case I do not want anyone (including us) to have to deal with looking up licenses file by file.

A clean, single license for a single component is far friendlier than having *parts* of the code under "freeer" license

[2016-03-07 08:30] #949 closed

[2016-03-07 09:59] selairi commented on #972
Done. Thanks for your suggestion.

2016-03-06 20:53 GMT+01:00 Alf Gaida <notifications@github.com>:

[2016-03-07 09:59] palinek commented on #943
Now there is an option in taskbar configuration to use the icon based on WindowClass.

[2016-03-07 09:59] #943 closed

[2016-03-07 10:30] stefonarch commented on #943
Nice, this option fixes also a "generic icon" issue that I had with zoiper and konversation in the taskbar, now their icons are correct, thanks!

[2016-03-07 11:29] stefonarch opened #973 "lxqt-config-brightness-settings should have minimal brightness set"
Testing the new feature I accidently turned too much the button and my monitor (VGA) got completely dark and I lost control over brightness setting, even virtual consoles tty were dark, I had to hard reset the system.

IMHO this behavior should be not possible.

[2016-03-07 11:58] #951 closed

[2016-03-07 12:03] palinek commented on #948
I believe it is fixed... if not, please, reopen.

[2016-03-07 12:03] #948 closed

[2016-03-07 12:03] pmattern opened #974 "lxqt-config-brightness-settings: translations missing"
The usual `./translations` directory is missing for now.

Should get postponed until a decision regarding #975 is made - what ever this will look like.

[2016-03-07 12:04] palinek commented on #946
I believe, this is fixed... if not, please, reopen

[2016-03-07 12:04] #946 closed

[2016-03-07 12:05] palinek commented on #927
@stefonarch are you still observing this issue ?

[2016-03-07 12:07] palinek commented on #926
fixed by lxde/lxqt-globalkeys@3001bee

[2016-03-07 12:07] #926 closed

[2016-03-07 12:17] palinek commented on #900
Closing due to lack of feedback.

[2016-03-07 12:17] #900 closed

[2016-03-07 12:23] palinek commented on #858
Shouldn't this be reported as qlipper issue/bug -> https://github.com/pvanek/qlipper/issues

[2016-03-07 12:28] palinek commented on #793
@tsujan Do you still need this to be open?

[2016-03-07 12:30] palinek commented on #777
@pmattern Is this still valid?

[2016-03-07 12:46] pmattern commented on #773
Roughly the same issue was reported in lxde/pcmanfm-qt#324 so one of the two needs to get closed.
Choosing this one besides it was opened first as a similar other one exists in the dedicated tracker of PCManFM-Qt so as to avoid clutter.

[2016-03-07 12:46] #773 closed

[2016-03-07 13:05] pmattern opened #975 "lxqt-config-brightness-settings: Shouldn't we drop superfluous suffix "-settings"?"
The purpose of each and every binary `lxqt-config-*` is tweaking settings so suffix "-settings" is basically a tautology. Also, it's inconsistent with the naming of all those other binaries.

So shouldn't we just drop that suffix? IMO this would be more intuitive somehow.

[2016-03-07 13:06] palinek commented on #975
+1

[2016-03-07 15:52] stefonarch commented on #927
Yes, I forgot about it, but I've just tested, it's still the same,.
I recompiled all stuff some days ago, panel today.
Will  test it later on a clean user.

[2016-03-07 16:03] pmattern opened #976 "Only fraction of paths defined by Icon Theme Specification gets considered"
Icons located e. g. in `/usr/share/pixmaps/` are not displayed in the list of proposals that displays upon filing text in runner's form
![lxqt-runner_missing-icons-in-pixmaps](https://cloud.githubusercontent.com/assets/9860801/13574829/336a183e-e486-11e5-8af8-4142aa363b9f.png)

If I'm not mistaken it's the same problem as discussed regarding PCManFM-Qt in lxde/pcmanfm-qt#198.

[2016-03-07 17:29] agaida commented on #975
+1

[2016-03-07 17:40] agaida commented on #858
it is a gimp bug. qlipper behave like any other clipboard manager in that case

[2016-03-07 18:38] rogerfranz opened #977 "segfault with lxqt-globalkeys"
From kern.log:

[code]

From syslog

[code]

At the time, I was using pcmanfm-qt, two screens, two windows open on one screen. I moved the mouse across the top of the screen, and _bam_, it dropped the GUI completely and relogged.

[2016-03-07 18:41] #858 closed

[2016-03-07 18:49] schumaml commented on #858
I hope you still remember to provide us with hints about what to change?

[2016-03-07 19:35] pmattern commented on #977
Please let us know which OS you're running, which version of LXQt is in use and which way it was installed.
(IIRC you've been reporting issues on this tracker before but we can't memorize the system of every user reporting here and users may change OS as well.)

Xfce4 notifyd should not be running during an LXQt session but lxqt-notificationd only instead.

If you ran into this the first time it w

[2016-03-07 20:04] agaida commented on #858
ok: not advise people to avoid clipboard managers https://bugzilla.gnome.org/show_bug.cgi?id=757070 - sorry, couldn't resist :)
second: the image, that create the mess: http://jp.si/DSC07095.JPG
nomacs says about the image:
[code]
[code]
If you want a backtrace from an up to date sid system i can create one.

[2016-03-07 20:07] agaida commented on #858
btw - some month later it don't crash that hard anymore - one have to do more copy actions until gimp finally crashes.

[2016-03-07 22:56] rogerfranz commented on #977
Oops, I usually remember that.
Ubuntu 15.10,
lxqt-globalkeys current version is 0.10.0+201603051747~ubuntu15.10.1, which my log shows updated on Mar-05.
installed from synaptic via ppa (lubuntu-dev/lubuntu-daily)

[2016-03-08 01:00] paulolieuthier commented on #975
Sure.

[2016-03-08 07:38] pvanek commented on #858
I will look at it soon or later in qlipper itself

[2016-03-08 08:48] palinek commented on #976
@pmattern Please, test with the lxde/libqtxdg#77

[2016-03-08 10:49] selairi commented on #975
Done.

El 07/03/16 a las 14:05, Peter Mattern escribió:

[2016-03-08 10:58] selairi commented on #973
Ok. I will add a warning and a timer in those cases.

[2016-03-08 11:04] selairi commented on #923
I have fixed all those points:

I also added a simple tool in order to change the brightness (libKScreen
can not change the brightness yet).

More suggestions?

[2016-03-08 12:09] pmattern commented on #973
What I've also been wondering: couldn't we just introduce some shortcuts, maybe as simple as `+` and `-`, to adjust the values?
These would be available even if the display is black and could hence help mitigate this problem, too.

[2016-03-08 12:20] pmattern commented on #973
Just saw that `Arrow {Left,Right}` are already adjusting brightness here. Dual-monitor system running Arch Linux, only one monitor gets adjusted by those keys, choice seems unclear but unrelated to setting `--primary` of `xrandr`.

Eventually adding a to the GUI about those or some still to be introduced shortcuts would do the job, too?

Personally, I'm not too much in favour of that warning / tim

[2016-03-08 12:54] stefonarch commented on #973
My problem was that I lost also focus, I tried some shortcuts. I think just never  going below 10% should do.

[2016-03-08 13:07] Vladimir-csp commented on #973
Disabling backlight is a feature. Perhaps a better way would be showing a popup displaying brightness shortcuts before brightness go to 0, and actually switch to 0 on second button press.

It also can be tricky governing backlight with keys via X as certain systems with certain kernel kernel parameters process brightness keys on hardware level.

[2016-03-08 13:45] agaida commented on #858
@pvanek - i'm afraid that you can't do much about - it's the same thing we encounter in inkscape for years. one try to clip something and the appclication in charge try to deliver and than behave not so kind. But good luck anyways..

[2016-03-08 14:43] tsujan commented on #858
I use Inkscape a lot. Neither when I was a KDE user (with klipper) nor now under LXQT (with clipit), I've had any problem with clipping. I've also done lots of cropping, copying and clipping with Krita and Gimp with no problem. So this should be a qlipper bug. Most probably, its developer could find and fix it.

[2016-03-08 16:16] pmattern commented on #972
But we don't really need a file `LICENSE` in `./lxqt-config-brightness` as the one in the source code's root directory is valid for lxqt-config as a whole, isn't it?

[2016-03-08 20:16] schumaml commented on #858
What would be nice is some hints along the lines of:

qlipper does $foo.
Any application involved in clipboard handling should do $bar, but must not do $baz.

That description should be on a coding or meta-coding level.

[2016-03-08 20:39] jleclanche commented on #972
If there are multiple licenses, they should be included at the root of the directory under the naming scheme `LICENSE.LGPL21`, `LICENSE.GPL2` etc. The main license should always be `LICENSE`.

[2016-03-08 22:39] neon12345 opened #978 "GTK mouse cursor is set to default"
When I start lxqt with kwin I can see that the cursor is set to the default big X when I use nm-applet in the lxqt-panel.
When I start openbox without lxqt and then start lxqt-panel the theme is applied with the cursor.
The rest of the gtk theme is correct, only the cursor is somehow reset to default. Since this does not happen with openbox standalone I assume this is connected to lxqt.

[2016-03-09 01:01] agaida commented on #858
i'm out of this

[2016-03-09 01:58] paulolieuthier commented on #975
lxde/lxqt-config@3a38f64def0d2d50d6836f231d874920a1193157.

[2016-03-09 01:58] #975 closed

[2016-03-09 12:05] palinek commented on #858
Just made simple test:
- runnig qlipper (with some added debug output)
- starting gimp with an .png image 640x400 (only white background)
- choosing "Rectangle Select Tool"
- click on the image/canvas
- changing the selection by inserting the "Position:" -> 0, 0 & "Size:' -> 1 x 1
- pressing ctrl+c
- gimp crashing

The data receieved into qlipper from clipboard -> https://gist.github.com/palinek/0

[2016-03-09 12:39] palinek commented on #858
Or event the most simple qt testing program... (steps to reproduce are the same)
[code]
The content of clipboard -> https://gist.github.com/palinek/31a61ff09a1f25dc8871

[2016-03-09 12:41] tsujan commented on #858
I don't think so. It's the copied image.

[2016-03-09 12:44] tsujan commented on #858
I haven't tried qlipper yet but, theoretically, the fix seems simple: "don't copy images from clipboard!" (sorry if programmatically it's not simple)

[2016-03-09 13:13] palinek commented on #858
Wel.. it definitely seems like some interaction problem. Should the reading of clipboard in Qt be postponed, like e.g. (1 second delay):
[code]
... then gimp will not crash.

@schumaml will this help you?

[2016-03-09 13:20] tsujan commented on #858
Just a word: if `QTimer::singleShot(0, X)` doesn't work, putting any value in place of `0` will mean relying on chance (CPU power and other circumstances).

[2016-03-09 13:23] palinek commented on #858
Another hint: If we don't use/store the `image/x-bitmap` & `image/x-MS-bitmap` in qlipper, then gimp is not crashing. That means this patch:
[code]

[2016-03-09 14:48] palinek commented on #858
Another review of gimp code and its debug:
[code]
... so the crash is somewhere here -> https://github.com/GNOME/gimp/blob/master/app/widgets/gimpclipboard.c#L896

This crash does happen only if the the (opposite) application is trying to read the `image/x-bmp` data.
Don't konw much about neither gimp nor gdk or how it works... but can the gdk loader for bmb be somehow broken (if it is flushing th

[2016-03-09 15:06] selairi commented on #973
I think showing keys shortcuts to change brightness could be more useful. Brightness must not be saved because users could set their brightness to 0 and they would be able to recover their screens rebooting.

Desktop computers don't usually let you change brightness by software. You must use your screen buttons to do it. In that case, lxqt-config-brightness changes colours in order to simulate bri

[2016-03-09 16:19] tsujan commented on #858
What about this, quoted from http://doc.qt.io/qt-5/qclipboard.html#notes-for-x11-users :

"You should not store or retrieve the clipboard contents in response to timer or non-user-input events."

[2016-03-09 18:37] luis-pereira commented on #976
I'm able to see the icon without https://github.com/lxde/libqtxdg/pull/77
Have to dig in it.

[2016-03-09 19:22] palinek commented on #976
@luis-pereira test with some scalable (svg) icon from /usr/share/pixmaps

[2016-03-09 21:37] tsujan commented on #858
OK, I had time to look into qlipper's code but before that, I tested gimp-2.8.16 with qlipper-5.0.0 from Debian and, whatever I did, no crash occurred. I also tested @palinek's code: still no crash and the output was OK:
[code]
So, there was no need to study qlipper's code ;)

[2016-03-09 21:53] agaida commented on #858
@tsujan - have you done your tests with the provided picture?

[2016-03-09 23:19] tsujan commented on #858
No, I did it as @palinek told and also with a few PNG images. But after reading your comment, I tested with that picture and *yes, this time the crash happened.*

Even without this crash, considering @palinek's tests, I was going to say that the bug existed but wasn't reproducible with all CPUs or images.

IMO, the bug is in qlipper, not in gimp or gtk2, and I still think there's something importa

[2016-03-09 23:45] agaida commented on #858
@tsujan - the next test could be: open the image in nomacs and then save it without further manipulation. This could result in an image with corrected meta datas - it would be nice to see the if the so modificated image works with gimp and qlipper. And by the way - i had an image with totally stripped meta-datas - result: no crashes. So i guess the bug is in gimp and the handling of meta datas.

[2016-03-09 23:59] tsujan commented on #858
But that wouldn't explain why the crash happens only when the data is *read* from clipboard by using `Clipboard::changed()`. As I said earlier, clipit and, perhaps, other clipboard managers don't have any problem with gimp and that image.

Tomorrow I might have time to do some tests in other directions. If we put together @palinek's, yours and my tests, we might reach a conclusion.

[2016-03-10 03:30] tsujan commented on #858
The result of my tests:

Reading the data of each format *alone* doesn't cause any crash -- not even `image/x-bmp` or `image/x-MS-bmp`. The crash only happens when the data of all or many formats are read together (by `foreach`). Usually there's only one format but, in the case of copying a selection with GIMP, there are 15 formats! This situation may happen with other image editors or even other

[2016-03-10 05:18] tsujan commented on #858
This should prevent the crash:
[code]

[2016-03-10 12:26] agaida commented on #858
really impressive - will test the patch today evening

[2016-03-10 15:17] luis-pereira commented on #976
@pmattern Which icon theme are you using ?

[2016-03-11 12:41] palinek commented on #976
I've put another fix to lxde/libqtxdg#77 for the non-scalable images found in directories w/o defined size.

[2016-03-11 14:33] luis-pereira commented on #976
@pmatterm: @palinek fixes it. But there is deeper issue here:
An "modern" app shouldn't install icons to `/usr/share/pixmaps`. It should install it's icons to the hicolor theme.
From the standard:

It's also an upstream/distribution issue.

[2016-03-11 14:53] pmattern commented on #976
Sorry for not being able to participate earlier. Apparently there's quite some misunderstanding.

This issue has nothing to do with faulty scaling which may of course very well be a problem on its own.
Rather it is about genuine icons of e. g. applications the names of which are *not* covered by the [Icon Naming Specification](https://specifications.freedesktop.org/icon-naming-spec/icon-naming-spe

[2016-03-11 15:09] palinek commented on #976
@pmattern You are right. But did you test with the fixed libqtxdg? These fixes aren't about scaling, but about showing the icon at all (in particular cases the icon engine did "pretend" that the icon provides image with size 0x0).

[2016-03-11 17:33] luis-pereira commented on #976
@pmattern Sure it's still part of the specification, but it should be used only be legacy applications. An app like xterm should use the `hicolor` theme.

[2016-03-12 02:41] tsujan commented on #786
Fixed by https://github.com/lxde/pcmanfm-qt/pull/303.

[2016-03-12 02:41] #786 closed

[2016-03-13 16:14] selairi opened #979 "Add a default lxqt-globalkeys.conf in lxqt-common"
I need to add some key shortcuts by default.

Some of them help to solve problems with screen brightness. These shortcuts are:
- Increase screen brightness
- Decrease screen brightness

I would like to add another shortcut too:
- Ctl + Alt + T to open Terminal.
This shortcut is set by default in other desktops.

Maybe the simplest way to add those shortcuts is writing a new config file in lxqt-com

[2016-03-13 19:03] stephens2424 commented on #916
I have a high dpi monitor I can test with if need be.

[2016-03-13 19:14] tsujan commented on #916
Yes, please report any issue you encounter, preferably under this ticket!

[2016-03-13 19:31] stephens2424 commented on #916
It's fairly unusable as is. Definitely eye straining even to just debug stuff. The attached screenshot is what I was looking at in a 15" screen space:

![screenshot from 2016-03-13 12-26-55](https://cloud.githubusercontent.com/assets/488895/13730805/6e8ea7be-e917-11e5-978b-b08e2f3b4450.png)

[2016-03-13 19:48] tsujan commented on #916
Oh, I should have been more specific:

Forget about gtk and qt4 apps! Run Qt5 apps *belonging to LXQT* (like PCManFM) from terminal but after this line:
[code]
For running components (like PCManFM, when it draws desktop), you'll first need to stop them from Configuration Center → Session Settings → Basic Settings → LXQT modules.

You could also change Configuration Center → Appearance → Font → Res

[2016-03-13 23:28] stephens2424 commented on #916
Opening PCManFM from the terminal with  env variable makes some elements work ok, like the select box and its picker, but fonts and menus are still too small. I already had the font DPI setting set to 192 and I'm not finding the LXQT modules section.

![screenshot from 2016-03-13 16-26-21](https://cloud.githubusercontent.com/assets/488895/13732127/67880ba6-e938-11e5-8e6f-c13329195bb8.png)

Sorry,

[2016-03-14 01:51] tsujan opened #980 "Changing font DPI has no effect"
It's under Configuration Center → Appearance → Font → Resolution (DPI). The same setting has effect in KDE's systemsettings and if changed from 96 to 192, fonts will be double-sized.

Changing font resolution is needed with HDPI monitors. Please see https://github.com/lxde/lxqt/issues/916#issuecomment-196081064 !

[2016-03-14 01:53] tsujan commented on #916
@stephens2424 Thanks! Your screenshot revealed a bug.

[2016-03-14 07:33] palinek commented on #979
lxqt-globalkeys doesn't do/execute any logic by itself. It just provides the interface for setting/grabbing shortcuts.

IMO this hould stay that way. If you need to execute a specific logic base on pressing the newly provided shortcuts, this should go into separate daemon/process (either into some existing one or newly implemented).

[2016-03-14 08:01] #976 closed

[2016-03-14 08:42] selairi commented on #979
Perhaps Ihave not expressed correctly, sorry. I need new shotcuts for
command line actions. Proposed shortcuts will execute command line actions.

Yes, it is true, but new shortcuts are stored in lxqt-globalkeys.conf, and
CommandActions (shortcuts for command line) are executed by lxqt-globalkeys
daemon. Then we already have got a daemon to execute commands. Consequently
a new daemon is not needed

[2016-03-14 08:45] palinek commented on #979
the interface for setting/grabbing shortcuts.

CommandActions (shortcuts for command line) are executed by lxqt-globalkeys
daemon.

Sorry... I forgot about those. So you can forget about my previous comment :smile:

[2016-03-16 09:07] stefonarch commented on #101
Just compiled all components, but the search results should not open the category containing the app but a direct list IMHO.

![schermata01](https://cloud.githubusercontent.com/assets/10681413/13806921/c9028fa0-eb5e-11e5-9975-7c57fa18c9c7.png)

[2016-03-16 09:14] palinek commented on #101
There are no search results. The search just filters the non-matching entries/applications.

So this is a matter of taste... maybe a configuration to switch presentation of results could be feasible.

[2016-03-16 09:17] stefonarch commented on #101
It would be nice just typing and   use one click not moving on category, then moving right + click.
But actually this feature does the same as the  runner oes.

[2016-03-16 10:55] tsujan commented on #101
I agree with @palinek; it's a matter of taste. Personally, I prefer to know where the filtered items belong, especially when there are several items.

[2016-03-16 11:44] stefonarch commented on #101
So opening a list like:
Internet

[2016-03-16 13:06] intialonso commented on #101
Uhmmm I like more showing the apps than the menus. You type Firefox and you find Firefox, not the menu where Firefox is. The point in having a search is to quickly find the app I need, moving the mouse to a submenu is not very practical.

If we can set this with a configuration switch I will be more than happy.

Nice job!

[2016-03-16 13:09] birdie-github commented on #101
Even if you insist on showing categories for the found items it should be done this way:

[code]

This way it's going to be easier to run the application you want without making extra mouse movements. The screenshot above is just wrong.

[2016-03-16 14:51] stefonarch commented on #101
2 other things which could  be improved:
 - cursor does not change  on input  field  (should be | and arrow only on "clean" icon
- clean the field when menu get  closed (now selecting and launching the found application the menu stays in the search result state on reopening)

[2016-03-16 15:29] tsujan commented on #101
There's no insistence; my voice is only one among many. As @palinek said, what you want could be implemented as a config later.

Here I just want to show that it isn't impractical or "wrong". Suppose that you want to know which apps are related to editing. So, you type "edit":

![2016-03-16-18 48 37-scrot](https://cloud.githubusercontent.com/assets/981076/13817828/e8bcd540-eba8-11e5-8a34-7bc03d03d

[2016-03-16 15:34] tsujan commented on #101
BTW, to clear the search entry you could just press `Esc`.

[2016-03-16 15:50] intialonso commented on #101
In the example provided by @tsujan why would you search for "edit" without knowing what you want to edit (sound, images, code)? I guess you know what you want to do before typing in the search field. Also are we asuming that the user doesnt know what apps has he installed?

The menu items have informational popups which describe the applications, so if you show the app results for "edit" it is ver

[2016-03-16 15:55] palinek commented on #101
This search implementation also searches **only** in apps, but the hierarchy defined by the \*.menu file is kept.

[2016-03-16 16:04] tsujan commented on #101
Suppose I want to quickly and intermittently use my subtitle editor, sound editor and text editor *for a single job*. That was just an example! No single user could exhaust all kinds of usages

Why not seeing this one as something new?!

[2016-03-16 16:11] Vladimir-csp opened #981 "lxqt-panel menu: choose menu entry content"
Since XDG spec opportunely defines Name and GenericName for desktop entries, please add ability to choose how to display this data in applications menu.
Sane variants could include:
`Name`
`GenericName`
`Name - GenericName`
`GenericName: Name`

[2016-03-16 16:16] intialonso commented on #101
I dont know, in the case of Windows, OSX (and I think KDE and Gnome), they have teams dedicated to UX research, I guess that work is worth to be taken into consideration.

Been different or new is valid just if we can support that with data and experiences (which we dont have).

As said before, lets make this an option, but I will vote for making the default showing the apps, not menus.

[2016-03-16 16:20] Vladimir-csp commented on #101
IMHO search should yield apps. Either you browse categories and get apps, or you search and get apps. Searching and getting categories does not make any sense.

[2016-03-16 16:40] tsujan commented on #101
I don't understand why you think in terms of exclusion ("should", "either/or", "wrong", "don't have", "does not make any sense", ...). Is this new feature so bad?! I use it since @palinek made it and have found it very useful.

@palinek Let's add some options, little by little.

[2016-03-16 17:03] Vladimir-csp commented on #101
Just trying to apply strict logic. And this is just what I think, I do not claim to provide some ultimate truth :)

Categories and search are two ways of getting to certain apps. If you use search and still have to go through categories afterwards, your path to apps was not shortened.

On the other hand, showing categories in list with search results (grouping apps by categories without submenus)

[2016-03-16 19:12] neon12345 commented on #978
Some more details: When I use the chrome browser I have the selected cursor with some exceptions.

1. Using the right click context menu on a web page, the cursor is as expected.
2. Using the right click context menu on a tab, the cursor changes to the big X default until the mouse is moved over the context menu.
3. nm-applet shows the big X in the menu even when moving the mouse.

Don't know if t

[2016-03-16 19:45] intialonso commented on #101
Playing with some styling with our fancy new menu :D

![snapshot1](https://cloud.githubusercontent.com/assets/7544231/13826420/6d5749d0-eb85-11e5-9ff8-e2aef69cbf4f.png)

Some margins and paddings to align the search field with the other menu items and make the box a little biger.

[2016-03-16 19:53] tsujan commented on #101
Reopened the issue to get feedback -- the title is suitable for that.

[2016-03-16 23:06] palinek commented on #101
I personaly am still not convinced that filter should pull the apps into top menu... the lxqt-runner is prefectly suitable for such usage.

But I've made 2 testing implementations for the "flat" search:
- https://github.com/lxde/lxqt-panel/commits/menu_search1 (plain menu entries)
- https://github.com/lxde/lxqt-panel/commits/menu_search2 (list view with entires)

Both are just a proof of concept a

[2016-03-17 00:07] agaida commented on #978
Why does one do that? And how do you compile it?

[2016-03-17 00:22] #978 closed

[2016-03-17 00:30] intialonso commented on #101
@palinek I want to hear your arguments, may be Im missing something.

Is true that lxqt runner does exactly what we are trying to implement here, but that is not a bad thing, and is no reason to make the menu search for more menus ;) . The search in lxqt runner is more advanced and is hidden by default. The main menu is there for a first time user and preserve the desktop paradigm that most of the

[2016-03-17 01:57] Esclapion commented on #101
I wish a search field embedded in the menu to find and call applications, but not more. I reallly miss it.

[2016-03-17 02:03] jleclanche commented on #101
To be honest, this kind of clash is why I initially suggested a separate "advanced menu" plugin (contrasting to a "simple menu"), which would look more like KDE's/Windows' and allow in-place search of all relevant elements.

I think @palinek's flat search implementation is fine for the simple menu, and for something more advanced we need to start looking into a separate plugin.

[2016-03-17 04:32] Vladimir-csp commented on #101
I'm afraid, it would take a lot of rebuilding to test these in my case. Could you post some screenshots?

AFAIK usual menu search pattern is this:

- you type some
- take a glance at results
  - type some more until one result is left
    - hit enter
  - satisfied with few results
    - navigate with arrows, hit enter.

This pattern requires you to see apps entries right away.

Agreed.

[2016-03-17 07:28] palinek commented on #101
I don't agree here. Both plugins will do +/- the same => this in turn will result into copy/paste the code  (it doesn't need to be so, but I believe it would end this way) and in few months we will be in the same situation as with the plugin-clock vs. plugin-worldclock and trying to merge them together.

[2016-03-17 07:38] palinek commented on #101
I'm not the right person to argue with. I'm a very sporadical user of menu... actually most of my usage is just testing while fixing the bugs :smiley:. I've just presented my view on this area.

- take a glance at results
  - type some more until one result is left
    - hit enter
  - satisfied with few results
    - navigate with arrows, hit enter.

That's the usage of runner.

All in all I'm not

[2016-03-17 11:27] neon12345 commented on #978
I don't think it's that easy because I use lxappearance. It does not crash for me and it fixes the problem. But as soon as I restart lxqt the cursor is broken again.

[2016-03-17 11:29] neon12345 commented on #978
I compile it as described, why not? So why exactly is this the expected behaviour?

[2016-03-17 11:46] neon12345 commented on #978
Adding "xsetroot -cursor_name left_ptr" to the startup fixes the problem. Since this does not happen with other wms I still assume there is something missing in the startup of lxqt.

[2016-03-17 13:05] intialonso commented on #101
I totally agree with this. Lets keep just one menu plugin with some advanced features. In the future with external plugins support anyone could make a full KDE menu.

In the meantime we can put something like this and keep both types of search?

![search](https://cloud.githubusercontent.com/assets/7544231/13846682/e7f00b00-ec16-11e5-9e1c-6ac698aa8812.png)

[2016-03-17 20:12] tsujan commented on #101
A screenshot for those who can't test @palinek's second experiment with list-view search:

![listview-search](https://cloud.githubusercontent.com/assets/981076/13859649/ba436386-ec99-11e5-8485-7f3e9864e7f1.png)

[2016-03-18 08:23] birdie-github commented on #101
This one looks good. Can I use the keyboard to walk up and down to select an application? If there's just one result found, does "Enter" run it automatically? These two features are crucial.

[2016-03-18 08:26] Vladimir-csp commented on #101
+1

[2016-03-18 12:16] palinek commented on #101
Have a look on the new proposal in lxde/lxqt-panel#309

[2016-03-18 13:31] Esclapion opened #982 "[plugin-clock] calendar unreadable"
If the font of the panel is light (#ffffff], it's impossible to read the last month. If we darken the fonts of the panel, it works, but all others things are difficult to read.

How can I change only the value of the calendar background, please ?

A sample :

http://i.imgur.com/FIaJkPp.jpg

[2016-03-18 14:06] Esclapion opened #983 "[lxqt-panel] Empty menu item"
I installed gtk3 (due to a dependency), and an empty item "Programming" appeared in the Menu.

It's not very important, but a blog complained about that.

A little digging, there are three tools in this section, gtk+ demo, icon browser, and widget factory. The three corresponding .desktop contain NoDisplay=true.

[2016-03-18 14:54] intialonso commented on #982
Hi @Esclapion is that problem present in the default themes? Which theme?

If you want to customize the calendar I have bad news, the QTCalendarWIdget is very limited in what can be customized.

You can try this:

`QCalendarWidget QWidget{
   background-color: %%BASECOLOR%%;
   alternate-background-color: %%HIGHLIGHTDISABLECOLOR%%;
   color: %%TEXTCOLOR%%;
}`

[2016-03-18 15:54] Esclapion commented on #982
Hi @intialonso, i don' use the default theme. I have this problem since a long time, with various theme.

I'm not sure it's theme-dependent ? I do now a try with mediterraneannight and another, same problem, absolutely no change. The color depend of the panel font color, imho.

I use compiled packages, not source. Can I do your try anyway, and where ?

I find no qss related to this plugin ? Or it

[2016-03-18 16:10] intialonso commented on #982
I cant reproduce this issue. Did you changed the panel font settings? It could be that.

The QSS is in the **panel.qss** file in /usr/share/lxqt/themes/THEME-NAME/
In that file there is a section for the Calendar.

[2016-03-18 16:36] Esclapion commented on #982
I changed nothing, a.f.a.i.k.

http://www.auplod.com/u/dpaolu777cc.jpeg

I will do some tries un panel.qss.

[2016-03-18 16:48] intialonso commented on #982
Ahh you are using "Custom styling" font and background color. There is your problem.

Those options are very simple, and the panel is a little more complex. If you want to cutomize your panel the right way, I suggest you to create a custom theme, and write your own QSS file,

Im marking this as invalid because the issue is the result of a user choice of font and background colors in the config dia

[2016-03-18 16:48] #982 closed

[2016-03-18 18:37] Esclapion commented on #982
Uncheking Custom styling, it works, thanks. But it means also than this styling causes problem, no ?

[2016-03-18 19:20] intialonso commented on #982
Yeah, the user been able to set any color can produce problems (depending on his personal taste). Im not sure why that option was included, I dont think it was a good choice. Anyway, by default is unchecked, so it requiere a clear interaction and responsability from the user.

[2016-03-18 19:38] luis-pereira commented on #967
@pmattern @palinek Can lxde/libqtxdg#80 nail it ?

[2016-03-18 22:16] luis-pereira commented on #983
@Esclapion If the .desktop files contain `NoDisplay=true` it's not a bug.
From the standard:

[2016-03-18 22:16] #983 closed

[2016-03-18 22:22] jleclanche commented on #983
@luis-pereira we should not be displaying empty menus

[2016-03-18 22:34] luis-pereira commented on #983
@jleclanche Sure. Did not notice that's lxqt-panel. Thought was in libqtxdg.
This is probably an menu-cache issue.

[2016-03-18 23:05] luis-pereira commented on #983
@jleclanche It doesn't show up when using `XdgMenuWidget`

[2016-03-18 23:19] Esclapion commented on #983
@luis-pereira : yes,i knew that, i was only digging to understand why this item is displayed.

[2016-03-18 23:47] luis-pereira commented on #983
Everything points to menu-cache generation. Will dig a bit more.

[2016-03-19 06:35] palinek commented on #983
This was already discussed in #65 also.

[2016-03-19 09:00] selairi commented on #979
I have just update files. I have added default shortcuts:
- ctr + atl + T opens terminal
- Shift + F7 or F6 increases or decreases brightness.

You must delete ~/.config/lxqt/globalkeyshortcuts.conf in order to load defaults:
 rm ~/.config/lxqt/globalkeyshortcuts.conf

More defaults?

[2016-03-19 10:07] Vladimir-csp commented on #979
Browse #331 for some inspiration?

[2016-03-19 12:52] luis-pereira commented on #983
@palinek Wasn't aware of #65. So this is just a duplicated.
@Esclapion Discussion is (or was) happening at #65

[2016-03-19 12:54] Esclapion commented on #983
Thanks, i didn't read that. But nothing since December.

[2016-03-19 13:59] luis-pereira commented on #888
@palinek Will take a look

[2016-03-19 16:30] RalfJung commented on #106
I am seeing similar artifacts with the liferea RSS reader's tray icon. This is a try icon that KDE's xembed-sni-proxy has trouble with, too.

[2016-03-19 17:26] RalfJung opened #984 "lxqt-config-session/Default Applications: paths selected by file chooser don't get saved"
Steps to reproduce:
- Open lxsession configuration
- Pick some absolute path for the default browser or terminal, e.g. `home/r/bin/firefox/firefox`.
- Quit config
- Open config again

Actual behavior:
- The config now shows just `firefox`.
- After logging out and back in, `BROWSER` is set to `firefox` and tools like `sensible-browser` do not work.

Expected behavior:
- The full path should be prop

[2016-03-19 20:42] RalfJung opened #985 "An error occurred starting screensaver"
After leaving my laptop alone for some time, when I come back and unlock my screen, I always get the following message:

[code]

I have xscreensaver installed, and I have it enabled in the lxqt session configuration. However, I don't actually want a screensaver, so I picked "Disable Screen Saver" in "Preferences - Screensaver". I just tried setting that to "Blank Screen Only" instead and will see

[2016-03-20 08:42] RalfJung commented on #985
Even with the new configuration ("Blank Screen Only"), I am still seeing that error.

[2016-03-20 08:50] RalfJung commented on #775
This is still an issue with LXQt 0.10: The usual behavior of systems on suspend (default e.g. on KDE, Cinnamon, Windows) is that they come back up with the screen locked. This is important to prevent unauthorized access to the machine. LXQt should do the same.

[2016-03-20 08:54] RalfJung commented on #837
This looks like a duplicate of #775

[2016-03-20 09:14] RalfJung opened #986 "Default browser does not work"
I configured "firefox" to be my default browser. If I now click a link in an application (I tried Gajim and Liferea), they seem to just call "firefox" without any further arguments -- so the website that I clicked on is not actually opened.

With KDE and Cinnamon, this worked fine, so it seems that LXQt is doing something wrong in communicating the default browser to applications.

[2016-03-20 09:47] RalfJung commented on #775
There is no screen lock when I close the lid or select "Suspend" in the menu even if I enable screen locking in the screen saver configuration. (Which does not seem to be the default...?)

[2016-03-20 10:04] RalfJung opened #987 "LXQt Suspend fails with kernel 4.4"
I just upgraded my kernel to Linux 4.4. Ever since then, LXQt-triggered suspend fails: The machine seems to power down fairly well, but the power LED stays on (it should blink), the LED on my SSD stays on (it should go off), and most importantly I cannot wake up the machine again: Press the power button does nothing.

This *does* sound like a kernel issue, however, `systemctl suspend` works just f

[2016-03-20 10:52] RalfJung commented on #985
When interacting with xdg-screensaver directly, I can reproduce the error code 4 if xdg-screensaver is called when the screen is already locked. So I guess that's what is happening here.

[2016-03-20 11:07] Vladimir-csp commented on #986
How exactly did you configure it?

On the backend side, there should be correct desktop entry associated with `x-scheme-handler/http`, `x-scheme-handler/https` and may be some other schemes in `$XDG_CONFIG_HOME/mimeapps.list` or `$XDG_DATA_HOME/applications/mimeapps.list` (deprecated).

Desktop entry should have `Exec=/usr/lib/firefox/firefox %u` where %u is URL.

If you set default browser via Fi

[2016-03-20 15:05] RalfJung commented on #775
I now learned that I can use xss-lock <https://wiki.archlinux.org/index.php/Power_management#xss-lock> to automatically lock the screen on suspend, by adding this to the autostarts:
`xss-lock -- xdg-screensaver lock`

Now I wonder - do you expect distributions to do this? Should I report a bug in Debian to add xss-lock to the dependencies and to add such an autostart entry? Or would you rather do

[2016-03-20 15:12] RalfJung commented on #986
I went to the LXQt session configuration and picked `/home/r/bin/firefox.d/firefox` as default browser. As I reported in <https://github.com/lxde/lxqt/issues/984>, this got shortened to `firefox`. Still, `x-www-browser` and `sensible-browser` work fine, and so does `xdg-open https://url`.

I also set the default browser in Firefox itself.

The `mimeapps.list` contains
[code]

Of these, only `Firef

[2016-03-20 16:26] RalfJung opened #988 "Usability issue: "Add panel" hides previous panel"
It can quickly happen that one accidentally clicks "Add Panel", e.g. when slightly missing an icon in the system tray (resulting in the wrong context menu being opened).
LXQt then creates the new panel *on top* of the previous panel, which is a UI disaster: When this happened to me for the first time, I actually thought that I had accidentally *deleted* the old panel, and started manually adding t

[2016-03-20 16:39] intialonso commented on #988
+1 +It has happened to me before.

[2016-03-20 16:41] #837 closed

[2016-03-20 17:24] stefonarch commented on #988
+1 Happened to me too,   I had my underlaying panel increased so it was half cut away and I understood what has happened. Adding new ones on free edge of screen?

[2016-03-20 18:05] RalfJung opened #989 "Keyboard layout is reset when unplugging and replugging keyboard"
Steps to reproduce:
* Configure a non-default keyboard layout (e.g., I prefer the "no dead keys" variant of the German keyboard)
* Unplug the keyboard (I am on a laptop, so the internal keyboard remains)
* Re-plug the keyboard

Actual behavior:
* The keyboard configuration is reset, keys are dead again

Expected behavior:
* The configuration should persist

I am unplugging keyboard at least twice

[2016-03-20 18:52] palinek commented on #989
Please, check if this is the same as in #399

[2016-03-20 20:18] RalfJung commented on #989
How would I check that? That issue says it has been fixed. I am running LXQt 0.10, so I think the fix should be included. I can confirm that running "lxqt-session" after plugging in the keyboard fixes the layout. However, it also starts a second panel and seems to re-run the autostart scripts, so I don't think that's a solution.

I should notice that if I open the keyboard layout configuration aft

[2016-03-20 20:27] RalfJung opened #990 "Panel does not adapt to changed screen geometry"
Steps to reproduce:
* I have two screens, the laptop screen with 1366x768 and an external screen with 1920x1200.
* I use LightDM as display manager.
* After login, the screens are configured to their native resolutions, and both are at the same position in the screen layout. On the big screen, that looks like in the screenshot below. On the laptop screen, the panel is at the bottom and as wide as

[2016-03-20 20:32] RalfJung commented on #990
Potentially related: #906

[2016-03-20 20:34] RalfJung opened #991 "Cannot bind shortcut to print key"
I would like tor ecover the usual functionality of the Print key, by binding it to the ScreenGrab application with a global shortcut. However, that is not possible: When I select to "Add..." a shortcut and click the button to select the key, and press the print key, nothing happens. It does not seem to be accepted as a shortcut.

For now, I used Ctrl+Print instead, but it'd really be nicer to use

[2016-03-20 20:38] RalfJung commented on #991
Hm, actually it seems there is *something* running that does take a screenshot when I press Print and stores it in $HOME. I don't know what it is, and there is no response to indicate that anything happened, but it works, so that's good enough :)

[2016-03-20 20:38] #991 closed

[2016-03-20 21:53] RalfJung opened #992 "globalkeys daemon sometimes freezes"
In a couple dozen logins, it now happened twice for me that the `globalkeys` daemon froze. This was noticeable in the following ways:
- Pressing a shortcut did not do anything, until roughly a minute later.
- The panel would also freeze. Attaching gdb to the panel revealed the following backtrace

[code]

So it is blocking somewhere in `GlobalKeyShortcut::Action::changeShortcut`. (Doing blocking c

[2016-03-21 07:49] palinek commented on #989
Do you see [this note](https://github.com/lxde/lxqt-session/blob/master/lxqt-session/src/sessionapplication.cpp#L100) in *~/.xsession-errors* (or the systemd journal)?

[2016-03-21 08:20] palinek commented on #988
dup of #373

[2016-03-21 08:20] #988 closed

[2016-03-21 13:58] RalfJung commented on #989
There is nothing in `.xsession-errors`.

[2016-03-21 13:59] palinek commented on #989
How did you install/build the lxqt-session ?

[2016-03-21 14:04] RalfJung commented on #989
I am using the Debian testing packages.

[2016-03-21 14:21] palinek commented on #989
The "layout reappling" was dissabled in default build in [this commit](https://github.com/lxde/lxqt-session/commit/db818c25) ... however I don't believe it is a debian specific issue (it was originaly reported by Arch users)

@RalfJung I would be great if you could re-build the lxqt-session package with the  LIBUDEV_MONITOR enabled and test if it helps

@agaida please, consider enabling the LIBUDE

[2016-03-21 14:35] selairi commented on #991
I have found problems with Openbox shortcuts. Openbox already define a shortcut for Print key, and lxqt-globalkeysd can not use shortcuts defined by Openbox.

If you use another window-manager, like Afterstep, you will be able to use Print key or other shortcuts.

You can edit ~/.config/openbox/rc.xml in order to change Openbox shortcuts.

lxqt-globalkeysd doesn't show Openbox shortcuts and Openbo

[2016-03-21 16:28] luis-pereira commented on #967
The culprit where is the `-` in `ca.desrt.dconf-editor`. It's not part of the allowed characters.

[2016-03-21 16:59] RalfJung commented on #991
Oh, there are Openbox shortcuts? I didn't even know^^ obconf-qt does not even mention them. I'll look into that; I wanted to set up some WM-related shortcuts anyway.

[2016-03-21 17:05] Vladimir-csp commented on #991
There is a good GUI for that called obkey.

[2016-03-22 07:14] selairi opened #993 "lxqt-confupdate doesn't exists"
lxqt-session calls to lxqt-confupdate in startConfUpdate() method from lxqtmodman.cpp, but I can find lxqt-confupdate. What is lxqt-confupdate?

I have realized that lxqt-common default settings of openbox are not used. Should lxqt-confupdate apply those settings?

I want lxqt-common default settings for openbox to be applied. I could fix it by myself, but I need some answers.

Thanks

[2016-03-22 07:22] palinek commented on #993
IMO this is something rather oudated:
- https://github.com/lxde/lxqt-session/commit/f6b8e7cd
- https://github.com/Razor-qt/razor-qt/tree/master/razorqt-confupdate

[2016-03-22 07:32] palinek commented on #993
What do you mean by that?

[2016-03-22 09:39] ArthurBorsboom commented on #419
I have the same issue with Lxqt 0.10/0.11 on Arch.
Also right-click on the applications in the taskbar gives me a white (empty?) menu.

I have noticed that if I kill lxqt-panel and restart it, everything works again.

So, the issue seems to be only after a reboot.

[2016-03-22 13:41] selairi commented on #993
lxqt-common has got some files about Openbox. Openbox settings are in the "rc.xml.in" file. This file defines Openbox key shortcuts or themes when is used by LXQt. But this file is not used by Openbox when you start a LXQt session. Openbox uses "~/.config/openbox/rc.xml" instead.

Openbox has got "--config-file" argument. "--config-file" argument specifies the path to the config file to use. I gue

[2016-03-22 15:15] palinek commented on #993
IMO the `rc.xml.in` and `menu.xml` are just an examples of openbox configuration and as so installed into *.../share/lxqt/openbox* dir -> https://github.com/lxde/lxqt-common/blob/master/config/CMakeLists.txt#L10.

@jleclanche, @PCMan ?

[2016-03-23 16:06] RalfJung commented on #989
I patched the Debian package to explicitly set `-DLIBUDEV_MONITOR=ON`, that fixed the issue.

[2016-03-23 16:08] #989 closed

[2016-03-23 16:16] RalfJung commented on #992
I think I managed to catch `globalkeys` when it was frozen:

[code]

[2016-03-23 16:17] RalfJung commented on #985
I now simply disabled the idle watcher provided by LXQt, and rely on xscreensaver to lock the screen when the machine is idle. This also has more features, e.g. turning of the screen a few minutes before locking it.

[2016-03-23 16:22] agaida commented on #989
@RalfJung @palinek - we could for sure set this explicitly - or we could fix the logic behind. I'm in favour of the second option. :grin:

[2016-03-23 16:29] paulolieuthier commented on #992
Great. I'll take a look at that next week. Thanks!

[2016-03-23 16:31] RalfJung commented on #989
What is the logic supposed to be? Automatically detect presence of `libudev`?

In any case, until upstream releases a fixed version, it'd be nice to have a patch in Debian :)

[2016-03-23 16:57] agaida commented on #989
yes - and come online :D

[2016-03-23 17:03] palinek commented on #989
What logic do you want to fix? It's a 'feature' of X.org. If new input device is connected, the layout is reset to the global setting (that means /etc/keyboard in debian IIRC). (I can't search for it now)

Do you want to store the keyboard layout into system wide config? Or change the bahavoiur of X.org? Neither of those was the option in the time this issue was investigated, therefore we made thu

[2016-03-23 17:20] agaida commented on #989
@palinek have a look @ CMakeLists.txt - imho the way to go is

find($foo)
if found then
   bar
else
  baz
end

Right now in CMakeLists there is if (...), which is never set - makes no sense imho.

[2016-03-23 18:04] RalfJung commented on #989
@agaida @palinek I submitted a pull request which automates libudev detection <https://github.com/lxde/lxqt-session/pull/64>

[2016-03-23 18:55] palinek commented on #989
That's wrong. It's not about checking if libudev can be found. The feature requires libudev and will fail correctly if not found. But the feature must be explicitly enabled in build time. That is what i've suggested... `cmake -DLIBUDEV_MONITOR=yes....` how @RalfJung said before.

[2016-03-23 19:11] agaida commented on #989
erm - the CMakeList.txt will be parsed short before builds - and that should be enough. if this is not enough, a cmake override is still possible

[2016-03-24 13:23] jleclanche commented on #984
If you're using lxqt-session you should not be using lxsession-config

[2016-03-24 13:23] jleclanche commented on #984
cc @gilir

[2016-03-24 13:36] RalfJung commented on #984
Eh... okay, I guess I'm not what exactly I am using. I am using the "session settings" offered in "Preferences - LXQt settings". qps calls this `lxqt-session-config`. I guess all I did wrong is use the wrong name in the title of the issue?

[2016-03-24 13:45] jleclanche commented on #984
ok, that's something else then

[2016-03-24 16:20] RalfJung opened #994 "panel crashes on SIGTERM"
lxqt-panel crashes when it receives a SIGTERM:
[code]

This is happening only with lxqt-panel/master. I don't see a crash with the Debian packaged version (0.10).

[2016-03-24 17:17] bignaux opened #995 "[lxqt-panel] statusnotifier plugin broken : crash QT5 systray enabled apps"
Since QT 5.5 , Qt choose Status Notifier as default tray. Then, if statusnotifier is enable, all QT5 apps build on QT5 segfault on setContextMenu(). Workaround : disable it and keep only old tray plugin.

Env : LxQT 0.10.0-r1 / QT 5.7.0_alpha
Tested apps :  qtox, cmst, transmission-qt ,  QT 5.7 build.

ref : https://github.com/tux3/qTox/wiki/Tray-icon

[2016-03-25 09:45] sixsixfive opened #996 "[accessibility] add icons to all categories in settings dialogs"
comparison of panel settings, appearance settings, pcmanfm setting and obconf settings:

![a](https://cloud.githubusercontent.com/assets/3780774/14041847/058b57fa-f275-11e5-94c3-aaa53e73d9b3.png)

Just due the display of Icons for each category the panel and appearance settings make it alot more comfortable to find(easier and quicker) settings.

[2016-03-25 10:00] jleclanche commented on #996
I don't disagree for the short term. Long term we should really look into having unified looks for all our settings. Could discuss the tabs look as well...

Pasting these xfce refs here since I have them hanging around. We can discuss this some other time though.

![xfdesktop_2](https://cloud.githubusercontent.com/assets/235410/14042229/b6f2bc4e-f280-11e5-87bc-e7f4f324fd92.png)
![xfpm_3](https://c

[2016-03-25 13:45] Esclapion opened #997 "size of text widgets of lxqt widgets"
The text size of widgets desktopswitch and clock doesn't follow that of the icons in lxqt panel :

![wid](https://cloud.githubusercontent.com/assets/3512979/14045151/da1f93a6-f297-11e5-9dcb-ecea3e61f1d9.png)

[2016-03-25 13:46] Esclapion opened #998 "size of text widgets in lxqt panel"
The text size of widgets desktopswitch and clock doesn't follow that of the icons in lxqt panel :

![wid](https://cloud.githubusercontent.com/assets/3512979/14045151/da1f93a6-f297-11e5-9dcb-ecea3e61f1d9.png)

[2016-03-25 16:20] palinek commented on #997
I don't follow. What's the issue about?

[2016-03-25 17:22] intialonso commented on #997
I guess he expect the font to escalate with the icons, Im not sure.

[2016-03-25 18:32] Esclapion commented on #997
Exactly. I we use big icons, the text remains small, and it's bad to see.

[2016-03-25 19:52] tsujan commented on #997
When I put myself in a new LXQT user's shoes, I see the situation this way:

Like other widgets, the font size of the panel is set in Configuration Center → Appearance → Font. The clock is OK because its font can be set separately. Panel icon sizes can be defined in Configure Panel → Panel → Size. So far, so good! However, there seems to be no way of changing the Panel font and its size without ch

[2016-03-25 19:56] intialonso commented on #997
Why would you want a different font size in your panel than in the rest of your system? If you have eye problems the logic is to set ALL of your fonta to a big size, and that is what the global settings do.

Im against having different configurable font sizes for everything. It will lead to a incoherent UI, and redundant code.

[2016-03-25 19:59] tsujan commented on #997
The answer is this very issue! When there's a setting for changing a widget's icon size, there should be another setting for changing its font size.

[2016-03-25 22:49] Esclapion commented on #997
"The clock is OK because its font can be set separately.". I don't see how, else...

If i can do it manually, ok, but ?

[2016-03-25 23:13] tsujan commented on #997
Oh, sorry! I meant World Clock, which I use instead of "Date & time". I don't see any need to the latter when the former exists.

[2016-03-25 23:29] tsujan commented on #997
I forgot this part. Your argument isn't acceptable to me because:

(1) Here we're talking about a UI that's incoherent exactly because there's no font and font size setting for it;
(2) A code that enables users to set up a GUI according to their preferences can never be called "redundant" -- it's a feature. As far as I've known, we don't want to follow Gnome dev's policy of "minimalism". The goal

[2016-03-26 00:07] Esclapion commented on #997
(a bit off-topic)

How  can i get it (manjaro, so arch), please ?

[2016-03-26 00:07] intialonso commented on #997
I see the panel (and all what lxqt is) like a part in a system, not like independent pieces. What Im trying to say, is that (visually) having different font sizes in your windows, widget, panel, menus, etc is incoherent.

Esclapion had a problem some days ago with the color font and panel background because the "custom color setting", sometimes all that extra configuration options can lead to prob

[2016-03-26 00:11] Esclapion commented on #997
I always have this color problem, because the white color in the panel follows that of the theme. For the moment, i use a compromise.

[2016-03-26 00:12] intialonso commented on #997
@Esclapion It should be in your installation by default, under the Add plugins option from the panel.

![instantanea1](https://cloud.githubusercontent.com/assets/7544231/14056702/7368e1a0-f2bd-11e5-9a24-912018ddc960.png)

[2016-03-26 00:19] Vladimir-csp commented on #997
This might bring back the old discussion about default/no theme state for panel.
By the way, how does font size work from toolkit's point of view?
In GTK there is the font-name property with name and size, either in GTK config or in Xsettings. How does Qt do it?

I think, apps should take font size from some generic configuration (LXQt appearance settings in this case). But they could have an over

[2016-03-26 00:19] Esclapion commented on #997
Found, my bad. But you can set the size separately ? I will investigate.

[2016-03-26 07:56] selairi commented on #979
I have just added:

- XF86MonBrightnessDown or XF86MonBrightnessUp decrease or increase  brightness.
- Shift+Control+F6 or F7 decrease or increase  brightness (useful in desktop computers).
- Control+Atl+e opens pcman-qt
- Control+Atl+i opens web browser
- Control+Atl+t opens qterminal
- Print opens screenshot

If you use Openbox, you can read more defaults in /etc/xdg/lxqt/openbox/rc.xml.

[2016-03-26 08:05] selairi commented on #993
I have added a few lines in lxqt-session in order to load default Openbox settings.

Openbox settings for LXQt will be in "~/.config/lxqt/openbox", Openbox (no LXQt session) saves its settings in "~/.config/openbox" .

You can change Openbox settings for LXQt in "lxqt-common/config/openbox/rc.xml". I have erased some key shortcuts already defined in lxqt-globalkeys.

[2016-03-26 09:01] RalfJung opened #999 "lxqt-runner: Browse histroy with up and down keys"
It would be nice if pressing the up/down keys in the lxqt-runner would browse through the history, similar to a shell and the Plasma KRunner.

[2016-03-26 09:45] jleclanche commented on #979
Brightness controls are already handled by some other pieces of the stack though (still havent figured out which. systemd?)

[2016-03-26 11:16] tsujan commented on #997
I agree.

BTW, as an example of what may be said to be redundant, IMO "Date & time" can be removed because all of its functionality and more can be found in World Clock. I guess "Date & time" was made first and World Clock later. The "maximalism" of KDE isn't a good pattern to follow either.

Display format → Advanced manual format → Customize. Try something like:
[code]
I don't know why the meani

[2016-03-26 11:21] tsujan commented on #997
Yes, and most of them do so. But some special apps, like the panel, need to override it optionally because of the jobs they do. Those are usually the apps whose icon size can be set separately.

[2016-03-26 12:54] Vladimir-csp commented on #999
+1

[2016-03-26 13:00] Vladimir-csp commented on #979
It's ethier something that binds XF86MonBrightnessUp XF86MonBrightnessDown, or hardware itself.

- Control+Alt+...

So, you leave one handily situated and readily available button without any useful function? (#331)

[2016-03-26 13:03] Vladimir-csp commented on #997
The rest of my message says relatively the same.

[2016-03-26 16:25] pmattern commented on #780
@luis-pereira ad https://github.com/lxde/lxqt-session/pull/57#issuecomment-197569455:
→ lxde/lxqt-session@8f653bd Obviously alright. Didn't make it to `./lxqt-config-session/translations` yet but this seems to be due to the fact that the directory hasn't been updated since.
→ lxde/lxqt-session@01d62e5 IMHO the English has got some rough edges but not 100% sure how to put it better, maybe we'll get

[2016-03-26 18:46] pmattern commented on #967
@luis-pereira
Using lxde/libqtxdg@29652fb dconf-editor gets launched using its faulty desktop entry file, too.
I think it's pretty good to have this fallback feature for the reasons stated [above](https://github.com/lxde/lxqt/issues/967#issuecomment-192989815).

On a side-note I'm not that sure whether lxde/libqtxdg@b9af1d3 really violates the specification. Sure, it says

But actually that's what

[2016-03-26 19:30] pmattern commented on #976
@palinek
You were right. Problem has nothing to do with the one of PCManFM-Qt stated in the first comment (which persists as of lxde/pcmanfm-qt@7ef9555, btw.) but got fixed in lxde/libqtxdg@b85f5fd (lxde/libqtxdg@18a4abf itself didn't compile on Arch Linux).

@luis-pereira
While I personally agree icons are better of in theme hicolor the number of applications which keep using `/usr/share/pixmaps`

[2016-03-26 20:19] palinek commented on #976
pcmanfm-qt doesn't use libqtxdg.

[2016-03-26 22:10] luis-pereira commented on #967
@palinek The specification states that if the DBusActivatable key is present, the Exec should be ignored.
You are not doing that.

[2016-03-26 22:14] luis-pereira commented on #780
@pmattern Without https://github.com/lxde/lxqt-session/commit/1e7f82c if the user closed the dialog with an empty entry, the working directory would be set as the chosen dir

[2016-03-26 22:23] selairi commented on #979
I thought about that. Finally, as some systems are not implemented, I decided to keep XF86MonBrightnessUp-Down key shortcuts. The biggest problem is that brightness is set twice in some systems. But... is this a real problem?. Linux driver doesn't do anything if the set value is the same.

Control+Alt+... is well known as shortcut. Missing of ctr+atl+t could be considered as a bug:

https://bugs.l

[2016-03-26 23:57] Vladimir-csp commented on #979
That bug was about shortcut not working as configured.

LXQt, as a new and fresh DE, could introduce some much more logical and streamlined shortcut configuration instead of hacky  ctrl+alt stuff which is probably being dragged along from the times when you-know-which-OS hadn't yet introduced that 'other' key.

[2016-03-27 07:26] selairi commented on #979
Maybe a first start message is needed, like Ubuntu Unity one:

http://i.stack.imgur.com/pf1y5.png

Then we can explain users how to use the desktop and introduce new features.

[2016-03-27 07:32] Vladimir-csp commented on #979
+1
I also use a similar thing based on conky as an introduction to the interface and a quick help for my office users. (bash wrapper which launching and chain-closing multiple conky windows showing environment overview, hints, shortcuts and other info).

[2016-03-27 08:03] selairi commented on #979
Maybe it could be a txt file. A simple tool must read LANG environment variable and load required translation. It should be in autostart and disable itself after first run.

I have just added aero snap in openbox using mouse wheel over tittlebar. It is useful. :smile:

[2016-03-27 17:14] palinek commented on #967
Me? It was meant to @pmattern, right?

[2016-03-27 19:39] paulolieuthier commented on #998
Duplicate: #997.

[2016-03-27 19:39] #998 closed

[2016-03-27 19:45] paulolieuthier commented on #995
I use Qt5 version of QTransmission and status notifier with no problems here.

[2016-03-27 22:29] #967 closed

[2016-03-27 22:42] goetzc opened #1000 "Panel: lock widgets"
It would be useful to be able to lock the panel widgets in place, to avoid accidentally moving or deleting them.

[2016-03-27 22:43] tsujan commented on #1000
+1

[2016-03-27 23:06] luis-pereira commented on #967
@palinek Yes, Sorry ...

[2016-03-28 09:09] RalfJung opened #1001 "lxqt-panel: Running a .desktop file does not honor "Terminal=true""
Steps to reproduce:
- Make sure you have a .desktop file in your menu that sets "Terminal=true". For example, on Debian, install "bmon"; or jut create one.
- Start the .desktop file from the menu

Actual behavior:
Nothing seems to happen.

Expected behavior:
The application should be started in a terminal.

More information:
With the following small test application:

[code]

I get the following o

[2016-03-28 10:10] selairi commented on #979
This a simple picture with actual key shortcuts. It could also be used as start message. It is a SVG file. I could write a tool that translates Shift, Ctr, Alt,... if necessary:

![02 svg](https://cloud.githubusercontent.com/assets/1163139/14075803/9ea9fcac-f4dc-11e5-83ef-8ce298586777.png)

[2016-03-28 11:57] agaida commented on #433
Right, we should use TERM only for its original meaning - setting TERM. So a renaming might make sense. And TERM make sense to to set TERM to xterm or xterm-256colors at wish for the session. I might be mistaken, i'm not so much into terminals and terminal settings.

[2016-03-28 12:05] stefonarch commented on #979
Maybe it is me but I have problems "reading" icon language, I would suggest to have text too below the images.

[2016-03-28 12:07] stefonarch commented on #1000
+1

[2016-03-28 12:31] Vladimir-csp commented on #433
TERM should only be set to something that present in terminfo database and actualy makes sense, otherwise CLI applications that rely on checking for certain teminal features will fail.

At least in Debian terminfo is located in `/usr/share/terminfo/`, and xterm-256colors is a good default for GUI sessions. Some terminal emulators will set it themselves, at least if value was not set before.

[2016-03-28 14:01] paulolieuthier commented on #995
@bignaux how did you install LXQt? Did you install lxqt-qtplugin??

[2016-03-28 14:22] selairi commented on #979
It would be easier for us if translate only icons that are more difficult to understand. Please, which icons are more difficult?

OK.

[2016-03-28 14:24] agaida commented on #433
+1 - the values was only possible examples - but TERM=qterminal or so is clearly a misuse and fortunately ignored in the environment

[2016-03-28 14:54] paulolieuthier commented on #999
I just submitted a PR to fix showing history with the down key.

[2016-03-28 15:44] Vladimir-csp commented on #999
Do you mean showing history with **up** key, I hope?

[2016-03-28 15:46] paulolieuthier commented on #999
Down, really. It was buggy for me.

[2016-03-28 15:49] Vladimir-csp commented on #999
The history is usually up.

[2016-03-29 06:48] palinek commented on #994
I'm not able to reproduce it here...

@RalfJung can you, please, check if the lxde/lxqt-panel#313 fixes this for you.

[2016-03-29 07:46] palinek commented on #1001
ref. #433

[2016-03-29 09:54] luis-pereira commented on #1001
@RalfJung Do you have xterm installed ?

[2016-03-29 09:56] luis-pereira commented on #433
I'm working on fixing default applications in libqtxdg.  After that goes in, the TERM usage will be dropped.

[2016-03-29 10:03] palinek commented on #433
+1, looking forward for this to land...

[2016-03-29 10:56] RalfJung commented on #1001
Nope, I removed it. I use terminator for my terminal. I was annoyed by XTerm and UXTerm cluttering the "System Tools" menu.

Note that there is no dependency of the lxqt packages to xterm in Debian.

[2016-03-29 13:16] pmattern commented on #984
Confirmed, albeit a bit different than depicted above.

In `lxqt-config-session` - "Default Applications" (left pane) - "{Terminal Emulation,Web Browser}" (right pane) absolute paths aren't saved at all when they are selected by dialogue window "Select a {terminal emulator,web browser}" as launched by buttons `Search...`. The usual dialogue "Some settings will not take effect until the next log in

[2016-03-29 13:29] pmattern commented on #433
On a side note it seems the settings at `lxqt-config-session` - Default Applications - Terminal Emulation don't get taken into account at all right now.
What ever setting is made ends up in $TERM value "xterm" (which is of course correct).

Couldn't we eventually address handling of default applications as a whole on this occasion?
From a user's point of view this is one of the not so numerous lar

[2016-03-29 13:42] luis-pereira commented on #986
Confirmed.

[2016-03-29 13:42] Vladimir-csp commented on #433
Until XDG comes with the way of selecting the default terminal properly (which may take very long time), the best way to address this IMHO is via environment variable. That is because:

1.  exec arguments and quoting should be addressed.
2.  default terminal currently does not fit into MIME stuff.

`LXQT_TERMINAL_EMULATOR=qterminal -e %a`

Another quoting-related hurdle: How do I properly exec `qt

[2016-03-29 14:10] RalfJung commented on #984
No, I don't. And you could always set BROWSER to xdg-open such that it uses the XDG mechanism. (In fact, that's what I am going to do right now; and I hope I will remember this and never change BROWSER again^^).

[2016-03-29 14:56] pmattern commented on #984
You did notice the workaround I've been posing above?

[2016-03-29 15:13] RalfJung commented on #984
About entering the complete path directly? I did. But I need to set the default browser the XDG-way anyway for other applications to work. So then I'd rather use only the XDG configuration, and not think about BROWSER anymore.

[2016-03-29 15:44] pmattern commented on #1001
I can confirm the problem running LXQt 0.10 from the official repositories of / on Arch Linux and Debian testing but it's fixed in VCS as bmon using its desktop entry file of Debian (not provided by Arch Linux) starts flawlessly on Arch Linux using recent VCS checkouts.

LXQt seems to accept QTerminal only, though. On the said Arch Linux VCS system bmon does not get started if QTerminal lacks besi

[2016-03-29 16:00] LStranger commented on #1001
This isn't true. LXDE never was and never would depend on some exact terminal emulator, it accepts any one, for example I usually use Konsole and I know people who use more exotic ones like lilyterm, etc. And if any LXDE component ever fails with some terminal emulator that is always considered a bug and gets fixed.

[2016-03-29 16:47] pmattern commented on #1001
@LStranger
You do realize the said restriction applies to launching desktop entry files featuring `Terminal=true` only?
As a matter of fact attempts to launch desktop entry files featuring the said key just trigger a warning "Failed to execute child proces..." on Arch Linux if both LXTerminal and Xterm lack while e. g. Konsole, QTerminal, Terminator and Xfce4 Terminal are available. Turned out tha

[2016-03-29 19:06] stefonarch commented on #999
I notice that moving trough history and just closing runner without starting nothing it reopens with history  open (same goes for typing some characters without starting the application I see).

Clean all on close would be better IMHO.

History limit is last 15 item, right?

[2016-03-29 19:29] paulolieuthier commented on #999
https://github.com/lxde/lxqt-runner/blob/master/providers.cpp#L54

[2016-03-29 19:52] pmattern commented on #780
@luis-pereira
I see, if `lxqt-config-session` gets launched from a terminal emulator, right? Thanks for clarifying.

[2016-03-29 19:53] paulolieuthier commented on #999
Done.

[2016-03-29 20:49] selairi opened #1002 "Openbox default settings in LXQt"
The standard path for openbox settings in LXQt is "~/.config/openbox/rc.xml". But openbox can be used as a desktop by itself (adding some tools).

I think to use another path for Openbox like "~/.config/**lxqt**/openbox/rc.xml" it better for us, because we can change default behaviour of openbox.

Another option is to use "~/.config/openbox/lxqt-openbox-rc.xml" instead the default "~/.config/openb

[2016-03-29 20:54] paulolieuthier commented on #994
I was trying to fix this yesterday, but I'm getting a segfault from KWindowSystem instead:

[code]

[2016-03-29 20:58] paulolieuthier commented on #994
And if I remove the taskbar plugin:

[code]

[2016-03-29 21:00] RalfJung commented on #994
This doesn't look like a SIGSEV, it looks like the SIGTERM that you sent to the application? It's kind of expected that we see those somewhere where the application blocks. I get that, too, of course, then I press "c" to continue executing the application, and *then* I see a SIGSEV.

[2016-03-29 21:00] paulolieuthier commented on #927
I don't reproduce it anymore. Qt 5.6.0-2 and KWindowSystem 5.20.0-1 on Arch.

[2016-03-29 21:08] paulolieuthier commented on #994
I get the same results with SIGSEGV.

[2016-03-29 21:23] pmattern commented on #994
In qps there's a [crash](https://github.com/QtDesktop/qps/issues/13) the traces of which look a bit similar to the ones of the problem discussed here.
Those crashes seems to be related to Qt 5.*6* as they got manifest only after compiling the latest commit of qps against this version but not during the roughly four weeks I was running the very same commit compiled against Qt 5.*5*.

Btw. I can con

[2016-03-29 21:27] Vladimir-csp commented on #1002
I wonder how openbox treats other configuration files (autostart, environment, menu.xml) when --config-file is used.

[2016-03-29 21:31] pmattern commented on #1002
@selairi
Just to avoid confusion, the path in the first line of the first comment should be `~/.config/openbox/rc.xml`, shouldn't it?

[2016-03-29 21:59] selairi commented on #1002
Yes. The the default path is ~/.config/openbox/rc.xml.

"menu.xml" is defined by "rc.xml" (in menu section.). Regarding autostart and environment, I read from [Wiki of Openbox](http://openbox.org/wiki/Help:Autostart):

I have just opened `openbox_default_path` branch and I tested the changes. It works OK.

In `openbox_default_path` branch "~/.config/openbox/lxqt-openbox-rc.xml" is used. Maybe this

[2016-03-29 22:07] Vladimir-csp commented on #1002
I assume, the main reason for separate config is keyboard shortcuts. Specifically, window management shortcuts.
What would the direction be? Would lxqt-config-globalkeyshortcuts get the ability to read/write openbox wm shortcuts, or would lxqt-globalkeysd get the ability to issue generic NetWM commands to compatible window managers?

[2016-03-29 22:14] selairi commented on #992
lxqt-globalkeyd freezes when I start LXQt session and press any key shortcut. If I wait some minutes after session start, it works.

[2016-03-29 22:39] selairi commented on #1002
Not only do we change key shortcuts, but we can also change mouse actions, for example, we can use mouse wheel to organize tile windows very fast. You can do it by adding the code below in `<context name="Titlebar">`:
[code]

Sorry, I don't know. Why do you need to know that? I guess what you want lxqt-globalkeysd to change window manager keyboard shortcuts.

[2016-03-30 00:23] ms6676749 opened #1003 "[lxqt-session] Latest git build failure"
System: Arch
PKGBUILD used: https://aur.archlinux.org/packages/lxqt-session-git/

The PKGBUILD changed a few days ago changing the version number and adding the package 'xdg-user-dirs' as a dependancy.  Prior to this change, I successfully built this package (3/21/16) when manually adding xdg-user-dirs to the dependancy array of its PKGBUILD.

Build error msg: /home/user/Projects/lxqt-desktop-git/

[2016-03-30 00:24] paulolieuthier commented on #1003
Update libqtxdg.

[2016-03-30 00:24] #1003 closed

[2016-03-30 00:33] palinek commented on #999
Actualy, the "not clearing feature" is something I rahter like

[2016-03-30 00:39] #999 closed

[2016-03-30 00:39] paulolieuthier commented on #999
OK, I merged the commit that actually concerns this issue.

[2016-03-30 00:41] palinek commented on #1002
I would suggest just the $XDG_CONFIG_HOME/**openbox/lxqt-rc.xml**

Ad lxqt-session@dd53083f1205d6e858dd26f5b2dd53f0e96a9418: IMO we should get lxqt-session simple and the optional configuration file copying should be performed in the [startlxqt script](https://github.com/lxde/lxqt-common/blob/master/startlxqt.in)

[2016-03-30 00:57] ms6676749 commented on #1003
Thanks, compiles fine now...

[2016-03-30 01:00] paulolieuthier commented on #1003
No problem! :smile:

[2016-03-30 01:00] palinek commented on #1001
As a matter of fact attempts to launch desktop entry files featuring the said key just trigger a warning "Failed to execute child proces..." on Arch Linux if both LXTerminal and Xterm lack while e. g. Konsole, QTerminal, Terminator and Xfce4 Terminal are available. Turned out that this particular problem disappeared on a Debian testing system providing the very same terminal emulators by using a n

[2016-03-30 05:29] Vladimir-csp opened #1004 "lxqt-config-file-associations: expose more of the spec"
Besides default applications, XDG MIME spec defines added and removed associations. There also exist x-scheme-handler/\* protocol entries. I'm opening this issue to formalize lxqt-config-file-associations feature requests.
- [ ] add manipulation of added/removed associations

Similar to "Default application" section in the main window, add list of associations with add/remove buttons.
- [ ] add x-

[2016-03-30 06:33] selairi commented on #1002
OK

Users can change the window manager in LXQt. startlxqt script can not read those changes. Maybe the missing lxqt-confupdate tool have to do that, [#993](https://github.com/lxde/lxqt/issues/993). lxqt-confupdate is called by lxqt-session. lxqt-session calls first lxqt-confupdate, then it runs the window manager.

Maybe the call to lxqt-confupdate must be moved from lxqt-session to startscript.

[2016-03-30 06:37] palinek commented on #1002
Startlxqt doesn't need to know anything about the selected window manager. It just checks the existence of the $XDG_CONFIG_HOME/openbox/lxqt-rc.xml and optionaly copies the default configuration from /etc/... (or /usr/share/... whatever).

[2016-03-30 06:45] RalfJung commented on #994
I am using Qt 5.5 both for compiling lxqt-panel and for running it.

[2016-03-30 07:00] selairi commented on #992
lxqt-globalkeysd only freezes at session start. I killed lxqt-globalkeysd and I restart it and it works OK. I can not freeze it again.

I have also tried to launch a plain openbox session. Then I run dbus-lauch and lxqt-globalkeysd, but everything it is OK.

[2016-03-30 07:33] stefonarch commented on #927
Just tested on my account with same qt version &arch but it's still the same, have to test it on a clean user.

[2016-03-30 07:46] Vladimir-csp commented on #643
I'm confirming lxqt-config-* windows (at least some I've checked) jumping back to center on desktop switch. (Debian testing, no related rules in openbox).
No window should interfere with WM placement policy unless there is a specific need for that.

[2016-03-30 07:46] LStranger commented on #1001
There are no restrictions for that in LibFM. Yes, if you don't select your terminal then it uses default fallback which is Xterm and I think in your Arch the default setting is LXTerminal, it's why it searches for those two, but it's not a restriction but just your settings.

No, you will not get any error. If LibFM does not know call parameters for a terminal then it prints a warning to error out

[2016-03-30 08:25] selairi commented on #992
I think that I found the bug:

lxqt-globalkeysd use a thread to talk with X11, I am going to call this thread "X11-lxqt-thread". Methods can talk with "X11-lxqt-thread" using pipes. Methods can register or unregister keyboard shortcuts using those pipes. In order to register a keyboard shortcut methods write orders in mX11RequestPipe pipe and wait the response from mX11ResponsePipe pipe.

But what

[2016-03-30 14:45] YamashitaRen opened #1005 "Useless empty submenu in Application Menu"
Some weeks ago, I decided to remove useless applications in my Application Menu.
In order to achieve that, I created "hidden" entries in ~/.local/share/applications.
Now, I haven't any application in "Autre" (french for "Other") but the now empty submenu is still there.
I think that it should be automatically removed.

http://pix.louiz.org/o/kgzCJ.png

[2016-03-30 14:58] Esclapion commented on #1005
Yes, I have the same problem. It's probably to bind with empty item in the menu.

For the moment, I hide "Autre" by putting in /usr/share/desktop-directories a file lxde-other.directory containing NoDisplay=true.

[2016-03-30 15:08] pmattern commented on #1005
Already discussed in #65.

[2016-03-30 15:08] #1005 closed

[2016-03-30 16:29] pmattern commented on #986
Section "Default Applications" of `lxqt-config-session` is indeed setting environment variables only.
To deal with MIME types / [MIME Applications Specification](http://www.freedesktop.org/wiki/Specifications/mime-apps-spec) there's binary `lxqt-config-file-associations`. It's still writing in `$XDG_DATA_HOME/applications/mimeapps.list` instead of `$XDG_CONFIG_HOME/mimeapps.list` and it's UI isn't

[2016-03-30 16:45] YamashitaRen commented on #1005
Thanks for the workaround @Esclapion

[2016-03-30 21:59] pmattern commented on #990
As well as #650 and #680.

[2016-03-31 06:50] RalfJung commented on #990
#650 is not entirely fixed by my PR. If you have two overlapping screens, LXQt will still select one of them (the primary one, if one of them is primary) and put the panel at the bottom of that screen. This looks really ugly on the other screen.

I guess the alternative would be to put it at the bottom of the highest screen, and make it as wide as the widest screen. The it wouldn't look ugly on th

[2016-03-31 07:13] Vladimir-csp commented on #990
I tried to introduce some concepts of dealing with with this stuff via positional placement instead of numbering monitors, but it was rejected (#523)

[2016-03-31 08:58] selairi commented on #992
Hello,

I have just opened a new branch called ` test-mutex `. In this branch X11 key events are disabled until all keyboard shortcuts are registered (session start) or when a shortcut is being registered or deleted (session already started). It works OK for me.

Could @RalfJung be so kind as to test it?

[2016-03-31 10:17] RalfJung commented on #986
I agree, this bug is essentially saying "the lxqt-session-config does not set the XDG default browser".

[2016-03-31 10:21] RalfJung commented on #992
The bug is not reproducible, it only happens roughly one in ten times. Testing does not help much. I will investigate the code to try and understand the issue, and the fix -- but I'm not sure when I will have the time.

[2016-03-31 10:24] Vladimir-csp commented on #986
lxqt-config-session already has "Environment" tab. "Default Applications" could be dropped as there is nothing worth being specially edited there.
Default browser functionality is covered by #1004 in lxqt-config-file-associations where it logically belongs.

[2016-03-31 11:13] pmattern commented on #986
Exactly.

Agree, but should probably discussed elsewhere, see below.

So this issue is yet another indication that dealing with default applications / MIME types in LXQt needs to be addressed but the discussion should take place elsewhere, maybe in #433, #1004 or even in a new issue summarizing all aspects involved.
Thus closing this one, feel free to grumble if you disagree.

[2016-03-31 11:13] #986 closed

[2016-03-31 11:25] paulolieuthier commented on #990
Each panel has a configuration option to set where it is supposed to be. IMO, by default the panel must be in the primary screen.

[2016-03-31 11:41] palinek commented on #101
Now we (my + paulolieuthier) believe the lxde/lxqt-panel#309 is ready to ship. Any thoughts on it are welcome.

[2016-03-31 12:45] tsujan commented on #101
@palinek
It's nice. Merge it and more feedback will be received after a while!

[2016-03-31 12:55] stefonarch commented on #101
For me it's ready and perfect, lacks only some work from italonso in the
themes as promised.

[2016-03-31 12:56] palinek commented on #101
OK... merging

[2016-03-31 13:01] palinek opened #1006 "[lxqt-panel] Style new mainmenu search elements"
The search in mainmenu brings new elements which are not styled by themes right now.

@intialonso can you take it?

[2016-03-31 13:07] intialonso commented on #1006
Absolutely.
Im working on it.

[2016-03-31 13:13] palinek commented on #1006
Thanks.

[2016-03-31 15:28] RalfJung commented on #990
I don't disagree. It doesn't look pretty, but it's hard to do better. IMHO the DM should leave X11 in a different state (mirrored) to better sync the screens; LXQt cannot do much.

[2016-03-31 17:27] tsujan commented on #101
There is minor bug.

When I updated lxqt-panel and re-ran it with Session Setting → Panel, in less than a second, a window appeared and dissapeared again. I could catch a screenshot with vokoscreen:

![floating](https://cloud.githubusercontent.com/assets/981076/14184635/5d331432-f78b-11e5-88ef-228b8ed32196.jpg)

As you see, the panel is being shown (compton faid effect) but before that, the search

[2016-03-31 17:32] tsujan commented on #101
Yet another new problem:

Starting from the second time the main menu is shown by clicking on its button with mouse, the cursor changes from the pointer to the edit shape.

[2016-03-31 19:17] tsujan commented on #101
The second issue above can be partially fixed by setting and un-setting the read-only mode like this:
[code]
However, it's quite unnatural to see the edit cursor after clicking on a button just because a line-edit is focused somewhere else (not under the cursor).

[2016-03-31 20:10] tsujan commented on #101
The first issue (flashing little window) is fixed by removing these from `settingsChanged()`:
[code]
and adding these to `showMenu()`:
[code]
@palinek
Sorry for my bad style: I didn't make a PR because I didn't have time and, moreover, I wanted a fix for the second problem too.

[2016-03-31 21:15] palinek commented on #101
@tsujan thanks for reporting and for the solution suggestion. Please, check the lxde/lxqt-panel#314

[2016-03-31 21:51] tsujan commented on #101
With the last 2 problems fixed, I close this. Probable issues should be reported separately.

[2016-03-31 21:51] #101 closed

[2016-04-01 00:12] pmattern commented on #419
@ArthurBorsboom
Any chance you can try and verify this on a system running all LXQt components from latest VCS checkouts? Plenty of changes have been taking place since release 0.10.

[2016-04-01 01:52] intialonso commented on #1006
I did some experiments with our main theme (Frost) [today](https://github.com/lxde/lxqt-common/commit/754f6d99ba362e7c3d515fdb4c46392b34c4888e):

![search](https://cloud.githubusercontent.com/assets/7544231/14195749/784e9cfe-f782-11e5-877f-1f3b3a178de0.png)
![Uploading search-result1.png…]()
![search-result2](https://cloud.githubusercontent.com/assets/7544231/14195751/78558960-f782-11e5-850a-2086c

[2016-04-01 06:34] ArthurBorsboom commented on #419
I have been replacing so many objects lxqt and non lxqt, that the issue has been resolved. Unfortunately I am not sure what the solution was, so I guess we can close this issue until it happens again. Then I will perform a better debugging session.

[2016-04-01 07:25] palinek commented on #1006
I had a look into the Qt sources and we probably can't do much with it, it overrides the `paintEvent()` with no styling possibility (note the `QPainter` instead of `QStyledPainter`):
[code]

... also positioning of the icons inside `QLineEdit` is hardcoded:
[code]

We can remove the clearbutton...

@tsujan you're the "styling guru", what do you think?

[2016-04-01 08:10] filat0ff opened #1007 "Broken .desktop files"
In files
lxqt-config.desktop
lxqt-config-appearance.desktop
lxqt-config-file-associations.desktop
lxqt-config-input.desktop
lxqt-config-monitor.desktop

When launch update-desktop-database I see that message:
"Could not parse file "/usr/share/applications/lxqt-config.desktop": Key file contains line 'Binary file /build/lxqt-config/src/lxqt-config-0.10.0/src/translations/lxqt-config_ar.desktop matc

[2016-04-01 08:58] City-busz opened #1008 "Leave dialog no longer shown after update to Qt 5.6"
After updated my system to Qt 5.6, the leave dialog no longer shown. When I run 'lxqt-leave' without any option, nothing happens. However, it still works when I specify an option (e.g. --logout).

Package versions:
- qt5-base 5.6.0
- lxqt-session 0.10.0

Distribution: Arch Linux

[2016-04-01 09:21] Esclapion commented on #1007
I confirm for lxqt-config.desktop, there is junk in it, easy to see. I took the preceeding one to solve it.

[2016-04-01 10:30] #923 closed

[2016-04-01 10:33] tsujan commented on #1006
Most theme engines rely on qcommonstyle for such icons. qcommonstyle first tries to find `edit-clear-locationbar-rtl` (or `edit-clear-locationbar-ltr` ro RTL) in the icon theme and if not found, it will use Qt's internal `cleartext-16.png`.

Margin setting and positioning should be done by the style engine. With some engines, they can be changed by the user *globally* but most engines have fixed v

[2016-04-01 10:57] pmattern commented on #419
@ArthurBorsboom
Alright then and thanks for helping improve LXQt. We can handle this as you proposed (except we don't need to close this issue which is already closed :blush: ).

[2016-04-01 10:59] #974 closed

[2016-04-01 11:02] tsujan commented on #1006
Let me be a little more specific:

When you set a style value in the code, you'll have to set all other *related* values too. Only if you do so, everything will be OK. For example, if you set the text color, you should set the background color, the selected bg color, and the selected text color too.

The problem is that, sometimes there are so many interrelated values. For example, lineedit is dra

[2016-04-01 11:09] intialonso commented on #1006
Ok, so let the clear button alone. Is just the position what bothers me but is not that bad.

[2016-04-01 11:20] tsujan commented on #1006
Here, without any stylesheet, the search widget is so:

![2016-04-01-15 39 26-scrot](https://cloud.githubusercontent.com/assets/981076/14205534/24b36576-f821-11e5-8b96-6c2d4317bc05.png)

The left blue strip, the blue focus frame, frame widths, item heights, etc. are those of the globally used theme.

My point: there's a limit to making a specific menu stylish while, for example, Fusion is used. It

[2016-04-01 11:37] tsujan commented on #994
No crash for me, with Debian Testing and LXQT compiled from the git sources.

@RalfJung Do you have a 32-bit tray icon like Skype's? Which tray icons do you usually have?

[2016-04-01 11:40] tsujan commented on #1008
Are you sure that all LXQT components are *recompiled* against Qt 5.6?

[2016-04-01 11:46] City-busz commented on #1008
I'm using the packages from the official repositories, which are not recompiled. But the existing packages should work after minor Qt version updates.

[2016-04-01 12:03] RalfJung commented on #994
In terms of "old-style" tray icons, I have nm-applet, Thunderbird (via FireTray), Gajim and sometimes Liferea.

[2016-04-01 12:11] tsujan commented on #1008
Not always. Sometimes there are backward incompatible changes. The question remains whether some code should be changed or a recompilation should be done for Qt 5.6.

[2016-04-01 12:13] tsujan commented on #994
It would be informative if you test without them, one by one.

[2016-04-01 12:18] pmattern commented on #1008
Confirmed, basically as described above.
After recompiling this morning's VCS checkouts of LXQt on up to date Arch Linux the GUI of `lxqt-leave` (so no additional arguments) doesn't come up any longer.

This problem used to affect invocations like `lxqt-leave --foobar` as well. Discussing this issue on freenode #lxde (2016-03-28 15:24 UTC in case anybody has logs) resulted in lxde/lxqt-session#65.

[2016-04-01 12:19] RalfJung commented on #994
Actually, I see crashes even with no tray item.

Maybe it is related to the way I test this -- I log into a session which spawns the lxqt-panel provided by Debian (which does not crash), and then I go to the build directory of the panel and do
[code]
After some seconds, I will do that again. Then the first panel/lxqt-panel crashes.

[2016-04-01 12:38] pmattern commented on #974
@selairi
Right now the usual template file `lxqt-config-brightness.desktop` is still missing. Shouldn't this be extracted from the code into directory `./lxqt-config-brightness/translations/` as well?
This is common practice in all other components in order to ease translation for contributors as Pootle or something similar still isn't available.

[2016-04-01 13:21] luis-pereira commented on #1008
@City-busz Fixed in master. Try it.

[2016-04-01 13:50] tsujan commented on #994
`killall lxqt-panel ; sleep 0.5 ; lxqt-panel` doesn't cause any crash here.

[2016-04-01 14:34] pmattern commented on #1008
Ups, I was erroneously assuming I'd still be running branch `fix-leave-dialog` when posting my previous comment.
Everything alright here again as of lxde/lxqt-session@3acb9fe.

[2016-04-01 14:56] pmattern opened #1009 "lxqt-leave: GUIs flickering if invoked from lxqt-runner under Openbox"
When the GUIs corresponding to invocations `lxqt-leave --foobar` are launched from the menu of lxqt-runner they come up sort of flickering, apparently due to rapidly getting and loosing focus.

Problem seems to be related to the window manager as it cannot be seen with KWin or Xfwm4 but Openbox, the latter using the vanilla configuration provided by upstream.
Finding can be made most of the time w

[2016-04-01 15:23] pmattern commented on #985
Setting "Mode: Disable Screen Saver" of XScreenSaver's GUI `xscreensaver-demo` just ensures that none of the available screensavers gets launched but doesn't stop the daemon binary `xscreensaver`.
The daemon can be prevented from starting at sessions' beginning by unchecking the box at `lxqt-config-session` Autostart - LXQt Autostart.
(Eventually turning the daemon into a so-called "LXQt Module" w

[2016-04-01 15:25] Vladimir-csp commented on #985
disabling xscreensaver daemon will make screen locking impossible.

[2016-04-01 15:42] pmattern commented on #991
... the development of which is basically stalled. This applies to both the [initial project](https://code.google.com/archive/p/obkey/) as well as the fork provided e. g. by Arch Linux [AUR package obkey-git](https://aur.archlinux.org/packages/obkey-git/) the maintainer of which once stated that he basically just wants to port the tool to current software to keep it usable but doesn't intend any r

[2016-04-01 15:58] Vladimir-csp commented on #991
I just pointed out its existence, I did not suggest including it into LXQt :)
AFAIK, it is the only such tool available. Maybe some bits of the code can be salvaged though.

[2016-04-01 16:02] pmattern commented on #991
Sure, but no offense intended anyway. Just a supplementary note as it is indeed the only available tool right now as far as I know as well.

[2016-04-01 16:15] RalfJung commented on #994
I am getting the impression that the crash is caused by mixing libraries compiled from git master (installed to `/opt/lxqt`), and the system-wide LXQt installation in `/usr`. Is there documentation anywhere which environment variables need to be set for this to work?

[2016-04-01 17:14] pmattern commented on #156
Didn't follow this discussion thoroughly and hence this may be the wrong place to post, but:

As of VCS checkouts 2016-04-01 the first session on a new user profile starts with just a black background
![lxqt_theming_initial-black-background](https://cloud.githubusercontent.com/assets/9860801/14214062/436d143e-f83b-11e5-8219-5da2abb638ae.png)
which certainly isn't intended, is it?

On a subjective

[2016-04-01 18:07] intialonso commented on #156
Yeah, thats exactly the intention, not to use the logo as wallpaper, a common rule to avoid overexposing the brand.

[2016-04-01 18:08] jleclanche commented on #156
I like it.

[2016-04-01 19:51] pmattern commented on #1007
This is caused by some well-known problem affecting grep which is fixed in latest VCS code. This issue is hence a duplicate.

Upstream issue is #957, downstream Arch Linux can be found at https://bugs.archlinux.org/task/48754.

Note a simple workaround is to re-compile package lxqt-config on a system with some arbitrary UTF-8 locale.

[2016-04-01 19:51] #1007 closed

[2016-04-01 19:57] #1008 closed

[2016-04-01 20:12] Esclapion commented on #1007
It's to note than the Arch binary packages of jleclanche have this problem, and it's too late for the user.

[2016-04-01 20:14] jleclanche commented on #1007
I'm fixing it.

[2016-04-02 08:30] selairi commented on #1002
I have added new branches called  `openbox_default_path` in `lxqt-common` and in `lxqt-session`.

I have just pushed the next changes to `openbox_default_path` branch:

- It uses `$XDG_CONFIG_HOME/openbox/lxqt-rc.xml`
- startlxqt copies the default configuration from `$XDG_CONFIG_DIRS`

I have changed in `lxqt-rc.xml` :

- I deleted keyboard shortcuts not related with window management. Then users

[2016-04-02 08:35] selairi commented on #991
@pmattern  look [#1002](https://github.com/lxde/lxqt/issues/1002). lxqt-globalkeysd could be used perfectly.

[2016-04-02 11:29] pmattern commented on #994
I'm seeing the crashes on Arch systems using each and every LXQt component from recent VCS checkouts.

[2016-04-02 13:22] tsujan commented on #994
That should be something else. This is about a crash that, until now, only @RalfJung can reproduce, @paulolieuthier's case being different.

[2016-04-02 15:04] pmattern commented on #957
Just in case someone stumbles upon this issue via searches or so:
The problem gets manifest only when some of (all?) the various environment variables `LC_*` are set to C. So an easy workaround is setting an arbitrary UTF-8 locale system-wide or as value of `LC_ALL` when invoking `cmake` and `make`.

[2016-04-02 19:56] pmattern commented on #994
@tsujan
Well, I cannot reproduce the crash by terminating with `kill`, no matter which signal I use. But the panel is crashing upon exiting sessions all the time here, both "bare metal" and in virtual machines.

[2016-04-02 20:10] tsujan commented on #994
@pmattern
Any crash log, coredump?

You said every LXQT component crashes under Arch. That may be related to a core LXQT component then.

I know Manjaro isn't Arch but its Qt is updated to v5.6 and there's no crash. However, there, I haven't compiled LXQT from the latest sources. I'll do it when I have time.

[2016-04-03 00:01] tsujan commented on #994
Oh, I was wrong! After the Qt5 upgrade under Manjaro, I have an lxqt-panel coredump with `Signal: 11 (SEGV)` and this uninformative backtrace:
[code]
But I also have many other coredumps, all of which, except for the above one, are related to the KDE session (akonadi, kalarm, kdeconnectd, kded5 and all user startup programs, including Qt5, non-KDE ones)! I tested some of them with `kill` and, as @

[2016-04-03 02:59] jleclanche commented on #297
Posted on the ML, needs review: https://github.com/sklins/BlueMoon

[2016-04-03 04:42] Vladimir-csp opened #1010 "startlxqt: strange XDG_DATA_DIRS assignment"
I'm not sure that assigning `XDG_DATA_DIRS="$XDG_DATA_HOME:/usr/local/share:/usr/share"` is valid. It should not contain $XDG_DATA_HOME.
Was it done on purpose? There is no mention of such construct in the spec https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2016-04-03 06:40] RalfJung commented on #994
I still have Qt 5.5, and I don't see anything KDE-related.

However, as I already mentioned, I have both LXQt 0.10 and LXQt master installed, and I suspect it is mixing up the two. Which environment variables do I need to set to prefer the LXQt installed in `/opt/lxqt` over the distro-installed one in `/usr`? I have set `LD_LIBRARY_PATH`, what esle? `QT_PLUGIN_PATH` maybe, and is there a separate

[2016-04-03 08:16] tsujan commented on #994
@RalfJung
Unfortunately, because of the title of this issue, two completely different problems are mixed together here. The first one is your crash with the specific setting you have (btw, I don't know the answer to your question); the second one is about Qt-5.6 + Arch. Under Debian Testing (my work system) and with the latest component compiled from git sources, I see no crash at all. Under an up

[2016-04-03 11:39] agaida opened #1011 "Migrate away from openbox and compton"
hi, i would like to suggest to move/migrate away from openbox/compton to xfwm4 as our recommend WM. Reasons: openbox as lowest common nominator don't make sense anymore, xfwm4 is available for all major linux and bsd distributions. compton is stalled and out of date in the most distributions. i would go a step further and say it is dead. Both are not ready for wayland. I know that xfwm4 isn't too

[2016-04-03 12:46] palinek commented on #994
I think, this issue (the @RalfJung's original) should be closed as fixed by lxde/lxqt-panel#313 and another one opened for the Qt5.6 problem:

[2016-04-03 15:07] jleclanche commented on #1011
What are the advantages of xfwm4 over openbox?

[2016-04-03 15:20] Esclapion commented on #1011
xfwm4 depends on gtk2 and gtk3, not qt5 ?

[2016-04-03 15:21] tsujan commented on #1011
In which sense doesn't it make sense when it's so configurable?

That *may* be true but it still works without problem here.

[2016-04-03 15:26] tsujan commented on #994
I agree, especially when the latter may be a downstream issue.

[2016-04-03 15:28] tsujan commented on #994
Closed. Please open another issue if Arch/Manjaro problem persists!

[2016-04-03 15:28] #994 closed

[2016-04-03 15:41] Vladimir-csp commented on #1011
Openbox is feature-complete, stable, lightweight, does not depend on whole giant toolkit. There is just nothing more to develop in it, but it is mainained. And it also has some killer features like the way it handles keyboard shortcuts and advanced window management actions. Compton is now pretty stable. Both are extremely lightweight.
If not this whole Wayland thing, they could go on forever. Unt

[2016-04-03 21:43] selairi commented on #1002
I have tested branches  `openbox_default_path` in lxqt-common and in lxqt-session. They works OK. I would like to merge it with `master` branch.

If everybody is agreed with this, I will do it in a few days.

Merge will change Openbox default path from `$XDG_CONFIG_HOME/openbox/rc.xml` to `$XDG_CONFIG_HOME/openbox/lxqt-rc.xml`.

If you want to keep your actual openbox settings, you should run:

`c

[2016-04-03 23:07] sixsixfive commented on #1011
probably wayland support also with a possible gtk3 port comes scaling/hidpi support since openbox has some great disadvantages on hidpi(max button size is ~14px? wich is ~7px on hidpi)

there are some alternatives:

* https://github.com/xiangzhai/eggwm/
* https://sourceforge.net/projects/jwm
* fluxbox is also always nice

[2016-04-03 23:28] sixsixfive commented on #996
also another intresting concept is using toolbar buttons to switch between pages eg:

https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/Preferences.html#//apple_ref/doc/uid/20000957-CH78-SW1

[2016-04-03 23:30] Vladimir-csp commented on #1011
I would suggest creating LXQt module that would work similar to wmctrl - interact with a EWMH/NetWM compatible X Window Manager (or use wmctrl itself) for governing windows in response to events or keyboard shortcuts.
This would decouple LXQt from specific WM, so that any compatible WM with blanked out shortcut configuration would fit right in with minimal tweaks.

[2016-04-03 23:46] Vladimir-csp commented on #996
Native toolkit tabs usually look good and are logically more appropriate for such situations than icons in a standalone container.
Are native toolkit tabs able hold icons? If so, it would be the best variant.

[2016-04-04 22:18] pmattern commented on #1010
This seems a bit odd, indeed.
At least on Arch Linux, none of the other major desktop environments like KDE, LXDE or Xfce is behaving like this. Didn't check whether this is in accordance with the respective upstream but given it's Arch Linux chances are it is.

On a side-note none of those other desktop environments seems to set all four variables `XDG_{CONFIG,DATA}_{DIRS,HOME}` in the first plac

[2016-04-05 12:53] stefonarch commented on #693
On the last release I didn't see any update of .ts files in panel and other settings, it would be nice to have some time to translate new stuff this time.

[2016-04-06 09:57] mercuriete commented on #101
Thanks you for your work it is amazing how lxqt is getting more and more powerful.

[2016-04-06 18:02] luis-pereira commented on #1010
@Vladimir-csp It's valid. Maybe a little non orthodox.

@pmattern They set some of them. If a variable is not set, the app/library should use the default values. By assigning it we are being precautious.

After https://github.com/lxde/lxqt-qtplugin/issues/8 gets in we can drop it in `startlxqt`.

[2016-04-06 18:23] Vladimir-csp commented on #331
Updated list with directional focus, cool thing

[2016-04-06 21:22] palinek commented on #1000
Have a look on lxde/lxqt-panel#315

[2016-04-06 21:59] selairi commented on #331
Openbox can use Emacs-style key chains. I wish I might use Super+Space as key chain, e.g.  "Super+Space x" to close a window by pressing first Super and space at the same time, and after releasing them, you press the "c" key.

Window management would be:

[code]

[2016-04-06 22:35] Vladimir-csp commented on #331
When we have a dedicated global-level button like Super, why add an extra step?

[2016-04-07 00:01] kq01526 commented on #131
Any progress on this one?

[2016-04-07 07:16] selairi commented on #331
I would like to point out that we have other options in order to remember keyboard shortcuts.

[2016-04-07 07:37] RalfJung opened #1012 "plugin-statusnotifier: Make it possible to hide notifiers"
It would be great if individual icons could be hidden in the "status notifier" part of the panel, similar to what KDE does. As far as I understand, there is even the possibility for the application to communicate to the panel whether there is something interesting going on right now, which could provide a nice automatic show/hide behavior.

It was said in https://github.com/lxde/lxqt/issues/64#iss

[2016-04-07 11:09] paulolieuthier commented on #1012
Yeah, it's actually part of the [specification](https://www.freedesktop.org/wiki/Specifications/StatusNotifierItem/StatusNotifierItem/) (see 'Status').

[2016-04-07 11:11] paulolieuthier commented on #1012
I didn't implement it because I wanted to make plugin popups consistent and standardized first, but never did.

[2016-04-07 11:23] pmattern commented on #925
Duplicate of #131.

[2016-04-07 11:23] #925 closed

[2016-04-07 15:31] pmattern commented on #1002
Everything working as expected here. Seems GTM.

[2016-04-07 15:52] pmattern commented on #506
When the same shortcut gets assigned to several actions `lxqt-config-globalkeyshortcuts` prints one of the shortcuts in bold but doesn't really throw a warning.
This should eventually be changed, too.

[2016-04-07 16:33] pmattern commented on #979
`lxqt-config-globalkeys` can be used to tweak shortcuts corresponding to the window manager like changing virtual desktops as well. Basically I'm absolute in favour of this - using different GUIs like `obkey` or `lxqt-config-globalkeyshortcuts` to configure shortcuts corresponding to window manager and desktop environment itself respectively may be plausible from a technical point of view but is a

[2016-04-07 16:35] pmattern commented on #991
@selairi
Basically for sure. But IMO the topics addressed in #979 as well as issue #506 do represent some obstacle for now, though.