[2015-03-17 15:58] pmattern opened #548 "LXQt panel/dialog "Add Panel Widgets": don't automatically scroll to top upon adding plugins"
If plugins get added in dialog "Add Panel Widgets" by either double-clicking or selecting (single-click) and hitting "Add Widget" the scroll bar automatically jumps to the top.
This can be a bit annoying when adding several instances of a plugin that's rather at the bottom of the list, e. g. spacer.
So I'd suggest to just leave scroll bar as is when adding plugins.

[2015-03-17 18:40] #548 closed

[2015-03-18 10:48] Vladimir-csp commented on #547
This should go in #337.
ConstantDeceleration option should be supported to tune down high resolution mice.

[2015-03-18 13:44] MttCastelli commented on #541
@pcmanfmMay I ask if it is pcmanfm-qt to handle the desktop, so to be sure where the bug is and add the right lavel too?

I've found that if I do set Desktop folder is  /home/matteo trough desktop preferences menu, it correctly edit user-dirs.dirs. But then pcmanfm-qt keep displaying Desktop between places category (on the lft), and if you try to select thisitem, it points to  /home/matteo/app, d

[2015-03-18 15:12] luis-pereira commented on #385
@doktor5000 @agaida We already have it. When configuring liblxqt one can use: ```cmake -DLXQT_ETC_XDG_DIR=/etc .. ``` to override the default value:  ```qmake -query QT_INSTALL_CONFIGURATION```

[2015-03-18 19:02] #193 closed

[2015-03-18 20:25] doktor5000 commented on #385
And e.g. lxqt-common uses that value from the installed liblxqt?
Does not sound logical to me, as liblxqt does not install anything below /etc, but I'll give it a try.

[2015-03-18 20:47] Gyges88 opened #549 "Application menu reopens instead of closing when clicked twice"
While the application menu behaves as expected when Alt+F1 is used (first key stroke: menu opens, second key stroke: menu closes), it reopens on second click when the mouse is used.
Reproducability: always
How to reproduce: click on App menu, then click it again
Expected behaviour: menu opens on first click, closes on second click
Cheers

Gyges

[2015-03-18 20:53] #543 closed

[2015-03-18 21:51] luis-pereira commented on #385
@doktor5000 They should. If not, please report it.
All of LXQT_ETC_XDG_DIR here: http://pastebin.com/RpfntKjL

[2015-03-18 23:17] #549 closed

[2015-03-19 09:32] MttCastelli commented on #356
I still have this problem: cann't install lxqt-qtplugin on vivid (require qtbase-abi-5-4-0 now)

[2015-03-19 10:35] Gyges88 commented on #549
Wow,
you guys are really quick... kudos!

[2015-03-19 14:15] MttCastelli commented on #356
you must change lxqt-plugin to require qtbase-abi-5-4-1 virtual package instead, due to the recent qt5 stack update (libqt5core5a is now 5.4.1)

[2015-03-19 16:05] pvanek commented on #356
the only proper solution is to modify the platform plugin not to use Qt's private stuff. We just faced this issue in opensuse as well...

[2015-03-19 16:07] PCMan commented on #356
Unfortunately, it's hard not to use private stuff.
Without using them, some settings won't apply immediately.
Also Qt platform plugin is not designed to be API/ABI stable.
Too bad. :(

On Fri, Mar 20, 2015 at 12:05 AM, Petr Vanek <notifications@github.com>
wrote:

[2015-03-19 16:59] mrlemux opened #550 "lxqt-panel sometimes hogs the cpu"
Sometimes, the lxqt-panel hogs 90 Percent of one CPU-Core
killing the panel often solves the problem

Used applets are the battery watcher, the CPU applet and the time applet

[2015-03-19 20:13] pvanek commented on #356
Yes, I know. Luckily we were able to resolve it in suse build service. It is rebuilt automagically with every qt version bump.

[2015-03-20 02:10] gilir commented on #356
Yes, "just" a rebuild from the Ubuntu PPA will fix the issue, but every update of Qt will have this effect, quite annoying when you are on a dev serie :-( (and too bad PPA don't have the suse magic :-))

[2015-03-20 03:30] Thorn-Inurcide commented on #512
I have this issue if I log into Slackware with gdm using the *.desktop file, but if I startx from the command line using A slackware xinitrc that looks like this, I don't have the issue

#!/bin/sh
# $Xorg: xinitrc.cpp,v 1.3 2000/08/17 19:54:30 cpqbld Exp $

userresources=$HOME/.Xresources
usermodmap=$HOME/.Xmodmap
sysresources=/etc/X11/xinit/.Xresources
sysmodmap=/etc/X11/xinit/.Xmodmap

# merge i

[2015-03-20 03:55] Thorn-Inurcide commented on #512
I just set my lxqt.desktop file in /usr/share/xsessions to start from my xinitrc file and it works well. Though this is only a Slackware workaround I can easily accomplish in many ways with the build script.

Seems like all "resources" aren't being loaded... I have no idea how to properly say that =D

[2015-03-20 03:58] Thorn-Inurcide commented on #512
hifi25nl are you using kwin as your window manager?

[2015-03-20 05:04] Thorn-Inurcide opened #551 "Copy and paste from file properties in pcmanfm-qt (feature request)"
I was wondering if it's possible to make pcmanfm-qt be able to copy and paste the location line in a file's properties like the gtk version can?

[2015-03-20 07:24] hifi25nl commented on #512
The same is happening on three lxqt installations using openbox.

[2015-03-20 07:34] Thorn-Inurcide commented on #512
yeah I'm using openbox as well, You said it wasnt happening on a machine with Plasma 5 i was just wondering if you were using kwin

[2015-03-20 07:45] hifi25nl commented on #512
I just checked now. In the machine with both Plasma 5 and lxqt, if I start pcmanfm from plasma or lxqt (with openbox) move to trash is there and it is working.

[2015-03-20 08:40] Thorn-Inurcide commented on #512
Do you have a .xinitrc in your home folder on the machines where it isn't letting you move to trash?
I deleted mine, rebooted then logged in with gdm and one wasn't there, I made one and simply added xrdb (This loads X system resources) and logged out and back in and now pcmanfm-qt is working right.
Wanna try and see if it works for you? if it does will be a nice easy work around. though not a sol

[2015-03-20 09:13] Esclapion commented on #551
Yes, it miss me also.

[2015-03-20 14:07] hifi25nl commented on #512
I don't have a .xinitrc

[2015-03-20 14:58] Thorn-Inurcide commented on #512
you should try making one, then just put xrdb in it

[2015-03-20 16:26] MttCastelli commented on #356
lubuntu-dev pakage has been update, so now it's fixed for vivid branch anyway. Thank you

[2015-03-21 07:39] #134 closed

[2015-03-21 21:27] pmattern commented on #527
The problem isn't limited to those audio buttons but seems to affect any plugin that wants to register some default keys.
E. g. I can see the very same behavior with plugins 'Show desktop' (shortcut Ctrl+Alt+D) and 'Launch screensaver' (shortcut Ctrl+Alt+L).

"bare metal" all keys and keyboard shortcuts are working as expected besides the warning.
In a KVM/QEMU virtual machine according to xev non

[2015-03-21 21:34] pmattern opened #552 "LXQt panel/plugin spacer: color of lines and dots vs. panel background color"
Using theme Dark or Kde-plasma dots and lines set by "Space type" can't be seen as their color isn't suitable. Also, there's no way to keep them visible when custom panel background colors are applied.
So I think the plugin would benefit from having those colors configurable somehow.

Not sure about the best way to do so, though.
Maybe just derive spacer's color from some other panel element that

[2015-03-22 08:35] mrlemux commented on #550
This seems to be caused by external Applets like the blueman-applet or the network-manager-applet

[2015-03-22 15:51] npmiller opened #553 "LXQt panel/plugin desktopswitch: add option to display desktop names instead of desktop indexes"
I've been using LXQt with i3 and given the way i3 handles desktops, I end up with things like a desktop that is displayed as 5 in the desktopswitch, but that is really the number 8 for i3.

Hopefully, the names of the desktops (as displayed in the tooltips), match with i3's desktop numbers. So I thought it would be useful to add an option whether to display desktop names or use the current behavio

[2015-03-22 20:14] palinek commented on #527
Yes, while OpenBox is able to handle keyboard shortcuts (http://openbox.org/wiki/Help:Bindings), I was just suggesting that you/he/she can have some colliding configuration there.

@ThebestwaytodesignJoinGitHub the problem is only notification, but the key is works (mute/unmute)?

@pmattern regarding the clean LxQt and xev: if the volume plugin is running (and it was able to register the shortcut)

[2015-03-22 20:24] palinek commented on #552
Actually the spacer widget is nothing but the empty space with a property stating it's type. All the styling (dots, line) is done in theme (qss).

[2015-03-23 06:06] ThebestwaytodesignJoinGitHub commented on #527
Yes, the key works

[2015-03-23 09:36] palinek commented on #527
@ThebestwaytodesignJoinGitHub does it work also when you remove the volume plugin?

[2015-03-23 11:02] ThebestwaytodesignJoinGitHub commented on #527
No Sir. And the popup appears when adding the volume widget, not when launching the session.

[2015-03-23 11:35] palinek commented on #527
So the problem is just a false alarm about unsuccessfull registration of shortcuts.

[2015-03-23 11:40] palinek commented on #527
@ThebestwaytodesignJoinGitHub you get the error notifiaction for all three XF86Audio* shortcuts or only for XF86Audio{Raise,Lower}Volume?
...or simply paste text of notification here

[2015-03-23 13:30] ThebestwaytodesignJoinGitHub commented on #527
All three. Even though lower and raise are disabled in the global actions manager.

[2015-03-23 20:34] ypnos opened #554 "Desktop Switcher misses desktop changes"
This is a regression of 0.9. The desktop switcher only shows 6 desktops. However, I have twelve of them.

xprop -root shows:

    _NET_DESKTOP_NAMES(UTF8_STRING) = "browse", "mail", "main_trois", "ide", "foo", "bar", "tex", "write_deux", "write_trois", "admin_un", "root", "admin_trois"
    _NET_NUMBER_OF_DESKTOPS(CARDINAL) = 12

[2015-03-23 21:51] theherk commented on #182
The link on the site is still empty, http://download.opensuse.org/repositories/X11:/lxde:/lxqt:/fedora/.

[2015-03-24 05:16] Thorn-Inurcide opened #555 "Gkrellm still shows up in the panel , even though it's set not to"
Gkrellm still shows up in the panel , even though it's set not to.

[2015-03-24 08:18] palinek commented on #554
@ypnos can you, please, be more specific on what configuration the is present?
(for me (debian testing, LxQt packages from siduction, openbox) this issue is not reproducable)

[2015-03-24 08:44] ypnos commented on #554
I use Arch Linux, lxqt-panel-git version 0.9.0.29.g33a689e-1. I use herbstluftwm as a window manager.
With version 0.8, it was working fine.

[2015-03-25 04:44] PCMan commented on #512
Pretty weird. I can never reproduce this bug.
Would you please try the following command and see if it works?
 gvfs-info trash:///

Normally, this should ask gvfs to show the info about the trash can.
If your gvfs is working correctly, you should see some output.
Otherwise, you'll see an error message.

[2015-03-25 08:25] ypnos commented on #554
I don't know what happened, but lxqt-panel now shows all 12 desktops again. Will probably make it harder to track this one down :/

[2015-03-25 13:40] hifi25nl commented on #512
[audiolinux@archaudio ~]$ gvfs-info trash:///
display name: Trash
name: /
type: directory
uri: trash:///
attributes:
  standard::type: 2
  standard::name: /
  standard::display-name: Trash
  standard::icon: user-trash
  standard::content-type: inode/directory
  standard::symbolic-icon: user-trash-symbolic
  id::filesystem: trash:
  trash::item-count: 0

[2015-03-25 17:46] luis-pereira opened #556 "lxqt-panel/plugin-taskbar: Text/Icon layout issues"
One image is better than 1000 words:
![screen-2015-03-25-10-36-32 png](https://cloud.githubusercontent.com/assets/62877/6831224/237fdfc4-d2dc-11e4-937c-e0f5d535019a.jpg)

[2015-03-26 08:38] palinek commented on #556
sure..
I'm only guesssing -> the problem is missing icon in taskbar group popup and text centered with long window title?
How to reproduce? I get no such behaviour:
![screenshot](https://cloud.githubusercontent.com/assets/10990929/6842747/c2cdd94a-d39b-11e4-8ea5-be5387cbc4cb.png)

[2015-03-26 10:26] stefonarch opened #557 "Translation source not up to date in taskbar-plugin"
http://i.imgur.com/YUkZwjR.png
<img src="http://i.imgur.com/7teyMOa.png" />
I find no item for window grouping  in taskbar.ts ,  taskbar_it_IT.ts ecc.
"show windows from" is    translated but does not get into the Gui.

[2015-03-26 10:42] palinek commented on #553
fixed in lxde/lxqt-panel#157

[2015-03-26 10:42] #553 closed

[2015-03-26 10:45] palinek commented on #552
@intialonso can you have a look on this, please?

[2015-03-26 10:48] stefonarch opened #558 ""Status notifier plugin" cannot be configured, moved and removed"
With lxqt-panel-git-0.9.0.67 at startup it looks like that:
<img src="http://i.imgur.com/xVJN2bj.png" />
After a first  right-click it shows me konversation, akregator and klipper, but no way to configure or remove it. right click does nothing.
Expected behavior: Right-clicking should show menu "move, configure, remove".

[2015-03-26 11:47] palinek commented on #527
While looking on other issue I think that I've tracked this ...
@kuzmas IMHO it is related to https://github.com/lxde/lxqt-globalkeys/commit/76a2a8958e820712dd4bacf505b919684acbfddf and the logic how plugins are registering the shortcuts, e.g.:
[code]

since the `addAction` now doesn't block the above code get's weird results

[2015-03-26 13:44] palinek commented on #527
@ThebestwaytodesignJoinGitHub, @pmattern please, confirm if the above solved this issue

[2015-03-26 15:00] palinek commented on #505
@PCMan, @kuzmas I made a few commits (https://github.com/lxde/lxqt-globalkeys/commit/8d70f7e55338c600686c39260e116796b785fca7, lxde/lxqt-panel@6969028043d069680dee1ddc1d7b6c786899f252, lxde/lxqt-panel@f8fc3b64d89f250c39b595af97b590b79586b13c, lxde/lxqt-panel@cf15609d08b02ac61fdc775b9a37a6f42b168d69) today whose solve also this issue (i hope)...

[2015-03-26 16:35] qsodev commented on #512
This is probably not a pcmanfm-qt bug. It could be related to login / session.
It seems that gvfs is not ready when pcmanfm-qt starts.
When I have the problem ( after reboot ) there is also no "Computer" and "Network" shown in "Places".
When I then execute "pkill pcmanfm-qt", it restarts and then everything is working fine and also "Computer" and "Network" show up.
I use slim as login manager and

[2015-03-26 17:28] PCMan commented on #512
I just fixed it. Please try the latest source code in git and see if it works for you.
Thank you for help debugging.

[2015-03-26 17:28] PCMan commented on #512
If the bug is fixed, please close the issue. Thanks!

[2015-03-26 18:39] qsodev commented on #512
"move to trash" is fixed when using latest source code!
But there is still the issue that "Computer" and "Network" does not show up until pkill and restart pcmanfm-qt.

[2015-03-26 19:06] JohnnyComeL8ly commented on #106
Hi, I'm using the Oxygen icon set, and I have a similar problem.
![2015-03-17-125235_45x53_scrot](https://cloud.githubusercontent.com/assets/9731801/6854743/13a8b8a6-d3c1-11e4-82ca-0e22a94afdb6.png)

[cmd-output]
john@Ciderpress:~$ nm-applet

** (nm-applet:3327): WARNING **: Error retrieving accessibility bus address: org.freedesktop.DBus.Error.ServiceUnknown: The name org.a11y.Bus was not provide

[2015-03-26 20:56] pmattern commented on #527
Problem seems to be fixed.

Out of curiosity I compiled the versions corresponding to the latest six commits (c7d2455 - 2c38da7). With all plugins in question the problem disappeared with the respective commit as stated in the commit names.

On a side note I was wondering about the fix in 'Desktop switcher': I couldn't see the problem with this plugin, including commits c7d2455 and a0ebff6 which w

[2015-03-26 21:18] luis-pereira commented on #556
It happens when the text is longer that the space provided.
Example: Open this link https://github.com/lxde/lxqt-panel/commit/2c38da717f742c40c53ce8dcbcb3ba9951675689

[2015-03-26 21:22] luis-pereira opened #559 "Panel startup with auto-hide is never shown"
The panel hides before it is shown

[2015-03-26 21:23] palinek commented on #527
Desktop switcher was updated today as a part of optimization and this changed the way how shortcuts were registered(lxde/lxqt/panel#157). That fixed it, but broke feature of changing the shortcut in lxqt-config-globalkeys (changed to default after each widget restart).

[2015-03-26 21:24] palinek commented on #527
Desktop switcher was updated today as a part of optimization and this changed the way how shortcuts were registered(lxde/lxqt/panel#157). That fixed it, but broke feature of changing the shortcut in lxqt-config-globalkeys (changed to default after each widget restart).

[2015-03-26 21:29] luis-pereira opened #560 "Panel completely hidden with auto-hide"
When using the auto-hide the panel is completely hidden. It's not obvious that the panel is running.
In the reserved are a little bit of the panel must be displayed to indicate panel's presence.

[2015-03-26 21:35] Esclapion commented on #560
A good thing, no ? If the user hides the panel, it's not to have a bit of it...

[2015-03-26 21:36] palinek commented on #559
Isn't that a desired behaviour?

[2015-03-26 21:40] palinek commented on #556
As you can see in my previous comment (and the screenshot)... it doesn't happen here. Also not for browser and the provided link:
![screenshot](https://cloud.githubusercontent.com/assets/10990929/6857699/f77801c6-d408-11e4-8163-86a31ec48488.png)

[2015-03-26 21:42] palinek commented on #560
Actualy the panel is 4px wide when hidden. Should we change that (or make it configurable somehow)?

[2015-03-26 21:45] luis-pereira commented on #560
@palinek Precisely. IMO we should use that 4 pixels to hint the user that the panel is there hidde. I think KDE and other panels do it.

[2015-03-26 21:54] luis-pereira commented on #556
@palinek I'm seeing. What's even weirder is that my text is always centered. Will debug it when I get to my dev machine.

[2015-03-26 22:01] luis-pereira commented on #559
@palinek IMO no. The panel hides when not being used. lxqt starts and it not's get used it auto-hides. It it doesn't show a user can think that it didn't start.

[2015-03-26 22:11] Vladimir-csp commented on #559
If default behavior is to always show the panel, then I see no problem. User switches autohide on, it is users`s decision, he is aware of it.
The other two questions are technical and cosmetic:
- panel should have a presence on screen, at least one pixel, so mouseover could be possible.
- this presence can be invisible (transparent), why not?

[2015-03-26 22:21] luis-pereira commented on #559
@Vladimir-csp the technical and cosmetic are not related to this issue.

[2015-03-26 22:47] luis-pereira commented on #556
@palinek It seems it happens when one have many (3 to me) windows in one desktop. Can you pls try to confirm it ?

[2015-03-27 06:48] palinek commented on #560
@luis-pereira curious...i remember, it was done so... but now i see that the panel is invisible (must been happen while i was fiddling with the bad layout after unhiding)..

[2015-03-27 06:53] palinek commented on #556
@luis-pereira nope... not here:
![screenshot](https://cloud.githubusercontent.com/assets/10990929/6863691/1360125a-d456-11e4-96ba-b627d47b18e9.png)

Could it possibly be connected to version of qt used?

[2015-03-27 08:08] palinek commented on #560
Just tested ... I see a black 4px wide bar on screen edge when the panel is hiden.

[2015-03-27 08:41] palinek commented on #560
arrgh... I couldn't find out why following  style is not applied:
[code]
By this, the panel should be white while hiden (because margins are set so `BackgroundWidget` is not visible). But I wasn't able to succeed with that.
...finaly I've noticed that there is `Qt::WA_TranslucentBackground` attribute set for the `LxQtPanel`). When removed:
[code]
the style is applied correctly. But I'm not sure wh

[2015-03-27 08:44] palinek commented on #559
@luis-pereira you are suggesting that the panel should be fullsize after `lxqt-panel` start and hide after some time? Or should it hide after it receives-looses the mouse?

[2015-03-27 10:21] paulolieuthier commented on #560
@palinek the BackgroundWidget is responsible for showing the desired background. If one wants the panel to be transparent, he can set the a opacity to the panel, and that is applied to BackgroundWidget. That, to work, needs the panel itself to be transparent.

[2015-03-27 10:22] paulolieuthier commented on #559
IMO, "should be fullsize after lxqt-panel start and hide after some time".

[2015-03-27 10:44] HongxuChen opened #561 "xdg-open support"
Currently `xdg-open` in Debian Jessie cannot recognize when `XDG_CURRENT_DESKTOP` is set to **LXQt** (where lxqt is installed via http://packages.siduction.org/lxqt), so it changes to its default behavior, which causes many issues when using regular `xdg-open`.

[2015-03-27 11:57] palinek commented on #560
With lxde/lxqt-panel@bd37fdf everything said here should be fixed -> hidden panel has color of theme or defined by user (and the transparency also working).

[2015-03-27 12:24] ypnos commented on #505
I have this problem for a long time that might be related:
lxqt-globalkeysd blocks on startup, the panel does not appear for a long time. Killing lxqt-globalkeysd (and restarting it) solves the problem.
It seems that the hanging is related to this error message from lxqt-globalkeysd:

    setNativeLocks failed: Resource temporarily unavailable

In this case I am using lxqt 0.9 from ArchLinux commu

[2015-03-27 18:44] Vladimir-csp commented on #561
what issues are caused by going trough open_generic function?

[2015-03-27 18:54] jleclanche commented on #561
This is an issue which was fixed in an xdg release last year. Debian Jessie packagers will have to install a more up to date version of xdg-open.

CC @lxde/release-maintainers

[2015-03-27 23:49] luis-pereira commented on #556
@palinek Yesterday I could reproduce it. Today I can't. Running the same qt version.

[2015-03-27 23:53] luis-pereira commented on #559
IMO should be fullsize when it starts and hide after some time without being used.

[2015-03-28 00:21] luis-pereira commented on #557
@stefonarch Just updated the translations sources. Update to the latest master.
Closed by lxde/lxqt-panel@d1e4ac7fbf2cc322bd9306b85b770123127283d4

[2015-03-28 00:21] #557 closed

[2015-03-28 01:38] HongxuChen commented on #561
@Vladimir-csp For example, when using `xdg-open .` in a certain terminal emulator, an unexpected application will be started (in my case, the audacious player). But when I tweaked `xdg-open` script a bit to make it work exact as `LXDE` (of course `pcmanfm` was changed to `pcmanfm-qt`), everything works fine.

As @jleclanche said, this is not an issue if Debian Jessie packagers are using a newer on

[2015-03-28 01:58] Vladimir-csp commented on #561
open_generic in xdg-open is usually most reliable, it should choose current MIME association with file, without any DE tweaks.

You can check the association with:
```xdg-mime query default `xdg-mime query filetype $FILE_NAME````

and change default application with:
```xdg-mime default $APPLICATION $MIME_TYPE```

[2015-03-28 02:06] HongxuChen commented on #561
Yes, you're right. I think there is something wrong in one of
my mimeapps.list files. But I failed to locate the entry; even after I
deleted all my *local* mime type files I was not able to open with the
right application.
Personally I think lxqt and lxde should be treated as "the same class
citizen" by xdg-open.

On Sat, Mar 28, 2015 at 9:58 AM Vladimir-csp <notifications@github.com>
wrote:

[2015-03-28 05:22] pibarnas opened #562 "Overriding Lxqt keybindings in favor of WM's"
It would be nice if there were a method to use openbox own keys stored in rc.xml instead of lxqt ones. I explain: I use openbox for decades, and I'm used to uncompress its backup config on each desktop I have. Some things like closing windows with "windows" key+space can't be done only uncompressing my tar file on ~/ .config, just because something in the Lxqt inner, that could be switched off, I

[2015-03-28 05:33] Vladimir-csp commented on #562
Make lxqt-globalkeys optionally use openbox as backend?

[2015-03-28 05:40] jleclanche commented on #562
No, if we're going any route it's the kglobalaccel way.

[2015-03-28 06:50] palinek commented on #562
@pibarnas you can override default shortcuts registered by any lxqt component in `lxqt-config-globalkeys`.
Have a look into `~/.config/lxqt/globalkeyshortcuts.conf`. If you prefer you can replace it at the same time when you replace the openbox configuration.

[2015-03-28 08:53] pmattern opened #563 "Configuration center nearly empty"
Compiling latest Git code of all LXQt components the usual way results in a "Configuration center" (binary lxqt-config) that's nearly empty.

More precisely neither the items provided by lxqt-config nor lxqt-admin (repo / component) are displayed, rather only some provided by different components such as pcmanfm-qt --desktop-pref, ObConf-Qt or ComptonConf.
All items lacking in Configuration center

[2015-03-28 09:45] pmattern commented on #512
I can confirm both findings described by qsodev. The problem regarding trash is fixed but the one affecting items Computer and Network persists.

The latter is pretty weird to track. E. g. I can't see it any more on two virtual machines but still on my production system ("bare metal"). All up to date Arch Linux x86_64 except one of the VMs which is i686, all actually set-up the same way. In partic

[2015-03-28 10:00] pmattern commented on #533
You guys may want to have a look at https://github.com/surlykke/lxqt-connman-applet, available as Arch Linux AUR package [lxqt-connman-applet-git](https://aur.archlinux.org/packages/lxqt-connman-applet-git) already. (Just mentioning as I stumbled upon both this issue and that project, didn't test the latter myself yet.)

@rcmn
Regarding sound you don't state details. So what are you missing? You a

[2015-03-28 10:32] MttCastelli commented on #563
the same here whith the latest lubuntu-daily update, can see only Desktop and Monitor settings

[2015-03-28 10:38] Esclapion commented on #533
I tried without success because I use the non-git versions. And if I modify the PKGBUILD to depend of liblxqt standard, the patch included doesn't work.

For cmst, the last version works fine for me with checking systemtray (why not ?). But this tray is very slow to start after the desktop, I don't know why, but it's probably another problem.

[2015-03-28 13:34] pibarnas commented on #562
palinek: Excellent!! Thank you! That's what I've been looking for: some config text file to call with editor on openbox menu (I use wm menu on DE) and save on a tar file. Although the flashy new features of LXQT are much awaited and great, towards ease of use, I think it's important for the new DE don't lose it's core of minimalism and the simpathy of the box* users. Early gnome experience shows w

[2015-03-28 14:04] rcmn commented on #533
@pmattern

I'll look into the connman applet. Thanks.

Yes i'm aware of the plugin. But I don't use it anymore, because the volume manager I use have their own systray options. It seemed redundant.

And their is this thread i completely forgot about https://github.com/lxde/lxqt/issues/369.It's a discussion regarding a QT fork of pavucontrol .At the end pranavg189 said he was working on a fork call

[2015-03-28 15:06] #562 closed

[2015-03-28 15:31] pmattern opened #564 "LXQt panel: don't provide lock screen feature by two different panel objects"
Locking screen is provided by two different panel objects behaving and looking the same which is unnecessary and rather confusing.

First, there's plugin-screensaver. Development is taking place sporadically only and it indeed looks a bit outdated. E. g. all the description as displayed in dialog "Add Plugins" isn't valid any longer as the plugin allows for locking the screen only right now, not f

[2015-03-28 17:55] agaida commented on #563
the problematic code is in libqtxdg/xdgmenuapplinkprocessor.cpp:
<pre>
        XdgDesktopFile* file = fileInfo->desktopFile();

        bool show = false;
        QStringList envs = mMenu->environments();
        const int N = envs.size();
        for (int i = 0; i < N; ++i)
        {
            if (file->isShown(envs.at(i)))
            {
                show = true;
                break;

[2015-03-28 21:17] palinek commented on #563
@agaida don't be so shy. You got it almost... IMHO the problem here is that we are testing 3 environments:
[code]
...but the `XdgDesktopFile::isShow` is 'cashing' the result right after the first attempt. That means if the *.desktopfile does not contain `OnlyShowIn=*X-LXQT*` it caches the `false` result and fails in next call whatever the environment parameter comes in.  When I removed the false r

[2015-03-28 22:45] agaida commented on #563
@palinek - i'm not shy, but i don't know how to debug this. C++ isn't my prefered playground :)

[2015-03-28 22:49] luis-pereira commented on #563
@palinek @agaida You are both right.
The trigger is:
```if (file->isShown(envs.at(i)))```

in conjunction with:

[code]

The current "caching" mechanism doesn't make any sense and it makes ```XdgDesktopFile::isShown()``` unusable.
I'm fixing this.

[2015-03-28 23:20] luis-pereira commented on #563
@agaida @palinek @pmattern https://github.com/lxde/libqtxdg/issues/55

[2015-03-28 23:45] #563 closed

[2015-03-29 01:00] palinek commented on #564
I'm also for dropping the plugin-screensaver

[2015-03-29 08:29] #512 closed

[2015-03-29 08:30] PCMan commented on #512
OK I found the problem. It seems to be a bug(?) of glib/gio.
I believe that the current fix can workaround the problem.
If it does not work, please re-open the issue.
Thank you.

[2015-03-29 15:15] stefonarch opened #565 "LXQt-panel: Saving changes in cpu-load and spacer plugin crashes panel"
I use normally 2 panels;after upgrading from git panel crashed always when trying to save changes in these two objects.
Removing ~/.config/lxqt/panel.conf solved.

[2015-03-29 15:40] stefonarch opened #566 "LXQt-panel: Translation source non up to date in plugin directorymenu.ts"
As title, missing all voices from the configure dialog, and there is  no voice for "open in terminal" (as present in current source)
 (as present in current source) displayed at the moment, only "open".

[2015-03-29 16:11] #566 closed

[2015-03-29 18:54] palinek commented on #565
Could you, please, provide the "failing" configuration so we are able to reproduce the crash?

[2015-03-29 19:00] Vladimir-csp commented on #520
Another menu-related problem:
If you call some menu on the panel, then click on desktop, next click on the panel will be ignored.

[2015-03-29 20:28] stefonarch commented on #565
Here it is:

[General]
__userfile__=true
panels=panel_{6694bbd1-2f06-4cde-8907-e480059ea869}, panel_{cac5188a-57a2-43cf-a07b-653532a2800d}

[clock2]
UTC=false
alignment=Right
autoRotate=true
customDateFormat=
dateFormat="dddd, d MMMM"
firstDayOfWeek=7
showDate=below
timeFormat=HH:mm
type=clock

[cpuload2]
alignment=Right
type=cpuload

[desktopswitch2]
alignment=Left
type=desktopswitch

[mainmenu2]

[2015-03-29 22:46] palinek commented on #565
@stefonarch just tried to run panel with your config and application does not crash here (tried to configure freshly added spacer and existing cpu plugin)...

[2015-03-29 23:03] palinek commented on #558
PR for managing plugins from "add plugin dialog" was just merged -> lxde/lxqt-panel@a6554fa. So now all plugins could be moved also from this dialog.

[2015-03-29 23:08] palinek commented on #536
@pmattern @Vladimir-csp can you, please, test if the new "manage plugins dialog" is good enough for your requests?

[2015-03-30 05:37] ThebestwaytodesignJoinGitHub commented on #527
Fixed, thank you

[2015-03-30 06:06] #527 closed

[2015-03-30 06:11] stefonarch commented on #565
I retried with this configuration, clicking "save" in cpu-load plugin configure dialog it crashes again.
No idea what else could be related.

[2015-03-30 06:14] palinek opened #567 "Panel: taskbar grouping popup instantly replaced when panel is aligned on top"
In case
- grouping windows on taskbar is acive
- panel is on top of screen
- grouped buttons are one on top of another (multiple lines active)
- show popup on hover is active

... hovering the upper button shows popup, but trying to move into it, it is re-opened (new content showed and moved) with the windows from lower button

[2015-03-30 06:18] #567 closed

[2015-03-30 06:23] palinek commented on #565
There is no "save" button in plugin-cpuload configuration ... do you mean "close"?
Did you change anything in the configuration dialog?

[2015-03-30 06:54] stefonarch commented on #565
Sorry, I meant clicking "close".
 Same thing with spacer plugin; with   clicking elsewhere dialog disappears and panel does not crash.

[2015-03-30 07:52] #559 closed

[2015-03-30 09:04] stefonarch commented on #565
I've now tested on a new user and cannot reproduce it, so there has to be  a problem with some other configuration in my home directory.

[2015-03-30 12:06] surlykke commented on #533
As the name indicates, my intention with lxqt-connman-applet is to propose it for inclusion in lxqt.
The state is that it can show/disable/enable technologies (ethernet, wifi, bluetooth), show/connect/disconnect services. (Bluetooth pairing must be done by other means though (like blueman..)) What I still need from it, and am working on, is creating vpn connections. I hope to make it able to creat

[2015-03-30 12:07] JamesH65 opened #568 "Various page link issues with lxqt website"
Not sure where to post this issue, so trying here!

Have been trying to get the source download (since github is currently being DDoS'd and it won't download reliably) from the lxqt website.

Broken links I have found are :`

http://downloads.lxqt.org/
http://blog.lxde.org/

Thanks

James

[2015-03-31 07:43] #490 closed

[2015-03-31 09:05] rcmn commented on #533
I would really like to use lxqt-connman-applet but I use the ubuntu PPA. Has anyone build a pkg for it by any chances?

[2015-03-31 14:53] surlykke commented on #533
Den 31/03/2015 11.05 skrev "rcmn" <notifications@github.com>:

Has anyone build a pkg for it by any chances?

https://aur.archlinux.org/packages/lxqt-connman-applet-git/

[2015-03-31 16:16] palinek opened #569 "panel: update themes for taskbar groups"
The taskbar group popup and it's buttons do not follow the overall panel look.

...will commit basic styles for some designer (@intialonso?) to see selectors where the styling should go into

[2015-03-31 16:20] intialonso commented on #569
Hi, I sent a mail a week ago asking for a new maintainer fot the themes. Im
having some personal issues and have no time to take the job. At least for
a couple of months.
El mar 31, 2015 11:16 AM, "palinek" <notifications@github.com> escribió:

[2015-03-31 16:29] jleclanche commented on #569
@intialonso No problem. We don't really have alternatives though unless someone proposes themselves, but you're welcome to work on it anytime you want.

[2015-03-31 19:11] Vladimir-csp commented on #520
Clicking on any other window when menu from lxqt-panel is visible results in next panel click ignored.

[2015-03-31 19:43] rcmn commented on #533
@surlykke  Yep I've seen that. @pmattern mentionned the AUR package few days ago. But since you are reposting it I must be missing something !?

[2015-03-31 19:50] ufukkilicaslan commented on #431
Actually, I really don't understand how lxqt locks the screen. There is a lock screen option in power management settings, on idleness watcher, but it does not work for me. I only found a file related to this, which /etc/xdg/autostart/lxqt-screenlocker.desktop I really try to understand how I can lock my screen after idle without using xscreensaver. And if lxqt-screenlocker, or the screen locking

[2015-03-31 20:07] ufukkilicaslan commented on #431
Actually, I am wondering how O.P. managed to activate the screensaver (even it kicks in after some time) with using lxqt-powermanagement, with suspend or without suspend. I tried to run xscreensaver daemon, to see if it's related to it, but still lock screen option in power management idleness settings doesn't work. If I set it to suspend, it works (without locking the screen of course).

[2015-03-31 20:15] ufukkilicaslan commented on #13
I think it's also the case for lxqt-powermanagement, Lid and idleness watcher setting. The Lock Screen option on lid close does not work and Lock Screen option in idleness watcher does not work, too. Package lxqt in Arch Linux does not offer any screensaver, screenlocker package when installing. Also, I have xscreensaver installed, the daemon is running but these options still do not work. I wonde

[2015-03-31 21:22] paulolieuthier commented on #569
It is going to be very difficult for me to come back to LXQt development as well. For the next months.

[2015-03-31 21:46] surlykke commented on #533
Den 31/03/2015 21.43 skrev "rcmn" <notifications@github.com>:

days ago. But since you are reposting it I must be missing something !?

No no. Hadn't seen that pmattern mentioned it. Can't you use that one?

Br. Chr.

[2015-04-01 03:12] rcmn commented on #533
Well I'm really not familliar with AUR pkg. But I'm not afraid to learn so
I search for ways to either use directly the AUR pkg as is on my debian
based system(since it seems to be a simple script) or find a tool that
would convert it easily into a compatible one(like makepkg). But neither
solution seemed very straight forward and they seemed like  hazardous
processes with a slim chances of an hap

[2015-04-01 05:04] ThebestwaytodesignJoinGitHub opened #570 "Clipboard manager widget for the panel"
What do you think about it?

[2015-04-01 05:13] Vladimir-csp commented on #570
IMHO, there is no need for panel-dependent clipboard manager. There are at least three DE-independent tools exist: clipit, parcellite, qlipper.
Qlipper is in qt, never tested it though.

[2015-04-01 05:21] Vladimir-csp commented on #570
...just tested qlipper.
It supports global XDG configuration, this is nice!
No problems so far, except icon background glitches in menus.

[2015-04-01 05:38] goetzc opened #571 "Panel is blocked when there is a modal dialog open inside a config window"
For example, open `Configure "Application menu"` then click on `...` to choose a Menu file. Then not only the `Configure "Application menu"` windows is blocked, the panel is also blocked, e.g. the task manager can't be used.
The same happens with any modal windows from within a panel configuration window (widget or the panel itself).

[2015-04-01 05:43] Vladimir-csp commented on #403
Maybe hook xsettingsd in? It is lightweight, has miniscule dependencies, needs only config file and SIGHUP. No need to code xsettings stuff into lxqt-config-appearance.

[2015-04-01 06:04] palinek commented on #570
How about [CopyQ](https://github.com/hluk/CopyQ)?

[2015-04-01 08:29] pvanek commented on #570
I just started to port qlipper to Qt5.
I have no problem to drop qlipper in favor of anything better what runs on linux and osx for sure ;) But CopyQ isn't way to go IMHO. It's too heavy and confusing in UI for my needs.

[2015-04-01 08:37] Vladimir-csp commented on #570
I agree, CopyQ is too heavy. Basically, clipboard manager is needed for two things:
- save clipboard content after source application is closed.
- history list (as a bonus).

Qlipper looks ideal for these. If user wants more, there are more sophisticated clipboard managers out there to find and try.

[2015-04-01 09:29] Vladimir-csp opened #572 "Themes concepts"
I would like to start a generic discussion about themes, their integration with each other and how LXQT jumps into all this mess.
# Basics

These are themes that LXQT has to deal with as a modern DE.
- Qt themes
- GTK themes
- Window manager themes (i.e. openbox)
- Icon themes
- Own LXQT themes.

Also there are some related concepts affecting multiple toolkits, such as:
- Fonts, hinting, subpixel

[2015-04-01 09:35] Vladimir-csp opened #573 "[lxqt-config] Wider filters"
Current lxqt-config interface is good, but it only shows applications which have both 'Settings' and 'LXQt' categories. This is an adequate default. But by accessing configuration center, user might expect to find other configuration tools for installed applications.
I propose adding a filter to lxqt-config top toolbar which shows only LXQt category by default, but can be widened if needed.
Anyway

[2015-04-01 10:26] luis-pereira commented on #570
@pvanek looking forward for that

[2015-04-01 10:40] Esclapion commented on #570
Interesting, thanks.

2015-04-01 12:26 GMT+02:00 Luís Pereira <notifications@github.com>:

[2015-04-01 10:43] dglent commented on #570
I agree copyQ has a confusing UI, qlipper is light and has also the feature to save entries, i use qlipper.

[2015-04-01 13:48] palinek commented on #571
This could be solved by not using modal dialogs. e. g.:
[code]
... but I don't know if we want to go this way. If yes, we have to identify all the modal dialogs and change the as shown.

[2015-04-01 15:49] jleclanche commented on #403
-1

[2015-04-01 15:50] jleclanche commented on #568
We're having some dns issues.

[2015-04-01 15:52] JamesH65 commented on #568
Cool. OK to close if that is appropriate.

[2015-04-01 15:53] jleclanche commented on #568
It's ok. I'll post on the list when I get updates. Hopefully it won't take too long.

[2015-04-01 15:54] #568 closed

[2015-04-01 18:17] stefonarch commented on #565
After recent updates of all packages it crashes again, with clean configuration it crashes even with "add panel"

[2015-04-01 18:20] stefonarch commented on #565
After recent updates of all packages it crashes again, with new configuration file it crashes even with "add panel". But a test user is not affected, so it has to be connected with another setting in my home.

[2015-04-01 18:36] maces commented on #570
Coming from Parcellite back when using LXDE, I'm now using qlipper. Compared to CopyQ it's nicely lightweight and just does it's job.

[2015-04-01 21:40] palinek commented on #571
After lxde/lxqt-panel@e6252df86a73c933691f8f99f43ffefda9fed22d all modal dialogs shown from config windows should not block user input into panel

[2015-04-01 21:40] #571 closed

[2015-04-01 21:45] palinek commented on #520
...there is a typo in the commit message lxde/lxqt-panel@7cc17a0 (wrong issue reference).

[2015-04-01 22:23] goetzc commented on #571
Hi, using lxde/lxqt-panel@e6252df the world clock plugin still blocks the panel. But I can not find any other widget which still does this.

[2015-04-01 22:43] goetzc opened #574 "Panel: Directory Menu widget: difficult to change base directory"
When trying to select a directory from the configuration dialog, the directory gets opened, showing the directories inside. So choosing a directory is difficult, to do it, the name has to be written inside the name box.

But when this is accomplished, the Directory Menu widget still displays the default directory :(  lol

[2015-04-01 22:44] palinek commented on #571
lxde/lxqt-panel@4b61ff7d56d7a93f9d02b3563b77662fe64fa994 fixes the worldclock

[2015-04-01 22:46] palinek commented on #574
@goetzc please, try the now... I made some changes while fiddling with the modal dialogs..

[2015-04-01 22:48] palinek commented on #571
@goetzc thank you for testing

[2015-04-01 23:17] goetzc opened #575 "Quick Access Plasma-like widget (feature request)"
This widget allow to navigate thru directories, and open files or folders directly.

![quickaccess-kde-plasma](https://cloud.githubusercontent.com/assets/2220440/6954599/26d55506-d899-11e4-9732-93e0d2451c7b.png)

[2015-04-01 23:19] goetzc commented on #571
Can confirm that it doesn't block the panel! Thanks.

[2015-04-01 23:19] goetzc commented on #574
Yes, that fixed it! Thanks :)

[2015-04-01 23:19] #574 closed

[2015-04-02 01:34] ThebestwaytodesignJoinGitHub commented on #570
The sticky entries are very useful for remembering complicated spam mail addresses and often-used terminal commands, but linux-like text-copy by just highlighting text does not work in qlipper.

[2015-04-02 01:37] Vladimir-csp commented on #570
@ThebestwaytodesignJoinGitHub what do you mean by that? Selection buffer works fine while qlipper is running.

[2015-04-02 02:29] ThebestwaytodesignJoinGitHub commented on #570
'... Selection buffer works fine while qlipper is running.'
But qlipper does not collect it. Maybe that's ok, otherwise there's a lot to collect.

[2015-04-02 02:34] Vladimir-csp commented on #570
if you enable 'platform specific extensions' in options, it will collect from selection buffer.

[2015-04-02 04:35] dglent commented on #570
Thank you i was looking for this !

[2015-04-02 05:02] rcmn commented on #570
Does anyone knows if there is an easy way to extend the limit of 30 entries
and 200 characters ?

On Thu, Apr 2, 2015 at 10:05 AM, Dimitrios Glentadakis <
notifications@github.com> wrote:

--
R.

[2015-04-02 05:05] Vladimir-csp commented on #570
What I mistook for icon background glitch is actually buffer type indication, lol. It is hard to tell.

[2015-04-02 05:25] #560 closed

[2015-04-02 07:28] palinek commented on #552
@pmattern what's your opinion on lxde/lxqt-common#20 solution?

[2015-04-02 07:53] palinek commented on #569
Closing this as there is nobody to enhance those styles. Should anybody be unhappy with the initial styles he/she will open new issue for it...

[2015-04-02 07:53] #569 closed

[2015-04-02 08:59] palinek commented on #554
@ypnos there were been made changes in this plugin recently (few days ago). Can you, please, test if this problem still persists?

[2015-04-02 09:11] palinek commented on #514
Why disable it? We are not disabling the "dark" theme which also set the background of panel to semitransparent.
IMHO we should only set the default opacity of background color to 1 (no transparency) and put the note "Composiging..." somewhere.

[2015-04-02 11:22] ghost opened #576 "Change some icons to remove duplicates"
Hi,

Compton-conf: change the icon to something else since it's using the same icon as the display settings, which is mostly a screen/monitor icon so this isn't really intuitive.

lxqt-config-notificationd: preferences-desktop-notification would be much more intuitive.

lxqt-admin-time: preferences-system-time would be much more intuitive.

lxqt-admin-user: system-users or preferences-desktop-user

[2015-04-02 11:47] luis-pereira commented on #576
@sixsixfive Can you provide an patch ?

[2015-04-02 12:02] sirlark commented on #431
I have a file xscreensaver in my autostart (~/.config/autostart/razor-xscreensaver-autostart.desktop)

[2015-04-02 13:47] Vladimir-csp commented on #576
for compton-conf there are preferences-system-windows or window-manager

[2015-04-02 17:07] sfalken commented on #182
lxqt is available in the main fedora repositories, let me see if I can come up with some sort of link.

[2015-04-02 23:35] lpar commented on #182
Instructions on what to install with yum would probably be sufficient, as there isn't an obvious metapackage:

[code]

[2015-04-03 09:11] heliocastro commented on #182
Just onstall the group:

Fedora 21: yum install @lxqt
Fedora 22 e rawhide: dnf install @lxqt

[]'s

On Thu, Apr 2, 2015, 20:35 mathew <notifications@github.com> wrote:

[2015-04-06 09:39] hifi25nl opened #577 "xdg-open...will not open"
This is happening only in LXQt desktop.
I have problems with xdg-open in LXQt.
For example if I download a file with chromium and I select "show in folder" xdg-open will not open the folder and cpu utilization will go up. The instance of xdg-open will never close unless I kill it manually.
I have also problems with Kodi with external UPnP renderer: one or more instances of xdg-mime are starting wi

[2015-04-06 12:26] sixsixfive commented on #576
@luis-pereira

do you rellay think i need a to create a patch for this? you just need to change the icon name in 4 text files:

https://github.com/lxde/compton-conf/blob/master/compton-conf.desktop.in
-Icon=preferences-desktop-display
+Icon=preferences-system-windows

...

[2015-04-06 13:00] surlykke opened #578 "possible bug in XdgDirs::DataHome"
lxqt-config-fileassociations has stopped working (as in cannot change the default application for a mimetype). It tries to write to

 ~/.local/share/lxqt-config-fileassociations/applications/mimeapps.list

where it should write to

~/.local/share/applications/mimeapps.list.

lxqt-config-fileassociations constructs this path with the help of XdgDirs::dataHome().
The documentation for XdgDirs::DataH

[2015-04-06 13:40] paulolieuthier commented on #578
Yes, using `QStandardPaths::GenericDataLocation` would fix it for default values. However, if one wants to use different data paths and set them in `$XDG_DATA_HOME`, XdgDirs wouldn't get them. It should parse the variable.

[2015-04-06 13:57] pmattern commented on #536
The dialog you're proposing works and the main problem addressed in this issue is solved. Yet I'd like to propose two changes:

I doesn't seem too intuitive to me that there's a context menu that can be used to configure plugins added already.
Maybe it would be good to add another button "Configure" or so next to "Add Widget" that provides the same items as those context menus. A button like this

[2015-04-06 14:05] pmattern commented on #552
A minor problem affecting custom panel background colors seems to persist:
If a theme featuring a rather bright panel background color is in use, e. g. Light, spacer gets invisible if black is set as custom panel background color. Surprisingly spacer is grey and visible very well if theme Dark is in use, no matter whether custom panel background color is black or not set at all both of which resul

[2015-04-06 21:52] palinek commented on #536
@pmattern I've just added the 'Manage widget(s)' (because there all actions that the plugin is providing, not just the configure dialog) button in lxde/liblxqt@a844118.
I would suggest to close this issue and discuss all "next" design \& behaviour suggestions in new issue.

[2015-04-06 22:57] pertplus commented on #535
Would like to help but I don't know what I'm supposed to do! Where do I get 430fd9693? That's a version of lxqt-panel, or ?  I'm sorry!

[2015-04-06 23:48] paulolieuthier commented on #535
@pertplus don't worry, it's ok. First, I suggest that you install a Github Notifier extension for you browser, so you know when someone talks to you. 430fd9693 is a commit. See it here: lxde/lxqt-powermanagement@430fd963fbe4f16d9da9f60b67ffd14d9e1d49b0. The commit is in the master branch, which means you only have to update lxqt-powermanagement to get it and test it.

How did you install lxqt? Hav

[2015-04-07 00:23] pertplus commented on #535
Updating lxqt-powermanagement solved the problem, thanks. I'm using a user package from the Arch Linux AUR.

[2015-04-07 00:23] #535 closed

[2015-04-07 00:26] paulolieuthier commented on #535
Great news. Thanks for your help.

[2015-04-07 08:11] palinek commented on #552
I'm not a fan of manual widget styling, but if we agree to go this way, I can implement manual bacground configuration of spacer widget.
@jleclanche what's your opinion for this one?

[2015-04-07 13:19] pmattern commented on #552
I really don't want to insist on that manual stuff either. Actually I was just wondering whether it might make sense to have it available as a kind of fallback.

Just the problem described in the first paragraph of my previous post is something that should be looked at, imo.

Aside from this I'd be totally fine with implementing lxde/lxqt-common#20 as is.

[2015-04-07 14:49] palinek commented on #552
OK. For now merging lxde/lxqt-common#20 ...

Let's see what are others opinions for this (if any)...

[2015-04-07 14:59] antis81 opened #579 "Lubuntu default logout dialog"
With the current development version of LXQt 0.9+ (and Lubuntu 14.10) it is apparently still not possible to leave an LXQt session via `lxsession-logout`. Unfortunately I cannot check `lubuntu-logout`, which is part of the APT package `lubuntu-default-settings`. When trying to install it, APT wants to remove `lxqt-common`.

Why do I need that? Well, I'm using a panel replacement (cairo/glx-dock) a

[2015-04-07 15:09] Vladimir-csp commented on #579
I don`t know the answer to your question, but "leave actions" in LXQt are now presented via simple .desktop files. You can add them to cairo dock as applications.

[2015-04-07 15:26] Vladimir-csp opened #580 "Suggestion: Application browser"
Issues #579 and #573 combined in my head into an idea: The Application browser.
Basically, it already exists as lxqt-config - application which shows filtered and categorized list of applications.
If you add a few features to it, it could become very flexible tool:
- filter bar to change displayed applications (as described in #573)
- search bar
- search-as-you-type (I like the way it implemented

[2015-04-07 21:43] MttCastelli commented on #579
@antis81 lxsession is part of lxde,  but no more used by lxqt: you just have to install 'lxqt-metapackage', and you can get rid of a lot of lubuntu packages, if you want. The new current 'lxqt-leave' command is in 'lxqt-session' package.
(I use lubuntu 15.04 + lubuntu-dev PPA + lxqt-metapackage, just to let you know.)

[2015-04-07 22:16] antis81 commented on #579
@MttCastelli, @Vladimir-csp Thanks for your answers. What I'm looking for is a replacement for `lxqt-power`. I.e. a "classic" shutdown dialog.

This dialog should be callable by a trigger button (yes, there are also two keyboards with a real power button on my desk :smile:).

FYI: Cairo-Dock internally generates .desktop files. What I do as a workaround (runs for several months now): I added a cus

[2015-04-07 23:03] #578 closed

[2015-04-08 06:42] ThebestwaytodesignJoinGitHub opened #581 "lxqt-session package 'xcb' not found by cmake"
debian system, have installed and reinstalled everything with xcb and x11 in its name, also tried the ubuntu repo, no avail

[2015-04-08 07:33] palinek commented on #581
Have a look here:
https://packages.debian.org/search?searchon=contents&keywords=FindXCB.cmake&mode=path&suite=unstable&arch=any

[2015-04-08 11:28] ThebestwaytodesignJoinGitHub commented on #581
@palinek this hasn't change anything

[2015-04-08 11:44] palinek commented on #581
@ThebestwaytodesignJoinGitHub you need to be more specific to get reasonable help. Please, provide the `cmake` output for the beggining...

[2015-04-08 12:45] ThebestwaytodesignJoinGitHub commented on #581
checking for module 'xcb'
  package 'xcb' not found
CMake Error at /usr/share/cmake-3.0/Modules/FindPkgConfig.cmake:341 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.0/Modules/FindPkgConfig.cmake:395 (_pkg_check_modules_internal)
  CMakeLists.txt:27 (pkg_check_modules)
*********************************************************************
LI

[2015-04-08 13:16] palinek commented on #581
Just tried to simulate and it realy seems that on debian (testing in my case) `libxcb1-dev` package is needed:
- removedd libxcb1-dev:
[code]
- tried a fresh cmake:
[code]
- installed libxcb1-dev:
[code]
- and cmake succeded:
[code]

[2015-04-08 15:41] ThebestwaytodesignJoinGitHub commented on #581
But I have already installed/removed/reinstalled libxcb1-dev...

[2015-04-08 23:53] easyaspi314 commented on #572
Before LXQT can look at integrating new themes, they need to fix many issues in the UI itself.

[2015-04-09 12:38] ariszlo opened #582 "OnlyShowIn/NotShowIn ignored by LXQt"
I am using LXQt in Ubuntu 14.04 from the lubuntu-dev/lubuntu-daily PPA.

LXQt ignores the OnlyShowIn/NotShowIn keys in *.desktop files and thus some applications that should be hidden in LXQt's Applications menu are not hidden.

Consequently, there are two "Synaptic Package Manager" entries in LXQt's Applications menu, one from synaptic.desktop and one from synaptic-kde.desktop. The result is not

[2015-04-09 13:39] palinek commented on #582
Actually working with these keys were fixed recently in liblxqt...
@ariszlo you are probably talking about panel's "Application menu", right?
@luis-pereira this problem is probably connected to menu-cache. @PCMan are the OnlyShowIn/NotShowIn keys handled in menu-cache?

[2015-04-09 15:22] luis-pereira commented on #582
@palinek Initially I thought it was libqtxdg's related. It isn't. I do agree with you, it's probably menucache.

[2015-04-09 15:46] luis-pereira commented on #582
@palinek @PCMan It's most certainly this: https://github.com/lxde/libfm/blob/master/src/actions/condition.vala#L510

[2015-04-09 23:23] edge226 opened #583 "Two X servers crashes Desktop."
Running two monitors in a multiple X server configuration causes the desktop to crash. The background, right click functionality disappear. The Second monitor will not accept a Panel and I cannot launch programs on the second monitor.

[2015-04-10 03:52] jleclanche commented on #583
Do you have console output?

[2015-04-10 03:55] jleclanche commented on #570
I'm closing this, let's support qlipper officially. @pvanek worked on it already.

[2015-04-10 03:55] jleclanche commented on #570
@pvanek Is your work getting upstreamed? If not, you should move the fork to https://github.com/QtDesktop

[2015-04-10 04:02] edge226 commented on #583
I could get it if you told me what you need?

[2015-04-10 06:16] peyoot opened #584 "QTerminal doesn't work over VNC"
I can use Qterminal in local login.
But with vnc4server runing adn login via VNC remotely. I can't input anything in QTerminal!
I use Ubuntu 14.04 with lxqt 0.9

[2015-04-10 06:23] palinek commented on #584
Is this a problem of lxqt? @peyoot does it work with other DE?

[2015-04-10 08:24] pvanek commented on #570
I'm upstream, so yes, it's upstreamed ;)

[2015-04-10 12:44] selairi commented on #583
Could you be so kind to send me "xrandr" output?

Please execute:

xrandr --verbose

in your terminal. Maybe, it could be a problem with monitor config.

Thanks

El 10/04/15 a las 06:02, Edward Tunnah escribió:

[2015-04-10 21:35] npmiller opened #585 "LXQt panel/plugin desktopswitch: indicate urgent windows"
Ok, so a nice feature to add to the desktopswitch would be a way to inform the user that a window is “urgent” on another desktop. This is extremely useful, especially if you don't use the taskbar, or use it only to display windows on the current desktop.

I've started looking into it, and especially how the urgent hint is handled in the taskbar, but I must be missing something, I can't find how to

[2015-04-10 21:41] paulolieuthier commented on #585
That's a very good idea. This is how it's done for the taskbar:
https://github.com/lxde/lxqt-panel/blob/master/plugin-taskbar/lxqttaskgroup.cpp#L64
https://github.com/lxde/lxqt-panel/blob/master/plugin-taskbar/lxqttaskgroup.cpp#L605

The desktop switch should listen to the signal as well, and then, once emitted, should find the desktop where the window is and highlight it.

[2015-04-10 22:03] headbank commented on #541
MttCastelli, I found this posting due to having the same problem, so thanks for bringing it up in public - and thanks pmattern for revealing the reason. I never would have considered this, but somehow it's unsurprising that freedesktop is behind it :(

Anyway, as far as getting the homedir to be shown on the desktop, I've found this works:

XDG_DESKTOP_DIR="$HOME/."

Hope it helps.

[2015-04-11 10:03] PCMan opened #586 "[lxqt-panel] One LibreOffice window is shown as two buttons in the taskbar."
Steps to reproduce:
1. Run lxqt-panel first
2. Open a LibreOffice document
Then you can see two task buttons of LibreOffice.
Expected behavior: there should be one task button only.

Possible cause:
LibreOffice changes the WM class of a window after it's created.
For example, its window class name is "LibreOffice 4.4" on start.
After I opened a Impress file, the class name of the window is changed

[2015-04-11 10:04] PCMan commented on #586
@paulolieuthier since you know the tasbar manager part better, would you please take a look on this issue? Thanks a lot.

[2015-04-11 10:22] PCMan opened #587 "[lxqt-panel] NET::WMIconGeometry is causing high CPU and memory usage"
In LxQtTaskGroup::onWindowChanged(() defined in lxqttaskgroup.cpp, I saw the following FIXME.
...
        // FIXME: NET::WMIconGeometry is causing high CPU and memory usage
        if (prop.testFlag(NET::WMIcon) /*|| prop.testFlag(NET::WMIconGeometry)*/)
            button->updateIcon();

I guess the problem is caused by LxQtTaskButton::refreshIconGeometry().
When the panel is moved or resized, we

[2015-04-11 11:56] antis81 commented on #579
For the record, I already wrote some lines about this in #425 and followed the discussion as good as possible. This issue is still unresolved. Apparently `lxqt-power` got dropped for good in favour to `lxqt-leave`. There's no problem with that decision. It's just that there is not dialog available. In addition, the distro's default logout dialog will not work with LXQt.

@surlykke Could you please

[2015-04-11 12:47] paulolieuthier commented on #586
I can't reproduce it. Tried with KWin and Openbox. Libreoffice 4.4.2.

[2015-04-11 12:59] PCMan commented on #586
You have to run lxqt-panel first, and then open a file with LibreOffice.
If you launch LibreOffice first, and then run lxqt-panel, the problem is gone.
I can reproduce the bug everytime. :-(

[2015-04-11 15:56] antis81 commented on #508
Same here. Seeing mispositioned menus on dual-monitor setup.

Also `lxqt-runner` is configured to be shown centered on the monitor with the mouse focus. When focus is on configured "first" monitor, everything works as expected. When mouse pointer is on the second monitor, the dialog shows in center of both screens (appears half on each screen). Seems like it has the same reasoning, as sometimes it

[2015-04-11 21:14] pmattern commented on #584
QTerminal is working flawlessly in an LXQt session provided by TigerVNC (binary vncserver) here. So the problem doesn't seem to affect VNC in general.

To my knowledge both vnc4server and vnc4client provided by Ubuntu are the open source flavor of RealVNC which hasn't been maintained upstream since about nine years, see [Ubuntu changelog](http://changelogs.ubuntu.com/changelogs/pool/universe/v/vnc

[2015-04-11 21:25] pmattern commented on #579
I'd just like to mention briefly that something roughly similar is addressed in #477.

[2015-04-11 21:42] pmattern commented on #520
@Vladimir-csp
The problem that clicking elements in panel has an effect the second click only was discussed among other in https://github.com/lxde/lxqt/issues/436#issuecomment-72373045 and is due to a [Qt bug](https://bugreports.qt.io/browse/QTBUG-44231). In particular see the steps to reproduce provided by PCManFM in the Qt bug report.

[2015-04-11 21:45] DiscipleOfDante opened #588 "[lxqt-panel] add "window can cover" and "window can go below""
The LXQt Panel could use the ability to allow windows to cover or go below the panel. For smaller screens, specifically those one would find on a laptop, which can't be changed, could benefit from this as a means of saving screen real-estate.

For a good example, imagine placing your panel at the top, reducing the height to roughly that of your window titlebar, and then shrinking the width so that

[2015-04-11 22:06] pmattern commented on #536
Agree. In particular as I'm not that sure any more whether dialogues "Configure panel" and "Manage panel widgets" shouldn't be unified after all.

[2015-04-11 22:52] antis81 commented on #579
@pmattern Thanks.

[2015-04-12 02:29] DiscipleOfDante commented on #572
Kvantum Theme engine can work actually. It has no actual KDE dependencies and uses SVG images for all theming. I suspect that, since GTK3 can have themes made using SVGs as well, it wouldn't be too difficult to port themes back and forth, and Kvantum has a Qt5 based configurator that is also KDE independant.

[2015-04-12 03:16] intialonso commented on #572
I like that idea, and the theme engine looks really interesting.

2015-04-11 21:29 GMT-05:00 DiscipleOfDante <notifications@github.com>:

[2015-04-12 03:18] DiscipleOfDante commented on #572
In fact there is already a cross-compatible theme for it, even though Kvantum is a fairly new style. It is called Glare, and it is 100% LXQt compatible and includes OB themes and a LXQt theme from what I am reading. It has a GTK3 theme using CSS and svg files, and a Kvantum theme.

[2015-04-12 03:28] DiscipleOfDante opened #589 "[Notifications] Allow non-corner locations."
The notifier is nice, more configurable than a lot I've seen. But I feel that it is a tad annoying to have it locked to corners. Would it be possible to include screen edges as possible locations for popups, I.E. allow it to also have "bottom center, top center, left center, right center" as options?

[2015-04-12 06:59] Vladimir-csp commented on #572
It uses /usr/share/themes/Glare-misc/ as theme directory with components inside. That is a good sign! But it still requires placing symlinks to work for different componens.
If LXQt invests in this, it could set some standardization momentum for theming.

In GTK theming when a theme is selected, toolkit automatically uses required engine if it is installed. In Qt, as far as I can see, it is requir

[2015-04-12 11:11] MttCastelli commented on #541
@headbank thank you so much, I finally get this behaviour and I really apreciate.

However I still think it's a #pcman-qt problem.

[2015-04-12 20:08] #584 closed

[2015-04-12 20:09] #536 closed

[2015-04-12 20:16] palinek commented on #520
@pmattern  lxde/lxqt-panel@7cc17a0  is not connected anyhow to this issue (it's a wrong reference in commit message)

[2015-04-12 20:23] palinek commented on #588
How about these?:
1. there is "auto-hide" functionality in panel
2. you can move (non-maximized) window into area occupied by panel as you wish

[2015-04-12 20:41] DiscipleOfDante commented on #588
Autohide would cover one of these, but for the "windows can go below" it is really kind of a necessity for those who are trying to get the best screen economy they can. the main purpose for this function is maximized windows, while not losing the ability to see your panel (so you can always see your clock and the like)

[2015-04-13 06:20] palinek commented on #586
Tried to reproduce... and yes, it's happening, but only in case grouping is enabled. I'll have a look on it.

[2015-04-13 06:25] Vladimir-csp opened #590 "Desktop bookmarks"
That is a tricky question.
Pcmanfm-qt now uses GTK bookmarks. Qt file dialogs (and most of the other Qt apps) do not use it. There are [XDG specs](https://wiki.freedesktop.org/www/Specifications/desktop-bookmark-spec/) for bookmarks (along with recent files and apps). IMHO they have a better shot at being cross-toolkit, and are already widely supported (at least in 'recently used' part, never saw

[2015-04-13 11:18] #589 closed

[2015-04-13 11:49] palinek commented on #587
It could be that I'm missing something, but why do we set the window icon geometry at all?
After commentig the whole `LxQtTaskButton::refreshIconGeometry` I don't see any difference in behaviour/visual of taskbar:
[code]

[2015-04-13 13:01] paulolieuthier commented on #586
Great.

[2015-04-13 13:51] headbank commented on #541
I have to disagree there: PCMan is making a desktop, so you can't really blame him for following the freedesktop spec. The spec is at fault here, so blame freedesktop. I intend to ;)

[2015-04-13 14:28] PCMan commented on #587
The icon geometry stuff is for WMs which support animations when minimizing windows.
When you minimize a window, many WMs use that rectangle as the destination of their animations.
For example, openbox is one of these WMs.

[2015-04-13 14:30] palinek commented on #587
I've realized that already...(sorry for stupid questions :) )

[2015-04-13 14:37] palinek commented on #587
..while debuging i was realizing a smash of `NET::WMIconGeometry` and still didn't get where and why they are commig => the problem here is also if we have more than one plugin-taskbar active, each instance is setting the icon geometry and this leads to signal flood.

[2015-04-13 20:47] gbcox opened #591 "Chrome launches as X11 fallback rather than libappindicator"
Chrome switched to using libappindicator in the systray.  There was a bug report on this regarding KDE Plasma here:  https://code.google.com/p/chromium/issues/detail?id=362880

I've noticed that when you launch Chrome for some reason it is using the fallback X11 icons, even though I've installed libappindicator.  However, if I go to the LXQt Appearance Configuration and re-click on a widget style

[2015-04-13 20:50] Esclapion commented on #591
libappindicator is gtk, no ? (only to know)

[2015-04-13 20:52] paulolieuthier commented on #591
libappindicator is compatible with KDE's status notifier.

[2015-04-13 20:56] gbcox commented on #591
Yes, the implementation used in chrome is for gtk2, but as already commented it compatible with the KDE status notifier.  It appears to work in LXQt AFTER you re-click on a widget style - you shouldn't have to do that each time you start a new application.

[2015-04-13 21:04] paulolieuthier commented on #591
LXQt's status notifier implementation is a work in progress. Thanks for your help filing the issue.

[2015-04-14 13:31] palinek commented on #591
I didn't get much into this... but I've just fixed a problem of showing menu in lxde/lxqt-panel@aed01a20eb4b4503ccc7bfa87a86573d4fe48163. Is it suitable also for this issue?

[2015-04-14 13:35] MttCastelli commented on #541
@headbank sorry but I can't get this: freedesktop spec are the same in GNOME and KDE, for example, and they are also the same if you use pcmanfm ver. 1.2.x (gtk); specifications say that you can disable desktop_dir and use your home to make the desktop, and so it is in GNOME, KDE and with pcmanfm too. It's just pcmanfm-qt to refuse this setting.

I'm not a coder and I can't see under the hood, I'm

[2015-04-14 16:38] headbank commented on #541
I'm pretty much the same as you describe yourself, so don't worry, I'm not claiming any authority myself ;)

I guess the "spec" is pretty ambiguous anyway: what does the desktop environment infer by one of these dirs being "disabled"? You might say (as was my interpretation above) that "XDG_DESKTOP_DIR is disabled" should be taken as "There isn't one". Assuming that, then lxqt is actually the *fir

[2015-04-14 17:21] pmattern commented on #541
Interestingly enough this thread had taught me that I was probably misunderstanding the meaning of "disabled" for years, too.
Like you, I had always thought, "disable" means "doesn't exist", "isn't set at all" or something. But indeed it seems to mean "fall back to using $HOME".
I still think the specification's documentation is pretty misleading here.

[2015-04-14 17:47] pmattern opened #592 "LXQt panel/Task Manager: handling of windows displayed on all virtual desktops"
If a window is configured to be displayed on all virtual desktops by clicking "Send to desktop - All desktops" from its title bar's context menu (Openbox) it isn't displayed in Task manager any longer.

In earlier versions of LXQt panel windows were displayed in Task Manager independently of whether or not they were shown on all desktops or a single one only. I don't know whether introducing that

[2015-04-14 17:50] pmattern opened #593 "LXQt panel/Task Manager: disabling window grouping faulty"
If window grouping gets disabled windows' text in Task manager turns into a string of numeric characters and clicking doesn't have an effect any longer.
The latter isn't related to the various focussing issues that still exist as all other panel plugins are reacting as usual at the same time.

If "Show popup on mouse hover" had been set as well, remnants of the usual group lists comprising one ele

[2015-04-14 18:18] palinek commented on #593
How did you achieve that? I'm not able to reproduce it here ...

[2015-04-14 20:10] gbcox commented on #556
I don't know if this is the same issue or not but I'm noticing that chrome icon isn't showing correctly on the task switcher... I've attached a screenshot.  I haven't noticed any problems with Chrome and the task switcher on KDE so thought I would report it.  I haven't noticed an issue with any other application yet.

![screenshot - 04142015 - 01 06 43 pm](https://cloud.githubusercontent.com/asset

[2015-04-14 20:52] #593 closed

[2015-04-14 21:16] palinek commented on #539
Fixed by lxde/lxqt-panel@aed01a20eb4b4503ccc7bfa87a86573d4fe48163

[2015-04-14 21:16] #539 closed

[2015-04-14 21:46] #592 closed

[2015-04-14 22:05] palinek commented on #593
@pmattern, @agaida thanks for helping/testing

[2015-04-14 22:20] palinek commented on #591
I'm wondering how to enable any tray/status notification in chromium...
I've tried `alarm-clock-applet` as an example application using `libappindicator1` and (after lxde/lxqt-panel@aed01a2) the icon is correctly showed in status notifier plugin

[2015-04-14 22:51] gbcox commented on #591
I'm running Chrome, but should be the same...
You can go to:
https://developer.cdn.mozilla.net/media/uploads/demos/e/l/elfoxero/c17223c414d8ddafb7808972b5617d9e/html5-notifications_1400214081_demo_package/index.html

Fill out the form and it will make the notification bell appear.
Here is what the X11 fallback looks like:
![x11](https://cloud.githubusercontent.com/assets/4543019/7148830/99895bc0-e

[2015-04-14 22:58] paulolieuthier commented on #591
@gbcox left click by default opens the menu for every icon in Unity, right? We're following the xdg spec on the mouse clicks. We call the application telling it to handle a left mouse click when it happens (or a right click, and so on).

[2015-04-14 23:03] paulolieuthier commented on #541
@MttCastelli have you seen pcmanfm-qt desktop's advanced tab's options? You can set the desired directory there. And yes, it is pcmanfm-qt that handles the desktop icons in lxqt (by default).

[2015-04-14 23:28] gbcox commented on #591
I can't speak for Unity, I'm running Fedora - but I believe that is correct.  I get the menu on Hangouts under KDE, under LXQt it bypasses the menu and launches, same thing for the notification bell.  Also under LXQt I'm not getting the highlighting when hovering over the icons.

[2015-04-14 23:45] paulolieuthier commented on #591
I new issue must be filed for that. Thanks for yout help.

[2015-04-14 23:46] gbcox commented on #591
One more interesting bit of information regarding the highlighting... under KDE the Chrome, Hangouts and Notification Indicators highlight when you hover over them, no popup label.  Under LXQt what happens is when you hover over them you get a popup label:  Google Chrome, Hangouts, Chrome - Notifications and no highlighting.

[2015-04-14 23:51] gbcox opened #594 "Chrome Libappindicator icons, no highlighting, skips menu and launches"
Under KDE the Chrome, Hangouts and Notification Indicators highlight when you hover over them, no popup label. Under LXQt what happens is when you hover over them you get a popup label: Google Chrome, Hangouts, Chrome - Notifications and no highlighting.

Additionally when you left click on the icons you are suppose to get a menu, then click on the item to launch.  Under LXQt the menu is skipped a

[2015-04-15 07:02] palinek commented on #591
@gbcox From the screenshot I'm assuming that you are talking "System tray" plugin all the time and *not* about "Status Notifier". I thought we are dealing with different behaviour of "System tray" & "Status Notifier"... my fault.

[2015-04-15 07:45] palinek commented on #575
We have "Directory menu" plugin. Should this one be extended?

[2015-04-15 07:51] #558 closed

[2015-04-15 09:43] #555 closed

[2015-04-15 10:58] paulolieuthier commented on #581
@ThebestwaytodesignJoinGitHub remove your build directory and run cmake again.

[2015-04-15 10:58] #581 closed

[2015-04-15 11:07] paulolieuthier commented on #579
@antis81 lxqt-session provides .desktop files for power actions. `lxqt-hibernate.desktop`, lxqt-lockscreen.desktop`, `lxqt-logout.desktop`, `lxqt-reboot.desktop`, `lxqt-shutdown.desktop` and `lxqt-suspend.desktop`.

If you run one or those, you'll get a confirmation dialog (if you can disable the dialog in lxqt-config-powermanagement). What else lxqt-power provided that is not provided by lxqt-lea

[2015-04-15 11:18] paulolieuthier commented on #486
The only use of it is in lxqtsingleapplication.cpp, in `SingleApplication::activateWindow()`.

[2015-04-15 12:22] gbcox commented on #591
@palinek - I'm by no means an expert on this and maybe just confused.  I had read:
http://blog.martin-graesslin.com/blog/2014/03/system-tray-in-plasma-next/

I thought the way it worked is you have the system tray area.  Within that, the icons are either using the xembed specification or the status notifier (libappindicator) specification.  In this particular instance Chrome supports both... if li

[2015-04-15 12:34] antis81 commented on #579
@paulolieuthier Thanks for answering.

Just to set it right: The option to enable/disable the confrmation dialog is in lxqt-config-session (which totally makes sense :smile:), not lxqt-config-powermanagement. But this is not what I'm talking about.

Let me answer your latter question by providing a visual sample of my customized desktop with the missing dialog. As I didn't find a screenshot of the

[2015-04-15 12:37] paulolieuthier commented on #591
@gbcox what version of KDE are you using? The new Plasma desktop does not support the xembed spec at all. In LXQt, there is a panel plugin for xembed and another one for status notifier icons. Are you using both?

[2015-04-15 12:48] paulolieuthier commented on #579
(which totally makes sense :smile:), not lxqt-config-powermanagement.

Oh, right. Sorry. I, for one, should know it for I implemented it :smile:.

I totally get it now. There should be a gui for all the power actions. I think that could go in `lxqt-leave`. I'll work on it.

[2015-04-15 12:49] paulolieuthier commented on #540
I cannot reproduce it anymore, but the bug may still exist, as it depends on the applications being run. Closing.

[2015-04-15 12:49] #540 closed

[2015-04-15 12:51] palinek commented on #540
...and this https://github.com/lxde/lxqt-panel/blob/master/plugin-statusnotifier/statusnotifierbutton.cpp#L55 is still needed ?

[2015-04-15 12:52] gbcox commented on #591
@paulolieuthier I'm running KDE4.  I don't see a plugin for status notifier.  I only see a widget for system tray.  If this is something that has been recently added, it probably hasn't made it into the Fedora respository yet.

[2015-04-15 12:58] antis81 commented on #579
Nothing to add - Thanks! :+1: :+1: :+1:

Btw.: I'd really like to help out and taking part in the project. Be it with coding, translation, webpage, docs, .... Just contact me and I'll do my very best.

[2015-04-15 12:59] paulolieuthier commented on #591
KDE4 has both implementations under the name of "system tray", as you said. The blog post you linked to is about the new Plasma ("KDE 5"), which dropped xembed support. I just installed Chrome and I see its icon on the system tray plugin (xembed), but not on the status notifier plugin. I installed the Hangouts app and I didn't get it to show an icon, only a floating button.

@palinek open the app

[2015-04-15 13:03] paulolieuthier commented on #540
Well, that is needed to be future-proof. It protects us for showing corrupted status notifier items. But doesn't solve the whole problem. And the problem was that those corrupted items hanged the plugin for some seconds, blocking the UI thread.

[2015-04-15 13:04] gbcox commented on #591
You can also make the notification bell appear by going here:
https://developer.cdn.mozilla.net/media/uploads/demos/e/l/elfoxero/c17223c414d8ddafb7808972b5617d9e/html5-notifications_1400214081_demo_package/index.html

[2015-04-15 13:06] paulolieuthier commented on #579
@antis81 that's very good news. IMO, the best way to help besides coding is testing and filing issues. About coding, please take a look at the issue tracker and start playing with a lxqt component. Read more [here](https://github.com/lxde/lxqt/wiki/Contributing-code).

[2015-04-15 13:15] palinek commented on #591
@paulolieuthie i was able to see the notification by using @gbcox 's link (had to turn on the html5 notifications somewhere in the chromium settings). But wasn't abe to force the icon go into "status notifier" plugin.

[2015-04-15 13:16] paulolieuthier commented on #591
That's the desired behaviour. Each implementation of the system tray handles the events its own way. In LXQt, there is no highlighting, and the popup is shown. If the application's developer doesn't want a popup, he must not set it. About the highlighting, there is no such thing in the spec.

That's not right. As I said, in LXQt both xembed and status notifier specs are implemented in different pl

[2015-04-15 13:23] paulolieuthier commented on #591
@gbcox: following the discussion you linked to in the issue description, I found out Chromium's implementation is specific to KDE4, and you'll always see its icon in LXQt's xembed-based system tray plugin only (never on the status notifier plugin). I'm saying that based on a diff linked to on that discussion, I didn't see current Chromium code.

[2015-04-15 13:23] #591 closed

[2015-04-15 13:27] paulolieuthier commented on #594
Chrome's status notifier implementation is DE-specific, and LXQt is not supported. Therefore, Chrome will use standard tray icons in LXQt. Left click the app shows up, right click the menu shows up. That's the default behaviour, isn't it?

I'm closing the issue (the whole discussion can be found in #591). @gbcox feel free to reopen it if you find necessary.

[2015-04-15 13:27] #594 closed

[2015-04-15 13:28] paulolieuthier commented on #579
Sorry.

[2015-04-15 13:37] gbcox commented on #591
@paulolieuthier Ok, I think I understand the LXQt implementation now.  I need to wait until the status notifier plug-in is available on Fedora and then test.  My question is will I need to use both plugins, one for applications that are status notifier enabled and another for those that are not?  And what happens when an application (such as Chrome) supports both?

[2015-04-15 13:45] paulolieuthier commented on #591
Yes, I'm using both. The xembed-based one will be removed someday, xembed itself is being deprecated (it's already not supported in Plasma), probably when Wayland comes. The applications should handle it. Chrome already does it, as you can see it using the status notifier in KDE4 while KDE4 supports both implementations. Don't worry :smile:.

[2015-04-15 14:41] #579 closed

[2015-04-15 14:41] paulolieuthier commented on #579
@antis81 please update lxqt-session and try `lxqt-leave --gui`.

[2015-04-15 16:12] pmattern opened #595 "LXQt notificationd: truncated messages"
Under some circumstances the "Body" of messages (see "Basic Design" in [ Desktop Notifications Specification](https://developer.gnome.org/notification-spec/)) gets truncated without a real reason.

An example how to reproduce is pasting the following lines

[code]

into a file notification.txt and invoke `notify-send "Some summary." "$(cat notification.txt)"`.
If width is set to 300px and spacing

[2015-04-15 16:15] pmattern opened #596 "LXQt notificationd: background elements should be transparent"
LXQt notificationd messages come along with some black background elements. It would look much better if those were transparent.

Most prominent one is spacing between messages.
![lxqt_notificationd_intransparent-background](https://cloud.githubusercontent.com/assets/9860801/7163592/2f8c85c2-e39b-11e4-8c8f-d3222b82f4d8.png)

Messages themselves seem to have a black rectangle as background, too. Pa

[2015-04-15 16:45] gauthma commented on #399
Hello,

Are there any news about this? Or workarounds? (other than having to log out and in when plugging keyboards...). I am willing to take a look at the code and try to fix it, but I would appreciate some pointers of where to begin... I am already taking a look at the code of lxqt-session, but I am not certain the problem lies therein (because the settings the session file are always correct, e

[2015-04-15 16:58] paulolieuthier commented on #596
@pmattern which theme is that one?

[2015-04-15 17:01] paulolieuthier commented on #399
I'm afraid no news. I can't test it and can't imagine any possible reasons.

[2015-04-15 17:22] gauthma commented on #399
I may have (very much accidentally) discovered a workaround... I just compiled lxqt-seesion, and (after unplugging and plugging back in the external keyboard) ran the lxqt-session binary... and the proper layout is back! So far there seems to be no nefarious effect caused by this... Thoughts?

[2015-04-15 17:35] pmattern commented on #596
Kde-plasma. As stated in the message.

[2015-04-15 17:50] paulolieuthier commented on #596
Oh, sorry. And the window manager?

[2015-04-15 17:51] paulolieuthier commented on #399
Have you being able to reproduce the bug as well?

[2015-04-15 18:04] pmattern commented on #596
Oh, interesting: all findings so far with Openbox 3.5.2. Your question made me check KWin (5.2.2) - problem doesn't exist using it.

As I'm not sure whether there's some misunderstanding: The actual problem exists with all themes provided by lxqt-common. Just that corner thing is limited to those themes furnishing the messages with round corners.

[2015-04-15 18:06] #585 closed

[2015-04-15 18:09] paulolieuthier commented on #596
What you want is a compositor. Openbox does not have compositing.

https://wiki.archlinux.org/index.php/Openbox#Compositing_effects

[2015-04-15 18:11] Esclapion commented on #596
Yep, I use now compton and compton-conf with very good results.

[2015-04-15 18:15] paulolieuthier commented on #596
Then we have a problem, indeed.

[2015-04-15 18:17] npmiller commented on #585
Just for the record, this doesn't work with i3, as i3 doesn't set the _NET_WM_DESKTOP attribute on the windows.

See https://github.com/i3/i3/issues/1507 for more information.

[2015-04-15 18:18] paulolieuthier commented on #585
@npmiller plase update lxqt-panel and lxqt-common and test if it works well for you.

[2015-04-15 18:18] palinek commented on #596
The background widget is transparent and for the transparency a compositing WM is needed (or standalone compositor). The same "issue" affects also other components.

[2015-04-15 18:25] vicencb opened #597 "[lxqt-panel] task manager: margins when vertical"
When the panel position is "Bottom of desktop" then the mouse can be moved to the bottom and the corresponding application button will be highlighted in the task manager.
But when the panel position is "Left of desktop" then there is a margin between the left side of the screen and the application button that diminishes its usability.
Tested on version 0.9.0

[2015-04-15 18:34] palinek commented on #597
I can have a look on it... as @intialonso is not able to work on LXQt right now.

[2015-04-15 18:43] MttCastelli commented on #541
@paulolieuthier please try yourself to set 'Desktop folder' to your home in pcmanfm-qt desktop's advanced tab's options, and you'll not see any changes: no folders in your desktop and the Desktop place in pcmanfm-qt side panel will give you a non sense path (such as /home/matteo/_on, in my case.)

@headbank I'm happy to agree with you now. And also, please don't assume I'm worried just because my

[2015-04-15 18:46] paulolieuthier commented on #597
Great :+1:

[2015-04-15 19:22] npmiller commented on #585
@paulolieuthier works fine with kwin. Still some edge cases to cover though, for example if you add a desktop, you lose the highlight. Not a huge problem, but still, not the expected behaviour.

[2015-04-15 20:50] pmattern commented on #596
I had another look at this using different (non-) compositing window managers and indeed, compositing was the missing piece.

But this seems like a design worth re-considering to me:

LXQt is meant to be lightweight. Compositing does need additional resources, can very well cause performance penalties on resource-constrained devices but doesn't provide anything essential.
So it's pretty odd that i

[2015-04-15 20:53] paulolieuthier commented on #596
It's true. Transparency is a very basic and should be provided.

[2015-04-15 21:10] Esclapion commented on #596
Nope. if you disable the compositor in xfce, the taksbar is no more transparent, for example. I did now the try. But Xfce has an integrated compositor, than we can disable to improve performance.

[2015-04-15 21:13] paulolieuthier commented on #596
Yeah, I mean the transparency between the notifications. How xfce without composition handles it?

[2015-04-15 22:52] Thorn-Inurcide commented on #494
i have this issue as well, I created a tiny executable bash script that disables blanking and dpms, and I just manually activate the screensaver if i want it, usually i just turn my monitor off completely though. I have it auto starting with the session management tools.
#!/bin/bash
xset s off
xset -dpms

[2015-04-16 01:11] gbcox commented on #556
I upgraded my Fedora installation to F22 which uses Kwin 5 and the problem went away.

[2015-04-16 01:32] paulolieuthier opened #598 "Manage plugins dialog design"
Continuing the discussion from #536. @jleclanche @pmattern @palinek @Vladimir-csp @excalibur1234

![4d03ee88-dc75-11e4-87b7-8cbd61211c11](https://cloud.githubusercontent.com/assets/1238157/7172453/8d8b2138-e3be-11e4-97db-b7b3aaa4a4e4.png)

I think xfce's design here is much, much better than ours. We can copy it. But we can also figure out something better. Ideas?

[2015-04-16 03:51] Vladimir-csp commented on #598
I agree, XFCE has a solid design. Centralized plugin manager with all the obvious buttons as a tab in config window.
What can be better? Maybe two-pane list with enabled/available panes and buttons in between?

[2015-04-16 05:24] palinek commented on #597
@vicencb I don't see such behaviour in any theme. All current themes have a margin on top/bottom.
But I admit it will be good to get rid of those margins.

[2015-04-16 05:42] surlykke commented on #596
2015-04-15 23:13 GMT+02:00 Paulo Lieuthier <notifications@github.com>:

Last time i checked (about the time notificationd was written (by Petr
Vanek)), Qt did not support transparency of top level widgets without a
compositor. That was Qt4. It may have changed for Qt5 but I doubt it - so
you'll have to do an awful lot of coding to get this.

br. Chr.

[2015-04-16 08:16] antis81 commented on #579
@paulolieuthier You mean like update and install from source? I'm asking as the change is not in the upstream PPA yet.

[2015-04-16 08:46] pmattern commented on #596
So it would be even more interesting to figure out how the KDE folks are handling this (which I can't do myself, unfortunately):
![kde-plasma_several-notifications](https://cloud.githubusercontent.com/assets/9860801/7177260/737c3446-e425-11e4-8337-79d98cd27f09.png)
Plasma 5.2.2 using Openbox, no Compton installed.

Also, would be interesting to know which "other components" are effected as well. @

[2015-04-16 09:03] antis81 commented on #579
For dev. environment I cloned the lxqt repos and created a `build` directory in `lxqt/lxqt-session`. Following the build instructions, I run the following command (some personal extensions required): `PATH=$HOME/Qt/5.4/gcc_64/bin:$PATH cmake -DQT5=ON -- ..`

I have two questions about compiling:
1. CMake errors out and keeps telling me to install `KF5WindowSystem`. How can I do that in a minimal w

[2015-04-16 09:19] palinek commented on #597
I have removed margins in themes.... but there is still a problem with `LxQt::GridLayout` which I've fixed in lxde/liblxqt@bba36a0. When that goes merged, we can close this.

[2015-04-16 09:35] palinek commented on #579
In debian/ubuntu the dev package for `KF5WindowSystem` is: `libkf5windowsystem-dev`. For all future build dependencies that cmake is complaining you have to find the package that contains `XXX.cmake` (see how cmake `find_package` works for example here: http://www.cmake.org/cmake/help/v3.0/command/find_package.html)

You can see it in other lxqt modules. Here http://stackoverflow.com/questions/108

[2015-04-16 09:36] palinek commented on #596
AFIAK

[2015-04-16 10:57] antis81 commented on #579
@palinek Thanks for the info. The following should do the trick:

`sudo apt-get install liblxqt-dev liblxqt5-dev'
(I installed libkf5windowsystem-dev separately, which should not be necessary - I'll recheck that).

After doing so, lxqt-session compiles fine with Qt5.4.1 (by adding the PATH prefix).

@paulolieuthier Dialog runs fine and basically works. However, there's always some small things to

[2015-04-16 11:53] palinek commented on #596
let's see if we can do something with the transparency...

[2015-04-16 12:13] Esclapion commented on #596
It can be "false" transparency. I can obtain that for example with urxvt, but it's not so good as "true", and it's probably heavy.

[2015-04-16 13:13] gauthma commented on #399
Ah yes, I should have mentioned it more explicitly: I am able to reproduce the bug, just as reported. It happens with an external keyboard, and also when un- and then re-plugging the said keyboard: settings are fine after unplug, but forgotten after re-plug. I'm running lxqt 0.9, in ArchLinux.

[2015-04-16 13:41] paulolieuthier commented on #596
Plasma's approach is too different as it's QML-based.

[2015-04-16 13:43] paulolieuthier commented on #596
I imagine we have a widget in which we create the notifications balloons, right? If we had totally independent widgets for the balloons, there wouldn't be a background to be transparent at all. But to do that, we'd have to handle all those widgets positioning when a new balloon wants to appear.

[2015-04-16 14:07] paulolieuthier commented on #579
@antis81 I fixed the position and created the `.desktop` file. The other issues may be fixed in the future. Translation will certainly come.

[2015-04-16 14:09] palinek commented on #596
...and also all the moving of other ballons when one of them disappears

[2015-04-16 17:39] vicencb commented on #597
@palinek you are right, all of them have a margin
![hor](https://cloud.githubusercontent.com/assets/8713064/7187155/a9958fc8-e466-11e4-9ffc-14018393ea48.png)
![ver](https://cloud.githubusercontent.com/assets/8713064/7187157/ac8b6374-e466-11e4-8934-ad9a0f7ffa34.png)
but the horizontal version has only a 2 pixels margin while the vertical version has 4.
I don't know why but when I move the mouse to

[2015-04-16 17:49] gbcox commented on #598
Here is what Mate has which is more or less similar to the current and KDE, Gnome.  I agree, the XFCE is very nice...
![mate](https://cloud.githubusercontent.com/assets/4543019/7187570/4ef4b5de-e426-11e4-9db3-592b85ca5db8.png)

[2015-04-16 20:21] paulolieuthier commented on #598
I've been thinking of a way to solve our problem of not having how to move/configure the plugins which handle right click by their own (that can't be moved or configured by right click, like the taskbar and the system tray).

Ths solution is to add a handle, a little widget just before those plugins. That could be a flag any plugin could set. Right-clicking this handle would present the desired op

[2015-04-17 05:06] palinek commented on #597
@vicencb I suppose LXQt components have nothing to do with the pointer position limitation. I believe it's connected with WM.

[2015-04-17 08:13] pmattern opened #599 "lxqt-config: integrate panel configuration dialog in Configuration Center"
It would be good to have dialog window "Configure Panel", right now accessible from panel's context menu only, accessible from "Configuration Center" (binary lxqt-config) as well.

If I'm not mistaken, it's the goal of Configuration Center to have all important configuration settings summarized at one single spot. Integrating panel's configuration GUI would hence simply fit in that concept.
Moreov

[2015-04-17 08:17] pmattern commented on #598
My 2 cents after re-thinking that whole thing once more:

Dialog windows "Configure Panel" and "Manage Panel Widgets" should be merged into a single one. All in all I think this would make sense, also, but not only with regards to #599.
Of course this would mean that the UIs have to be tweaked somehow, e. g. by introducing tabs as in Xfce, which in turn sure meant some coding effort. But if this i

[2015-04-17 08:24] Vladimir-csp commented on #599
lxqt-config is just a specialized application browser, so panel configuration dialog should be accessible via .desktop file, either as a binary or as an argument to lxqt-panel.

[2015-04-17 12:56] paulolieuthier commented on #598
I agree with you about all you said. But the handle thing wouldn't be for moving (but it could also be). It'd be specially for accessing the context menu.

[2015-04-17 14:26] paulolieuthier commented on #570
Closing this for we won't spend man power for something that already exists and works well.

[2015-04-17 14:26] #570 closed

[2015-04-17 14:41] paulolieuthier commented on #477
@pmattern there is a new `.desktop` file now, called `lxqt-leave.desktop`.  It calls `lxqt-leave --gui`, and that triggers a dialog with leave session options. What do you think of that?

[2015-04-17 14:42] paulolieuthier commented on #434
Closing.

[2015-04-17 14:42] #434 closed

[2015-04-17 14:43] paulolieuthier commented on #400
That was solved sometime ago.

[2015-04-17 14:43] #400 closed

[2015-04-17 14:47] paulolieuthier commented on #133
I think that should happen as a third party plugin.

[2015-04-17 14:49] paulolieuthier commented on #117
Closing this. @ghost please feel free to reopen it if the bug is still valid.

[2015-04-17 14:49] #117 closed

[2015-04-17 14:52] paulolieuthier commented on #64
I don't think this is reasonably doable in the system tray plugin. I'll be definitely done in the new status notifier plugin. Actually, that's what KDE4 does.

[2015-04-17 17:09] ellis commented on #331
@Vladimir-csp seems to have a reasonable setup, though I don't like Super+C for closing a window, because of it's nearness to Ctrl+C/Cmd+C for "copy".
I would love to be rid of the Ctrl/Alt/Shift global shortcuts, in order to leave them to applications.

[2015-04-17 17:19] gbcox commented on #570
CopyQ allows you to pull and manipulate clipboard items in a script, as does klipper; but of course doesn't have all the dependencies of klipper making it a good fit to use in LXQt for those who need advanced functions. Unless I am mistaken, qlipper doesn't support this functionality.  That said, I have no issues with qlipper being the default; but it's nice to know CopyQ is available for those wh

[2015-04-17 17:25] DrLuny opened #600 "Monitor Settings: Unplugging external monitor makes it impossible to switch off extended desktop"
When I unplug my VGA monitor from my laptop without first changing to LVDI-only in the quick options, the quick options page no longer appears and I can't use it to eliminate the extended desktop(open windows remain on the side of the desktop the monitor was displaying and I can drag things off my screen).  Applying the settings I can set at the settings tab, which no longer sees the VGA display,

[2015-04-17 19:42] paulolieuthier commented on #598
@luis-pereira @jleclanche @PCMan @kuzmas @surlykke do you know the reason why the `AddPluginDialog` class is in liblxqt rather than in lxqt-panel? Would it be a problem to move to lxqt-panel?

[2015-04-17 19:55] paulolieuthier commented on #598
**Brace yourselves**:

![screen](https://cloud.githubusercontent.com/assets/1238157/7209779/3a8b13b6-e522-11e4-9e86-f7906e49c92b.png)

About the UI, I actually prefer tabs here, but I'm using `ConfigDialog` from liblxqt, and that's the default way. Tabbed config dialogs could be supported as well. Maybe another day :smile:.

[2015-04-17 20:06] pmattern commented on #598
Wow, looks pretty promising . That side-pane at the left would do very well, imo. Definitely not essential to replace it by tabs.

[2015-04-17 20:31] Vladimir-csp commented on #598
That looks great!
Tabs use less space though, but that is not a critical matter.

[2015-04-18 08:15] palinek commented on #598
The desing is nice. Tabs vs. icon bar -> IMHO icons better suits the overall `lxqt-config` dialogs design.

[2015-04-18 11:49] ypnos opened #601 "Document lxqt-leave"
The command `lxqt-leave` is a great way to suspend from console or for a keybinding. However I didn't find any documentation.

I had to look at https://github.com/lxde/lxqt-session/blob/master/lxqtleave/main.cpp to find out what arguments to pass to the command. Trying out different options is scary because you might accidentally kill your session ;)

1. Have a manpage for lxqt-leave
2. Provide -h

[2015-04-18 13:12] selairi commented on #600
I will try to fix this bug. Thanks for your report. I'm working in a
new interface, with saving options.

Thanks

2015-04-17 19:25 GMT+02:00, DrLuny <notifications@github.com>:

[2015-04-18 14:44] #556 closed

[2015-04-18 18:30] agaida opened #602 "feature request: keyboard layout panel switch"
may be realized in the keyboard indicator plugin or via systray-icon

http://i.imgur.com/Ojsz2Ya.png / http://i.imgur.com/iun6DEI.png / http://i.imgur.com/pbCHRWD.png

right now i use qxkb for that - but qxkb is Qt4, mostly unmaintained and conflicts with the standard LXQt tool

[2015-04-18 19:41] npmiller opened #603 "Application chooser"
Shouldn't the application chooser present in `lxqt-config/lxqt-config-file-associations` be moved to somewhere more generic where it can be used by other parts of LxQt (maybe liblxqt?). It would allow to have a real application chooser in `lxqt-config-session` for example, instead of opening a file picker in `/usr/bin`.

[2015-04-18 19:46] Vladimir-csp commented on #603
Sounds logical!
I would also suggest adding a custom command option (in form of text input) to application chooser that would create user-level application with that command on the fly.

[2015-04-18 19:49] Vladimir-csp commented on #603
There even may be some code reusability possibilities with #580.

[2015-04-18 21:10] agaida opened #604 "feature request: start lxqt-runner if typing on the desktop with no window active"
like in kde and/or gnome

[2015-04-18 21:17] selairi commented on #600
I have just pushed to Github a possible solution to remove the extra
desktop space. It is in:

https://github.com/lxde/lxqt-config

X11 should calculate framebuffer size by itself. It usually does it
bigger. I forgot to make it smaller. Sorry

I also include some screenshots of new interface. Saving options is in
other tab. When I finish writing it, you will be able to save configs
and load them w

[2015-04-19 01:31] agaida opened #605 "lxqt-panel FTBFS, lxqt-panel*qm missed"
may be introduced in lxde/lxqt-panel@87af5ad01

that leads to
<pre>
CMake Error at panel/cmake_install.cmake:44 (file):
  file INSTALL cannot find
  "/home/agaida/work/siduction/code/extra/500-lxqt/4-lxqt-panel/experimental/checkout/panel/lxqt-panel_fi.qm".
</pre>

[2015-04-19 03:00] paulolieuthier commented on #605
This is not a FTBFS, right? It's a failure on install. The translations files are probably outdated, I'll take a look at that.

[2015-04-19 03:26] paulolieuthier commented on #605
I don't know much about the Qt's translation system. Maybe @luis-pereira can help here.

[2015-04-19 03:44] paulolieuthier commented on #605
I get it with `lxqt-panel_fi.qm` as well.

[2015-04-19 03:50] mmetak commented on #605
lxqt-panel_ro_RO.qm as well...

[2015-04-19 06:30] alexrichert opened #606 "Feature request: Show application menu on desktop right click; show workspaces on desktop middle click"
In XFCE, there are checkbox options (under Desktop Settings) for showing the application menu on right click on the desktop, as well as for showing a list of workspaces (and windows within those workspaces) on middle click on the desktop. XFCE also provides the option to hide desktop icons, which hides the entries in the normal desktop right-click menu, leaving only the application menu (if that o

[2015-04-19 09:42] pmattern commented on #606
Accessing Application menu per right-click on desktop is discussed in #464, displaying a list comprising workspaces and applications per middle-click in #469.

[2015-04-19 10:26] pmattern commented on #477
GUI `lxqt-leave --gui` plus lxqt-leave.desktop pulled into a Quick launcher instance are providing what I had in mind so basically this issue is solved.
I'd mostly agree with the polishing stated by antis81 in #579 which should be rather easy to handle I suppose. Something not that good is the interaction between `lxqt-leave --gui` and its desktop entry file on the one hand and the rest of the des

[2015-04-19 10:46] palinek commented on #605
@agaida can you try to compile/install with lxde/lxqt-panel@6604101232f8143a086b64bce8227d19aabb27fe ?

[2015-04-19 10:55] pmattern commented on #598
Please let's not follow the contemporary trend to be maniac about gearing each and every kind of stuff towards mobile devices.
Considering the devices LXQt is intended to be used on the little additional space needed by those icons really doesn't matter in any way.

[2015-04-19 10:55] palinek commented on #604
If implemented, please, make it configurable.
(for me such behaviour will be annoying)

[2015-04-19 11:12] palinek commented on #602
There is a WIP on that field lxde/lxqt-panel#102. @jleclanche, @zjes what's the status on that?

[2015-04-19 11:13] palinek commented on #605
fixed in  lxde/lxqt-panel@6604101

[2015-04-19 11:13] #605 closed

[2015-04-19 11:17] agaida commented on #605
thank you

[2015-04-19 12:04] flamusdiu opened #607 "Cannot hibernate due to Upower"
Looks like Debian remove hibernate function from Upower. So, using systemd, I can't get hibernate to work. I also can't remove Upower due to the hard dependencies (which then would get hibernate to work). What's the trick here?

[2015-04-19 16:44] ariszlo commented on #582
Yes, it is, thank you. Meanwhile, I sent this patch to the packagers of the lubuntu-daily ppa:

--- lxqt-common-0.9.1/menu/lxqt-applications.menu.orig	2015-02-14 14:42:58.000000000 +0100
+++ lxqt-common-0.9.1/menu/lxqt-applications.menu	2015-04-15 19:08:42.498733000 +0200
@@ -184,6 +184,7 @@
 		<Exclude>
 			<Or>
 				<Filename>lxqt-config.desktop</Filename>
+				<Filename>synaptic-kde.desktop</Fi

[2015-04-19 18:06] paulolieuthier commented on #607
I proposed to use systemd by default (if it's available) in lxde/liblxqt#40. But ideally, the user would be able to choose it.

[2015-04-19 18:07] paulolieuthier commented on #598
@pmattern, don't worry about it :smile:

[2015-04-19 18:29] paulolieuthier commented on #601
- [x] The help option command was added by @npmiller.
- [ ] Man page to be added.

[2015-04-20 03:10] flamusdiu commented on #607
systemd can use different applications for it if installed instead of itself. Removing UPower fixed hibernate but breaks the Power Panel Widget. =\

[2015-04-20 04:07] flamusdiu commented on #607
Looks like the commit does fix my issue. Upower is still required for the widget though. =)

[2015-04-20 07:14] palinek commented on #600
@selairi there is a work in progress on migration to `KScreen` of the whole `lxqt-config-monitor`. See #502.

[2015-04-20 08:37] palinek commented on #399
The problem seems to be somewhere in xserver and/or setxkbmap. I didn't use lxqt-config-input in any way and the keyboard layout is simply set in `.xsessionrc`. And I can confirm that the keyboard layout configuration is lost after USB keyboard is plugged in.

We probably need to make a workarround by listening when new keyboard is plugged nad set layout configuration afterwards.

[2015-04-20 09:45] pmattern commented on #533
Just saw that parts of this issue have already been addressed in #125 (network management GUI in general) as well as #297 (Bluetooth GUI).

[2015-04-20 09:50] agaida commented on #533
Will make a debian package for it this week

[2015-04-20 12:04] palinek commented on #399
On my system keyboard layout is set by `udev` when new keyboard is plugged and is somehow connected to rules it's rules. I found following rule udev rule `64-xorg-xkb.rules`:
[code]

That gave me a clue for `/etc/default/keyboard` -> if it is configured the same way as with the `setxkbmap` (e.g. by `lxqt-config-input`) then the layout will remain the same after keyboard plug. But I still don't kno

[2015-04-20 13:12] paulolieuthier commented on #607
@flamusdiu what power panel widget are you talking about?

[2015-04-20 13:13] rcmn commented on #533
@agaida

[2015-04-20 13:20] pmattern commented on #577
Running either LXQt release 0.9 or latest Git on Arch Linux I can't confirm your findings. The window manager as stated by `xdg-mime query default inode/directory` comes up at once when either `xdg-open <some directory>` is invoked in a virtual terminal or "Show in folder" is clicked after downloading a file in Chromium.
Window managers compiled against Qt 5 don't seem to open the correct folder b

[2015-04-20 14:24] paulolieuthier commented on #497
I'm closing this, as XfitMan is (and always will be) used in lxqt-panel's tray plugin. But the tray plugin it self is optional, just like any other plugin. So lxqt-panel will be ready for Wayland when KWindowSystem is.

[2015-04-20 14:24] #497 closed

[2015-04-20 14:32] paulolieuthier commented on #125
I've started building one on my spare time (which has been close to zero).

[2015-04-20 14:34] paulolieuthier commented on #380
Dup of #14.

[2015-04-20 14:34] #380 closed

[2015-04-20 14:45] DiscipleOfDante opened #608 "[Feature Request] Support Wallpaper slideshows"
Essentially allow using a directory or selecting a series of wallpapers to cycle between, with a user-specified timer. This is something most desktops support and can really add to the aesthetic appeal of LXQt.

[2015-04-21 00:18] palinek commented on #399
Just updated lxqt-session in lxde/lxqt-session@bba7a71 to monitor input devices adding and (re)set our keyboard layout afterwards.
@gauthma, @ypnos can you, please, test it?

[2015-04-21 06:56] #47 closed

[2015-04-21 10:06] gauthma commented on #399
@palinek It seems to be working! yay :D (and thank you!)

[2015-04-21 10:07] palinek commented on #399
@gauthma thanks, merging...

[2015-04-21 10:10] #399 closed

[2015-04-21 13:46] flamusdiu commented on #607
LXqt Powermanagement

[2015-04-21 14:42] paulolieuthier commented on #607
I'm using systemd now (actually, it's the default in git master now) and I can use lxqt-powermanagement without any problem. Please, describe your issues.

[2015-04-21 15:19] selairi commented on #600
I have already read that thread. I have seen your work in:

https://github.com/palinek/lxqt-config/tree/switch-to-kscreen

I was thinking of "stealing" part of your code and implement kscreen
as backend.I think it is not a good idea to remove support for
backend. Wayland is not clear in screen settings and if you see WRandR
(http://lists.freedesktop.org/archives/wayland-devel/2014-March/013843.htm

[2015-04-21 15:33] paulolieuthier commented on #600
@selairi AFAIK KScreen works on other window managers like Openbox as well.

[2015-04-21 18:53] goetzc opened #609 "notificationd: easier config settings"
A way to directly choose the relative desktop notification position on screen, like shown in the screenshot below, would be much more intuitive to use than having to set the vertical and horizontal position separately.
![monitor-position](https://cloud.githubusercontent.com/assets/2220440/7260052/fa176376-e82c-11e4-8860-06605ce698c0.png)

[2015-04-21 18:56] jleclanche commented on #600
kscreen works just fine on any window manager... I don't see why kwin was
brought into it.

Wayland doesn't have a screen management protocol yet. The KScreen dev
confirmed there'll be support for it when there is.

I'm -2 on keeping the current xrandr interface. It's really nasty and
there's no reason to keep it if we have kscreen support, which gives us
more than what xrandr does.

J. Leclanche

[2015-04-21 19:10] selairi commented on #600
Does kscreen work with other wayland compositors? I would prefer use
kscreen as backend and keep xrandr backend.

xrandr works and is lighter than kscreen. User can select kscreen or
xrandr. And finally lxqt-config-monitor can be easily adapted to
wayland.

2015-04-21 17:33 GMT+02:00, Paulo Lieuthier <notifications@github.com>:

[2015-04-21 19:16] jleclanche commented on #600
There's no such thing as a library, or protocol, for screen management on
wayland. Xrandr certainly doesn't work.

The GNOME environment use a nonstandard port of their xrandr dbus
interface, but it's all done in-compositor, no library at work.

This is an issue that we can't fix right now. I will follow it up, but we
shouldnt worry about it yet.

J. Leclanche

On 21 April 2015 at 21:10, P.L. Luca

[2015-04-21 20:49] surlykke commented on #607
2015-04-21 15:46 GMT+02:00 flamusdiu <notifications@github.com>:

If UPower is removed then it is as expected that lxqt-powermanagement does
not work. Battery change events and lid closed event comes from UPower
(albeit some of them through solid).

If the issue is that systemd cannot hibernate, then a workaround may by to
configure a custom provider for hibernation. This requires that you have
so

[2015-04-21 21:07] selairi commented on #600
Xrandr command line is fast and uses low memory. You can speed up your
desktop starting. Kscreen interface will made it slower. A Ten-years-old
computer doesn't need a heavy interface.

The current xrandr interface is simple and bugs can be easily found. We
can change the backend and we can reuse the ui interface. And it is
possible use both backends.

[2015-04-21 21:09] jleclanche commented on #600
On 21 April 2015 at 23:07, P.L. Lucas <notifications@github.com> wrote:

You're making a lot of wrong assumptions.

J. Leclanche

[2015-04-21 21:14] selairi commented on #600
Since I have been working hard for a very long time on this topic, I
consider it is not a proper answer to say just: "You are making a lot of
wrong assumptions" without a logic explanation.

[2015-04-21 21:20] jleclanche commented on #600
libkscreen communicates directly with x11. The xrandr backend goes through
a pipe. We ran the numbers when I was working on it and using kscreen is
far faster than the current xrandr backend - and there is no reason it
shouldn't be. It also creates no new dependency other than libkscreen
itself, which is very small and not in any way "heavy" (<700KB on disk).
And, it has a much nicer API than the

[2015-04-21 21:46] selairi commented on #600
Thanks for your reply.

lxqt-config-monitor saves your config in a simple .desktop file. This
.desktop file contains xrandr command to set your screen config at
starting. It is not necessary load screen config at desktop init (no
pipes at start).

The main goal is speed up your desktop starting.

If community prefer kscreen interface, I will help on it. But the fisrt
idea was another.

[2015-04-21 21:50] jleclanche commented on #600
The desktop file issue is different. We discussed it on IRC when this was brought up but no concrete solution was proposed. Ideally we should save these things in the xorg config rather than run xrandr commands at startup, but that's another can of worms.

[2015-04-21 22:13] Vladimir-csp commented on #600
Some user-level daemon is needed anyway to handle display hotplug events and apply configurations accordingly. It would also replace xrandr command on startup

[2015-04-21 22:30] jleclanche commented on #600
Yes. We discussed bringing the kscreen daemon but it is massive, far too heavy for our task. Ideally we're looking for a separate, third party component which would use libkscreen. This is open to contributors.

[2015-04-21 23:10] agaida commented on #533
@surlykke - i think its time to move/fork lxqt-connman-applet to g.c/lxde - what do you think?

[2015-04-22 01:23] peyoot commented on #417
This problem is still there. In LXDE we don't encounter this problem. But lxqt 0.9. I still can't make it work.  My environment is ubuntu server 14.04,
sudo add-apt-repository -y ppa:lubuntu-dev/lubuntu-daily
sudo apt-get update
sudo apt-get install lxqt-metapackage openbox
sudo apt-get install language-pack-zh-hans
sudo apt-get install fonts-arphic-uming
sudo apt-get install fcitx-table-wbpy

OK,

[2015-04-22 01:24] paulolieuthier commented on #607
@surlykke systemd is default for power management actions in liblxqt. I don't think it interferes with lxqt-powermanagement.

About systemd not being able to hibernate, we can simply go through all the power providers to see if one of them is able to do it, and then call it.

[2015-04-22 05:32] surlykke commented on #533
2015-04-22 1:10 GMT+02:00 Alf Gaida <notifications@github.com>:

I think so too.  I was hoping to do (some of the) vpn stuff before asking
to move it into lxqt. But realistically it will be several weeks before I
get around to it. So now may be as good a time as any.

br. Chr

[2015-04-22 05:56] palinek commented on #600
Just recently I've implemented listening for new input devices by `libudev` into `lxqt-session` (lxde/lxqt-session@33a5f92f4fbdbafb24c38de90adf551065447b95) and IMHO we could easily use that also to trigger any screen dependent operation.

[2015-04-22 08:23] zjes commented on #602
Now it's implemented in current kbdindicator plugin, but needs to make it like third party plugin. I will try to make it asap.

[2015-04-22 12:19] palinek commented on #169
fixed in https://github.com/lxde/lxqt-panel/compare/f06970a76b32...9b46323700d2

[2015-04-22 12:19] #169 closed

[2015-04-22 12:25] palinek commented on #384
fixed in lxde/lxqt-panel@d803180d7950554bced2fe3cfe5c6d4c1b736b15

[2015-04-22 12:25] #384 closed

[2015-04-22 12:44] paulolieuthier commented on #602
The current keyboard indicator plugin shows the state of the modifier keys (Caps Lock, Num Lock and Scroll Lock). This issues is about the keyboard layout. I don't think Qt has support for that. We should look how KDE does it. In lxqt-config-input, the output of `setxkbmap` is parsed and information is retrieved from that. But obviously that's the wrong way to do it.

[2015-04-22 14:13] zjes commented on #602
Layout in pull request is based of current indicator plugin. :)
First implementation in this pull request get kbd information with help of XkbGetControls, and it was standalone plugin. The second implementation read setxkbmap output also. You can choose. I dont know other ways to read info from the xkb. :(

[2015-04-22 14:38] paulolieuthier commented on #602
@zjes I see. There is a library called [xkbcommon](http://xkbcommon.org) that can handle keyboards. It doens't look like it's simple to use it, but it supports X11 and Wayland :smile:. Anyway, I'm ok with merging your plugin using `#ifdef`s for X11.

And  lxqt-config-input must be updated to support Wayland one day as well.

[2015-04-22 14:44] gbcox opened #610 "Removable media widget and pcmanfm unpredictable behavior"
I have a btrfs usb3 drive...  when I plug it in, I get the message from the widget it is available.  I then see a popup if I want to open it with the file manager.  Sure... so pcmanfm opens, everything is working fine.  Can copy to it, read from it, delete from it, no problem.  I then close pcmanfm and do other things.  Now I decide, ok, don't want the drive anymore so I go to the widget to umount

[2015-04-22 18:00] npmiller commented on #610
Gave this a quick investigation, the plugin-mount seems to be working okay on it's own, the problem is that it relies on:
http://api.kde.org/frameworks-api/frameworks5-apidocs/solid/html/classSolid_1_1DeviceNotifier.html
To get notified about the devices, and this only provides signal when a device is added or removed, so if something else than the plugin mounts (or unmounts) a volume, the plugin

[2015-04-22 18:02] paulolieuthier commented on #610
Well, it should be notifier whenever a device changes state, no matter which program did it.

[2015-04-22 18:03] npmiller commented on #610
Yes, but not with this api then

[2015-04-22 18:05] paulolieuthier commented on #610
I meant with this API.

[2015-04-22 18:11] paulolieuthier commented on #610
I can reproduce certain bugs. However, the problem is not the API, it's the misuse of it.

[2015-04-22 19:39] agaida commented on #533
ok, experimental packaging is done (vs Qt 5.4.1), packaging for unstable will follow soon (today). Work well, shows a Symbol in the tray with a working menu. The only thing i would change is: Please make the applet quiet, aka no debug output in standard. Maybe a command ĺine would be nice. A version would be nice too.
One could find the packages here: http://packages.siduction.org/lxqt - the exper

[2015-04-22 20:47] palinek commented on #610
I didn't see such behaviour, but pushed handling of `accessibilityChanged` signal in lxde/lxqt-panel@0506738 -> for me this fixes changing state of 'eject' in case of manual unmount (*# umount _\<dev\>*).
@gbcox can you, please, test if this makes any difference in your scenario?

[2015-04-22 21:10] palinek commented on #610
...and for the pcmanfm-qt. There is a configuration of what should pcmanfm-qt do when removable media is inserted/unmounted Edit->Preferences->Volume :
![screenshot](https://cloud.githubusercontent.com/assets/10990929/7285388/645abf0e-e944-11e4-8982-1511b1999890.png)
=> if you had only one tab, after unmount the whole window is closed

[2015-04-22 21:29] paulolieuthier commented on #610
@palinek your fix didn't work for me. When I mounted a device using another application, the mount plugin didn't get it. I just commited a large refactoring with the fix: lxde/lxqt-panel@5575aaedd468b89d00fef59ae3e6d76ceeb772ca.

@gbcox can you test current master, please?

[2015-04-22 21:38] palinek commented on #610
@paulolieuthier don't know what do you mean by 'another application', but on my system the state is correctly update after 'plain' mount e.g. *# mount -t vfat /dev/sdb1 /mnt/usb*
...why did you remove the actions? (I was using the notification...)

[2015-04-22 21:38] gbcox commented on #610
@paulolieuthier, @palinek:  I'm running the Fedora rpms, not the github version.  I did check
the pcmanfm-qt mount settings and saw where I had close tab checked, which is probably why pcmanfm closed.  I switched it to change folder and appears to be working correctly - although I get absolutely no messages from the  widget or pcmanfm - and the widget during the entire process showed no devices ar

[2015-04-22 22:06] paulolieuthier commented on #610
@palinek sorry about that. Reading the code, I thought that wasn't being used (at least KDevelop didn't show any actial use). I'll revert it and add the actions back.

[2015-04-23 01:42] jeremywh7 opened #611 "[lxqt-panel] Panel doesn't hide if the 'Application menu' is clicked w/o closure"
Running Arch x64, lxqt 0.9.0 but lxqt-panel from git (and dependencies) to enable autohide.  I'm not sure if this was from the initial autohide merge or a change since, but I've noticed since yesterday that:
-if you click the 'Application menu' then, even if an application is opened, click on the desktop...and keep clicking; the panel will never autohide
-...but if you move the mouse over the pane

[2015-04-23 05:30] rcmn commented on #533
@agaida just installed and tried this package "lxqt-connman-applet_0.0.0-1_amd64.deb 22-Apr-2015 19:51 88668" on Ubuntu 14.10.

@surlykke Tested wired and wifi (with adding passphrase) everything worked.
The only thing I had to do is to add "lxqt-connman-applet" to autostart.
One suggestion / detail for the futur, something that cmst does not have either, is some sort of visual indicator when conn

[2015-04-23 06:26] Vladimir-csp commented on #533
Any plans on Network Manager support?

[2015-04-23 06:56] #611 closed

[2015-04-23 06:58] palinek commented on #611
@jeremywh7 can you, please, confirm that hiding is now fixed for you?

[2015-04-23 07:07] palinek commented on #533
@paulolieuthier is your plugin (noticed in #125) an NM frontend?

[2015-04-23 07:28] palinek commented on #610
@gbcox you are probably still using the old fashioned `plugin-mount` (based on [this](https://apps.fedoraproject.org/packages/lxqt-panel/builds/) latest packages were build 2 months ago). The plugin was buggy and on 2015-02-25 migration to new backend was commited.

[2015-04-23 07:28] #610 closed

[2015-04-23 10:38] selairi commented on #502
I starting to study switch-to-kscreen
<https://github.com/lxde/lxqt-config/tree/switch-to-kscreen> branch. I
will send my comments.

I started some changes in the interface (xrandr based), but I stop. I
have pushed some of my changes in the interface to master branch. It
isn't finished, but it works OK. No sense to work on something that will
be destroyed.

El 17/02/15 a las 14:38, Jerome Leclanch

[2015-04-23 11:18] jeremywh7 commented on #611
Confirmed fixed, trying all test cases from my opening post.  And I broke my rule of no git before work to check it out.  :-P  Thanks for the quick turn-around; and can't wait for the next release!

[2015-04-23 13:54] paulolieuthier commented on #533
@palinek yes, and it uses [NetworkManager-qt](http://api.kde.org/frameworks-api/frameworks5-apidocs/networkmanager-qt/html/index.html). However, it's still going to take a lot of time for me to call it usable.

[2015-04-23 19:00] rscafi opened #612 "Cannot unmute the volume after muting on 0.9"
Related to #253, I'm experiencing the same issue on latest version.

Which additional information you guys need to track it down?

[2015-04-23 19:03] paulolieuthier commented on #612
Which distro? How did you install LXQt? What audio backend (PulseAudio, Alsa, Oss)? Do you always reproduce the bug, or just sometimes?

[2015-04-23 19:09] rscafi opened #613 "Panel context menu shows at wrong position using two monitors with different resolutions"
I have two different monitors and I'm using two panels, each one at the bottom of each monitor.
The context menu (right click menu) is shown at wrong position on the biggest screen, and my guess is that the position is being calculated using information from the another screen.

(I would post an screenshot, but I just realised that the printscreen button is doing nothing on lxqt)

[2015-04-23 19:17] rscafi commented on #612
I'm using Lubuntu 14.10, just installed lxqt via apt-get and changed to it at login screen.
It happens everytime that I mute it. To fix it I go to Sound preferences (I guess from LXDE settings) and unmute it.
I don't know about the backend (kind newbie), how to figure it out?

[2015-04-23 19:20] rscafi opened #614 "Cannot use more than one instance of Notification Area widget"
If I try to add this widget to another panel, it will be blank. If I remove the widget from the other panel, then I can it. Basically, only one instance is showing up.

[2015-04-23 19:26] rscafi commented on #613
![teste](https://cloud.githubusercontent.com/assets/6104262/7305594/7fa11f9c-e9d5-11e4-8463-498596cbf084.png)

[2015-04-23 19:29] rscafi commented on #608
As a workaround, you can set a cron to do this job for you, randomizing images from a given folder:

[code]

(I grabbed this script from the internet, but I can't remeber where to give the proper credits)

[2015-04-23 19:34] rscafi commented on #613
Also regarding the context menu of panels, if it is open, printscreen button won't work (but works normally if the context screen is closed).

[2015-04-23 19:40] rscafi commented on #612
Is this it?

[code]

[2015-04-23 20:04] rscafi commented on #612
Also, the volume increment/decrement is sometimes wrong. If I use 2% increment in configs, it will most of the times increment by 2%, but sometimes will increment by 3%.
It happens with other values too.

[2015-04-24 03:12] Thorn-Inurcide opened #615 "panel crash when launching dconf-editor"
when launching the dconf-editor for gtk 3.14 and gtk 3.16 it crashes the panel for me,Can
anyone reproduce or is this distro specific for me?

[2015-04-24 05:06] palinek commented on #614
You are probably talking about `Task manager' widget.

Yes, that's completely right and AFAIK it's defined in [Xembed](http://standards.freedesktop.org/xembed-spec/xembed-spec-latest.html) specification.

[2015-04-24 05:06] #614 closed

[2015-04-24 05:14] palinek commented on #615
Not crashing here (debian testing, lxqt from siduction):
[code]

[code]

[2015-04-24 06:13] #597 closed

[2015-04-24 08:26] palinek commented on #576
lxqt-admin-time: preferences-system-time would be much more intuitive.
lxqt-admin-user: system-users or preferences-desktop-user would be much more intuitive.

These components are using standard icon names defined by [xdg](http://standards.freedesktop.org/icon-naming-spec/icon-naming-spec-latest.html), so I'm not sure if we want to change them. @jleclanche, @luis-pereira, @paulolieuthier ?

I've

[2015-04-24 08:30] Esclapion commented on #615
I do now the test on a Manjaro with 3.16,  and it works good.

2015-04-24 7:14 GMT+02:00 palinek <notifications@github.com>:

[2015-04-24 09:37] Esclapion opened #616 "configuration center and single click"
When single-click is enabled in pcmanfm-qt, we always must click twice to open something in the configuration center, it's a bit annoying.

[2015-04-24 09:40] Vladimir-csp commented on #616
pcmanfm-qt and lxqt-config are totally separate applications. Why should they ever read each others` configuration?

[2015-04-24 10:23] Esclapion commented on #616
It's a technical point-of-view that i understand, but for the user, it's really strange : if he activates one-click, he runs applications and open all with one click except in the configuration center. Difficult to understand for him. I self am annoyed by that.
It could be something common to all ? lxqt is a whole.

[2015-04-24 11:08] paulolieuthier commented on #616
@Esclapion does single click in configuration center work after you enable it on lxqt-config-input?

[2015-04-24 11:09] paulolieuthier commented on #616
Yes, that should be set in the Qt plugin it self, and all Qt applications should then obey it.

[2015-04-24 11:12] paulolieuthier commented on #576
I think we should stick to the standard.

[2015-04-24 11:13] Esclapion commented on #616
Yep, it works perfect, my bad. I close for the moment, but it's a bit complicate. Centralize that would be a good idea, yes.

[2015-04-24 11:13] #616 closed

[2015-04-24 11:15] paulolieuthier commented on #616
@Esclapion you're right. That should be fixed in pcmanfm-qt.

[2015-04-24 11:19] palinek commented on #576
...just note: the standard was last updated in 2006

[2015-04-24 11:20] paulolieuthier commented on #576
Yeah, there are a lot of new icons, common between themes. But how to know we'll pick one widely supported?

[2015-04-24 11:21] palinek commented on #576
Yes... that's the question :)

[2015-04-24 11:56] Esclapion opened #617 "Bad french translation of lxqt-notificationd"
I think it's only not done, "name" and "comment' are the same than for lxqt-config-session.
Sorry to open an issue only for that, but i dont know the procedure to follow for change that.
![ess](https://cloud.githubusercontent.com/assets/3512979/7318192/6253d768-ea89-11e4-8abc-4501a2e0ee85.png)

[2015-04-24 12:04] palinek commented on #617
@Esclapion french translation is in this file `lxde/lxqt-notificationd/config/translations/lxqt-config-notificationd_fr_FR.desktop`...

[2015-04-24 12:06] Esclapion commented on #617
Yes, thanks, I found that, but can I change that directly in github ? The content :

# Translations
GenericName[fr_FR]=Bloc-notes
Name[fr_FR]=Paramétreur de session LxQt

[2015-04-24 12:08] palinek commented on #617
Give me the translation and i'll put it there.

[2015-04-24 12:20] Esclapion commented on #617
Thanks :

GenericName[fr_FR]=Paramétrage des notifications du bureau
Name[fr_FR]=Paramétrage notifications

btw, a lot of others are always in english.

[2015-04-24 12:51] #617 closed

[2015-04-24 14:04] pmattern commented on #612
I think "backend" is referring to the settings tweaked in dialogue window "Volume Control Settings" invoked e. g. from the plugin's context menu (right click - Configure Volume Control).
![lxqt_panel-plugin-volume-control_configuration](https://cloud.githubusercontent.com/assets/9860801/7320232/6c1b89fa-ea9b-11e4-9b49-b657ac533fae.png)

[2015-04-24 14:15] rscafi commented on #612
Oh, I see. I'm using Alsa.

[2015-04-24 14:19] paulolieuthier commented on #612
@rscafi are you using the [lubuntu-daily](https://launchpad.net/~lubuntu-dev/+archive/ubuntu/lubuntu-daily) PPA?

[2015-04-24 14:21] rscafi commented on #612
@paulolieuthier yes, I am.

[2015-04-24 14:25] Thorn-Inurcide commented on #615
Thanks guys

[2015-04-24 14:26] #615 closed

[2015-04-24 14:26] rscafi commented on #614
@palinek I'm sorry, my lxqt is localized to pt_BR. The "Task Manager" widget actually works across multiple panels.
I went to the translations to see the correct name and the widget that I'm talking about is "System tray". I can only have it active at one panel. Is it right too?

[2015-04-24 14:28] Vladimir-csp commented on #614
It is in the tray spec itself, there can be no second tray on the desktop.

[2015-04-24 21:21] vicencb opened #618 "[lxqt-globalkeys][lxqt-panel] key grabbing"
Hello,
this issue is to report two related bugs and an enhancement.
1) First bug:
When lxqt-globalkeys has a key combination disabled it's still grabbing it.
By default Ctrl+F2 is set to switch to the second desktop. This shortcut can not be removed, neither in the GUI or the configuration file. As a workaround there is the option to disable it.
When disabled it stops switching desktops, but aplic

[2015-04-25 10:03] gilir opened #619 "lxqt-session fail to build on certain build environment"
I reproduce a strange fail to build for lxqt-session.
On the last Ubuntu release, it builds correctly. But, on previous version, the same code fails. See :

Adding the following patch fix the problem for me, but I still don't really understand why it's working on the last release.

[code]

[2015-04-25 17:07] #619 closed

[2015-04-25 17:08] paulolieuthier commented on #619
@gilir thanks.

[2015-04-25 17:09] paulolieuthier commented on #619
The newer versions of CMake don't need that. But we must support 2.8.11+.

[2015-04-25 19:23] #609 closed

[2015-04-25 19:28] paulolieuthier commented on #565
@stefonarch can you provide a backtrace?

[2015-04-25 19:43] paulolieuthier commented on #541
@MttCastelli I can reproduce the bug as well. It's a regression, this feature worked before. Does it work for you if you kill pcmanfm-qt and restart it?

[2015-04-25 19:55] paulolieuthier commented on #541
This is not a bug in pcmanfm-qt, it's a bug in libfm. @PCMan, `fm_path_get_desktop` does not update after changing the desktop folder (which is done correctly). Any pointers?

[2015-04-25 20:10] paulolieuthier commented on #612
@rscafi I can't reproduce the bug. Are you able to unmute using alsamixer (mute/unmute using the `M` key)?

[2015-04-26 13:55] flamusdiu commented on #618
@vicencb umm, is that why sometimes the XF86Audio* keys are sometimes not grabbed by the Volume Control widget? Also, what benefits do you get using OpenBox for the keys instead of the widget?

[2015-04-26 13:56] flamusdiu commented on #607
I have to keep looking at this. It looks like it hibernates but doesn't resume from file even though I know that I have that right. =\

[2015-04-26 13:57] flamusdiu commented on #607
I will close this while I figure out if it's lxqt or something else causing my current issue.

[2015-04-26 13:57] #607 closed

[2015-04-26 15:08] vicencb commented on #618
I don't understand the first question, can you rephrase it? Please.
Regarding the second one:
with OpenBox there is already a keyboard shortcut manager which is not optional, it is required for window switching and other window related operations.
With one shortcut manager already in place, any other one is optional, so lxqt-globalkeys can be removed.
The benefits on removing lxqt-globalkeys is th

[2015-04-26 15:10] flamusdiu opened #620 "lxqt-panel and Linux 4.0 kernel"
I am not sure what's going on but `linux-ck` upgraded to use the 4.0 sources and the panel seems to hate it. On boot up, it's unresponsive for at least 3-5 mins then it's fine. Desktop icons (and the OpenBox stuff) seems to work but the "Volume Control" widget is no longer grabbing the XF86Audio* keys.

[2015-04-26 15:17] flamusdiu commented on #618
@vicencb sometimes the Widget doesn't grab the keys (maybe it's a Linux 4.0 issue as well) and I can't use the XF86Audio* keys to control the widget.

Anyway, are you still using the 'Volume Control' widget or something else?

[2015-04-26 15:25] stefonarch commented on #565
I tried creating one at hte time, it was empty. But now I see that I
cannot reproduce the crash anymore, panel is stable.

Il 25/04/2015 21:28, Paulo Lieuthier ha scritto:

[2015-04-26 16:55] vicencb commented on #618
I don't know, but wouldn't expect any widgets grabbing keys directly, because if they did, which was the purpose of lxqt-globalkeys?
And yes, I'm still wanting to use the "Volume control" widget as an status monitor of the current volume settings and also to control it with the mouse.
Basically, point 3 in the issue report would fix everything. Just modifying the widgets that make use of lxqt-glob

[2015-04-26 16:57] paulolieuthier commented on #565
Let's close, then. If you reproduce it again and get the backtrace, please feel free to reopen it.

[2015-04-26 17:26] gilir opened #621 "lxqt-powermanagement fail to build with cmake 2.8.1"
Similar to #619 , lxqt-powermanagement fail to build with cmake 2.8.1, but it's Ok with 3.0.0

[2015-04-26 17:53] #621 closed

[2015-04-26 18:29] flamusdiu commented on #618
gotcha. I get errors when logging in where lxqt-panel can't set the XF86Audio* keys. Really annoying. =\

[2015-04-26 20:41] Vladimir-csp commented on #618
I agree that failing to register a keybinding or absence of lxqt-globalkeys should not be treated as critical error for any component. There should be a soft dependency.
And IMHO, lxqt-globalkeys would serve more logically as a centralized tool for configuring shortcuts for components, rather than a thing that actually grabs and listens for keys itself.

[2015-04-26 21:55] selairi commented on #502
Suggestions:

Other config tools use LxQt::ConfigDialog. Maybe lxqt-config-monitor should use it too. I could implement it. In order to do this, it is necessary to add a method to replace "Reset button" by "Apply button" to LxQt::ConfigDialog class.

A Cancel dialog is needed. I can write it as well.

Finally, I have some problems with git. If I try to clone with:

     git clone https://github.co

[2015-04-27 06:06] palinek commented on #618
Isn't it? You can configure/disable all keybindings that are requested by panel components in `lxqt-config-globalkeyshortcuts`:
![screenshot](https://cloud.githubusercontent.com/assets/10990929/7342427/3676e23e-ecb4-11e4-9693-9c5ccb9eada7.png)
![screenshot](https://cloud.githubusercontent.com/assets/10990929/7342430/48e98e62-ecb4-11e4-9289-0e899fbb229c.png)

[2015-04-27 06:22] palinek commented on #502
What did you try? Everything seems to work correctly here:
[code]
[code]

[2015-04-27 07:07] Vladimir-csp commented on #618
@palinek I know that. I meant it does both, but actual grabbing and listening should go to the components. Or is it the case already and i`m missing the whole deal?

[2015-04-27 07:40] selairi commented on #502
Solved (I will never write code after midnight). Sorry

I will start to write some changes in a few days.

Thanks

2015-04-27 8:22 GMT+02:00, palinek <notifications@github.com>:

[2015-04-27 07:49] palinek commented on #618
I don't know the rationale of using the daemon also for grabbing keys but I suppose ther is some ... @luis-pereira, @jleclanche ?

@Vladimir-csp what would be the benefit of removing grabbing keys from a centralized daemon? The daemon has to run anyway for components to get the correct keybindings for actions (that the user could have changed)...

[2015-04-27 08:01] LStranger commented on #541
This is not a bug but a feature. We got bugreports before from people who
tried to clear their desktop removing everything but they've set it to
$HOME so eventually they've lost all their files. There is no other way
to prevent this to happen but deny setting desktop to $HOME which was
done few years ago and everyone were happy with that until you raised
your issue. I believe that you just doing i

[2015-04-27 08:07] Vladimir-csp commented on #618
Is the daemon really needed? The components could just read and watch the config, lxqt-globalkeys would be just a config editor. One daemon less to run.

[2015-04-27 08:10] kuzmas commented on #618
It's much easier to grab keys in one place. Grabbing is really X11-specific and is performed in special thread. Copying this functionality to any widget/plugin/component which needs key binding is not wise at all IMO.

[2015-04-27 08:12] LStranger commented on #541
Also I would say if you want exactly your behavior (using the $HOME for
desktop) then you can create some (preferrably hidden to not annoy you)
symlink like this:
$HOME/.Desktop -> .
and then set XDG_DESKTOP_DIR="$HOME/.Desktop". It should work as well.

[2015-04-27 08:25] kuzmas commented on #618
What is a good fix (as I can see it) - is when a shortcut is disabled it has to be ungrabbed from X11. (as @vicencb  suggested https://github.com/lxde/lxqt/issues/618#issue-70797310)

[2015-04-27 09:43] zjes opened #622 "Panel's taskbar crash."
Hi, i found small issue. Taskbar crash if you hide/close non displaying window in the current taskbar. Quickfix (maybe wrong, i don't check this logic, fixed only result, not reason :)):
[code]

[2015-04-27 10:07] #622 closed

[2015-04-27 10:09] palinek commented on #622
@zjes  thanks for reporting and giving a clue for solution. Can you, please, confirm if the issue has been fixed by  lxde/lxqt-panel@9458d0e?

[2015-04-27 10:22] zjes commented on #622
This looks ok...
But now i found other issue... but it depend on previous "show tasks by current desktop only" changeset. If you move window between desktops, task button doesn't move. You need hide/restore window to show task button. Create issue with clue? :)

[2015-04-27 10:40] palinek commented on #622
I've noticed that also... Have a look on lxde/lxqt-panel@12c0ed38de7f5ced0518558d5bccb5ddf7eed35f

[2015-04-27 10:43] zjes commented on #622
Great, thank you. :)

[2015-04-27 11:20] rscafi commented on #612
@paulolieuthier If I hit F6 inside alsamixer and choose the correct device, then the bug happens too.
So I guess it is not related to lxqt?

[2015-04-27 11:38] paulolieuthier commented on #612
Most probably not.

[2015-04-27 11:43] paulolieuthier commented on #502
@selairi looking forward to seeing your PRs.

[2015-04-27 11:47] paulolieuthier commented on #541
@LStranger I'm not sure I understood what you said. The problem is that pcmanfm-qt correctly changes `XDG_DSKTOP_DIR` in `~/.config/user-dirs.dirs` to the desired place, but `fm_path_get_desktop()` does not get the updated directory. If I restart pcmanfm-qt, it works.

Should it stop using `fm_path_get_desktop()` and use its own parser of the config file?

[2015-04-27 12:50] LStranger commented on #541
Well, original post was about the XDG_DESKTOP_DIR="$HOME" setting (i.e.
setting Desktop to Home) and I have commented that issue being feature,
not bug.

But original post issue is a different issue from one noticed by you and
in regard of following changes in the ~/.config/user-dirs.dirs file, it
cannot be done unfortunately since API does not allow reloading it, that
can lead either to memory le

[2015-04-27 12:52] paulolieuthier commented on #541
@LStranger I get it, thanks.

[2015-04-27 12:58] #612 closed

[2015-04-27 13:39] paulolieuthier commented on #620
I don't see why it'd be related to the kernel. IMO it's definitely related to lxqt-notificationd's keys grabbing.

[2015-04-27 13:43] paulolieuthier commented on #499
@v-fox are you still able to reproduce this issue?

@heliocastro I'm having issues with GCC 5 as well. Compiled binaries such as lxqt-panel won't even run ("address boundary error"). I'm using clang now.

[2015-04-27 13:47] paulolieuthier commented on #554
herbstluftwm is known to be problematic. It's weird that it worked on 0.8 and doesn't work now.

[2015-04-27 13:50] paulolieuthier commented on #550
@mrlemux how have you installed LXQt? Tarballs, git? If you can get latest version from git, could you please test it again?

[2015-04-27 13:57] #551 closed

[2015-04-27 14:01] mrlemux commented on #550
I'm using the official packages from Arch Linux, which is the latest 'stable' release.
(I will try the git code asap)

[2015-04-27 15:26] heliocastro commented on #499
The issue was new gcc 5.0 + qt 5.4.0. Was Qt issue.

At least for us in Fedora all are stable now on 5.4.1

[]'s

On Mon, Apr 27, 2015 at 10:43 AM, Paulo Lieuthier <notifications@github.com>
wrote:

[2015-04-27 18:32] kuzmas commented on #618
I forgot to mention: daemon is also needed to call key-bound commands and dbus calls.

[2015-04-27 20:31] #499 closed

[2015-04-28 05:55] Ilya87 commented on #620
Volume Control not only not grabbing, but aplay -l shows no devices. My OS is Arch x86_64. Also with this new kernel I got full system freeze and then, obviously, installed stable kernel - all is fine.

[2015-04-28 05:58] Ilya87 opened #623 "Translation not loaded"
I have installed Russian translation in the system, but it doesn't loads.
![screen](https://cloud.githubusercontent.com/assets/1446573/7363574/c072557e-ed84-11e4-947d-826992e24e2c.png)

[2015-04-28 06:12] palinek commented on #623
What's your locale setting -> the output of `locale` in terminal?

[2015-04-28 17:49] Ilya87 commented on #623
LANG=ru_RU.utf8
LC_CTYPE="ru_RU.utf8"
LC_NUMERIC="ru_RU.utf8"
LC_TIME="ru_RU.utf8"
LC_COLLATE=C
LC_MONETARY="ru_RU.utf8"
LC_MESSAGES="ru_RU.utf8"
LC_PAPER="ru_RU.utf8"
LC_NAME="ru_RU.utf8"
LC_ADDRESS="ru_RU.utf8"
LC_TELEPHONE="ru_RU.utf8"
LC_MEASUREMENT="ru_RU.utf8"
LC_IDENTIFICATION="ru_RU.utf8"
LC_ALL=

[2015-04-28 17:51] flamusdiu commented on #620
@Ilya87 some issues with 4.0 atm. I use the -ck kernels and 3.19 works but 4.0 does not for x86_64. We are just going have to wait for the fix.

[2015-04-28 17:57] palinek commented on #623
Try to set also LANGUAGE into environment, to something like this:
[code]

[2015-04-28 22:38] agaida opened #624 "the panel menu button should have a default fallback icon"
which should used on a not configured (themed) panel: http://i.imgur.com/x1PAz8g.png

[2015-04-29 06:09] Ilya87 commented on #623
This doesn't help. Also note, I have Configure "Панель задач" option in screenshot (contex menu). Also taskbar widget options are in Russian
![screen](https://cloud.githubusercontent.com/assets/1446573/7385461/716f09d8-ee4f-11e4-8ab9-4f4ea61f1a3b.png)

[2015-04-29 06:19] rcmn opened #625 "lximage-qt come up empty on samba share smb:// in pcmanfm-qt"
Well the title said it all . Also the thumbnail of images in pcmanfm-qt do no show. If I mount the smb share in a directory there is no issue. I think the problem some from how smb:// is handled by pcmanfm-qt and\or lximage-qt. Other application like Gimp are not affected...
The samba shares are from raspbian and lubuntu.

[2015-04-29 10:34] #623 closed

[2015-04-29 10:37] palinek commented on #623
@Ilya87 can you, please, confirm that lxde/lxqt-panel@767d704 fixes this issue?

@paulolieuthier can you have a look if you didn't change usage of lxqt_app_translation_loader in wrong way also in other components?

[2015-04-29 13:27] excalibur1234 opened #626 "pcmanfm-qt: no keyboard shortcut to create a new folder?"
in dolphin and thunar you can press CTRL + SHIFT + N to create a new folder. it even works in windows. it is like a quasi-standard. but this keyboard shortcut does not work in pcmanfm-qt.

is there already another keyboard shortcut to create a new folder in pcmanfm-qt or can you add this keyboard shortcut?
it is not comfortable to keep switching between the mouse and keyboard just to create a new

[2015-04-29 13:32] excalibur1234 opened #627 "pcmanfm-qt: long startup time?"
compared to pcmanfm-qt version 0.9.0, the latest build of pcmanfm-qt needs much longer to start the first time.

when i reboot my computer i see pcmanfm-qt in my task manager as a daemon running. it uses roughly 90mb. when i start pcmanfm-qt for the first time it needs about 3-5 seconds (despite the daemon running and me using a SSD). the second time i start pcmanfm-qt it needs just a second (or m

[2015-04-29 16:56] Ilya87 commented on #623
Fixed

[2015-04-30 08:04] postadelmaga opened #628 "Missing keyboard layout icon"
I'm not sure where to open this request/bug so I'm opening it here.

1.
I feel this feature is a must in any modern desktop: having an icon on the panel that shows the current keyboard layout and allows to switch between the ones available.

2.
I'm not sure who is to blame but `fbxkb` looks to not work properly with the lxqt-panel tray icons

[2015-04-30 11:42] #598 closed

[2015-04-30 11:44] paulolieuthier commented on #598
@pmattern, @Vladimir-csp now it's your turn :smile:

![screen](https://cloud.githubusercontent.com/assets/1238157/7412043/0421d790-ef15-11e4-82a3-f2852acd80b6.jpg)

[2015-04-30 11:59] palinek commented on #598
...as I'm looking at the screenshot now... Maybe we should put `up`,`down`,`remove`,`config` buttons into one group and `new` after the separator. Because the first are tied to concrete plugin and the last one shows `AddPluginDialog`

[2015-04-30 12:37] pmattern commented on #628
Duplicate of #602.

[2015-04-30 14:12] postadelmaga commented on #602
+1

[2015-04-30 14:16] postadelmaga commented on #628
Alright you can close this issue:

- fbxkb looks to work ( if I load it on startup it )
- on #602 I can see the qxkb is a better alternative while this feature is implemented in lxqt

thanks

[2015-04-30 14:31] pmattern commented on #628
No, I can't - I'm not a developer :-) But you can by clicking "Close" somewhere under the comment field.

[2015-04-30 14:34] paulolieuthier commented on #628
Closing as duplicate, as @pmattern very well said.

[2015-04-30 14:34] #628 closed

[2015-05-01 02:27] jeremywh7 opened #629 "[lxqt-panel] Panel doesn't hide if a 'Configure...' properties dialog is opened"
Ref:  https://github.com/lxde/lxqt/issues/611

Related to the above issue, I'm not sure if I hadn't tried this before, or if I just now noticed it, but if I open any 'Configure...' properties window, w/ or w/o closing it, it remains unhidden (even clicking on the desktop), until a mouse-over.

I can see it not hiding it the Configure dialog is still open, but it was a more apparent issue that it s

[2015-05-01 10:44] MttCastelli commented on #627
I can confirm the long startup time, but before my latest reinstall I used preload...

[2015-05-01 14:02] paulolieuthier commented on #627
I confirm.

[2015-05-01 14:33] PCMan commented on #627
This seems to be related to the fix to check whether gvfs is initiated.
I'll look into this. Thanks for reporting.

[2015-05-01 16:33] paulolieuthier commented on #505
I just reinstalled LXQt, all fresh. Not seeing this bug anymore.

[2015-05-01 17:17] paulolieuthier commented on #486
I don't see how to remove it. Qt can't handle it by itself.

[2015-05-01 17:19] paulolieuthier commented on #55
Is this still an issue? Wasn't the problem related to the global shortcuts?

[2015-05-01 17:20] #64 closed

[2015-05-01 18:56] ianorlin commented on #606
Although the two features are combined together into one button. In the gtk lxde you can have the middle click for all workspaces and have the right click for working on the desktop. Of course there is the easy workaround of adding a menu entry of pcmanfm-qt --desktop-pref to the openbox menu. Also your window manager needs to support these menus. Openbox does but kwin does I believe.

[2015-05-02 04:29] ianorlin commented on #233
This is intended and did not know that.

[2015-05-02 04:29] #233 closed

[2015-05-02 10:32] MttCastelli commented on #561
the removable media device menager on the panel is some way buggy: (1) do not see my android phone when it is connected, while pcmanfm-qt shows it between devices, (2) and if I connect an usb and try to open trough it, manager launches audacious. Strange!

[2015-05-02 18:17] ianorlin opened #630 "Add panel widgets does not have icons for adding panel widgets."
Add panel widgets does not have icons for several of the panel widgets when you right click on the icon and click add panel widgets.

I am using siduction with the latest updates pulled in as of yesterday.

lxqt-panel:
  Installed: 0.9.0-9a
  Candidate: 0.9.0-9a
  Version table:
 *** 0.9.0-9a 0
        500 http://ftp.spline.de/pub/siduction/extra/ unstable/main amd64 Packages
        100 /var/lib/

[2015-05-03 00:36] paulolieuthier commented on #630
All widgets now have icons, but that's on current code in git. Next version you'll get them. Thanks.

[2015-05-03 00:36] #630 closed

[2015-05-04 07:52] palinek commented on #629
I think this is related to a bug in QT as discussed in lxde/lxqt#436

[2015-05-04 10:28] excalibur1234 commented on #598
this "configure panel" looks great.
i remember clearly that i did not find the "config" button the first time i searched for it in xfce, but i tried to right click on the widgets.
is there a right click menu when you right click on the widgets in your "configure panel / manage widgets" window? the right click menu should contain the same options as the buttons on the right (add widget, remove widg

[2015-05-04 10:42] paulolieuthier commented on #598
@excalibur1234 there is a right click menu. But it's available only through the plugins that don't override the right click action to present a specific menu.

[2015-05-04 10:52] palinek commented on #598
@paulolieuthier as I understood what @excalibur1234 meant: he would like to have the context menu in "Configure panel" window (in the list of plugins), right?

[2015-05-04 11:09] paulolieuthier commented on #598
Oh, I see. You're right. But then I don't see the point.

[2015-05-04 11:19] jeremywh7 commented on #629
Ok thanks; I will retest when Qt 5.4.2 is out.

[2015-05-04 12:11] palinek commented on #505
IMHO ... all here is fixed, currently i see following times (same plugins as @PCMan used in previous comments):
[code]

... but I don't know about the @ypnos comment.

[2015-05-04 12:19] excalibur1234 commented on #598
@palinek was right. i meant a right click / context menu in the window you created (and we see a screenshot).

personally, i do not care whether there is a right click menu or not.
but i described my behavior and way of thinking as a new xfce (and linux) user. a right click / context menu would definitely help these kind of users.

[2015-05-04 17:22] paulolieuthier commented on #505
@palinek awesome! I've seen what @ypnos was talking about, but I'm sure it's fixed.

[2015-05-04 17:22] #505 closed

[2015-05-05 00:27] Baltasarq opened #631 "Stretchable spacer in lxqt-panel"
I use to show only icons of my applications in the task manager (no text, i.e., no window title). Using _LXDE_, I configure a spacer to stretch, so the open applications are centered on the panel (menu button and quick launch icons to the left, system tray to the right, that is left unchanged).

I've tried to change the panel's alignment to center, with no luck. BTW, changing that does not seem to

[2015-05-05 10:02] pmattern commented on #606
All in all this is a duplicate of the issues stated above hence closing it as such.

Please feel free to add your thoughts to #464 and #469.

[2015-05-05 10:02] #606 closed

[2015-05-05 10:07] luis-pereira commented on #486
@paulolieuthier Neither do I.

[2015-05-05 10:11] Baltasarq commented on #631
Today I have received an update for **lxqt-panel**, and the situation has changed a little bit. Now the icons for applications are not stacked to the left, it seems that although I've set the panel not to show any text, it still reserves more space than needed just for the icon. It is visually better, but I'd prefer to have all icons together in the middle of the panel, if possible.

[2015-05-05 10:16] pmattern commented on #626
I think this issues is definitely valid but it should be merged into lxde/pcmanfm-qt#163 as it's related closely.

@excalibur1234
If you don't mind please copy your issue as new comment to the one stated above so that we can close this one.

[2015-05-05 10:17] palinek commented on #631
Right now, you can achieve that partialy only by using multiple panels (assuming you are using panel on the bottom of screen), e.g:
- one: align left, size 30%
- two: align center, size 40% (this panel will hold only taskbar)
- three: align right, size 30%

[2015-05-05 11:12] Baltasarq commented on #631
Hi,

same part of the screen. Yes, mine's at the bottom.

-- Baltasar

[2015-05-05 11:24] palinek commented on #631
same part of the screen. Yes, mine's at the bottom.

Nope. You can have multiple panels on the same screen edge. See this example:
![screenshot](https://cloud.githubusercontent.com/assets/10990929/7471673/03618b2a-f32a-11e4-826e-ddb109059162.png)

![screenshot](https://cloud.githubusercontent.com/assets/10990929/7471642/de0cca74-f329-11e4-8293-3d3ad2087294.png)

[2015-05-05 11:27] excalibur1234 commented on #626
done.

[2015-05-05 11:27] #626 closed

[2015-05-05 13:22] pmattern opened #632 "lxqt-panel: cut text in several plugins"
In several panel plugins text happens to get cut besides the available space doesn't enforce it.

This affects, at least among other, plugin-[world]clock and plugin-kbindicator
![lxqt_panel_plugins_text-cut](https://cloud.githubusercontent.com/assets/9860801/7473253/25c99e2c-f33a-11e4-9b72-2cf14099685f.png)
Note the correct display of font in the Task manager button at the left.

A similar problem

[2015-05-05 13:34] pmattern commented on #598
Some notes after testing latest changes a bit longer:

The first time dialogue window "Configure Panel" got opened there was an entry "Unknown (panelvolume)" in the list on all systems I checked.
On all of them the panel had been configured individually before. Once removed that entry didn't re-appear. When ~/.config/lxqt/panel.conf was deleted before launching the LXQt session, the entry didn't a

[2015-05-05 14:01] paulolieuthier commented on #598
Fixed in lxde/lxqt-panel@6d51ebf2d6e474c422b49ce29f2eaba56c1219dc.

Greying the button is not so simple, I left it to be done later. That's because the pages and the dialog are separate classes in separate repositories (of course can be done, but the note was simpler).

I thought it was that way. Will be fixed.

Agreed!

Do you think it's confusing? I don't think so. About placing the config dialo

[2015-05-05 14:07] PCMan commented on #627
fixed in https://github.com/lxde/pcmanfm-qt/commit/ba3eb765197b52969f06e6dce23e2eeb5a1c5844

[2015-05-05 16:20] luis-pereira commented on #598
@paulolieuthier Regarding the ```AddPluginDialog``` class: In the Razor days, it was used in  razorqt-desktop and the panel, of course.

[2015-05-05 16:56] paulolieuthier commented on #598
@luis-pereira I see, thanks.

[2015-05-05 19:20] antis81 opened #633 "lxqt-config: quit with ctrl+q shortcut"
Just a small suggestion. Would be nice, if the system settings dialog could be quit with the `Ctrl+Q` shortcut.

[2015-05-06 12:14] Baltasarq opened #634 "Vlc and SMPlayer crash opening the file open dialog"
Hi,

I've a strange issue with lx-qt. When using VLC or SMPlayer, both apps crash as soon as a I press Ctrl+O. The crash is not very informative. by itself, so I opened a GDB session for VLC.

        $ gdb vlc
        (gdb) r
        Segmentation fault
        (gdb) bt
        #0  0x00007fffddde10ff in KFileDialog::KFileDialog(KUrl const&, QString const&, QWidget*,         QWidget*) () from /usr/

[2015-05-06 13:08] rscafi opened #635 "After leaving full-screen mode, the window moves to main monitor"
When using multiple monitors, exiting full-screen mode causes the window to move to the main monitor, instead of staying on the monitor where it originally was.
(tested with fullscreen mode of Google Chrome, PhpStorm and Sublime Text)

Using Lubuntu 14.10 with lxqt installed via apt-get.

[2015-05-06 13:21] palinek commented on #634
Why are you assuming this problem is connected to LXQt?

[2015-05-06 15:18] pmattern opened #636 "configuration of plugins featuring a dedicated context menu"
Configuring panel plugins directly from their context menu doesn't work if a panel is using a dedicated context menu. This could be changed to improve the user experience.

Task manager as example:
As long as the buttons displayed therein don't fill all the available space right-clicking unused space yields the generic panel context menu.
![lxqt_panel_configure-plugins-with-dedicated-context-menu_

[2015-05-06 15:26] pmattern opened #637 "limit number of instances per plugin"
Dialog window "lxqt-panel" as invoked from "Configure Panel" (see #598) allows for adding an arbitrary number of instances of all plugins available. This is conflicting with the functionality of e. g. System tray which may only appear once due to restrictions of the specifications it's implementing. This had already to be discussed in #614.
So a way should be found to limit the maximum number of i

[2015-05-06 15:32] pmattern commented on #598
That "Configure Panel" vs. "Manage Widgets" thing in panel's context menu was just some thought. I'd be completely fine if this stayed as-is.
But I stumbled upon two more things:

String "Configure Panel" is used both to describe one of the items in left pane and as window title, the latter constantly and independently of which topic is chosen in left pane. I think this should be changed.
Not sure

[2015-05-06 15:37] paulolieuthier commented on #598
@pmattern good points, I'll update the labels.

[2015-05-06 15:38] pmattern commented on #635
Hm.
Can't confirm your findings here.
Placing windows is actually the window manager's job. Which one are you using, including version?

[2015-05-06 15:46] pmattern commented on #634
Can't confirm your findings running latest Git checkouts of all LXQt components on Arch Linux i686 or x86_64, neither VLC nor SMPlayer.

Are your findings limited to VLC and SMPlayer or can you reproduce with e. g. LXImage-Qt or Firefox which are using Ctrl+O, too? Do you get the same findings, if you open files by using the mouse only?

Also, more information about your system is needed - OS, ver

[2015-05-06 19:20] rscafi commented on #635
I'm using Openbox 3.5.2.
And I used the built-in Monitor Settings from lxqt to configure my monitors.

[2015-05-07 00:01] pmattern commented on #635
If you set / saved your settings once using lxqt-config-monitor (GUI "Monitor Settings") you could post .config/autostart/lxqt-config-monitor-autostart.desktop here. Also, ~/.config/openbox/rc.xml would be helpful, maybe better on gist.github.com due to its size.

[2015-05-07 11:10] rscafi commented on #635
Here it is. Thanks for the help so far.
https://gist.github.com/rscafi/11eec5bc0bc8786c33ba

[2015-05-07 11:12] rscafi commented on #635
I also noticed another bug, perhaps belonging to openbox too:
System dialogs (like when you confirm that you want to shutdown the computer) shows up on the wrong monitor (not main one), but using window's center position from main monitor, really weird.

[2015-05-07 13:55] paulolieuthier commented on #598
@pmattern: landed in lxde/lxqt-panel@11fccf650045f0c9b1f690dfc5915a124ded3a15. The only labels I didn't change as you said were the labels in the context menu. They are only slightly different now: "Configure Panel" and "Manage Widgets". As you said yourself, i'd be confusing for the users to see only "Panel" and "Widgets" in the context menu. Hopefully, the icons will help guiding them.

[2015-05-07 13:58] Baltasarq commented on #634
SMPlayer:

===
$ gdb smplayer
GNU gdb (Ubuntu 7.9-1ubuntu1) 7.9
(gdb) r
Starting program: /usr/bin/smplayer
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
This is SMPlayer v. 14.9.0 running on Linux

Program received signal SIGSEGV, Segmentation fault.
0x00007fffee02a0ff in KFileDialog::KFileDialog(KUrl const&, QString const

[2015-05-07 14:00] paulolieuthier commented on #596
And the scrolling when too many ballons appear. Too bad.

[2015-05-07 14:18] Baltasarq commented on #634
My system is Lubuntu 15.04 with the PPA for LXQt, updated up to the last package:

    Linux PC-baltasarq 3.19.0-16-generic #16-Ubuntu SMP Thu Apr 30 16:09:58 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

LXQt reports being version 0.9.0, but I've installed the PPA for LXQt. No, the updates today did not solve the problem.

The problem is not related to using the keyboard or the mouse to select "open",

[2015-05-07 20:24] pmattern opened #638 "lxqt-config-session fails to auto-detect KWin"
The drop-down menu at "Basic Settings - Window Manager" doesn't auto-detect KWin.

Tweaking files in /usr/bin on Arch Linux suggests that the auto-detection is relying on the availability of binaries and fails as it only considers kwin but neither kwin_x11 nor kwin_wayland which are currently used.

[2015-05-08 06:56] antis81 opened #639 "PCManFM: devices do not show in "root" mode"
When opening a window as root, the mounted or available devices do not show up in the side bar.

![pcmanfm-no-devs](https://cloud.githubusercontent.com/assets/440517/7531856/2090195e-f560-11e4-8279-8aaa46303e6f.png)

[2015-05-08 10:32] selairi commented on #635
It could be the primary output settings. Could you be so kind to
change primary output settings and test it again?

Thanks

2015-05-07 13:12 GMT+02:00, Ravan Scafi <notifications@github.com>:

[2015-05-08 10:48] jleclanche commented on #635
I've had the same issue with chrome. I think it's actually a chrome bug, since it does its own window management.

[2015-05-08 12:57] Baltasarq commented on #634
The very same thing happens with B1 1.5.86.4890 ( http://b1.org ):

        $ gdb /usr/bin/b1manager
            (gdb) r
        Starting program: /usr/bin/b1manager
        [Thread debugging using libthread_db enabled]
        Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
        [New Thread 0x7fffe0e6c700 (LWP 6500)]
        [New Thread 0x7fffe166d700 (LWP 6499)]

[2015-05-08 13:01] paulolieuthier commented on #634
@Baltasarq do you have the environment variables `QT_PLATFORM_PLUGIN` and `QT_QPA_PLATFORMTHEME` set to "lxqt"?

[2015-05-08 13:04] Baltasarq commented on #634
Yep, I think so:

  $ printenv | grep QT
   LXQT_SESSION_CONFIG=session
   QT_IM_MODULE=ibus
   QT_QPA_PLATFORMTHEME=lxqt
   QT_PLATFORM_PLUGIN=lxqt
   QT4_IM_MODULE=xim

[2015-05-08 14:41] pmattern commented on #635
In the meantime I could reproduce this issue's actual problem with any arbitrary application window like so: maximize window - drag it to another monitor - restore regular size ("Restore" in menu in the upper left corner of the window or middle icon in the upper right corner).
Seen on a dual-monitor system, monitors connected to VGA and DVI output of a single graphics card and with different resol

[2015-05-08 21:32] pmattern opened #640 "make trigger of message disappearance configurable"
In earlier versions of lxqt-notificationd messages used to disappear on hovering, that is after moving the mouse pointer first over a message and next to a different place on the desktop. This was considered undesirable behaviour and changed in lxde/lxqt-notificationd@3c38894. Recently on freenode #lxde we came to the conclusion the said "old" behaviour does have advantages and is something nice t

[2015-05-09 23:11] pmattern commented on #634
In the meantime I installed a x86_64 Lubuntu system from the regular ISO adding LXQt from ppa:lubuntu-dev/lubuntu-daily in a KVM/QEMU VM.
Again I can't confirm your findings.

One thing is pretty weird, though: both SMPlayer and VLC are using the GTK file chooser, not the one from Qt. Other Qt programs like Otter Browser (ppa:otter-browser/daily) or LXImage-Qt do use the regular Qt file chooser.
T

[2015-05-10 05:58] PCMan commented on #634
It seems that the problem is caused by KDE plugin.
We no longer provide Qt 4 platform plugin, so the plugin loaded is actually from KDE.
In the gdb log, you can see KFileDialog, which is the KDE implementation of Qt file dialog.
This is not related to LXQt. Please report to Ubuntu and KDE developers.
Thanks.

[2015-05-10 12:06] Baltasarq commented on #634
Okay, thanks. I'll move (again) elsewhere.
I've filled a bug in KDE.

Anyway, many thanks to pmattern for trying to provide a solution. Maybe the fact that I've upgraded my system from Lubuntu 14.10 and Lubuntu 14.04 before, somehow explains why this is happening just to me.

[2015-05-10 12:18] PCMan commented on #634
BTW, if you're using the "GTK+" style for Qt4, that will load the file chooser dialog of GTK+ 2 instead. So maybe this can workaround the issue.

[2015-05-10 14:01] Baltasarq commented on #634
Interesting. Thanks!

[2015-05-10 15:54] alfredobonino commented on #537
I'm writing a graphical sudo, soon I will publish the source code and will make a pull request

[2015-05-10 18:33] Vladimir-csp opened #641 "Tray icon issues"
Hi everyone!
I'm using tint2 panel, and I have constant problems with lxqt-powermanagement and qlipper. Their icons disappear from tray from time to time, but processes are still alive.
No problem with any other tray applications, just these lxqt-related.

Here is the log of lxqt-powermanagement (repeated messages about screen locking, inactivity and battery are truncated): http://pastebin.com/UZm

[2015-05-10 19:18] pmattern commented on #634
This could very well be the reason, imo. I've never used *buntu but Debian for several years. And I remember that I always preferred to install from scratch when a new version was released as I found this to be less time-consuming than ironing the issues involved in upgrading at the end of the day.

Closing as it's now obvious that his issue isn't caused by LXQt.

Hope you'll get it fixed somehow.

[2015-05-10 19:18] #634 closed

[2015-05-10 19:26] pmattern opened #642 "message placement on multi-monitor systems should be improved"
On multi-monitor systems there's no means to select the monitor to display notificationd's messages which can yield unwanted results.

On a side note I'm not sure whether term "screen" as used in lxqt-config-notificationd "Basic Settings" is a good choice.
Term screen is frequently used to describe the output of a single output device like a monitor. This is in accordance with the term as used in

[2015-05-10 19:39] pmattern opened #643 "two problems regarding placement of dialog windows"
Dialog windows don't seem to consider auto-placement methods of window managers but get placed in displays' center. As a consequence they can overlap or cover each other besides sufficient space is available.
An example is to place Configuration Center in a display's upper left and open first "Desktop Notifications" and then "Desktop Preferences" by double-clicking.
This finding can be made using

[2015-05-10 19:47] pmattern commented on #641
This is just my personal opinion, but I really don't see any point in making efforts to try and support a GTK panel that hasn't seen a release since almost five years.
Are those applications supporting its system tray Qt applications as well or GTK applications?

[2015-05-10 19:47] pmattern commented on #641
Sorry.

[2015-05-10 20:00] Vladimir-csp commented on #641
Well, since #102 is rejected and Adeskbar is even more dead than tint2, I have no other place than tint2 to go.

Tint2 has standard systray. Other applications in tray are mostly GTK with the exception of qasmixer and goldendict - both of them do not disappear.

[2015-05-11 09:46] Baltasarq commented on #634
Yes, PCMan, I hadn't thouthg about this. I went to Qt4 Settings, and changed the view to CleanLooks, and that worked. I tested also Plastique and Gtk+, everything worked well... except QtCurve and System settings.
Tnaks, pmattern, but the problem with Debian is that Iguess you get stuck with very old packages.
Thanks to both of you.

[2015-05-11 10:14] paulolieuthier commented on #641
qlipper is not related to LXQt, it's just a Qt app. I have no problems with Qt apps in lxqt-panel's system tray.

[2015-05-11 10:20] Esclapion commented on #641
I use qlipper with lxqt in my Manjaro iso, but with lxqt-panel an so on, and no problem at all.

[2015-05-11 10:32] palinek commented on #641
..but this issue is about `tint2`'s tray and `lxqt-powermanagement` (and `qlipper`) tray icon problems. IMHO it's related to the `tint2`'s tray implementation, but not 100% sure (there is *a little* probability we are using `QSystemTrayIcon` in some bad way or QT is faulty).

[2015-05-13 20:45] palinek commented on #55
I think this was solved...

[2015-05-13 20:45] #55 closed

[2015-05-13 21:57] #638 closed

[2015-05-14 00:42] goetzc opened #644 "lxshortcut: add search/filter option for icon dialog"
Right now it is not possible to search for any icon name. Some way to search or filter a name would be handy.

P.D. Not sure if this is the right place for libfm bugs or features requests.

[2015-05-14 17:14] alfredobonino commented on #537
Assign me this

[2015-05-15 16:56] alfredobonino commented on #537
I publish the code to https://www.github.com/alfredobonino/qsudo

[2015-05-15 16:57] paulolieuthier commented on #537
@alfredobonino that's very good news. I'll take a look at that as soon as I can.

[2015-05-15 18:04] Esclapion commented on #537
Works for me, thanks :-)

2 little things : the password must be hidden by default, I think, and I
must press Enter to leave, else it never finish.

2015-05-15 18:57 GMT+02:00 Paulo Lieuthier <notifications@github.com>:

[2015-05-16 07:11] alfredobonino commented on #537
Now, the password is hidden.

[2015-05-16 08:18] alfredobonino opened #645 "why not create a qt window manager, instead of openbox?"
Openbox Themes are very ugly.
Why not create a qt wm, or fork a qt wm?

[2015-05-16 08:53] jleclanche commented on #645
We don't have the manpower and it's not necessary - use kwin if you want a qt window manager, we'll fully switch to it once wayland is here.

[2015-05-16 08:53] #645 closed

[2015-05-16 10:38] alfredobonino commented on #645
Ok, kwin is perfect!

[2015-05-16 12:48] Esclapion commented on #645
For the moment,  kwin is 52 MB to download, 240 MB installed, and brings a
lot of KDE things...

Would it be more Kde-independent in the future ?

One of lxqt highlights is its lightness.

2015-05-16 12:38 GMT+02:00 Alfredo Bonino <notifications@github.com>:

[2015-05-16 12:50] Esclapion commented on #645
Forget my message, i took the bad, sorry.

2015-05-16 14:48 GMT+02:00 Patrice Esclapion <esclapion@gmail.com>:

[2015-05-16 17:44] alfredobonino commented on #645
kwin, is perfect, but are very big, with lot of dependency with qt5 and kf5 there is any problem, in theory.
Openbox are light but very ugly, in most of themes.
LXQt is a light desktop environment, with openbox, but in the future?
Openbox have support for Wayland?
Openbox have support for Mir?
The development of Openbox are dead.
This is a problem for me.

[2015-05-16 17:48] alfredobonino commented on #645
in ubuntu kwin is 14,2 mb download and 90mb installed.
But is kwin 5.

[2015-05-16 17:52] Vladimir-csp commented on #645
openbox with its libraries: 1261KB installed. Not dead, but feature complete.
Themes can be made. The only problem is Wayland support.

[2015-05-16 18:00] alfredobonino commented on #645
kwin or xfwm themes are more beautiful, and xfwm are very light.
The very problem of openbox are wayland support, who develop openbox for wayland?
this is a very big problem.
LXQT are  a lightweight desktop environment, and if openbox not support wayland, what are the window manager of lxqt?
Kwin? Are very big and not for old computers.
Xfwm? are a gtk wm.
....

[2015-05-16 18:40] paulolieuthier commented on #645
[code]
Not that big. But I get it. We'll have to wait for the window managers to get ported. We're certainly not going to develop one.

[2015-05-16 19:24] Esclapion commented on #645
I do my tries in VBox, and it's slow. It needs also a lot more Ram
resources, 80 to 100 MB more.

2015-05-16 20:40 GMT+02:00 Paulo Lieuthier <notifications@github.com>:

[2015-05-16 19:33] alfredobonino commented on #645
Kwin ram consumption are 80mb?
This is not light.
Mah.... i have a secondary pc with 512mb ram.... with kwin, 1/2 of the ram are occupated.
And @jleclanche, il lxqt switch to kwin, lxqt be a non-light desktop environment?

[2015-05-16 19:35] alfredobonino commented on #537
Pcmanfm-qt use gtksu, Why when qsudo are stable, use qsudo instead of gtksu?

[2015-05-16 19:35] paulolieuthier commented on #537
@PCMan what do you think?

[2015-05-16 19:36] paulolieuthier commented on #645
LXQt is intended to be window manager agnostic. When Wayland comes, every window manager complient with the specs should work.

[2015-05-16 19:39] paulolieuthier commented on #645
@Esclapion you are probably using KWin from KDE4. Is that right? The KWin version we are talking here is 5+. I'm using 5.3 now, and 5.4 is the one that will support Wayland.

[2015-05-16 19:48] alfredobonino commented on #645
Kwin 5 reduce the kde dependencies, is right?

[2015-05-16 19:54] alfredobonino commented on #537
The only function to implement are the focus to the "ok" button and display the name of the program that ask for root.

[2015-05-16 20:27] paulolieuthier commented on #645
Yes.

[2015-05-16 20:43] Esclapion commented on #645
The k-dependencies are only for me on plasma-framework
 knewstuff  kinit kwayland kdecoration.

and dependencies of dependencies, but it's no big.

2015-05-16 22:27 GMT+02:00 Paulo Lieuthier <notifications@github.com>:

[2015-05-17 06:44] alfredobonino commented on #645
However, when I have completed qsudo, I try eggwm, a window manager in qt4.

[2015-05-17 07:51] pvanek commented on #645
eggwm is really incomplete. But of course, try it - maybe it will suit your needs.

[2015-05-17 08:32] alfredobonino commented on #645
yes, eggwm, are incomplete, but there is a fork, with support for qt5, however, i use openbox for my pc.

[2015-05-17 08:49] alfredobonino commented on #537
qsudo funzionando in modo simile a gksu, se voi create un link simbolico da qsudo a gksu, quindi gksu diventa un link simbolico, tutti i programmi che usano gksu, in automatico usano qsudo, l'ho testato con pcmanfm-qt, e funziona molto bene, basta un link simbolico.
nel frattempo che @PCMan decida se inserire o no qsudo.
Queste sono immagini, con pcmanfm-qt che usa qsudo:

![1](https://cloud.githu

[2015-05-17 12:20] alfredobonino commented on #537
@Esclapion, all of the feature you requested are added.

[2015-05-17 12:25] Esclapion commented on #537
Nice, thanks. :-)

2015-05-17 14:20 GMT+02:00 Alfredo Bonino <notifications@github.com>:

[2015-05-17 13:56] Ilya87 opened #646 "Compilation if lxqt-config fails"
My OS Arch Linux x86_64, lxqt-config commit code 454e5b4260be0a6e15b2e10a0ed4a62c6b544237.

[ 99%] Building CXX object lxqt-config-appearance/CMakeFiles/lxqt-config-appearance.dir/fontsconfig.cpp.o
Linking CXX executable lxqt-config-input
lxqt/lxqt-config-git/src/lxqt-config/lxqt-config-appearance/iconthemeinfo.cpp:134:9: error:
      unknown type name 'QThemeIconInfo'
        QThemeIconInfo info

[2015-05-17 14:46] pmattern commented on #646
The very same commit is building flawlessly on the same platform here.
Could you provide any details about the way you're trying to build, e. g. if you're using an AUR package or building manually, which commands you're invoking and so on?

[2015-05-17 16:17] alfredobonino commented on #537
I am available as a developer, if there is something going on, are available, lxqt is a very interesting project.

[2015-05-17 18:05] alfredobonino commented on #537
I have make bugfix in qsudo

[2015-05-17 19:19] alfredobonino commented on #646
Have you installed all of the qt developer package required for lxqt?

[2015-05-17 19:22] alfredobonino commented on #406
And most of text of the settings button are cut.

[2015-05-17 19:28] alfredobonino commented on #580
@Vladimir-csp, Similar to lxlauncher of lxde?

[2015-05-17 19:46] Vladimir-csp commented on #580
Remotely. lxlauncher is an application browser, but it is designed for root window and it can not filter it's contents.

Well, imagine lxqt-config'ish browser, that you can turn into logout dialog by launching with proper cli arguments (omit filter bar, reduce geometry, show only lxqt-leave entries).

[2015-05-17 19:57] ianorlin commented on #580
Isn't the browser in the application menu of pcmanfm-qt? Admitely I don't think this is searchable.

If you want a search as you go launcher there is already lxqt-runner. Press alt-f2 is the defualt way to launch it.

[2015-05-17 20:20] Vladimir-csp commented on #580
You're missing the point. It is mostly contained in the last paragraph of the issue text.

[2015-05-18 05:42] alfredobonino commented on #537
@Vladimir-csp, what do you think?
You have opened this issue.

[2015-05-18 06:19] Vladimir-csp commented on #537
It is looking great!
If everything is fine from security standpoint, then the issue is resolved.

[2015-05-18 06:19] palinek commented on #537
I've just had a quick look into the source code and IMHO this easy tool doesn't provide everything what is needed for a "GUI sudo". This just reads a password and starts a detached process (`bash`) to run command we need, but it doesn't provide any feedback upon wrongly typed password.

[2015-05-18 06:20] Vladimir-csp commented on #537
Mmissed that.

[2015-05-18 11:54] alfredobonino commented on #537
@palinek, I am aware of the problems, in fact I have to implement these two functions, qsudo should also show the program that asks root permissions.

[2015-05-18 11:59] alfredobonino commented on #537
However, as I said before, qsudo works similarly to gksu, then to run a program with parameters just run as:
qsudo "uname -a"

[2015-05-18 12:11] palinek commented on #537
[code]
This implementation is obviously not good:
1. `QProcess` instance is needles here (just a leak) as `startDetached()` is a static method
2. in case there are special charactes (from `bash` point of view) in password it can fail

As I see it, you need to directly write/read to child's (`sudo`) stdin/stdout...

And maybe (don't know exactly how `sudo` behaves) after identifying a success, let

[2015-05-18 16:04] alfredobonino commented on #537
you written this:
"As I see it, you need to directly write/read to child's (sudo) stdin/stdout...

And maybe (don't know exactly how sudo behaves) after identifying a success, let the QProcess object leak (destuctor can't be executed because it will kill the spawned child)..see here"
But, the source code of kdesudo, use qprocess, kprocess and xauth, but for execute use the program use qprocess->st

[2015-05-18 16:32] alfredobonino commented on #537
qsudo è un semplice tool. ma credo che non sia implementato male:
1. funziona, il processo si avvia.
2. non ci sono problemi di sicurezza, usa direttamente il comando sudo.
3. qprocess, viene usato anche da kdesudo.
Poi, che ci sono poche funzioni non lo metto in dubbio.

[2015-05-18 18:47] Ilya87 commented on #646
My libqtxdg and liblxqt libraries were a little bit outdated. Problem is fixed now.

[2015-05-18 18:47] #646 closed

[2015-05-18 19:53] pmattern commented on #537
Regarding the installation the final make invocation doesn't seem to accept the usual variable DESTDIR but INSTALL_ROOT only. Is this intended?
FWIW I quickly wrote an Arch Linux [PKGBUILD](https://gist.github.com/pmattern/3a6086cc21fd32e4d8ce) providing latest Git versions of qsudo.

If I'm not mistaken su can't be used as backend but sudo only. This would be a major difference compared to gksu.

[2015-05-18 20:40] palinek commented on #537
Really? Try to insert `; rm -Rf ~` as the password

I didn't say it shouldn't be used.

[2015-05-19 02:22] #544 closed

[2015-05-19 05:08] #618 closed

[2015-05-19 05:40] alfredobonino commented on #537
Yes, I am aware that if one writes that command (they are also aware that if you start that command all system files are deleted :)), but only if you start qsudo twice through terminal.

[2015-05-19 05:46] palinek commented on #537
Sorry, but I don't follow this...

[2015-05-19 14:11] alfredobonino commented on #537
Howewer, i rewrite qsudo with popen.

[2015-05-19 14:17] palinek commented on #537
Why do you want to do that?
[code]
`QProcess` is perfectly suitable for your pupose (just that the object's destructor can't be invoked to not kill the child).

[2015-05-19 14:57] alfredobonino commented on #537
And, what is the problem of quasi?

[2015-05-19 17:47] alfredobonino commented on #537
I rewrite qsudo with qprocess()->start(),and qprocess->write(password).
Now, With thai method, there aren't securi ty issues.
I publish che code, when che code are stable andò fully functional.

[2015-05-19 23:36] agaida commented on #645
switched to xfwm4 (4.12) lately - nearly the same footprint as with openbox and compton - snappy, no need for compton anymore, snap-to-corner and so on - really nice

[2015-05-19 23:41] Esclapion commented on #645
With xfwm4, you have now a xfce. xfwm4 brings libxfce4ui, who depends of gtk2, gtk3, etc... :-(

[2015-05-20 00:43] paulolieuthier commented on #645
Actually, gtk2 and gtk3 are no problem, they are small and almost impossible to get rid of (firefox, thunderbird, nm-applet, gvim, libreoffice). The problem is libwnck, libxfce4ui, libxfce4util and xfconf. But I might try it even so. I don't find Openbox good enough and I'm having issues with KWin lately.

[2015-05-20 05:49] alfredobonino commented on #645
Xfwm, is a good window manager, with awesome themes and are very light, but are GTK.

[2015-05-20 09:10] Esclapion commented on #645
I suppressed gtk3 in my last ISO, not really difficult. Only gnome-keyring is missing. And yeah, for gtk2, it's not possible. I can by cons reduce the amount of applications depending of gtk2.

xfwm4 is a good wm, but imho must be done gtk3 independent, or we will have also the problems related to it.

[2015-05-20 10:03] paulolieuthier commented on #645
@Esclapion gnome-keyring is needed for network-manager-applet passwords storing, right?

[2015-05-20 10:20] Esclapion commented on #645
Yes, it uses  libsecret who has gnome-keyring as -optional- dependence. Not really necessary, i think.

I use connman and lxq-connman-applet, so no prob with that. But some people can't connect to their wifi with connman, nothing very characterized. nm is slower, and wicd a lot more.

[2015-05-20 12:24] alfredobonino commented on #645
Pekwm?

[2015-05-20 15:19] alfredobonino commented on #537
@palinek, now what do you think? i have published the new code to https://www.github.com/alfredobonino/qsudo

[2015-05-20 15:46] palinek commented on #537
@alfredobonino it's better. But:
- there is still no (negative) feedback -> you also need to read (and parse) sudo's output
- is it actualy working? sudo normaly tries to read password from terminal, but you are writing the password into stdin, AFAIK -S should be used in such case:
[code]

[2015-05-20 15:59] alfredobonino commented on #537
It is a feature to implement, it is complicated, because the output of sudo changes for each language, (i'm Italian). However it also works without "-S", before I had entered, but then I saw which it worked without it, so I took it off .... However, it should not work in some particular configuration, the inside again. Now, I think there are no problems of security, right?

[2015-05-20 16:09] alfredobonino commented on #537
@pmattern, thank you for the PKGBUILD, your issue are now corrected.
@palinek,Now, qsudo use "-S" sudo argument.

[2015-05-20 16:19] palinek commented on #537
That's true, but you can set the locale for the child.... nevertheless I personaly would implement it in other way round: using the sudo's -A parameter (which would invoke our `qsudo` process with other name) and -b parameter. Maybe this will be a bit complicated because of IPC, but in this way we don't need to parse sudo's output.

I can't say that. I just can say that the previous "bash injectio

[2015-05-21 08:01] palinek commented on #537
I've just pushed a commit with lxqt-sudo into https://github.com/lxde/lxqt-admin/tree/sudo implemented as I mentioned before.
@Vladimir-csp, @paulolieuthier, @pmattern, @alfredobonino  what's your opinion on that?

[2015-05-21 11:30] #541 closed

[2015-05-21 12:14] paulolieuthier commented on #537
As I commented in the commit page, it looks very good. Please file the PR.

[2015-05-21 13:04] paulolieuthier commented on #637
Maybe it doesn't make much sense to have a limit. Just a flag to forbid more than one is enough. What do you think?

[2015-05-21 13:27] pmattern commented on #637
I had already asked this myself when opening this issue, too.
Right now I can't figure a use-case were it's indeed necessary to have some arbitrary number > 1 as limit. The idea was rather to have it available should it be needed some time.
But all in all a simple flag would probably do, yes.

[2015-05-21 13:39] pmattern commented on #409
@stefonarch
Could you have a look at the Italian files corresponding to this issue? I don't speak Italian but IMHO those are crap, too.
Also, I'm not sure whether the country-specific flavour ("_IT") is needed in Italian in the first place.

[2015-05-21 14:40] stefonarch commented on #409
@Mattern: There are two  main italian regional flavours  (italian and
swiss which are very few people)  as I know, but I couldn't tell if
there are any significant differences, I think using only _it_It will do
 for the moment, if there will be a swiss-italian translater he could
create it_CH.

The translations were completely different, and different in both files,
on my system it said "Change de

[2015-05-21 14:48] pmattern commented on #409
@stefonarch
All right. So I think we can drop the country-specific "_IT" as the language-specific ones seem to get used whenever a country-specific is missing.
E. g. foobar_de.ts (strictly speaking what it was translated to when compiling) gets used when locale is set to de_DE.UTF-8 but foobar_de_DE.ts doesn't exist.
But no hurry. Maybe we should even wait until pootle.lxde.org is ready for produc

[2015-05-22 06:28] stefonarch opened #647 "LXQt-panel compile error"
Latest git version does not compile on my system:
..
[ 99%] Building CXX object panel/CMakeFiles/lxqt-panel.dir/config/configpaneldialog.cpp.o
/home/stef/lxqt-panel/panel/config/configpaneldialog.cpp: In member function ‘void ConfigPanelDialog::showConfigPanelPage()’:
/home/stef/lxqt-panel/panel/config/configpaneldialog.cpp:52:24: error: ‘showPage’ was not declared in this scope
     showPage(mPan

[2015-05-22 06:43] palinek commented on #647
The `LxQt::ConfigDialog::showPage()` method was added recently into liblxqt in lxde/liblxqt@98dd883346074dbea680bf5796942236f191ccf8.
So you need to update your liblxqt.

[2015-05-22 08:09] anton7811 opened #648 "Appications Control+<something> shortcuts are blocked by lxqt-globalkeysd"
Even when I disable Control+F5 in global shortcuts manager I'm still not able to use it for page refresh in browser. I had to disable Global Keyboard Shortcut to make it working. As a result I missed a possibility to use any custom/standard global shortcuts in LXQt.
Playing with "multiple actions behaviour" didn't give any result. I tried to change property value and even restart lxqt-globalkeysd

[2015-05-22 09:02] palinek commented on #648
This was already discussed in lxde/lxqt#618 and (hopefuly) fixed in lxde/lxqt-globalkeys#13.
Don't know if it is already in the ppa

[2015-05-22 09:09] anton7811 commented on #648
Sorry for duplicate. Forgot to search trough closed issues as well.
Looks like it should be fixed. However I propose to wait for updates to verify and close this one.

[2015-05-22 09:41] stefonarch commented on #647
But I did so, was running  my script to update all my AUR git packages which first
updates liblxqt.
For some reason compiling fails even sooner now, at 29%
[ 29%] Building CXX object plugin-mainmenu/CMakeFiles/mainmenu.dir/lxqtmainmenu.cpp.o
In file included from /home/stef/lxqt-panel-git/src/lxqt-panel/plugin-mainmenu/lxqtmainmenu.cpp:31:0:
/home/stef/lxqt-panel-git/src/lxqt-panel/plugin-mainmenu

[2015-05-22 11:18] pmattern commented on #647
The problem is caused by lxde/liblxqt@af98dfe.
The last message before compiling stops is
[code]
Compiling lxqt-panel works flawlessly when the preceding commit lxde/liblxqt@a2d6337 is installed.
According to the comment in af98dfe lxqt-panel doesn't seem to find the said "own version".

@stef
IIRC and as your nickname suggests you're on Arch Linux. So as a workaround you may want to unpack AUR ar

[2015-05-22 13:03] paulolieuthier commented on #647
The error didn't happen to me because `LXQt/AddPluginDialog` was still installed in my system. I'll fix this.

[2015-05-22 13:23] #647 closed

[2015-05-22 13:24] paulolieuthier commented on #647
@stefonarch please, test it again.

[2015-05-22 13:46] stefonarch commented on #647
Thanks it worked, in fact now I  have my panel back again :)
Very nice and clean new work with the add-plugin dialog windows!

Il 22/05/2015 13:18, Peter Mattern ha scritto:

[2015-05-22 13:49] anton7811 commented on #648
I noticed that my lxqt-globalkeysd is build at Wed, 20 May 2015 11:16:26 and the fix is merged to master at May 19. I would expect that the fix is in place however Control+F5 is still blocked by lxqt-globalkeysd.

deb package changelog contains only build date.

Is there any other way to check if the fix is included in ppa?

[2015-05-22 13:56] stefonarch commented on #647
@paulolieuthier Tested the normal way, everything ok now, thanks!

[2015-05-22 14:00] paulolieuthier commented on #647
Nice :smile:

[2015-05-22 14:41] stefonarch commented on #647
A strange thing happend again: when I build the AUR panel package there are only two icons in add-widget dialog, when I use directly
git clone
 mkdir build && cd build && cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug .. && make && sudo make install
all the icons are present.
Tested with several different icon sets, all the same.
With oxygen I have the green dummy icons everywhere exep

[2015-05-22 17:17] lefta opened #649 "Keyboard layouts configuration does not parse extra layouts"
Lxqt-config-input uses base.lst to get supported keyboard layouts. This file does not list all layouts, there are some extra layouts in base.extra.xml (like eu). I think lxqt-config-input should parse it. This would involve an xml parser, so to avoid using two different parsers it should parse (at least) base.xml and base.extra.xml and get rid of base.lst. Qt has XML support, so I don't think it w

[2015-05-22 18:21] hduff opened #650 "menu bar misplaced in dualscreen"
I initially filed this with Mageia for their Mageia5 release as their bug https://bugs.mageia.org/show_bug.cgi?id=16015. they suggested I file it "upstream" since it appears to be an LXQT bug.

Description of problem:
I have a ViewSonic VP171b (native resolution 1280x1024) attached as an external monitor to my Acer Aspire 5315 laptop (Intel Mobile GM965/GL960 Integrated Graphics Controller). Its n

[2015-05-22 18:23] paulolieuthier commented on #650
@hduff what exactly do you call a "menu bar"? Can you provide a screenshot?

[2015-05-22 18:25] pmattern commented on #650
And may I suggest posting the output of `xrandr` invoked while the problem exists?

[2015-05-22 18:48] pmattern commented on #647
Hm, can't confirm your findings here, see screenshot
![lxqt_lxqt-panel_dialog-configure-panel-vs-icons](https://cloud.githubusercontent.com/assets/9860801/7777498/d2b81ad2-00c3-11e5-9416-ce6c8d6a3561.png)
lxqt-panel installed via AUR package lxqt-panel-git and using theme Oxygen.
Maybe an outdated version of AUR package (lxqt-panel-git.tar.gz)? Some outdated LXQt components on your system or some

[2015-05-22 19:18] hduff commented on #650
Screenshot: http://i.imgur.com/Cav6eNR.png

$ xrandr
Screen 0: minimum 8 x 8, current 1280 x 1024, maximum 32767 x 32767
LVDS1 connected 1280x800+0+0 (normal left inverted right x axis y axis) 331mm x 207mm
   1280x1024     59.91*+
   1280x800      59.91 +
   1024x768      60.00
   800x600       60.32    56.25
   768x576       79.37
   640x480       59.94

TV1 unknown connection (normal left inver

[2015-05-22 19:28] stefonarch commented on #647
No idea why this happens, refreshed Aur pkgbuilds too even today.
Should try everthing on a clean system, with all the --force options and
/home/user years old I have no idea if it's a general issue, fact it
when I compile using directly git the icons are ok.

Il 22/05/2015 20:49, Peter Mattern ha scritto:

[2015-05-22 19:32] pmattern commented on #647
You may also try in a fresh user profile first (less work than setting up a system as a whole).

[2015-05-22 22:01] hduff commented on #650
On a suggestion from a Mageia QC person, I explored lxqt-config-monitor and found a setting that fixed my problem. I elected to disable the laptop display.

[2015-05-23 07:42] #565 closed

[2015-05-23 12:04] paulolieuthier commented on #239
As @palinek [said](https://github.com/lxde/lxqt/issues/600#issuecomment-95041416) in #600, we can create a daemon that would listen to screen changes and could react. I think it can be easily done as part of lxqt-config-monitor. We could create a flag `--daemon` for it. On screen changes, it could show a simple dialog asking what to do (or possibly doing it automatically).

[2015-05-23 12:06] paulolieuthier commented on #613
@rscafi you have one panel for each screen, right?

[2015-05-23 12:10] paulolieuthier commented on #520
@Vladimir-csp can you please test if the references PR solves it?

[2015-05-23 12:40] Vladimir-csp commented on #239
The dialog could pop up on unknown display combinations with a choice to either "Apply and save" or just "Apply". If save is chosen, the daemon would not produce dialog if this combination is seen again, just apply saved configuration.
Configurations could be saved by string consisting of ports and display models, something like:
[code]
There also should be some timeout or a way to automatically c

[2015-05-23 13:36] paulolieuthier commented on #627
@PCMan I think it's still very slow compared to previous builds.

[2015-05-23 17:31] krytarowski opened #651 "lxqt-common hard-codes /etc/xdg/autostart"
In the ``autostart/CMakeLists.txt`` there is hard-coded path to ``xdg/autostart``.
[code]

This is fatal for pkgsrc and needs patching for the proper prefix: ``$PREFIX/etc/xdg``

KDE as far as I know uses ``${SYSCONF_DIR_INSTALL}`` for ``/etc``.