[2015-08-17 22:13] jleclanche commented on #780
I think the UI can be simplified. I can't model what I have in mind right now but see if I can explain it.

Instead of a list like this, have a scrollable list view with the directories like our icons/cursor theme config. Each item has an icon representing it on the left (the icon that would be used for the directory), its name in bold, and the path in grey below. On the right, a single edit butto

[2015-08-17 22:23] jleclanche commented on #785
Every file without a license header falls under the global license of the project. License headers are *not* required, by the way, so there is no reason this should block debian packaging.

Regardless, this is the last header we agreed on:

[code]

[2015-08-18 09:03] pmattern commented on #780
Notes on layout / UI:

Cursor and icon theme are different as there's only one parameter and it's corresponding items to chose from. As for `xdg-user-dirs` there's one more layer in between: xdg-user-dirs as a whole - functionality like "Documents" - folder that's chosen.
Desktop environments are for end users the majority of which supposedly has never heard of `xdg-user-dirs` as a term. So I thin

[2015-08-18 09:05] Vladimir-csp commented on #780
+1 for what's on screenshot

[2015-08-18 09:10] PCMan commented on #780
I think the UI mockup is good.
The problem is the confusion caused by the feature proposed.
For programs that are already running, they might cache the old values and keep using them.
Of course you can monitor the change of that xdg-user-dirs file and update the values in libqtxdg, but this will not work for programs not using libqtxdg and can create inconsistency between apps.
When should the cha

[2015-08-18 09:20] pmattern commented on #780
Basically it would be desirable to have those settings applied at once to be consistent with all kinds of other LXQt GUIs handling settings like lxqt-config-appearance.
Don't know whether this is feasible regarding `xdg-user-dirs` which are normally only read when a session is launched to my knowledge.

[2015-08-18 09:38] Vladimir-csp commented on #780
xdg_user_dirs are not even among environment variables, they are parsed from the config when application starts. So it is possible to change them inside session. And aware apps could get changes on the fly. As for the others, I think a warning message would suffice: "Some applications may not use the changes you've made until they restart. The best way to guarantiee that changes are applied by all

[2015-08-18 09:46] PCMan commented on #780
I still think that applying the changes all at once until next login is cleaner and more reliable. You don't change these settings everyday, do you? For this kind of one-time settings, having to logout and login again does not hurt usability much IMHO. On the other hand, trying to apply them on-the-fly creates many problems.

[2015-08-18 09:50] Vladimir-csp commented on #780
xdg-user-dirs-update does this inside session.

[2015-08-18 10:04] PCMan commented on #780
Quote from its doc: "The way it works is that xdg-user-dirs-update is run very early in the login phase."
It's not intended for updating things on-the-fly.
To my knowledge, all gtk+ programs are not aware of the changes.
See the source code of g_get_user_special_dir().
https://git.gnome.org/browse/glib/tree/glib/gutils.c#n1710
It caches the content of xdg-user-dirs settings unless you "manually" u

[2015-08-18 12:44] agaida commented on #785
@jleclanche: that depends - its a lot easier if the licenses of every file are declared in the file - otherwise one have to argue with ftp-masters - and one will loose with the chance of > 95%

[2015-08-18 15:05] luis-pereira commented on #780
@PCMan It's not a mockup. The code was implemented when I posted the screenshot. It needs minor enhancements. Let's clear some misunderstandings:
* It isn't an on the fly updating editor. Just and editor.
* It doesn't store anything inside libqtxdg. It reads/writes `user-dirs.dirs` . Check  [`QString XdgDirs::userDir(XdgDirs::UserDirectory dir)`](https://github.com/lxde/libqtxdg/blob/master/xdgdir

[2015-08-18 16:34] paulolieuthier commented on #781
Does it happen in Terminator only? Try to clean `$HOME/.fontconfig` and `$HOME/.config/terminator` as well.

[2015-08-18 17:15] luis-pereira commented on #780
Update: Not a WIP anymore. Pls test.
@Vladimir-csp running `xdg-dirs-update` doens't solve the caching issue @PCMan refereed.

[2015-08-18 17:31] jleclanche commented on #780
I still think the UI is too busy, but lgtm

[2015-08-18 18:32] #695 closed

[2015-08-18 20:57] Esclapion opened #786 "Option to reduce the space between displayed files/folders"
How do do that, horizontally and vertically, please ? Must I modify all themes, and where ?

[2015-08-19 01:52] paulolieuthier commented on #786
There is no option for that yet.

[2015-08-19 13:40] paulolieuthier commented on #774
@ArthurBorsboom does gnome-keyring help you?

[2015-08-19 15:42] ArthurBorsboom commented on #774
I believe I have the gnome-keyring installed, but maybe it is misconfigured.

Is the gnome-keyring used by pcmanfm-qt / gvfs? If so, I guess it has to be
a (optional) dependency.
On 19 Aug 2015 15:40, "Paulo Lieuthier" <notifications@github.com> wrote:

[2015-08-20 07:25] tsujan commented on #762
Here, changing the acceleration, then setting it to its previous value and clicking the close button of "Keyboard and Mouse Settings" works without need to restarting the session.

[2015-08-20 09:05] tsujan commented on #762
Ah, it was just about a typo: the key strings should be changed to "acc_factor" and "acc_threshold" from "accel_factor" and "accel_threshold", respectively, in "sessionapplication.cpp".

[2015-08-21 07:45] antis81 opened #787 "screen freezes on resume after suspending"
Not sure, if this bug is related to LXQt or low-level, but a really annoying one for laptop users with changing environment.

Following happens:
:heavy_check_mark: Step 1: Close laptop lid -> laptop goes to `suspend` mode (not hibernate)
:x: Step 2: Open laptop lid -> backlight goes on :bulb:, but screen "freezes" (no mouse movement, keyboard, etc.). Results in hard switch off and reboot.

System

[2015-08-21 08:45] antis81 commented on #740
It would be ok to place `lxqt-about` as a top-level entry in the menu, if it would integrate better with system profiler of the distro. From a user's perspective, what I want to see is a summary of my system (especially, becaused I am using a customized distro).

My question is: Does it make sense to integrate the `lxqt-about` dialog better with the "system profiler" - probably add a button: `Show

[2015-08-21 09:06] antis81 opened #788 "computer hangs on shutdown"
This issue might be related to issue #787 and (once more), not sure if an LXQt bug. When I want to power off (shutdown) my computer, all processes seem to be stopped ok, but finally it stalls (freezes) and I have to force power off almost each single time.

Not a single clue why, but once in a while it works like it should -> system powers off. Maybe due to a previous `apt-get upgrade` ...

There'

[2015-08-21 09:15] antis81 opened #789 "power button has no effect -> should call "lxqt-leave""
In LXDE based Lubuntu versions (like in 14.04 LTS), pressing the PC's power button calls `lubuntu-logout` (aka `lxsession-logout`). In LXQt, ~~it does nothing~~ calling `lxqt-leave` is what I expect on a desktop system.

On my system, sometimes, a direct shutdown is triggered (don't know why).

System (for me always the same :smile:):

| Component | Version |
| --- | --- |
| Hardware | Macbook 2,1

[2015-08-21 10:06] pmattern commented on #789
Sure. But we can't memorise the systems of all folks filing issues here.

[2015-08-21 10:08] antis81 commented on #789
@pmattern Yes, I know :) - That's why I copied the info. Oh, I see there's a line-break missing - will be corrected in a second.

[2015-08-21 16:30] Esclapion opened #790 "How to increase the size of the lxqt menu icons ?"
I tried with .gtkrc-2.0.mine, but it's ineffective...

[2015-08-22 23:49] Atalanttore opened #791 "Newly created file is always placed in the top left side"
Hi,

a newly created file on the desktop is always placed in the top left side even if there is already another file placed at this position.

Regards,
Ettore

[2015-08-23 00:02] Atalanttore opened #792 "Displacement arrow area is much too small"
Hi,

the area on the edge of a program window in which a displacement arrow is displayed is much too small.

Regards,
Ettore

[2015-08-23 06:03] jleclanche commented on #640
I'm -1 on this.

[2015-08-23 06:04] jleclanche commented on #642
Accepted

[2015-08-23 06:58] jleclanche commented on #636
Hey, sorry, I'm working through my backlog.

@intialonso is unfortunately dealing with his real life at the moment and can't work on LXQt.

I like the solution proposed in https://github.com/lxde/lxqt/issues/636#issuecomment-114583522. But please use an svg, or at least a png. This has to look nice at all sizes, and on all themes!

[2015-08-23 06:59] jleclanche commented on #636
I see my comments were already taken into account actually. yay to clairvoyance :)

[2015-08-23 07:00] jleclanche commented on #636
BTW, I don't think this should be optional. The themes are able to modify/get rid of it anyway.

[2015-08-23 15:41] luis-pereira opened #793 "lxqt-config: Runtime error while loading shared libraries (liblxqt-config-cursor)"
After commit  https://github.com/lxde/lxqt-config/commit/f7dd81930f389fc84b7caac94187c8487632a725 the dynamic linker (default configuration) will not find `liblxqt-config-cursor`.

[2015-08-23 16:37] stefonarch opened #794 "lxqt-sudo should not have a .desktop file and maybe shorter name"
It ends up under "other" as "GUI sudo" and produces only an error "no command provided".
Alternatively  could   provide a dialog for the comand to run, saying "running application as admin" or so.

As usually it gets invoked only  in terminal windows I find the name to long to type, even using TAB.
 Personally I created a symlink /usr/bin/qtsu

[2015-08-23 17:04] luis-pereira commented on #793
@agaida Why do we need https://github.com/lxde/lxqt-config/commit/f7dd81930f389fc84b7caac94187c8487632a725 ?

[2015-08-23 17:19] pmattern commented on #794
The desktop entry file is indeed useless but was removed in lxde/lxqt-sudo@7679457 three months ago.

The name was criticised in lxde/lxqt-sudo#1 already, not only regarding the length but also because of the fact it suggests 'sudo' is the only backend supported which is about to be changed by now, see lxde/lxqt-sudo#7.
IMO all those arguments still apply and it would make a lot of sense to discus

[2015-08-23 18:51] stefonarch commented on #794
In fact I see my lxqt-sudo.desktop file is old, from June.
The name should be similar to gksu and  kdesu IMO.

[2015-08-23 22:32] palinek commented on #794
@pmattern, @paulolieuthier, @jleclanche, @luis-pereira, @PCMan do we want/need a better name for lxqt-sudo?...what are your proposals?

[2015-08-24 07:30] palinek commented on #790
Are you talking about `Application menu` plugin/widget in panel?

[2015-08-24 08:55] Esclapion commented on #790
yes. The icons who appears when you click on Menu. I can change the font size with a right-click on that, but it serves to nothing if the icons don't follow.
May be I miss something ?

[2015-08-24 11:14] pmattern commented on #792
Could you please elaborate what you've got in mind here?
I've got a vague idea but the issue is pretty hard to understand. A screenshot wouldn't hurt either.

[2015-08-24 12:08] palinek commented on #790
AFAIK you don't miss anything... it's not configurable.

[2015-08-24 12:10] Esclapion commented on #790
They are a little bit small. 24x24 would be probably better

[2015-08-24 12:13] palinek commented on #790
@Esclapion, please, try the lxde/lxqt-panel#235 ...

Note: currently the theme stylesheet for QMenu conflicts with bigger icons than 30 px:
[code]

[2015-08-24 14:42] Esclapion commented on #790
Difficult for me, I use the Arch binary packages.

[2015-08-24 16:30] paulolieuthier commented on #775
@mid-kid don't you send us a pull request to get credits for the fix? You can use git's format-patch command if you don't want to fork on Github.

[2015-08-24 17:40] paulolieuthier commented on #787
You should try a newer kernel.

[2015-08-24 17:41] Atalanttore commented on #792
Here it is …

![desktop](https://cloud.githubusercontent.com/assets/628474/9447493/f3e81c98-4a97-11e5-80e2-ba304959a916.png)

[2015-08-24 17:52] pmattern commented on #792
That screenshot belongs to #791, doesn't it?

[2015-08-24 17:52] paulolieuthier commented on #792
AFAIK, "the area on the edge of a program window in which a displacement arrow is displayed" is responsability of the window manager.

[2015-08-24 17:56] #762 closed

[2015-08-24 17:57] paulolieuthier commented on #762
@eliaas, @Vladimir-csp and @pmattern can you please test it with current master? @tsujan, good catch, thanks!

[2015-08-24 18:12] paulolieuthier commented on #391
An "Apply" button would mitigate it.

[2015-08-24 18:30] antis81 commented on #787
@paulolieuthier I'll try with current 4.1 kernel and report back. Though in my productive environment I decided to stick with the official kernel (3.19 for Lubuntu >= 14.04 LTS).

[2015-08-24 18:44] Atalanttore commented on #792
My mistake, wrong thread …

[2015-08-24 18:54] pmattern commented on #791
Confirmed running VCS checkout of 2015-08-21 on Arch Linux i686 or x86_64.

Not 100% reproducible, though.
Sometimes new icons get placed overlapping with existing ones which doesn't necessarily affect the top-left corner of a display, sometimes the new icon is placed reasonably at the top-left position that's available / not occupied yet.
Failed to figure out the exact conditions of the different

[2015-08-24 18:55] Atalanttore commented on #792
Second attempt

Displacement arrow appears:
![displacement_arrow_appears](https://cloud.githubusercontent.com/assets/628474/9449347/4ad64b92-4aa2-11e5-9440-17334ecb7485.png)

Too far left:
![too_far_left](https://cloud.githubusercontent.com/assets/628474/9449350/4efe6074-4aa2-11e5-9ebf-ef10b39e0e5e.png)

Too far right:
![too_far_right](https://cloud.githubusercontent.com/assets/628474/9449352/52c3

[2015-08-24 18:57] Atalanttore commented on #791
Here is the screenshot:

![desktop](https://cloud.githubusercontent.com/assets/628474/9447493/f3e81c98-4a97-11e5-80e2-ba304959a916.png)

[2015-08-24 19:46] pmattern commented on #792
The arrows to resize you're referring are corresponding to the window borders which are indeed the window manager's job.
LXQt doesn't and probably never will provide it's own window manager so this issue is a downstream one.

At least on Openbox the window border is handled by themes. The corresponding setting is `border.width`, see [openbox.org/wiki/Help:Themes](http://openbox.org/wiki/Help:Theme

[2015-08-24 19:46] #792 closed

[2015-08-24 20:23] mid-kid commented on #775
It was just a quick fix for myself. I don't even know if it's the proper way to fix it.
But okay, I'll file a pull request soon. I guess it can be discussed there if need be.

[2015-08-24 21:57] pmattern commented on #790
Just had a look on Arch i686: works exactly as expected.

[2015-08-24 22:12] Esclapion commented on #790
If I understand the modification, the icons size will now follow the font size ? If yes, nice :-)

[2015-08-24 22:18] pmattern commented on #790
You do.

[2015-08-24 22:20] pmattern commented on #762
@paulolieuthier
FYI: testing impossible due to #793 right now.

[2015-08-24 23:25] paulolieuthier commented on #793
Debian policies do not allow unversioned libraries to be put in the standard library directories. We should version them, or put them somewhere else for the packages to get into Debian repositories.

[2015-08-24 23:37] #735 closed

[2015-08-25 04:41] #790 closed

[2015-08-25 08:28] zjes opened #795 "lightdm lxqt greeter"
This is not a issue.
I have a qt5 greeter (but without liblightdm-qt dependency) for lxqt, with lxqt theming support. This is just first functional version (without configuration tool). I know you are prefer sddm, but this sddm is not enough for my conditions, i prefer lightdm and without qml.  :) Old lxqt greeter was moved out from lxqt tree. I suggest another one.
Code is here: https://github.co

[2015-08-25 10:44] surlykke commented on #795
2015-08-25 10:28 GMT+02:00 zjes <notifications@github.com>:

Actually there *is* a lightdm greeter for LXQt:
https://github.com/surlykke/lxqt-lightdm-greeter . It used to be part of
LXQt and previously Razor. But since everybody seems to use sddm, it is no
longer part of the project. I still maintain it and use it myself, though.
You can have a look at that if you wish. (It *does* depend on
liblig

[2015-08-25 12:08] tsujan commented on #493
I see a general proplem when the icon of a desktop file is only in /usr/share/pixmaps. Not only such icons aren't shown in pcmanfm-qt, the configuration center doesn't give enough space to them.

In the image below, the first item under System Settings is galternatives, the icon of whose desktop file is in the pixmap folder. If I put the full icon path in its desktop file, it'll be shown correctly

[2015-08-25 12:13] Esclapion commented on #790
I tried the modification, but I have too old sources, and a thing is missing

/home/pat/repoarch/lxqt-panel/src/lxqt-panel-0.9.0/plugin-mainmenu/lxqtmainmenu.cpp:290:40: erreur: ‘menuFont’ was not declared in this scope

[2015-08-25 12:16] palinek commented on #493
@tsujan for the configuration center i've made a commit (for testing...) in https://github.com/lxde/lxqt-config/commits/cc_item_size... can you try, if it helps?

[2015-08-25 12:22] palinek commented on #790
Now that the change is in master, you can try it with the arch's git package...not?

[2015-08-25 12:30] Esclapion commented on #790
With the git's, yes. But for the moment, I use stable packages to produce my manjaro ISOs.

A problem is that the git is too far of the Arch stable version, now... :-(

[2015-08-25 12:43] tsujan commented on #493
I applied just your commit and nothing else since 2015/08/19, and yes, it fixed the config center problem. Thanks!

[2015-08-25 12:46] palinek commented on #790
A problem is that the git is too far of the Arch stable version, now... :-(

If you wish, you can try to modify the source manualy based on following diff:
plugin-mainmenu/lxqtmainmenu.cpp
[code]
plugin-mainmenu/lxqtmainmenu.cpp
[code]

[2015-08-25 13:00] agaida commented on #793
Maybe a private library (with correct settings in cmake would be a solution too - i would prefer that)

[2015-08-25 14:26] agaida commented on #493
@tsujan - nice catch, thanks

[2015-08-25 14:31] tsujan commented on #493
@agaida - I didn't do anything! It was palinek's commit.I just tested it.

[2015-08-25 19:24] eliaas commented on #762
thanks for letting us know.

[2015-08-26 04:23] fguzm commented on #795
"..since everybody seems to use sddm.."
Have you seen the dependencies of sddm?
I use lightdm.

[2015-08-26 06:54] zjes commented on #795
@surlykke lets try to merge code (features) to one project? :)

[2015-08-26 09:03] pmattern commented on #762
Just applied the patch proposed by tsujan on top of an older commit to avoid the problem addressed in #793, see https://github.com/pmattern/lxqt-config/commits/fix-pointer. This does *not* seem to solve the problem.
With the mouse I'm using the only way to get an effect that's recognizable well is setting sensitivity to 110 which makes the pointer behave insanely. If I log out and in again the val

[2015-08-26 09:54] tsujan commented on #762
@pmattern  What worked for me was changing "accel_" to acc_" in 'lxqt-session/src/sessionapplication.cpp". I said nothing about 'lxqt-config-input/mouseconfig.cpp'.

[2015-08-26 09:57] tsujan commented on #762
In other words, I didn't applied lxde/lxqt-config@e1f4357 here.

[2015-08-26 11:43] luis-pereira commented on #793
@agaida That's the best solution IMO. I can't implement it right now. If someone wants to do it, go ahead.

[2015-08-26 12:20] paulolieuthier commented on #762
Yeah, I didn't do exactly the same thing, but it should have fixed the issue.

[2015-08-26 12:25] pmattern commented on #762
Running lxde/lxqt-config@ab675b2 (changes in $XDG_CONFIG_HOME/lxqt/session.conf due to lxde/lxqt-config@e1f4357 withdrawn as well) and lxde/lxqt-session@225fd535af0a058 both the findings regarding sensitivity value 110 and the strange values of `acc_threshold` are persisting here.

[2015-08-26 13:08] jleclanche commented on #338
Very nice!

[2015-08-26 13:27] paulolieuthier commented on #793
@luis-pereira can you please explain how it should be done? I don't think I've ever done that. BTW, I solved the problem on my machine by adding version information to liblxqt-config-cursor. The same version as liblxqt, automatically. Looks very simple to me. What do you think?

[2015-08-26 13:33] paulolieuthier commented on #762
The commit fixed the problem in my machine.

[2015-08-26 15:04] pmattern opened #796 "plugin-kbindicator: removal of translations"
lxde/lxqt-panel@3b9c7b9 which was one of the changes due to #735 removed all existing translations, only German has been re-added manually in the meantime.

Can't check whether this was eventually intentional right now but I think the other preexisting translations should be re-added as well if feasible.

Btw. problem has already been addressed in #735 but comment remained unanswered.

[2015-08-26 15:10] DiscipleOfDante commented on #608
I will try and figure out how to do a cron job for this in the meantime, but I think this would still make a nice feature to have before the 1.0 release.

[2015-08-26 15:17] Vladimir-csp commented on #608
there is an xml format for such things, used by Gnome and Unity at least. IMHO lxqt implementation should use the same format.
Example of standard Debian slideshow:
[code]

I do not know the origin of the spec, but here is a descriotion here: https://help.ubuntu.com/community/SlideshowWallpapers

[2015-08-26 15:25] DiscipleOfDante commented on #608
Yes but perhaps with an auto-generator as well? Even just like a little tool that allows you to input files paths, and set a duration?

[2015-08-26 16:43] agaida commented on #793
the question is - is the library really needed as a shared library?

[2015-08-26 21:37] paulolieuthier commented on #793
It is a shared library because both lxqt-config-appearance and lxqt-config-input uses it.

[2015-08-26 21:39] paulolieuthier commented on #794
Yes, I'd like to see a shorter name, and "su" instead of "sudo" would be a plus as well. But this is not a big deal, just my preferences. I'm not very creative, but I think lxqtsu is easier and faster to type. What do you think?

[2015-08-26 21:43] pmattern commented on #793
which is a redundancy that was - IMHO rightly - criticised in #658.

[2015-08-26 21:49] agaida commented on #793
@paulolieuthier - ok, if both programs use this library and it should stay that way - the lib must have a version - solved. If we follow pmattern and #658 it should be private.

[2015-08-27 01:42] paulolieuthier commented on #793
@pmattern simply removing the cursor appearance page from lxqt-config-input (which is what #658 proposes) wouldn't solve this issue (although I agree with #658). Both lxqt-config-input and lxqt-config-appearence would continue depending on the library. What do you suggest?

@agaida I still don't know what "private" means here. Just not available in `/usr/lib` and friends (like in your last patch)?

[2015-08-27 01:53] agaida commented on #793
http://stackoverflow.com/questions/14486335/how-to-package-shared-library-in-deb-packages - if i understand this right, this is it. - but i'm ok with a versioned lib

[2015-08-27 06:17] palinek commented on #793
How about lxde/lxqt-config@0818173 ? Does it solve everything stated here?

[2015-08-27 09:57] paulolieuthier commented on #793
@palinek I can't test it now, but it looks nicer.

[2015-08-27 17:04] agaida commented on #793
@palinek - looks good and 'Works for me'™ - if no objections gtm

[2015-08-27 19:13] paulolieuthier commented on #793
@palinek ship it.

[2015-08-28 19:49] surlykke commented on #795
2015-08-26 8:54 GMT+02:00 zjes <notifications@github.com>:

manager, so it's not a priority for me to add new functionality. I'll
handle bug reports (but they are rare), but I'm not doing active
development on it.

br. Chr.

[2015-08-29 12:45] paiiou commented on #795
I see another reason to use lightdm. sddm does not support computers that that do not support sse2 and more.
Yes, he left!
So if the version of lightdm not requires sse2, yes it's a additional reason to continue.

[2015-08-29 12:50] Esclapion commented on #795
I tried both, and never problem with sddm. I looked at the size of both in my environment, and sddm was not heavier, if we count all dependencies.

[2015-08-29 13:24] paiiou commented on #795
@ escaplion Have you essay sddm on a computer that does not have the support sse2?

[2015-08-29 13:33] Esclapion commented on #795
I have a 6 years old computer. I looked now, it supports SSE4.2. To be honest, I don't know exactly what it means... :-)

[2015-08-29 13:39] Esclapion commented on #795
"SSE2, Streaming SIMD Extensions 2, is one of the Intel SIMD (Single Instruction, Multiple Data) processor supplementary instruction sets first introduced by Intel with the initial version of the Pentium 4 in 2001"

Your PC is older, or it's not an Intel ?

[2015-08-29 13:47] paiiou commented on #795
Yes it an ordinosaure > 10 years. I use it only for backup.
It use a AMD processor, only sse, not sse2 and above

[2015-08-29 14:27] paulolieuthier commented on #787
You're actually a recent kernel. But you should try a newer one to see if it fixes it. Anyway, it indeed does not look like it's related to LXQt. I'd suggest playing with systemd/upower.

[2015-08-29 14:41] antis81 commented on #787
Unfortunately I'm currently a bit short on time and investigation will probably eat a day or two. I'm pretty sure this works with a 4.1 kernel - tried it about a month ago.

[2015-08-29 14:43] Esclapion commented on #787
4.1 will be a "true" LTS. 3.19 already disappeared in kernel.org.

[2015-08-29 14:56] alfredobonino commented on #391
A preview of this??? There is The code of wallpaper preview??

[2015-08-30 06:48] antis81 opened #797 "[critical bug] - LXQt stopped working after recent upgrade"
This issue belongs to category: Things, that **must not** happen!

Currently writing from an openbox fallback session. Yesterday an upgrade for `liblxqt` arrived. After running `apt-get upgrade` as usual, all LXQt apps stopped working.

Sounds like a linking problem:
`lxqt-about: symbol lookup error: lxqt-about: undefined symbol: _ZTVN4LxQt11ApplicationE`

System:

Component | Version
---- | ----

[2015-08-30 09:42] surlykke commented on #797
2015-08-30 8:48 GMT+02:00 Nils Fenner <notifications@github.com>:

br. Chr.

[2015-08-30 10:00] antis81 commented on #797
@surlykke Thanks, though ldconfig didn't work - same result. Looks like liblxqt (or other lib?) introduced an incompatible change, that every LXQt app requires to run. If I get this right, the only way is to update every LXQt app in the `lubuntu-daily` PPA to fix the problem.

[2015-08-30 11:22] agaida commented on #797
Such things will happend - if one don't want this one should not use daily-ppas and go for proper distribution packages. It is really such a simple thing. We had a namespace fix that affects the most of the LXQt packages. Daily-PPA is bleeding edge, so nobody should be surprised if it break things. Closing this now with no further action.

PS: And yes, i know that most of the LXQt packages are not

[2015-08-30 11:22] #797 closed

[2015-08-30 11:42] antis81 commented on #797
@agaida Looks like I hit a nerve eh - sorry. :)

Anyway, that doesn't solve the issue. Please reopen until things are back to usual.

[2015-08-30 11:50] agaida commented on #797
no, i will not reopen this - but its really such simple - the daily builds grap the current development and build it - and if the resultig packages break things - they will break things :D - build the whole set of packages yesterday and have this running, no bad things happend. if you encounter problems after the next build its up to downstream, nothing the LXQt team can and will do

[2015-08-30 15:14] Atalanttore opened #798 "Login no longer works"
Hi,

login to LxQt no longer works since some days. Login to LXDE still works properly.

syslog during login attempt:
<code>Aug 30 17:03:08 Notebook sddm-helper: pam_ecryptfs: pam_sm_authenticate: /home/nas is already mounted</code>
<code>Aug 30 17:03:08 Notebook systemd[1]: Started Session 6 of user A.</code>
<code>Aug 30 17:03:08 Notebook systemd[1]: Starting Session 6 of user A.</code>
<code>Au

[2015-08-30 15:18] pmattern commented on #798
Distro? LXQt version and way it was installed?
Please state this informations in *every* issue you open. We can't memorise the systems of all users posting on this tracker.

[2015-08-30 18:03] rogerfranz commented on #798
I have the same issue. Login does not work.

What was updated between logins is (from the apt log):

`Start-Date: 2015-08-29  17:22:46
Commandline: /usr/sbin/synaptic
Install: oggz-tools:amd64 (1.1.1-3, automatic), libkate-tools:amd64 (0.4.1-4), libffms2-3:amd64 (2.20-1build1, automatic), performous-tools:amd64 (1.0-2), python-pykaraoke:amd64 (0.7.5-1.1, automatic), pykaraoke:amd64 (0.7.5-1.1), ae

[2015-08-30 18:19] rogerfranz commented on #798
Updated packages have now fixed this issue.

dpkg-query:
[code]

[2015-08-30 18:24] pmattern commented on #798
Confirmed, both problem and fix by recent update running Lubuntu 15.04 plus LXQt from PPA ppa:lubuntu-dev/lubuntu-daily.
This was a problem involving faulty implementation of some changes that took place recently upstream.

[2015-08-30 18:24] #798 closed

[2015-08-30 18:57] Atalanttore commented on #798
I've installed LXQt 0.9 on Kubuntu 15.04 from <code>ppa:lubuntu-dev/lubuntu-daily</code>.

[2015-08-30 18:57] pmattern commented on #798
@Atalanttore
So it's probably fixed by the latest update as well, isn't it?

[2015-08-31 11:33] Atalanttore commented on #798
The latest update fixed the login problem also on my machine.

[2015-08-31 11:46] jleclanche commented on #588
Autohide covers this. Closing.

[2015-08-31 11:46] #588 closed

[2015-08-31 11:52] Atalanttore opened #799 "Global hotkeys and its configuration tool are broken"
Hi,

the global hotkeys (e.g. for volume and brightness) and its configuration tool doesn't work anymore after updating to latest version to fix the login problem (#798) on my machine.

My machine:
LXQt installed on Kubuntu 15.04 via <code>ppa:lubuntu-dev/lubuntu-daily</code>.

Regards,
Ettore

[2015-08-31 11:56] paulolieuthier commented on #799
It works here (git master).

[2015-08-31 12:33] jleclanche commented on #788
Track this in #787, I don't think it could be an lxqt issue.

[2015-08-31 12:33] #788 closed

[2015-08-31 12:34] jleclanche commented on #572
@Vladimir-csp Not really.

[2015-08-31 15:49] jleclanche commented on #588
@DiscipleOfDante I'm sorry but I still don't understand how autohide does not cover that. Do you have a screenshot of what you're trying to say?

[2015-08-31 18:07] DiscipleOfDante commented on #588
Like this (done in Plasma 5) http://i.imgur.com/Nc31gwg.png . You can see how I don't need to mouse-over my panel to see my top panel, yet it is not in the way of my fullscreened browser, allowing me to keep an eye on the time and the status of my computer without having to constantly mouse-up.

[2015-08-31 20:43] pmattern commented on #799
Confirmed but in a way that seems related to #771. Findings / steps to reproduce:

1. start a session: all keyboard shortcuts and special keys like XF86Audio{Lower,Raise}Volume are working flawlessly
1. launch `lxqt-config-globalkeyshortcuts`: problems described in #771 can be seen; once `lxqt-config-globalkeyshortcuts` got "frozen" due to double-clicking a shortcut and closed thereafter all kinds

[2015-08-31 22:06] paulolieuthier commented on #799
@pmattern I can reproduce the issue described in #771. But I think this is different. My first thought here was a downstream problem after the LxQt to LXQt renaming. But the PPA looks updated.

@Atalanttore, can you even start `lxqt-config-globalkeyshortcuts`? Please run it in a console and show us the output if it is not working.

[2015-08-31 23:17] Atalanttore commented on #799
I've started <code>lxqt-config-globalkeyshortcuts</code> in a console, but got this error:

<code>lxqt-config-globalkeyshortcuts: symbol lookup error: lxqt-config-globalkeyshortcuts: undefined symbol: _ZN4LxQt17SingleApplicationC1ERiPPcNS0_12StartOptionsE</code>

[2015-08-31 23:18] paulolieuthier commented on #799
That's exactly what I thought. @Atalanttore you need to update liblxqt.

[2015-08-31 23:51] Atalanttore commented on #799
I will wait for an update via <code>ppa:lubuntu-dev/lubuntu-daily</code>.

[2015-08-31 23:55] paulolieuthier commented on #799
No, sorry. It's lxqt-globalkeys that needs an update.

[2015-09-01 00:03] paulolieuthier commented on #799
But the PPA is already up to date, as I said.

[2015-09-01 00:03] paulolieuthier commented on #799
@Atalanttore what is the version of the lxqt-globalkeys package you have installed?

[2015-09-01 00:17] Atalanttore commented on #799
It's version 0.9.0+bzr156+201508221346~ubuntu15.04.1

[2015-09-01 00:30] paulolieuthier commented on #799
I was wrong, the PPA is not updated. I hope it will be soon. That will fix it.

[2015-09-01 01:08] rcmn commented on #799
Other affected :

lxqt-config: symbol lookup error: lxqt-config: undefined symbol:
_ZN4LxQt17SingleApplicationC1ERiPPcNS0_12StartOptionsE

lxqt-config-appearance: symbol lookup error: lxqt-config-appearance:
undefined symbol: _ZN4LxQt17SingleApplicationC1ERiPPcNS0_12StartOptionsE

lxqt-config-file-associations: symbol lookup error:
lxqt-config-file-associations: undefined symbol:
_ZN4LxQt17SingleA

[2015-09-01 06:41] pmattern commented on #799
That PPA was having massive issues due to the renaming LxQt → LXQt, see #798 and #797.

@paulolieuthier
Can you also confirm that shortcuts stop working after `lxqt-config-globalkeyshortcuts` was behaving as stated above ("freeze")?
If yes we should add this to #771 while this issue seems to be yet another downstream problem affecting this particular PPA.

[2015-09-01 09:21] paulolieuthier commented on #799
@pmattern I confirm #771's issue. But I don't think it's related.

[2015-09-01 09:22] paulolieuthier commented on #799
@jleclanche we should ping the lubuntu-dev PPA maintainer.

[2015-09-01 11:07] Atalanttore commented on #799
@paulolieuthier No problem. Changing brightness/volume via console is not a big deal. I hope to get the latest update soon.

[2015-09-01 11:10] Atalanttore commented on #799
FYI, this is the Launchpad site of the lubuntu-dev PPA maintainer:
https://launchpad.net/~gilir

[2015-09-01 11:55] jleclanche commented on #799
@gilir is the maintainer.

[2015-09-01 14:21] jleclanche commented on #599
I'm tentatively -1 on this

[2015-09-01 14:27] jleclanche commented on #672
There are a lot of concerns around this, it's doable with keyboard shortcuts and the use cases are minor, almost nonexistant.

Rejecting.

[2015-09-01 14:27] #672 closed

[2015-09-01 14:29] jleclanche commented on #658
This is OK and completely acceptable.

[2015-09-01 20:12] ferronrsmith opened #800 "lxqt-panel broken on ubuntu14.04.1_amd64"
Receiving the follow error after updating to :

lqxqt-panel_0.9.0.0.0+bzr939+201506300023~ubuntu14.04.1_amd64

I had to revert back to lxpanel
lxqt-panel: symbol lookup error: lxqt-panel: undefined symbol: _ZTIN4LxQt12ConfigDialogE

[2015-09-01 20:42] pmattern commented on #800
According to the error message this yet another manifestation of a well-known downstream problem affecting the *buntu PPA only, see #797, #798, #799.
Also note that your're not running the latest version of package `lxqt-panel` which is working flawlessly in a VM here.

[2015-09-01 20:42] #800 closed

[2015-09-01 20:52] ferronrsmith commented on #800
Seems the daily build failed so we haven't gotten the latest version as yet, thanks!

[2015-09-02 12:14] jleclanche commented on #608
I'm ok with wallpaper slideshows going in and yes I agree we should use the same xml format as others if possible.

[2015-09-02 12:21] jleclanche commented on #794
@palinek @paulolieuthier Sorry for the late response.

I think `lxsu` would be a fine name for the binary. Failing that, lxqt-sudo is fine.

[2015-09-02 12:23] Vladimir-csp commented on #794
+1 for lxsu.
Sooner or later 'qt' part would become irrelevant anyway.

[2015-09-02 12:29] jleclanche commented on #781
This can't be an LXQt issue, closing.

[2015-09-02 12:29] #781 closed

[2015-09-02 15:09] Esclapion commented on #662
It's also true for the quick launch icons, at the left side (if horizontal panel ;). Maybe more.

How to change that also ?

[2015-09-02 18:04] paulolieuthier commented on #794
Makes sense.

[2015-09-02 18:54] pmattern commented on #800
Just had a look at an Ubuntu 14.04 system which seems a bit odd:
The package lists on https://launchpad.net/~lubuntu-dev/+archive/ubuntu/lubuntu-daily state `0.9.0.0.0+bzr985+201508311316~ubuntu14.04.1` as latest version available. Yet `apt-get` is still listing the one you mentioned the failure of which can be reproduced here exactly as described, too.
Maybe a problem regarding the repo in additi

[2015-09-02 18:58] ferronrsmith commented on #800
Yea it seems so. I am unable to get the latest package. Build system seems
very slow.

On Wed, Sep 2, 2015 at 2:54 PM, Peter Mattern <notifications@github.com>
wrote:

--
"*Give me a place to stand* on, *and I will move the Earth*."

Ferron Hanse

[2015-09-02 19:35] ferronrsmith opened #801 "pcmanfm-qt closes abruptly"
There are 2 cases where this happens.

- If I create a bookmark for a folder
- Delete the folder
- Try to navigate to the folder (deleted) using the bookmark. pcmanfm crashes

I using maven alot for work

- If I navigate inside the `targets` folder
- Then perform a mvn clean via the terminal (which removes the targets folder)
- pcmanfm-qt crashes.

Are these expected behavior ?

Expected behavior

[2015-09-02 20:31] ThomasVie commented on #766
There are some more examples where the translation is available but it is not displayed:
- Tooltip of "Show desktop", "Removable media manager"
- Context menu of quicklaunch icons ("move left / right", "Remove from quicklaunch")

[2015-09-02 22:16] agaida opened #802 "typos in lxqt-policykit"
* manpage wrong link
* AUTHORS unused GPL2+

[2015-09-02 22:38] agaida opened #803 "missed license headers in lxqt-powermanagement"
config/helpers.h: *No copyright* UNKNOWN
src/iconproducer.h: *No copyright* UNKNOWN
src/batteryinfodialog.cpp: *No copyright* UNKNOWN
src/batteryinfodialog.h: *No copyright* UNKNOWN
src/iconproducer.cpp: *No copyright* UNKNOWN
src/powermanagementd.h: *No copyright* UNKNOWN
src/watcher.h: *No copyright* UNKNOWN

[2015-09-02 23:12] agaida opened #804 "lxqt-qtplugin: mention the digia lgpl exception for qticonloader"
Additonal: fix AUTHORS, no GPL2+ in the package

[2015-09-02 23:47] db0451 opened #805 "lxpanel "Minimize all" affects all desktop pages/workspaces when iconifying - but only current when shading"
Hi, firstly, thanks for a great desktop experience!

One fairly minor thing I've noticed: Using the standard applet "Minimize All Windows" to iconify affects all windows on both desktops/workspaces. However, using the same applet to shade only affects windows located on the currently active desktop.

I feel these 2 behaviours - accessed by different clicks on the same icon - should behave consiste

[2015-09-03 07:38] palinek commented on #794
I personaly like that (mostly) every LXQt component (package name in distribution) does follow the `lxqt-*` pattern. How about leaving the component name as is `lxqt-sudo` but adding a symbolic link for executable lxsu -> lxqt-sudo?

[2015-09-03 07:49] palinek commented on #805
Are you talking about LXDE & lxpanel or LXQt & lxqt-panel ?

[2015-09-03 07:53] db0451 commented on #805
Sorry, I had misread the Wikipedia article and thought that LXDE was fully
migrated to Qt; I didn't realise the two versions exist in parallel.

To confirm, it's for the normal (GTK+?) version.

Apologies and if I need to repost this anywhere else, let me know.

thanks
Daniel

On Thu, Sep 3, 2015 at 8:49 AM, palinek <notifications@github.com> wrote:

[2015-09-03 08:02] palinek commented on #805
Yes, this issue needs to be reported elsewhere....

@jleclanche where are LXDE issues reported?

[2015-09-03 08:02] #805 closed

[2015-09-03 08:29] jleclanche commented on #805
LXDE issues can be reported here. The LXDE tracker is pretty much nonexistant right now.

[2015-09-03 08:36] db0451 commented on #805
Thanks all. Do I need to open another ticket with the same text, or can
this one be moved?

cheers
Daniel

On Thu, Sep 3, 2015 at 9:29 AM, Jerome Leclanche <notifications@github.com>
wrote:

[2015-09-03 08:42] pmattern commented on #805
Err, really? I mean @LStranger is actually still active on both the trackers of http://sourceforge.net/projects/lxde and http://sourceforge.net/projects/pcmanfm/.

[2015-09-03 08:48] jleclanche commented on #805
We're moving away from SF. At least we're supposed to. But I have no idea what's going on with that, and honestly given the LXDE team's unresponsiveness, I'm starting to care very little.

LStranger is the only active person on the SF tracker, AFAIK. So for libfm/pcmanfm it's still good, but for lxpanel I have no idea.

[2015-09-03 12:03] pmattern commented on #805
I see. Yet I still think LXDE issues should get posted on sf.net:
The repos on github.com/lxde belonging to LXDE aren't suitable to provide a generic LXDE issue tracker. Opening another repo just to provide an issue tracker and not dealing with any code doesn't seem reasonable. And please let's not use the tracker on github.com/lxde/lxqt which would get pretty confusing.
So going on using the sf t

[2015-09-03 12:45] Baltasarq opened #806 "Strange mix-ups of PCManfm's"
This is rather strange. I had an updated Lubuntu, and switched to LxQt. The pcmanfm I'm using is v1.2.3:

    $ sudo apt list pcmanfm
    Listing... Done
    pcmanfm/vivid,now 1.2.3+bzr1422+201507131931~ubuntu15.04.1 amd64 [installed]
    N: There is 1 additional version. Please use the '-a' switch to see it

    $ ps aux | grep pcmanfm
    baltasa+  1586  0.0  0.7 973484 60280 ?        Sl   sep01

[2015-09-03 13:05] Baltasarq commented on #806
Okay, forget it. I did have pcmanfm from Lxde installed. It turns out that pcmanfm-qt is the one identifying itself as pcmanfm-0.9, while cpmanfm using gtk2 was the one identifying itself as v1.2.3. Sorry for the confusion.

Can I remove the question about moving, or copying file here while drag&drop? I'd like the old behaviour, when moving was the default, while pressing ctrl would copy instead o

[2015-09-03 13:25] pmattern commented on #806
You've indeed got both the GTK version "PCManFM" and the Qt version "PCManFM-Qt" installed which can be seen from the output you posted - there's both a package `pcmanfm` and a binary `pcmanfm-qt` which belongs to package pcmanfm-qt, see `dpkg --search $(which pcmanfm-qt)`.
The GTK version is placing its icon under "System Tools" in Application menu, the Qt version under "Accessories" which makes

[2015-09-03 13:25] #806 closed

[2015-09-03 17:03] pmattern commented on #801
The common practice to use this issue tracker for components featuring a dedicated one as well seems highly questionable to me.
Yet reporting on both kinds of tracker in parallel doesn't make sense.

[2015-09-03 17:03] #801 closed

[2015-09-03 17:53] jleclanche commented on #794
I'm fine with that.

[2015-09-03 19:29] jleclanche commented on #805
Some projects, including the old lxsession, moved to being tracked on github (not in this repository, in their own). Ideally all projects would move there but like I said, I'm not sure how people want this handled and I don't get answers when I ask, so I'm leaving it alone.

[2015-09-04 01:36] jleclanche commented on #708
The performance regression is a blocker for next release.

[2015-09-04 01:36] jleclanche commented on #719
@jubalh Go for it.

[2015-09-04 01:38] jleclanche commented on #604
I'm rejecting this. It's fairly hard to do on a technical level and generally unwanted. Making it configurable as a nondefault defeats the whole point; we can encourage third party runners instead if different behaviour is wanted.

[2015-09-04 01:38] #604 closed

[2015-09-04 01:39] jleclanche commented on #625
@PCMan ping on this

[2015-09-04 01:39] jleclanche commented on #720
@jubalh you still want to do this?

[2015-09-04 01:40] jleclanche commented on #779
Dup of #779

[2015-09-04 01:40] #779 closed

[2015-09-04 01:41] jleclanche commented on #722
More info on #779

[2015-09-04 01:44] jleclanche commented on #739
We should rename the setting instead to something that doesn't suggest the volume goes beyond 100%. There's still a maximum anyway.

[2015-09-04 01:49] jleclanche commented on #580
I'm rejecting this on the following basis:

* Nobody is working on it
* The idea is too abstract
* It can be done outside of LXQt

If a third party implementation pops up and is good enough for inclusion we can rediscuss it then.

[2015-09-04 01:49] #580 closed

[2015-09-04 02:01] luis-pereira commented on #766
@ThomasVie I will take a look at it.... after the holidays

[2015-09-04 05:14] jubalh commented on #720
Yes, actually I startedpreparing my laptop for work on LXQt just yesterday. But unfortunately I have limited time. Will be away for the weekend and can start next week. sorry for the long delay, was really busy.

[2015-09-04 05:14] jubalh commented on #719
will start soon, thanks

[2015-09-04 07:14] stefonarch commented on #708
I don't know if it's related but I always noted this behaviour:
Adding the plugin akregator and konversation move from the systray there, removing it their icons disappear and don't move back to the systray, even restarting those apps; only restarting the panel shows the icons again normally.

[2015-09-04 07:15] pmattern commented on #719
Not opposed to this at all but please make it optional. There are situations where the old alphabetical order still makes sense imo, e. g. several topics belonging to a single application like LO components or browser profiles.

[2015-09-04 07:24] jubalh commented on #719
Okay, so you would like to have an option in the settings where you can select your sorting style?

[2015-09-04 07:32] pmattern commented on #719
This is exactly what I'd suggest, yes.

[2015-09-04 07:36] jubalh commented on #719
Alright! Will do it like that.

On 09/04/2015 09:32 AM, Peter Mattern wrote:

[2015-09-04 14:28] surlykke commented on #803
I've added headers to said files. I took the liberty of using the license
header I proposed in another thread. I do not mean do foreclose the debate
on how LXQt license headers shall look. Once that is settled I can adjust
these.

br. Chr.

2015-09-03 0:38 GMT+02:00 Alf Gaida <notifications@github.com>:

[2015-09-04 15:25] jleclanche commented on #803
Yes that's completely fine.

[2015-09-04 15:25] #803 closed

[2015-09-05 00:25] Atalanttore commented on #799
It works again with latest updates from lubuntu-dev PPA.

[2015-09-05 04:18] Vladimir-csp opened #807 "Set XDG_CACHE_HOME"
Hi!
Just noticed that there is no XDG_CACHE_HOME variable set in LXQt session. And as far as I remember, it was set in LXDE session. (May be wrong about it, though)

[2015-09-05 04:47] #799 closed

[2015-09-05 10:00] antis81 opened #808 "Several applications not starting"
About a week ago, I opened issue #797, just to state, that I'm experiencing problems with running LXQt on Lubuntu 15.04. Unfortunately the issue got closed immediately. What happened? Have I been too raw? If so, I apologize. My goal is in helping to solve/clarify those issues, making LXQt a stable and great user experience. Unfortunately this is also a question of time - so I don't see a chance in

[2015-09-05 11:34] pmattern commented on #808
You weren't, no worries, man.

But just consider the workflow: the LXDE project is developing the LXQt desktop environment. This tracker as well as all component-specific ones on GitHub such as https://github.com/lxde/pcmanfm-qt/issues are meant to track problems regarding this development.
Next distributions pick up the code and pack it into their genuine binary packages. Problems arising in that

[2015-09-05 13:13] Soukyuu opened #809 "Application menu not updating?"
I'm running lxqt 0.9.1 on arch linux x64. I'm using KDE's dolphin as my file manager, and it was updated from the KDE4 version to the kf5 version. The application menu still lists the old KDE4 version, however, even after a reboot. The result is that I can no longer start dolphin from the menu, nor pin it to the quick launch. Looking at the error message ("File/URL '/usr/share/applications/kde4/do

[2015-09-05 14:16] pmattern commented on #809
Duplicate of #65.

Btw. an *LXQt* version 0.9.1 doesn't exist. You may want to clarify what you're running, e. g. release 0.9 from the official repos or the VCS packages from the AUR.

[2015-09-05 14:16] #809 closed

[2015-09-05 14:23] pmattern commented on #807
Confirming the finding. Not sure whether this could be intentional.

Anyway it should belong to `lxqt-common` as those XDG variables are set by script `startlxqt`.

[2015-09-05 14:29] Soukyuu commented on #809
For some reason lxqt-common has the version of 0.9.1, while the others are 0.9.0:

![lxqt](https://cloud.githubusercontent.com/assets/2095054/9699647/3376662e-53eb-11e5-9601-01ff1aaa53e7.jpg)

As you can see, I'm using the official repos.

[2015-09-05 14:30] Soukyuu commented on #65
Is there any manual workarounds for this in the meantime?

[2015-09-05 14:33] pmattern commented on #65
Forgot to mention in #809: most of the time the workaround is to update the timestamp of the *.menu file in use manually. E. g. using the default one run `# touch /etc/xdg/menus/lxqt-applications.menu` as root.

[2015-09-05 14:37] pmattern commented on #809
Sure, I know. And it's not a problem and I didn't mean to criticise. It's just good to know the exact version a user is running in many respects.

[2015-09-05 15:15] Soukyuu commented on #65
Yes, that worked. Thanks!

[2015-09-05 17:31] eugen-br opened #810 "[feature request] create an analogon of xfce4-quicklauncher-plugin"
Hello LXQt Team!
I would like to have two rows of launchers in my LXQt panel, but only one row with big window buttons in task manager. This could either be achived with a special container for launchers like the xfce4-quicklauncher-plugin http://goodies.xfce.org/projects/panel-plugins/xfce4-quicklauncher-plugin or with a task manager option allowing for one row while ther panel has two rows.
Than

[2015-09-05 17:43] eugen-br opened #811 "[feature request] create an analogon of xfce4-quicklauncher-plugin"
Hello LXQt Team!
I would like to have two rows of launchers in my LXQt panel, but only one row with big window buttons in task manager. This could either be achived with a special container for launchers like the xfce4-quicklauncher-plugin http://goodies.xfce.org/projects/panel-plugins/xfce4-quicklauncher-plugin or with a task manager option allowing for one row while the panel has two rows.
Thank

[2015-09-05 18:37] ferronrsmith commented on #800
Because of lxde/lxqt#338 I was unable to build the lxqt-panel locally. Had to revert the fix, because KWindowSystem on lubuntu is outdated. Needs at least v5.7.0 to support `KWindowSystem::setShowingDesktop`

[2015-09-05 18:46] pmattern commented on #800
Yet I still think aside from the general flaws regarding this PPA there's something particularly wrong with the Ubuntu 14.04 packages. Note that LXQt panel from the very same PPA is working flawlessly on Lubuntu 15.04 (besides this  [doesn't help too much](https://github.com/lxde/lxqt/issues/808)).

[2015-09-05 18:53] pmattern commented on #811
Issues was submitted [twice](https://github.com/lxde/lxqt/issues/810).

[2015-09-05 18:53] #811 closed

[2015-09-05 20:03] pmattern commented on #810
Considering the usual dimensions of panels and icons therein this doesn't seem like the most reasonable idea to me but maybe it's worth discussing.

If an implementation should get considered I'd strongly suggest to handle it as an option of the preexisting plugin-quicklaunch and not as a dedicated plugin like in Xfce (where it doesn't seem to get too much attention any longer).

Notes:
There's a

[2015-09-06 09:03] antis81 commented on #799
@Atalanttore @gilir Did you try `lxqt-config`? Still doesn't work here (PPA: `lubuntu-daily` -- see #808).

[2015-09-06 10:07] Esclapion opened #812 "Management of the desktop icons"
(Sorry if it already exists, but i can't find that)

How to have the trash icon (and maybe others) on the desktop ? It was possible with pcmanfm and users request that.

[2015-09-06 21:11] Atalanttore commented on #799
@antis81 No, it doesn't. But the brightness/volume hotkeys and the GUI tool are working.

[2015-09-07 06:46] palinek commented on #794
... see lxde/lxqt-sudo#12

[2015-09-07 07:16] pmattern commented on #794
On the one hand su [is about](https://github.com/lxde/lxqt-sudo/pull/7) to get another backend of the binary, on the other hand implementing lxde/lxqt-sudo#12 would mean that both `lxqt-sudo` and `lxsu` have the same functionality besides comprising "sudo" and "su" respectively in their name.
Doesn't this give rise to confusion?

(Personally I don't think a shorter name is needed at all. We all go

[2015-09-07 07:21] jleclanche commented on #794
This is not about "having a shorter name" as much as it is having a name that falls in line with the kdesu/gksu naming.

[2015-09-07 07:48] pmattern commented on #794
You did read the title, the first comment of the thread and the first of paulolieuthier?

[2015-09-07 07:49] jleclanche commented on #794
Yes, I'm well aware - and I disagree that that's the main reason we're doing this.

[2015-09-07 08:23] Vladimir-csp commented on #794
Side note: gksu uses su (by default), but it has a symlink gksudo -> gksu. If run via this symlink, ($0=gksudo) it switches to sudo.

Maybe, replicating this behavior would prevent ambiguity, ship like this:
- lxqt-elevate (binary with generic name, configurable backend)
- lxsu -> lxqt-su (symlink, always runs su)
- lxsudo -> lxqt-su (symlink, always runs sudo)

[2015-09-07 08:33] pmattern commented on #794
@Vladimir-csp
Pretty good ideas, IMO. Everything.
→ Generic name for the binary itself isn't and will never be misleading with regards to the backends in use.
→ Stating the backends names in symlinks only provides a clear and easy way to pick a distinct backend. Short as well (besides I personally don't care about that). CLI options of binary itself to pick one could of course be preserved neverth

[2015-09-07 16:25] intialonso opened #813 "Task manager plugin buttons - Icon view is stretched"
A new install of LXQT over Arch compiling from AUR.

When setting the Task Manager plugin button style to "Icon" the button width is the same as with Text + Icon.

![screen](https://cloud.githubusercontent.com/assets/7544231/9720310/7f035d00-5552-11e5-9d4d-597327f1f6c0.jpeg)

It should shrink itself to the width of the icon. It seems to be a problem with the plugin, not the themes.

[2015-09-07 17:20] palinek commented on #813
Great to see you back @intialonso.
Now it's up to the user how she/he sets the maximum width/height...

[2015-09-07 18:11] intialonso commented on #813
Thank you.

I see, closing this.

[2015-09-07 18:11] #813 closed

[2015-09-08 01:39] hykwok opened #814 "Some icon are missing in the "Choose an Application" dialog box"
When I tried to choose an application for file, I found the dialog box could not show the icon for some applications while the main menu could.
Any log file or tool can help me for troubleshooting?

![lxqt_error_001](https://cloud.githubusercontent.com/assets/11486595/9724618/43d3e388-560d-11e5-8e7e-e14a69fae312.png)

[2015-09-08 01:54] hykwok opened #815 "How to "compress" a file by the pop up menu?"
After I "right click" a file on the desktop, a pop up menu is shown. Then I select the "Compress" command but nothing is happen (no compressed output, no warning or error message)
So, how do I troubleshoot this problem?
![lxqt_error_006](https://cloud.githubusercontent.com/assets/11486595/9724774/7af7a244-560f-11e5-8931-7a034b583cf2.png)

[2015-09-08 06:33] stefonarch commented on #815
Did you specificy an application for handling archives in PCmanfm >
settings > avanced?
Here it opens ark (kde tool) and works.

Il 08/09/2015 03:54, hykwok ha scritto:

[2015-09-08 08:55] hykwok commented on #815
Thank you for your instruction.
After I select the correct archiver (xarchiver is used in my case), the function works now.
Actually, I expect the system would show a message likes "The application is found...."

[2015-09-08 08:55] #815 closed

[2015-09-08 10:04] stefonarch commented on #815
Yes, it would be fine this  the config dialog or a messagge "no archive tool specified, please select one in ..." would be shown.

[2015-09-08 11:24] pmattern commented on #815
FYI I agree that a warning is lacking here and opened lxde/pcmanfm-qt#226 covering this and some more aspects from this context.

[2015-09-08 15:09] intialonso opened #816 "Tak Manager maximum button width is in fact the minimum"
What we have now is a fixed size, the default is 400px, this is labeled as the "maximum" so in my understanding, the button should adapt itself to any size below 400px and stop at 400px as this is the "maximum" limit. But it is working as a limit also for the "minimum".

![g3370](https://cloud.githubusercontent.com/assets/7544231/9738465/45b5d734-5611-11e5-8dd1-bc075026d5b4.png)

[2015-09-08 15:31] intialonso commented on #744
As it is right now it is not obvious.
As @Vladimir-csp says the textless design could be more intuitive if enclosed, something like this;

![circle4285](https://cloud.githubusercontent.com/assets/7544231/9739333/d2350c86-5614-11e5-8808-c7b5098175b8.png)

[2015-09-08 15:44] paulolieuthier commented on #744
Indeed.

[2015-09-08 16:11] pmattern commented on #814
Running latest VCS checkouts on Arch Linux I couldn't confirm your findings regarding those Qt development tools but very well regarding JuffEd.

The problem doesn't affect dialog window `Choose an Application` only but the submenu `Open with...` of FHS objects' context menu

![pcmanfm-qt_generic-icons](https://cloud.githubusercontent.com/assets/9860801/9740363/a1b6a142-5654-11e5-9f33-e4ea345de57a

[2015-09-08 19:16] intialonso commented on #624
In fact I think that we should not use the LXQT logo as the menu icon, it doesnt look good.

Some ideas:

* Use the system theme "start-here" icon.
* Use a more generic "menu" icon (see the Firefox menu).
![screen2](https://cloud.githubusercontent.com/assets/7544231/9744906/32adb7ba-5634-11e5-8c33-96fec9cab2b1.png)
* Give the user the option to set the icon as in xfce and kde.

[2015-09-09 01:50] hykwok commented on #814
After I copied the missing icons to /usr/share/icons/hicolor/, the problem is solved.
Thank you for your information.

[2015-09-09 01:50] #814 closed

[2015-09-09 02:20] jleclanche commented on #744
Add a dropdown below to select which monitor the notifications should go on, too.

[2015-09-09 06:40] antis81 commented on #789
@jleclanche A recent Kernel update (3.19.0-27) for Lubuntu, at least revived the power button (it now powers off the computer and has a reason to exist again :smile:). Would be great though, if LXQt shows the `lxqt-leave` dialog instead, as stated in issue description.

Further I attached an external keyboard including a "second" power button, which is still dead. I don't think it's LXQt related t

[2015-09-09 07:26] pmattern commented on #789
Sometimes stuff like that is handled at the firmware level (BIOS, UEFI).

[2015-09-09 07:28] palinek commented on #794
The lxde/lxqt-sudo#12 implements the "3-way backend logic":
- if invoked by `lxqt-sudo` -> no backend is selected and the user must choose `--su` or `--sudo` option
- if invoked by `lxsu` -> `su` backend is default (but the user can change it by using `--sudo` option)
- if invoked by `lxsudo` -> `sudo` backend is default (but the user can change it by using `--su` option)

[2015-09-10 08:29] jleclanche commented on #794
@palinek why is that needed?

[2015-09-10 08:31] palinek commented on #794
That's just implementation of what was proposed in this thread...

[2015-09-10 11:25] pmattern opened #817 "plugin-statusnotifier operating with a fraction of applications only"
Apparently plugin-statusnotifier is operating with a fraction of applications only.

E. g. on KDE Plasma 5 Otter Browser, Quassel client, qps from QtDesktop, LXQt ConnMan applet and [radiotray](https://bitbucket.org/carlmig/radio-tray) as GTK application compiled against [libappindicator](https://launchpad.net/libappindicator) are working flawlessly in the new System Tray plugin implementing [SNI]

[2015-09-10 13:26] stefonarch commented on #817
Akregator, linphone and konversation (latter has an issue with non popping up directly, but this is present in systray too) work well here.

[2015-09-10 17:03] SafaAlfulaij opened #818 "LXQt runner: (After opened) Alt+F2 and Close button and Escape key log me out"
After the runner is opened by Alt+F2 (My shortcut), pressing Alt+F2, close button or the Escape key on keyboard log me out of the session without even asking!
Version (Git): 0.9.0.10.ga658dab-1

[2015-09-10 17:43] pmattern commented on #818
Cannot confirm this running latest VCS checkouts of all LXQt components on Arch Linux x86_64.
Could you please tell us which OS you're using and how LXQt was installed?

[2015-09-10 19:08] SafaAlfulaij commented on #818
It's git (sorry): 0.9.0.10.ga658dab-1
Distro: ArchLinux

[2015-09-10 19:27] pmattern commented on #818
That commit is a bit rusty, see https://github.com/lxde/lxqt-runner/commits/master. This could very well cause problems, in particular if combined with checkouts of other components from different dates as lots of changes took place under the hood since then.
But you're apparently using the AUR right now. So any chance you could update all components to recent checkouts? It's actually rather easy

[2015-09-10 19:37] pmattern commented on #817
Confirmed regarding Akregator and Konversation. Couldn't get linphone's icon to show up which may have been due to lacking knowledge about that program and probably doesn't mean a thing.
Cross checked another time: all applications were from the very same Arch Linux binary packages on KDE Plasma and LXQt as stated in first comment.
Sigh...

[2015-09-11 05:38] jleclanche commented on #794
@palinek There's nobody saying we *want* such an implementation, only @Vladimir-csp noting that gnome has it.

I suppose it doesn't hurt, but I'm never a fan of adding in things we don't need just because some other DE is doing it.

[2015-09-11 06:22] palinek commented on #794
...

Well, then do we want to be in a line with others or don't we? I personaly don't care for the shorter name, but when doing it the @Vladimir-csp's proposal seem very reasonable to me. But I can revert it happily.

Let's settle this now (and for ever :) ). Do we want
- `lxsu` (default backend su), `lxsudo` (default backend sudo) and `lxqt-sudo` (no default backend)?
- `lxsu` (default backend su

[2015-09-11 06:35] pmattern commented on #794
The primary motiviation of Vladimir-csp's proposal was *not* to just copy the behaviour of other DEs. Rather, it was about banning both "su" and "sudo" from the binary's name so as to avoid suggesting the binary is only providing one of these. This was a proposal I hade made not only with regards to those two backends but also to the idea that others like pkexec could eventually get added in the f

[2015-09-11 06:52] Vladimir-csp commented on #794
It was never my intention to suggest copying anything from Gnome. Links are just perfect for solving ambiguity, and such solution happens to be implemented for similar tool in Gnome, that's it. I proposed an expanded variant with lxqt-elevate generic binary, so anything could fit in cleanly.

[2015-09-11 07:02] jleclanche commented on #794
@palinek fair point, but there's a difference between a technical detail and a user-facing detail. User expectations matter.

I also happen to agree with @Vladimir-csp in that having `sudo` in the name suggests something that isn't necessarily true. However, the name needs to also be short to type, so I stand by my previous statement: `lxsu` would be a fine binary name. Failing that, keeping `lxqt

[2015-09-11 07:08] palinek commented on #794
This is too vague for me. Please, say it clearly: "... do it this way..." and I'll make it.

[2015-09-11 07:12] jleclanche commented on #794
I'd normally let discussion run its course but for the sake of moving on with this issue then yes, please update your PR to link to have an `lxsu` symlink and don't bother with binary name calls to specific backends.

[2015-09-11 07:27] SafaAlfulaij commented on #818
[code]

Unicode string is translation of "Runner"

I rebuilt all the modules and the problem still exist

[2015-09-11 14:05] paulolieuthier commented on #704
I had some more time and looked further into it. There is one more reason to deprecate libstatgrab: it only supports Linux. libstatgrab, as I said, is very portable. It supports the BSDs as well. So I started the port. However, libstatgrab, **AFAIK**, can't give the stats of individual cores of a multi-code CPU. libsysstat can. It means the port would remove features from the plugin. I'm not sure

[2015-09-11 14:12] paulolieuthier commented on #704
libstatgrab also doesn't know about the CPU frequency.

[2015-09-11 14:14] palinek commented on #704
I don't use the stat plugin but IMO such plugin should be aware of cpu cores and their requencies.

[2015-09-11 14:21] paulolieuthier commented on #401
I'm no longer able to reproduce it, using both KWin and Openbox. @pmattern can you still reproduce it?

[2015-09-11 14:26] paulolieuthier commented on #796
When we fix the issues of the current milestone, the string freeze period will begin and translators will come. I'll be fixed.

[2015-09-11 14:47] Esclapion opened #819 "Which pulseaudio mixer for lxqt ?"
kmix brings KDE, veromix seems stopped since 3 years, pacmixer is cli (and not nice)...

reste pavucontrol, mais est-ce vraiment un mixer ?

[2015-09-11 14:48] metasystem commented on #819
+1
Need pulse mixer in qt...

[2015-09-11 14:50] jleclanche commented on #819
#369

[2015-09-11 14:50] #819 closed

[2015-09-11 14:51] paulolieuthier commented on #671
@Vladimir-csp I can't reproduce it with `xrandr --output LVDS1 --off; xrandr --output LVDS1 --auto`.

[2015-09-11 14:58] Esclapion commented on #369
lxmixer has not changed since 8 months. What is its current state ?

[2015-09-11 16:10] stefonarch commented on #369
I stumpled up on it just today, compiles well but all fields are empty...
<img src="http://i.imgur.com/2W2dqOe.png" />

Il 11/09/2015 16:58, Esclapion ha scritto:

[2015-09-11 17:52] q4a opened #820 "Better UI to create shortcuts/app files (missing app to create a desktop shortcut)"
As I remember I was able to create/edit desktop shortcut with lxshortcut in gtk version.
Is there app to help me create/edit desktop shortcut with same simple steps in lxqt?

[2015-09-11 18:51] pmattern commented on #401
@paulolieuthier
Yes, but it doesn't always happen.
It can be seen if the keyboard shortcut to open the menu is hit (i) on a virtual desktop that doesn't contain a window at all (ii) on a virtual desktop which does contain windows which are all minimized (iii) right after typing in another application e. g. type in QTerminal and hit the shortcut right thereafter.
It's affecting Openbox and KWin her

[2015-09-11 19:19] paulolieuthier commented on #401
Still can't.

[2015-09-11 19:23] stefonarch commented on #820
You can simply  drop  icons from "applications" section on the left from
PCmanFM on the desktop.

Il 11/09/2015 19:52, q4a ha scritto:

[2015-09-11 19:30] Vladimir-csp commented on #671
@paulolieuthier, is LVDS1 your only active output while you are testing?
I will install lxqt-panel and retest soon.

[2015-09-11 19:50] paulolieuthier commented on #671
Yes.

[2015-09-11 20:44] q4a commented on #820
Thanks for help, but i want to create new menu://applications entry (new .desktop file).
I tried to copy my binary "CopyAgent" file to "menu://applications/office", but result is empty .desktop file (see attached png).

PS I'm using ubuntu 15.03 amd64 with ppa:lubuntu-dev/lubuntu-daily

[2015-09-11 21:25] Vladimir-csp commented on #671
...it can take a while, I have a mix of new native debian packages and the ones from lubuntu-daily, some build dependencies differ.

[2015-09-11 21:27] paulolieuthier commented on #671
Don't worry. :smile:

[2015-09-11 21:34] agaida commented on #671
Vladimir-csp:  Some Rules of Package-Handling in Debian and Derivatives
a) Never mix packages from Ubuntu and Debian or other Derivatives.
b) Really, never.
c) Never!

@paulolieuthier - if you can reproduce this, ok - if not i would hereby suggest to close the bug without further processing as invalid.

[2015-09-11 21:38] paulolieuthier commented on #671
Well, @palinek could reproduce it as well.

[2015-09-11 21:38] Vladimir-csp commented on #671
I've used source packages from lubuntu-daily to build them on Stretch, not binary packages directly, it worked for me :)

@palinek could reproduce it, is it still so?

[2015-09-11 23:26] agaida commented on #704
imho we have two choices - deprecate libsysstat or make sure that the
plugins aren't built for not supported platforms - that should be easy
with cmake. Problem solved :)

On the other hand - do we need the statistic tools at all? a overall
stat would be good - maybe linked to a more detailed tool like qps.

But wait - qps in its current state runs only on linux and maybe
solaris so it should be i

[2015-09-11 23:42] agaida commented on #671
Vladimir-csp: sorry, maybe i was not clear enough - don't use ubuntu packaging with debian, nor source nor binaries. If you wan't packages for stretch, clone the sources from the git repositories and build from source. Be aware of that the packages will not be compatible right now with existing packages in testing. The current packages in testing and sid have the LxQt namespace, this will change w

[2015-09-12 06:07] pmattern commented on #820
Personally I think copying an arbitrary desktop entry file e. g. from `/usr/share/applications`, editing and moving back to that folder or to `~/.local/share/applications` is more convenient than any GUI.
But this is of course a matter of taste.

Also note that some basic functionality is available that you may use as kind of workaround:
LXQt is using freedesktop's [Autostart Specification](http:/

[2015-09-12 06:47] jleclanche commented on #624
The menu is the only place the LXQt logo is used. I think it looks great personally. But I wouldn't be against an option to set a custom one.

[2015-09-12 07:24] Vladimir-csp commented on #820
If Desktop entry editing application would be concieved, it would be logical to make it more universal. With the ability to toss entries between global/user application pool and autostart pool.
I once thought of a concept named 'Undefied' (as in **Un**iversal **De**sktop **FI**le **Ed**itor). Even made an icon for it and tried to mash something together with bash and zenity, but obviously it didn'

[2015-09-12 07:28] pmattern commented on #624
Personally I'd vote for having the icon configurable but using the LXQt icon by default.
It really doesn't look bad and I think it's reasonable to have something genuine at that position.

"Configurable" doesn't necessarily mean "custom" only but could also comprise an option "Use foo-bar from theme".
Having the icon configurable is dealed with in #720 already. Sort of.

In Adwaita "start-here" is

[2015-09-12 09:44] jleclanche commented on #624
Yes, the theme shouldn't be called "Light", we were going to rename it "Razor". Those names are generated from the filesystem names... Themes were supposed to have localizable names, didn't make it in time for 0.8. Would you work on this?

[2015-09-12 11:02] paulolieuthier commented on #731
@Vladimir-csp can you test again? @zjes may have solved it with the referenced PR. And what is the shortcut you are using to trigger the behaviour?

[2015-09-12 11:03] paulolieuthier commented on #730
Fixed.

[2015-09-12 11:03] #730 closed

[2015-09-12 11:05] paulolieuthier commented on #732
Global is now default.

[2015-09-12 11:05] #732 closed

[2015-09-12 14:05] rcmn commented on #369
Yeah the lxmixer project is at a complete stall. For those who are looking
for a good alternative, I have been using kmix (from the kde project) and
it needs kdelibs witch needs  Attica-, automoc, docbook-xml, docbook-xsl,
giflib, libdbusmenu-qt-, libjpeg-turbo-, libpng, phonon, strigi, and
shared-mime-info .

It look a lot like what lxmixer is trying to do (visually) but it's fully
functional. Co

[2015-09-12 18:29] pmattern commented on #817
Akregator and Konversation are showing up in plugin-statusnotifier here as well but Linphone doesn't. Could Linphone eventually be placed in plugin-tray adjacent to plugin-statusnotfier on your system?

As in this would suggest some schema: applications interacting with plugin-statusnotifier are either belonging to KDE or compiled against [libappindicator](http://launchpad.net/libappindicator) whi

[2015-09-12 18:47] Vladimir-csp commented on #820
But this is of course a matter of taste.

It is good if user knows the concept of desktop entries and where they should be placed. If not, GUI should reflect the concept in intuitive way.

[2015-09-12 19:19] Vladimir-csp commented on #820
In case anyone is interested, here is a sketch:
![undefied_concept](https://cloud.githubusercontent.com/assets/4061903/9833350/45ac9a50-599c-11e5-810d-b04d40b8232a.png)

[2015-09-12 19:31] Vladimir-csp commented on #731
The shortcut, as stated by setxkbmap above, is alt+shift
looks like it's rebuilding time...

[2015-09-12 21:09] stefonarch commented on #817
You were right about Linphone, it was just adjacent.

Il 12/09/2015 20:29, Peter Mattern ha scritto:

[2015-09-12 21:51] pmattern commented on #401
@paulolieuthier
Unfortunately I still can reproduce it as stated in my previous post. Even tried on a new user profile and made the same findings. No clue what's going on here.

[2015-09-13 02:19] celiapgt commented on #799
I'm no developer.
I'm just a humble fan of LXQT's team work.

I report that I have this error:
lxqt-config-input: symbol lookup error: lxqt-config-input: undefined symbol: _ZN4LxQt17SingleApplicationC1ERiPPcNS0_12StartOptionsE

And I cannot use most shortcuts (only works Win+E): not for cycling thru desktops, not for volume uo/down, not for Run dialog...

They are so important! I use keyboard a lo

[2015-09-13 03:07] paulolieuthier commented on #799
@celiapgt you are using Ubuntu, right? This is a distribution problem, responsability of the packager. Hopefully very soon updated packages will land. You just have to wait. :disappointed:

[2015-09-13 05:24] czchen opened #821 "Please increase liblxqt SOVERSION due to LxQt -> LXQt change."
In liblxqt commit [here](https://github.com/lxde/liblxqt/commit/f05ba5af5441602a4474e1f29e9934fecc77b5bf), all `LxQt` are changed to `LXQt`. However, the `SOVERSION` of liblxqt is not bumped after `LxQt` -> `LXQt` change. This kind of change cause the problem in distribution like Debian because it is API incompatible and we assume a library will remain API compatible if the `SOVERSION` is the same

[2015-09-13 07:16] antis81 commented on #799
@celiapgt I made up a central issue #808, listing the broken packages in `lubuntu-daily` PPA - (I am running a `Lubuntu 15.04` system). The package you are talking about here is called `lxqt-globalkeys` - which actually works fine on my system (so, maybe update your system?).

The most important packages are alive an up-to-date again (lxqt-session, lxqt-globalkeysd, ...), but in the first place `l

[2015-09-13 07:48] antis81 commented on #789
@pmattern Thanks, I'll have a look at my EFI (no 'U' -> old MacBook 2,1). This also could be related to the key mapping (`pommed` for me). Anyway, support of the second power button is unrelated to this issue or LXQt environment - don't mind.

[2015-09-13 07:57] antis81 commented on #789
@jleclanche FYI - Sorry, I was wrong. The kernel update (actually **3.19.0-28** - not 27) **didn't fix** the power button (still not reacting most of the time). Anyway, this issue is not about fixing kernel related stuff … nothing to really worry about.

[2015-09-13 09:38] jleclanche commented on #821
It'll be bumped on release. Why does debian care about what's on master?

[2015-09-13 10:03] agaida commented on #821
Sorry, no offense, but you must be jokeing - packaging the release now is nuts and we both know it :)

[2015-09-13 10:52] paulolieuthier commented on #808
Let's open this so that *buntu users can understand what is going on until @gilir fixes the problem, as discussed in #799.

[2015-09-13 10:53] paulolieuthier commented on #799
@antis81 you are right, I just opened. To workaround this situation, you can get latest code of liblxqt from git and `make install` it.

[2015-09-13 11:15] antis81 commented on #799
@paulolieuthier
Thanks! :+1:

AFAIK the root for all the trouble is a change to the `liblxqt` API (a `namespace` was added/renamed). So … the workaround will most probably not work stated above (btw.: I just received an liblxqt upgrade today -> does not fix the situation!). I do not recommend working around this problem, as this requires the affected applications (`lxqt-config*`) to be `make insta

[2015-09-13 14:52] gilir commented on #821
That's a problem when you daily build master ... Without SONAME change, there is no way to know you have to rebuild every component because API change.

[2015-09-13 14:54] gilir commented on #808
I just start a rebuild of lxqt-config, to pick the last liblxqt. That should fix the problem. Please, when you break API so badly without a SONAME bump, please contact me directly so I can prepare the rebuild for all the components.

[2015-09-13 15:27] agaida commented on #821
if you would daily build master - the problem would be not there - the builds would fail if symbols are included. (logs anyone?) - and once liblxqt is newly built the other packages would use the new builded library - and it is not the case that nobody knows or has mentioned the current problems for 3 weeks. It may sound unkind, but ignoring bugs and user complaints for more than three weeks is no

[2015-09-13 16:14] antis81 commented on #808
@gilir Works! Thanks in the name of all *buntu users!

@celiapgt FYI

[2015-09-13 21:13] palinek commented on #671
Yep, panel still segfaults if all outputs are turned off. This is the backtrace
[code]

[2015-09-14 01:23] paulolieuthier commented on #799
Yeah, I was wrong. The workaround is to `make install` the components with the old symbols. I think it will be fixed in the next days.

[2015-09-14 01:29] paulolieuthier commented on #671
It may be a bug in KWindowSystem.

[2015-09-14 01:31] antis81 commented on #799
@paulolieuthier It's fixed upstream! @gilir fixed it today!

[2015-09-14 01:33] paulolieuthier commented on #799
Great! Thanks for your help.

[2015-09-14 01:33] #808 closed

[2015-09-14 08:11] pmattern commented on #808
In the name of a not so large number of *buntu users: problem still exists in lxqt-panel on Ubuntu 14.04 as described in #800 which may or may not be related to the inconsistency depicted [here](https://github.com/lxde/lxqt/issues/800#issuecomment-137210208) which persists as well.

[2015-09-14 10:23] antis81 commented on #808
@paulolieuthier Sorry, couldn't check for `lxqt-panel` (I'm happy with cairo-dock) can you reopen please?

Further, `lxqt-leave` segfaults with latest upgrade. Looks like this is also related ot liblxqt.

@gilir Can you update the two packages (`lxqt-leave` and `lxqt-panel`) please -> everything else is working again. Sorry for the hassle…

[2015-09-14 15:53] paulolieuthier commented on #681
The first problem is very annoying, and I'm not sure how to fix it. It looks like qss's hover property is not updated when dragging out. The second problem is more important, but I can't reproduce, it always work well here.

[2015-09-14 17:25] paulolieuthier commented on #42
My notes:
*I didn't see @surlykke's commit 87eb88bfddd8f4c4d64906b5b8fd48dd9181ed1b that tells systemd not to handle the lid close event.
* The only way to change UPower's setting is editing the file `/etc/UPower/UPower.conf` and modifing the line where there is `IgnoreLid=false`.
* UPower has [recently](http://cgit.freedesktop.org/upower/commit/?id=0010e9325110e5a70a0d2381c84f88e7fb044ce4) remove

[2015-09-14 18:20] paulolieuthier commented on #42
Sorry for the noise here. The Lid watcher **is working** on my system, even though I **still can't** find org.freedesktop.UPower's PropertiesChanged signal in DBus. @nesnera what version of LXQt are you using (if still)? How did you install it? I'm not sure how the last stable version is handling it, as I'm getting LXQt directly from git's master.

@jleclanche I'm not sure I agree that we should d

[2015-09-14 18:41] jleclanche commented on #42
I'll give it a test on my laptop and think about it.

[2015-09-14 18:47] Vladimir-csp commented on #731
After five minutes of keyboard bashing nothing broke, so far so good.

[2015-09-14 18:53] paulolieuthier commented on #731
@Vladimir-csp great. I'm closing this. We'll reopen it if needed.

[2015-09-14 18:53] #731 closed

[2015-09-15 06:33] gilir commented on #808
lxqt-panel on 14.04 doesn't build anymore because the requirement for kf5 is too high. I need more time to fix it that the others (which only need to rebuild against the new liblxqt)

[2015-09-15 06:37] gilir commented on #821
In the past, I try using symbols on C++ library, that was a nightmare, even on stable release (even my DD mentor advise me to remove them). Also, as it will fix the problem of API breakage, that will also break the build every time API change, and need an update of the package each time (and adding API on an upstream library is very often, and I don't have time to track every commit for it).

[2015-09-15 08:07] agaida commented on #821
@gilir: in that special case i can help - you should join oftc #debian-lxqt. We have prepared a project for lxqt on alioth (pkg-lxqt) and we can host both the debian packaging and packaging for derivatives.
I've moved the siduction packaging already as we fight with the same problem. For you that means you could have branches for lubuntu-daily and lubuntu-$release. And you are right, fiddeling wit

[2015-09-15 09:50] Vladimir-csp opened #822 "lxqt-panel: keyboard layout application tracking"
There is a minor issue with keyboard layout switching, it seems to fail to track gksu prompt.
My situation with layouts us,ru:
- Starting from a bare X root window I switch to 'ru',
- then I call gmrun via openbox shortcut: layout correctly switches to 'en' for new window of new app.
- call `gksudo synaptic` in gmrun, window closes, layout switches back to 'ru' for root window.
- gksu prompt appea

[2015-09-15 15:24] jl451 opened #823 "lxqt-metapackage in PPA"
In package "lxqt-metapackage" in "Daily builds for Lubuntu" https://launchpad.net/~lubuntu-dev/+archive/ubuntu/lubuntu-daily

"lxqt-metapackage" unreasonable depends from xserver-xorg-video-all, xserver-xorg-input-all

"lxqt-metapackage" now depends from xserver-xorg-video-all, xserver-xorg-input-all

must need be depends from xorg-driver-video and xorg-driver-input

apt-cache policy lxqt-metapack

[2015-09-15 16:43] pmattern commented on #823
This issue tracker is dedicated to the development of LXQt and related components themselves but doesn't cover downstream issues like packaging of the said repository.

It looks like we had to set up a wiki page explaining this, for now you may want to have a look at [this comment](https://github.com/lxde/lxqt/issues/808#issuecomment-137946340) where I had tried to explain the situation recently.

[2015-09-15 16:43] #823 closed

[2015-09-15 17:35] zjes commented on #822
Application or window switching policy?

[2015-09-15 18:28] Vladimir-csp commented on #822
Application.

[2015-09-15 18:53] zjes commented on #822
Can you try to switch to window mode?
I'm afraid that this prompt has root window application name.

[2015-09-15 19:02] Vladimir-csp commented on #822
Same thing with window mode.
But gxkb tracks it somehow (it is designed to 'just work' in application mode).

[2015-09-15 19:22] agaida commented on #823
@pmattern - do you really think this would help (or that the users would reed this) ?

[2015-09-15 19:36] Vladimir-csp commented on #822
I was wrong, gxkb fails in this situation too. Not sure why I thought differently.

[2015-09-16 07:02] gilir commented on #821
@agaida I was planning to use pkg-lxqt for official packages :-) For daily build, I can only use the master branch of a git tree on Launchpad, which is limited (packing upstream git with stable version packaging is sometimes incompatible).

[2015-09-16 07:09] agaida commented on #821
ah, ok

[2015-09-16 07:21] gilir commented on #823
@pmattern I completely understand that you don't want downstream issues on the upstream tracker. However, I'm quite happy with the fact that users report upstream, the issues they have with daily builds (which are basicly git snapshots in a .deb, with minimum changes). In a normal work flow, most of the issues people will report with this type of packages will be issues for upstream (except during

[2015-09-16 14:48] Esclapion opened #824 "links ignored in /usr/share/applications"
If I install libreoffice-still, it puts not its .desktop but links to its .desktop in /usr/share/applications.

So, libreoffice doesn't appears in the menu. If I open a terminal an type libreoffice, it works, and it appears in the menu, but not systematically.

[2015-09-16 15:17] Esclapion commented on #824
Closed, my bad.

[2015-09-16 15:17] #824 closed

[2015-09-16 15:48] npmiller commented on #816
It's just that the button's width does not adapt to its contents but rather to the available space it has.

When there's enough space the buttons will reach the "maximum" value, however if there's not enough space to display all the buttons at maximum width they will shrink, so in this sense it is not a minimum width, because the buttons can, and will be smaller than this under the right condition

[2015-09-16 17:15] luis-pereira commented on #780
There is another consequence of merging https://github.com/lxde/lxqt-session/pull/39 and thus disable the desktop folder editing funcionality in ```pcmanf-qt --desktop```:
* When the user changes the desktop folder, via lxqt-session, the desktop contents will not be updated until next login.

Is this an acceptable behaviour ?

[2015-09-16 18:15] jleclanche commented on #780
Hmm, no, that's not acceptable.

[2015-09-16 18:21] Vladimir-csp commented on #780
Since $XDG_*_DIR are usually not exported to environment, pcmanfm (and other involved apps) could be triggered to re-read $XDG_CONFIG_HOME/user-dirs.dirs

[2015-09-16 18:48] luis-pereira commented on #780
That's also my opinion, that's not acceptable. Although all other settings are only updated with a new login, the desktop folder at ```pcmanfm --desktop``` is a special case.
A ```QFileSystemWatcher``` can be used to monitor ``` $XDG_CONFIG_HOME/user-dirs.dirs``` in this special case.

[2015-09-16 18:53] Vladimir-csp commented on #780
On the other hand, updating this mid-session may be inconsistent with many other software. A note should be displayed anyway.

[2015-09-16 19:14] luis-pereira commented on #780
@Vladimir-csp A note is always displayed.

[2015-09-17 11:07] stefonarch opened #825 "lxqt-session.qss not found"
I found in
$ journalctl -a
....
lug 05 18:19:28 arch systemd[13425]: Starting Default.
lug 05 18:19:29 arch lxqt-session[13429]: Theme: Cannot open file for reading: "/usr/share/lxqt/themes/frost/lxqt-session.qss"

 $ locate lxqt-session.qss gives
no output at all.

[2015-09-17 11:15] stefonarch commented on #825
I see it was only back in July, recent log is clean.

[2015-09-17 11:15] #825 closed

[2015-09-17 11:17] paulolieuthier commented on #825
This message could be safely ignored. It was removed not to confuse users.

[2015-09-17 20:54] pmattern commented on #800
@ferronrsmith
In the meantime this was s [stated by the PPA maintainer](https://github.com/lxde/lxqt/issues/808#issuecomment-140294269) as well. So you may eventually have to consider upgrading to a later *buntu flavour in order to use `lxqt-panel` in a reasonable way.

[2015-09-17 21:30] ferronrsmith commented on #800
@pmattern that's fine. I was able to build it from the source, I'll do that going forward

[2015-09-17 21:37] pmattern commented on #823
Regarding your PPA the vast majority of problems reported by its users on these trackers was downstream. Also, I'm pretty sure that all of us LXQt folks are very well able to distinguish LXQt bugs from downstream issues with reasonable effort. If we set up a tracker dedicated to your *buntu PPA lots of other distributions may come along and with the same wish which would pretty much clutter our tr

[2015-09-18 00:31] pmattern commented on #681
Strange, it's getting on my nerves each and every day. You are aware that the buttons must fill all horizontal space available to plugin-taskbar? Also, you may want to open a number of windows such that the horizontal width of buttons gets automatically decreased which makes the problem reproducible 100% here.

[2015-09-18 13:45] pmattern commented on #783
Turns out this may eventually not be as strictly downstream as I had thought:

LXQt panel is by default using file `lxqt-applications.menu` (provided by lxqt-common) which in turn references a bunch of files `lxde-*.directory` that are provided by lxmenu-data *only*. So lxmenu-data is a runtime- but not a build-dependency of lxqt-panel which isn't reflected in the code at all, though.
So far this

[2015-09-18 14:14] rapgro commented on #65
:+1:

[2015-09-20 06:54] PCMan commented on #368
Fixed.

[2015-09-20 06:54] #368 closed

[2015-09-21 14:47] paulolieuthier commented on #800
@ferronrsmith you can get only the necessary kf5 packages from a KDE PPA (https://community.kde.org/Kubuntu/PPAs#Kubuntu.27s_PPA_Repositories).

[2015-09-21 14:50] ferronrsmith commented on #800
thanks

[2015-09-21 18:24] paulolieuthier commented on #681
No matter what I try, it always work well here.

[2015-09-22 00:48] agaida commented on #708
some things i found out:
* https://bugreports.qt.io/browse/QTBUG-14485 - i have exactly the 25s blocking - so it might be on our side, eventually some of the remark could be helpful
* was about to file a bug in Quassel - until i noticed that we use org.kde...
<pre>
sendmsg(19, {msg_name(0)=NULL, msg_iov(2)=[{"l\1\0\1)\0\0\0]\0\0\0\220\0\0\0\1\1o\0\23\0\0\0/StatusN"..., 160}, {"\32\0\0\0org.kde.Sta

[2015-09-22 08:37] palinek commented on #708
Can you, guys, check if the lxde/lxqt-panel#239 handles this?

[2015-09-22 08:40] palinek commented on #817
It may be that the lxde/lxqt-panel#239 fixes also this....

@pmattern can you check it?

[2015-09-22 09:00] palinek commented on #613
IMO we can close this.

Is anyone still experiencing wrong placing menus in lxqt-panel after lxde/lxqt-panel@29b96a3?

[2015-09-22 09:09] palinek commented on #441
@pmattern do you still want this to be open?

[2015-09-22 09:12] hifi25nl commented on #768
Some news? i think this bug is very annoying, and maybe should have high priority.

[2015-09-22 11:15] paulolieuthier commented on #817
The only applications what already go to the status notifier are Qt4 applications (with sni-qt installed), KDE applications and the libappindicator-based GTK apps. Qt5 applications, like lxqt-powermanagement, are still in the old plugin, although Qt 5.5 and later versions natively supports the new spec. This is because the backend must be implemented in our Qt plugin. I've been experimenting with

[2015-09-22 11:15] paulolieuthier commented on #768
Agreed.

[2015-09-22 11:28] paulolieuthier commented on #441
Yes, I think we can close this. We are doing it in a correct way (which doesn't mean there are not better ways).

[2015-09-22 11:41] pmattern commented on #441
@palinek
Reopening was just meant as a reminder as I was under the impression that the current solution was considered rather a workaround and not something that should be kept in the long run after reading both this issue and the comments on lxde/liblxqt#33.
Unfortunately I cannot judge all technical details. So if the solution is all right, this issue can very well be closed again.
Maybe @PCMan

[2015-09-22 15:06] pmattern commented on #708
@palinek
Had another look on up-to-date Arch Linux i686 and x86_64 in KVM/QEMU VMs with all LXQt components from a checkout this morning and lxqt-panel from branch notifier_fixes:
Basically the behaviour of Quassel remains exactly the same if both plugin-statusnotifier and plugin-tray are available. Some times the icon does come up in plugin-statusnotifier and then the problems addressed in this i

[2015-09-22 15:08] pmattern commented on #817
@palinek
Tests involving Otter Browser and LXQt ConnMan applet suggest that the commits proposed in lxde/lxqt-panel#239 don't change the problem addressed in this issue: if both plugin-statusnotifier and plugin-tray are available, the icons of both applications come up in the latter, if only plugin-statusnotifier is available the icons don't show up at all.
Regarding Quassel the findings are sligh

[2015-09-22 15:09] paulolieuthier commented on #708
@pmattern please test with lxde/lxqt-qtplugin#5.

[2015-09-22 15:09] paulolieuthier commented on #817
@pmattern please, test lxde/lxqt-qtplugin#5.

[2015-09-22 17:26] pmattern commented on #817
lxde/lxqt-qtplugin@ca7f30a from branch `sni` seems to do the trick - all applications tested so far are by default using plugin-statusnotifier now, no matter whether or not plugin-tray is available in addition.
But this only applies if branch `notifier_fixes` from lxqt-panel is used as well. If lxqt-panel master is used there's still the same behaviour as depicted in my previous post.

Arch i686 a

[2015-09-22 17:30] pmattern commented on #708
Running lxde/lxqt-qtplugin@ca7f30a (branch `sni`) and lxde/lxqt-panel@2c293eb (branch `notifier_fixes`) on Arch i686 and x86_64 the problem is *not* fixed:
Quassel is now using plugin-statusnotifier by default as well. Most of the times it comes up at once and without issues. But sometimes it still comes up delayed and blocks the panel. The latter isn't reproducible 100% but seems to happen freque

[2015-09-22 17:38] paulolieuthier commented on #708
I just installed Quassel to help testing this. There are three packages for Quassel in Arch. quassel-server, quassel-client and quassel-monolithic. The last one doesn't not block, but quassel-client always block on startup. @pmattern what version of Quassel are you using?

[2015-09-22 17:41] paulolieuthier commented on #817
Are you sure one has to apply notifier_fixes? I don't think so. Did you wait enough for the apps to appear in the statusnotifier? AFAIK, without this branch the apps still work, they just take longer to show up.

[2015-09-22 17:43] pmattern commented on #708
@paulolieuthier
quassel-client. (Running on my test VM and connecting to Quassel core running on the host. FWIW the package providing Quassel core is `quassel-core`.)

[2015-09-22 17:46] paulolieuthier commented on #708
Yeah, right. Please, test with quassel-monolithic.

[2015-09-22 17:49] agaida opened #826 "lxqt-panel: plugin-tray/trayicon.cpp QPixmap::grabWindow is deprecated"
<pre>
static QPixmap QPixmap::grabWindow(WId, int, int, int, int) is deprecated, use QScreen::grabWindow() instead. Defaulting to primary screen.
Error handler 151 BadDamage (invalid Damage parameter)
    * Error image is NULL
static QPixmap QPixmap::grabWindow(WId, int, int, int, int) is deprecated, use QScreen::grabWindow() instead. Defaulting to primary screen.
    * Error image is NULL
</pre>

[2015-09-22 17:50] agaida opened #827 "lxqt-panel plugin-colorpicker: QPixmap:grepWindow is deprecated"
we should change this - see also #826

[2015-09-22 18:44] paulolieuthier commented on #708
I think I've found the reason why applications block, much related to what @palinek had said before in IRC. The reason is the absence of a context menu.

[code]

When with no menu, the application prints a message (actually, our plugin underneath it) before blocking:
[code]

[2015-09-22 22:36] pmattern commented on #817
@paulolieuthier
You are right. Branch `sni` of lxqt-qtplugin is fixing this issue on its own, it is *not* necessary to complement it with branch `notifier_fixes` of lxqt-panel the `master` branch of which works as well. No clue what made me think otherwise earlier.
Complementing branch `sni` of lxqt-qtplugin with `notifier_fixes` doesn't hurt, though. In fact I couldn't see any difference, also wi

[2015-09-22 22:44] #708 closed

[2015-09-22 22:58] pmattern commented on #708
Commits proposed in lxde/lxqt-panel#239 are fixing the problem with Quassel client (stand-alone / relying on Quassel core) without imparing Quassel monolithic.

Not 100% whether closing this issue which took place automatically due to the commit message was the right thing to do.
Eventually adopt a better solution from Plasma? Poke the Quassel folks about a possible bug in their code? @palinek, @p

[2015-09-22 23:05] paulolieuthier commented on #708
@pmattern we read some Plasma's source code, but couldn't figure out what makes it different. We definetly should report the bug to Quassel's devs. I'll ask @palinek to do it tomorrow, as he can explain it better. The problem was that Quassel and lxqt-panel deadlock when trying to reach one another.

[2015-09-22 23:11] palinek commented on #708
Not sure if we should reopen this one or open a new. I've made some testing and after all I think we should reimplement our logic to not block the GUI in any way.

IMO now an attacking application can make freeze lxqt-panel -> everything it needs is in cycle to preted to be a new StatusNotifierItem and don't respond to lxqt-panel queries (Title, Id...).

[2015-09-23 10:41] Vladimir-csp commented on #794
Is generalizing the whole component name out of question (lxqt-elevate)?
IMHO, that would make the logic perfect: universal extensible privilege elevation tool.
Since the component is still in development phase, such change should happen now or never.

[2015-09-23 11:19] paulolieuthier commented on #794
@Vladimir-csp that would fit well, of couse, but it's not necessary. I agree with @jleclanche here.

[2015-09-23 15:03] jleclanche commented on #794
The name doesn't need to be "generic", and `lxqt-elevate` gets a -1 from me.

[2015-09-23 15:59] paulolieuthier commented on #708
@pmattern the "better solution" you asked was implemented in lxde/lxqt#241.

[2015-09-23 16:07] #817 closed

[2015-09-23 16:14] paulolieuthier commented on #783
@PCMan, @agaida, @luis-pereira what do you guys think of this?

[2015-09-23 22:23] agaida opened #828 "lxqt-config: Please make lxqt-config-monitor less verbose"
<pre>
agaida@razorbox:~/work/siduction/code/pkg-lxqt/lxqt-config/upstream$ lxqt-config-monitor
"Identifier" = "0x23e"
"Timestamp" = "79958488"
"Subpixel" = "unknown"
"Gamma" = "1.0:1.0:1.0"
"Brightness" = "1.0"
"Clones" = ""
"CRTC" = "0"
"CRTCs" = "0 1"
"Transform" = "1.000000 0.000000 0.000000
0.000000 1.000000 0.000000
0.000000 0.000000 1.000000
filter:"
"EDID" = "
00ffffffffffff004c2df403363244

[2015-09-24 04:33] Ilya87 commented on #818
Sep 11 10:15:54 localhost kernel: lxqt-panel[27393]: segfault at 0 ip 00007fde8c79a368 sp 00007ffe5b0ba308 error 4 in breeze.so[7fde8c737000+7d000]
Sep 11 10:15:52 localhost systemd-coredump[27628]: Process 27626 (lxqt-runner) of user 1000 dumped core.
sp - stack pointer
Your theme makes a problem.

[2015-09-24 05:54] jsm222 commented on #354
I can confirm this behaviour on FreeBSD 10.2-RELEASE and build from latest git c4733655fa9a03ae77909a4c818f9511acabc93d. The task manager stays emtpy.

[2015-09-24 06:30] #826 closed

[2015-09-24 06:30] #827 closed

[2015-09-24 09:52] paulolieuthier commented on #354
@jsm222 which window manager?

[2015-09-24 09:56] ypnos commented on #354
I had fixed the problem with herbstluftwm. KWindowSystem seems to be very picky with everything to function properly. This might be fine, however it also just silently fails.

I might be able to help with the debugging after I did it for hlwm. I also don't think this is a problem of lxqt.

[2015-09-24 10:03] paulolieuthier commented on #828
After the port to KScreen is completed, it'll shine, my friend. Silently. :smile:

[2015-09-24 10:22] paulolieuthier commented on #354
@ypnos how did you fix it? Yeah, KWindowSystem is tested under KWin and Openbox, but no more than that AFAIK.

[2015-09-24 10:30] agaida commented on #354
xfwm4 works without problems too

[2015-09-24 10:33] ypnos commented on #354
@paulolieuthier https://github.com/herbstluftwm/herbstluftwm/commit/a50457335091cd990d0146e5008ca3b3db1cc574

[2015-09-24 10:35] paulolieuthier commented on #354
Awesome.

[2015-09-24 23:54] paulolieuthier commented on #771
@kuzmas can you take this one, since you implemented the feature? I don't get a segfault, but I do get an issue: when I click a shortcut cell in a row, it turns into a button, but less than one second after that, it gets back to plain text. I can see `Actions::grabShortcutFinished` being called with a reply containing an error.

If you don't have time to do it (and no one else) I think we should r

[2015-09-24 23:57] kuzmas commented on #771
@paulolieuthier sorry, I'm not actively working on the project any more.

[2015-09-24 23:58] paulolieuthier commented on #771
@kuzmas OK.

[2015-09-25 09:15] zjes opened #829 "Application switcher"
Hi, it's not a issue, again :), just sharing of the code. I just don't know where to post such user contributions.
Normally I used openbox application switcher in lxqt, but this switcher doesn't good enough for me. For example, cannot set icons size, style, filters by desktop and active screen. And old application switcher was deprecated and thrown out from lxqt. So, I just created simple switcher

[2015-09-25 09:30] palinek commented on #829
@jleclanche How about putting information about such 3rd party contribution into wiki somewhere?

[2015-09-25 09:35] jleclanche commented on #829
Yes that's fine. As long as it's being maintained by someone, feel free.

[2015-09-25 15:39] #613 closed

[2015-09-25 19:17] agaida commented on #783
No words without my lawyer :) - but lets be serious:
<pre>
 LANG=C aptitude why lxmenu-data
i   lximage-qt Depends libfm4 (>= 0.1.99)
i A libfm4     Depends lxmenu-data
</pre>
So fortunally lximage-qt throw this dependency in for siduction - and because the most people, myself included, install metapackage lxqt - lximage-qt will be installed and nobody noticed the missed dependency. Can we make a

[2015-09-25 20:50] jsm222 commented on #354
I just rebuild on a clean install of FreeBSD 10.2-RELEASE #0 r286666. (in a VirtualBox). The problem persists e.g taskbar stays empty. Attached a screenshot (what artwork does it use btw. the images/icons are missing).  The WM is openbox.

![lxqt](https://cloud.githubusercontent.com/assets/4705090/10111896/8000bd18-63d7-11e5-8d54-fbd25af155b7.png)

[2015-09-25 21:36] palinek commented on #354
@jsm222 What is the configuration of the taskbar plugin? And how many desktops do you have?
(there is a configuration option in taskbar plugin to show only windows from particular desktop)

[2015-09-25 21:46] paulolieuthier commented on #354
I'm downloading FreeBSD right now.

[2015-09-25 21:47] palinek commented on #354
@paulolieuthier oh boy... you're really going into it :)

[2015-09-25 21:50] paulolieuthier commented on #354
I always wanted to try it but always postponed. Now I have a compelling reason. :smile:

[2015-09-25 22:17] agaida commented on #354
@paulolieuthier - don't take freebsd - take debians kfreebsd - sid on bsd is cool and you could probably fix two annyoing bugs :D

[2015-09-25 22:26] jsm222 commented on #354
Only one desktop. Some tips for building on FreeBSD. (As i loosely remember).
on Freebsd there is no libudev.
no pty.h for lxqt-sudo. but forkpty is available see man forkpty http://www.freebsd.org/cgi/man.cgi?query=openpty&apropos=0&sektion=3&manpath=FreeBSD+10.2-RELEASE&arch=default&format=html
lxqt-panel menus  use gmake for that one.
I installed solid an kwindowsystem from kdeframework 5.14, f

[2015-09-26 00:10] agaida opened #830 "Pcmanfm-qt should not close on Alt-F4 .."
when painting the desktop. Noticed this behaviour with xfwm4, openbox and kwin are ok.
pcmanfm don't show this behaviour, so i would call this a regression.

[2015-09-26 09:20] pmattern commented on #830
But that's a dupe of lxde/pcmanfm-qt#194, isn't it?

[2015-09-26 11:45] paulolieuthier commented on #829
Done here: https://github.com/lxde/lxqt/wiki/Third-party-apps. @zjes thanks!

[2015-09-26 11:45] #829 closed

[2015-09-26 15:08] agaida commented on #830
yes - forget that pcmanfm-qt has his own bug tracker - anyways, this is not the intended behaviour and should be fixed before the release.

[2015-09-26 15:48] SafaAlfulaij opened #831 "LXQt files in Pootle have a syntax error"
When I tried to open PCManFM-Qt Arabic translation file in Qt Linguist, it reported about a syntax error in line 4, saying that the "context" tag mismatch.

[2015-09-26 17:48] paulolieuthier commented on #354
@jsm222 FreeBSD is awesome. Everything was good until I got to lxqt-session. It won't link to libxcb, even though I have it installed and CMake detects it.

[code]

[2015-09-26 17:52] paulolieuthier commented on #354
@krytarowski can you help me?

[2015-09-26 17:55] krytarowski commented on #354
@paulolieuthier xcb should be a part of FreeBSD base and accessible. If you like you can try to help you to build lxqt on FreeBSD with pkgsrc, but I never tried it before personally.

[2015-09-26 18:38] palinek commented on #354
@paulolieuthier what is the command line for linking the executable (`make VERBOSE=1` to see it)?

[2015-09-26 18:59] jsm222 commented on #354
@paulolieuthier Actually I had to edit the link.txt files, I do not know cmake to well, so I had to add -L/usr/local/lib manually to the generated linking text files. It might be possibly to set the libprefix to  /usr/local pr /usr/local/lib in a smarter way... but I did it manually.

[2015-09-26 22:23] pmattern commented on #831
Due to long-standing technical issues Pootle isn't used in LXQt so far. Adding or modifying translations is handled via local Git checkouts right now. A TS file is copied from the templates like pcmanfm-qt.ts if not available yet, edited, possibly via Qt Linguist, and  the result is submitted as pull request ("PR").
So the problem you're facing actually cannot be caused by Pootle. Attending the pr

[2015-09-26 22:23] pmattern commented on #830
Well, so I guess you don't mind as closing this one so as to avoid clutter, right?

[2015-09-26 22:23] #830 closed

[2015-09-27 02:33] paulolieuthier commented on #831
Pootle will come back, eventually.

[2015-09-27 03:10] paulolieuthier commented on #354
Are you sure? I'm a noob, but I think xcb is in the port tree.

I'll post here.

Worked.

[2015-09-27 07:24] SafaAlfulaij commented on #831
I downaloded this file http://pootle.lxde.org/export/?path=/ar/pcmanfm-qt/pcmanfm/translations/pcmanfm-qt_template-ar.ts. Just try to open it in Qt Linguist and it will report about syntax error.

I'll work on the Arabic translation and send a PR when I'm done. Thanks.

[2015-09-27 10:30] pmattern commented on #831
Yes, this one seems to be a bit outdated and not usable any longer.
There's already a file `./pcmanfm/translations/pcmanfm-qt_ar.ts` in Git that can be edited in Qt Linguist flawlessly here. So you should be able to use it, otherwise you may let us know.
Given the vast number of countries Arabic is spoken in I wonder whether country-specific translations may make sense. If they do you should copy

[2015-09-27 12:39] paulolieuthier commented on #354
@palinek there seems to be an issue with CMake integration with pkg-config in FreeBSD. This is the error output:

[code]

You can see every library is referenced with its absolute path, except libxcb, which is the one not found. That is weird, because pkg-config specifies it:

[code]

Editing the `link.txt` files and adding `-L/usr/local/lib` solved my problem.

@jsm222 you see no icons because th

[2015-09-27 20:30] jsm222 commented on #354
Great. :-)

[2015-09-28 01:16] xiangzhai opened #832 "lxqt-panel plugin-statusnotifier cmake issue"
[ 74%] Building CXX object plugin-statusnotifier/CMakeFiles/statusnotifier.dir/statusnotifierbutton.cpp.o
In file included from /data/project/lxde/lxqt-panel/plugin-statusnotifier/statusnotifierbutton.cpp:33:0:
/usr/include/dbusmenu-qt5/dbusmenuimporter.h:28:29: fatal error：dbusmenu_export.h：no such file or directory.
plugin-statusnotifier/CMakeFiles/statusnotifier.dir/build.make:126: recipe for t

[2015-09-28 02:44] #832 closed

[2015-09-28 02:44] paulolieuthier commented on #832
Thanks! It's weird no one got this error before.

[2015-09-28 07:16] palinek commented on #354
@paulolieuthier, @jsm222 Can you also try to run the `cmake` in debug mode e.g.: `cmake .. --trace --debug-output -Wdev` (of course in a clean build dir) and see if there is something like this:
[code]
... so basicaly see what's in the `XCB_LDFLAGS` variable:
[code]

If there is also the `-L/usr/loca/lib` then something wrong is with cmake and the PkgConfig module on FreeBSD.

[2015-09-28 07:22] palinek commented on #354
... or shouldn't we be using `pkg_search_module` instead of `pkg_check_modules`?

[2015-09-28 10:21] #771 closed

[2015-09-28 11:41] paulolieuthier commented on #354
[code]

So yes, looks like something is broken.

I don't think so.

[2015-09-28 11:46] ypnos commented on #354
Maybe it is better to open a separate issue for the freebsd building stuff?

[2015-09-28 11:49] paulolieuthier commented on #354
@ypnos someone should build a minimal example and report to CMake.

[2015-09-28 12:00] palinek commented on #354
So yes, looks like something is broken.

Hm... but it seems exacly the same as here (when I intentionaly changed the `xcb.pc`):
[code]
...but the directory gets never used in the linking time:
[code]
Yes, we probably should ask the cmake people what are we doing wrong....

[2015-09-28 12:26] palinek commented on #354
@paulolieuthier
Try to see the linking command of this simple example:
- CMakeLists.txt
[code]
- main.cpp
[code]

This should be simple enough to report, not?

[2015-09-28 12:26] paulolieuthier commented on #354
@jsm222 I found the problem. KWindowSystem in FreeBSD installs its platform plugins in `/usr/local/lib/plugins` but Qt does not include this path in `QCoreApplication::libraryPaths()`. The solution is to `export QT_PLUGIN_PATH=/usr/local/lib/plugins`. Besides the taskbar, the desktop switch will work as well.

[2015-09-28 14:40] jsm222 commented on #354
Confirmed. I added export `QT_PLUGIN_PATH=/usr/local/lib/plugins` to /usr/local/bin/startlxqt.Thanks a lot @paulolieuthier  :-)

[2015-09-28 16:55] paulolieuthier commented on #783
The menu files will eventually move to lxqt-common, but probably not in the next release. I think all we can do now is to document it so that the packagers will see it.

[2015-09-28 23:51] agaida commented on #354
erm - really /usr/local???? - i don't know FreeBSD that much, but /usr/local is wrong by definition - and it should be fixed in FreeBSD, not by us.

[2015-09-28 23:57] paulolieuthier commented on #354
@agaida every thing that is not part of the base system is installed in /usr/local. I find that very nice.

[2015-09-28 23:58] krytarowski commented on #354
`/usr/local` is perfectly fine, with pkgsrc we use by default `/usr/pkg` or `/opt/pkg` (recent MacOSX)

[2015-09-29 15:17] luis-pereira commented on #832
@xiangzhai can you  provide an VERBOSE log ?

[2015-09-29 15:36] agaida commented on #354
ok - no objections

[2015-09-29 19:56] gilir commented on #823
@pmattern Ok, thanks for the answer. If people continue to report downstream issues for Ubuntu packages, feel free to point them to https://bugs.launchpad.net/lubuntu-next. I'll try to triage the bug reports there. I'll pass the word to the Lubuntu mailing list.

[2015-09-29 21:10] #722 closed

[2015-09-30 11:12] paulolieuthier commented on #627
Can not reproduce it anymore.

[2015-09-30 11:12] #627 closed

[2015-09-30 14:12] pmattern commented on #823
Alright. Let's handle it that way. If it turns out to be inefficient we can still think about something else.
Also, as stated above, I wouldn't expect much triage work to be left on that launchpad tracker.

Mind posting a link here if you do (couldn't find anything yet)?

[2015-09-30 15:33] gauthma opened #833 "LXQt versus the screensaver"
In order to lock the screen and suspend the session, I used a `slock` and a `systemd` script, as described [here](http://erroneousthoughts.org/my-notes-for-a-swift-arch-linux-install/#Graphical_Environment). I'm an Archlinux user. This worked really well, until I upgraded to the latest and greatest LXQt version from `git`: now, when I close the lid, an error is shown complaining that `xscreensaver

[2015-09-30 16:10] paulolieuthier commented on #833
Fixed in lxde/liblxqt@e3f610a73b8ea162bb892be426ea087f0f07f163. We still hardcode xscreensaver, though. And locking the screen only works when locking through a LXQt application. We should make use of longid's signal, as described [here](http://blog.martin-graesslin.com/blog/2015/01/locking-the-screen-before-system-suspends/).

[2015-09-30 16:11] paulolieuthier commented on #833
@gauthma thanks for the report. Please, update liblxqt from git and test it again. If it still doesn't work, please reopen the issue.

[2015-09-30 16:44] gauthma commented on #833
It works... kind of. Now closing the lid the session is suspended, and when opening it back up, the screen is locked. But after typing the password, the box with the error message is already there waiting for me! Re-opening...

[2015-09-30 16:46] gauthma commented on #833
Actually, I can't reopen the bug (since it was closed by a rep collaborator), but I think it should be re-opened...

[2015-09-30 16:48] paulolieuthier commented on #833
@gauthma you're using slock, right? So it's a different problem now.

[2015-09-30 16:49] paulolieuthier opened #834 "Support a user defined screenlocker"

[2015-09-30 16:49] paulolieuthier commented on #833
See #834.

[2015-09-30 16:49] #833 closed

[2015-09-30 16:51] gauthma commented on #833
Yes, I use slock. This seems to be a race condition of sorts: the box with the error message is shown, but the session is suspended before there is enough time to clear it.  If I click on "Lock screen" on the main menu, I get a quick glimpse of a box being drawn and then erased.

[2015-09-30 17:23] paulolieuthier commented on #833
@gauthma please update again and test it.

[2015-09-30 18:30] gilir commented on #823
Sure, this is the list : https://lists.ubuntu.com/mailman/listinfo/lubuntu-users

[2015-10-01 01:01] ms6676749 opened #835 "After clicking a Qt program to move its window, program window now stuck on mouse cursor"
When I move a Qt program by clicking and holding mouse button 1 elsewhere other than its title bar, the program is not released when I release the mouse button.  Instead, the Qt program is "stuck" to my mouse cursor.  There's no effect after pressing mouse buttons 1, 2 or 3.  I have to press Esc to release the move icon.  The Qt program, unfortunately, zips back to its original position.

Expected

[2015-10-01 01:06] ms6676749 opened #836 "Kwin_x11 awfully slow when starting up lxqt"
With Kwin 4.x it took about 10s to start after entering startx from a cold boot, instantaneously after a warm startup (kwin still in memory after kde session).  With Kwin 5.4, it takes 25s from either a cold boot or warm startup.  I since switched to Openbox and Compton-git as my WM and compositor respectively.

Setup:
Archlinux
lxqt-desktop-git (AUR)
Openbox
Compton-git
kwin 5.4.1

[2015-10-01 05:50] Vladimir-csp opened #837 "lxqt-powermanagement: option to lock screen"
Please add separate option to enable/disable screen locking on suspend/hibernate.

[2015-10-01 05:57] Vladimir-csp opened #838 "lxqt-sudo: does not start from runner"
lxqt-sudo does not show up if run from runner (tested with lxqt-runner and gmrun by running `lxqt-sudo synaptic`)
But if runner itself is launched via terminal, then lxqt-sudo works. So perhaps this is related to either stdout handling or login records.

[2015-10-01 06:25] palinek commented on #838
The very same scenario is working here as expected. What version are you using?

[2015-10-01 06:53] Vladimir-csp commented on #838
0.9.0+bzr35+201509090801~ubuntu15.04.1

[2015-10-01 06:57] Vladimir-csp commented on #838
OK, tested a little bit more:
When I restarted lxqt-runner via lxqt-config-session, lxqt-sudo started working. Previously I launched it via gmrun which is launched by openbox shortcut. I will test some more...

[2015-10-01 07:04] Vladimir-csp commented on #838
Try repoducing this way:
Launching lxqt-runner by openbox shortcut, running `lxqt-sudo some_command` in lxqt-runer.
Launching `lxqt-sudo some_command` directly by openbox shortcut.

[2015-10-01 07:42] gauthma commented on #833
@paulolieuthier I'm afraid the latest change brought back the original problem (to which I had to apply the original workaround).

[2015-10-01 07:42] palinek commented on #838
Launching lxqt-sudo some_command directly by openbox shortcut.

@Vladimir-csp Xurrent `lxqt-sudo` needs a controlling terminal and the problem with such invocation is that there is no terminal attached at all.
In [lxsu](https://github.com/lxde/lxqt-sudo/pull/12) branch of lxqt-sudo the logic for su/sudo backend is unified and creating a new controling terminal for su/sudo. With this branch I'm abl

[2015-10-01 07:47] Vladimir-csp commented on #838
Thanks, I'll try it!
Closing the issue since as far as I can tell lxsu branch is going to be merged into master eventually.

[2015-10-01 07:47] #838 closed

[2015-10-01 10:18] pmattern commented on #836
The LXQt project isn't developing its own window manager but relying on third-party solutions. This also applies to KWin that's developed by the KDE project and known to perform rather poor compared to other window managers.
To my knowledge there's nothing like code optimisations we can do about it so this is an upstream issue.

Btw. Xfwm is performing very well, too, besides it does comprise a co

[2015-10-01 10:52] pmattern commented on #835
Moving windows by dragging & dropping a window component other than titlebar is actually not that common. Could you please elaborate the program you were running when you stumbled upon this problem, just "qas" seems a bit vague to me?

[2015-10-01 11:03] paulolieuthier commented on #837
I've been planning that, but I'm not sure it should go in lxqt-config-powermanagement. It sounds more like session setting to me.

[2015-10-01 11:08] paulolieuthier commented on #836
@pmattern we shouldn't close it just because it's upstream. KWin is indeed slower, but 25 seconds is too much, and it doesn't happen in Plasma. I can reproduce it as well. It may be our fault.

[2015-10-01 11:20] paulolieuthier commented on #833
@gauthma do you see the problem I'm trying to solve is to make the system suspend even if it can't be locked? The warning dialog will still show up.

[2015-10-01 12:49] stefonarch commented on #836
Cannot confirm this findings, on my testaccount with no applications in
autostart desktop is ready including kwin working in ~2 seconds, same with reboot or logout/login.
Arch + latest git packages. Kwin with default settings.

[2015-10-01 12:57] stefonarch commented on #835
qasmixer actually allows moving by clicking anywhere, but it releases well here, does not stick.
Other programs allow moving pressing ALT (kwin) and clicking anywhere in the window but work well too.

[2015-10-01 14:28] pmattern commented on #835
Weird. The window of `qasmixer` looks like any other ordinary window here, d&d by using mouse button one works in its title bar only, d&d by holding `Alt` plus using mouse button one works all over the window, no problems either way, same findings using either Openbox 3.6.1 or KWin 5.4.1.
Is there any magic I'm missing?

[2015-10-01 15:37] ms6676749 commented on #835
The Qt "move anywhere" feature is seen below:
http://www.youtube.com/watch?v=N2PeL8WAifs
http://www.youtube.com/watch?v=qPkOjcc6wwE

This issue exists with every Qt program I tried: pcmanfm-qt (AUR git), konsole, vlc, cantata, konversation, lxqt's configuration center, qps (sorry for "qas" typo above)...  You get the picture.  Strangely, the only Qt program this feature does not work on my system

[2015-10-01 17:11] pmattern commented on #835
Confirmed.

The missing peace was that the problem can only be seen if a widget style is in use that's configured accordingly, which can apparently done in KDE only right now.
So in case anyone is interested steps to reproduce, seen with KDE Plasma 5:
* Invoke KDE System Settings and select Appearance - Application Style - Widget Style (left column) - Applications (left tab in right pane). In line

[2015-10-01 17:33] mgraesslin commented on #836
KWin maintainer speaking here: 25 sec is too long, that's not normal (1-2 sec at max!). Can you help to investigate where the problem is? E.g. can you try to do kwin_x11 --replace & from a konsole to check whether that takes also quite some time. If it does, you could enable the debug output to see whether it prints something useful.

[2015-10-01 17:52] paulolieuthier commented on #836
@ms6676749 can you help?

[2015-10-01 18:00] pmattern commented on #836
@mgraesslin
Output from an up-to-date Arch Linux x86_64 system, hence KWin 5.4.1 and Openbox 3.6.1 (default), running in a KVM/QEMU VM, xf86-video-qxl driver and all LXQt components from recent VCS checkouts
[code]
Window decorations change at once, same with output until line `QDBusConnection: [...]` but windows remain unresponsive for about twenty seconds. Then lines `detected [...]` come up and

[2015-10-01 18:56] pmattern opened #839 "configuration dialog: numbering of plugins not reset upon removal"
The counter indicating the number of instances per plugin in dialog "Configure Panel" doesn't get reset if a plugin is removed completely which yields faulty and somehow confusing results.

E. g. the panel corresponding to this screenshot
![lxqt-panel_numbering-of-plugins](https://cloud.githubusercontent.com/assets/9860801/10230669/b0030588-687e-11e5-8b75-63fdd52616a6.png)
is comprising three inst

[2015-10-01 19:19] pmattern opened #840 "lxqt-config-session: adjusting trigger of dialog about need to restart session could improve UX"
If drop-down list `Window Manager` in section `Basic Settings` (left pane) is opened and closed without committing a change by clicking the arrow down icon twice there's no warning when lxqt-config-session is closed. But if the very same action is performed with drop-downs `Terminal Emulation` or `Web Browser` in section `Default Applications` leaving lxqt-config-session triggers the dialog inform

[2015-10-01 19:21] palinek commented on #839
The name of newly added plugin is assembled as \<plugin-type\>\<lowest unused number from 2\>, see [here](https://github.com/lxde/lxqt-panel/blob/master/panel/panelpluginsmodel.cpp#L243). I don't know the reasoning for that.

You normally get the name as \<plugin-type\> only in case of a new user running lxqt-panel (the default config file from ...*(i don't remember the path)* is used, where the n

[2015-10-01 19:32] ms6676749 commented on #836
@mgraesslin

Could not find drkonqi at /usr/lib/drkonqi
QXcbConnection: XCB error: 8 (BadMatch), sequence: 1563, resource id: 8388614, major code: 42 (SetInputFocus), minor code: 0
OpenGL vendor string:                   Intel Open Source Technology Center
OpenGL renderer string:                 Mesa DRI Intel(R) Ivybridge Mobile
OpenGL version string:                  3.0 Mesa 11.0.2
OpenGL shadi

[2015-10-02 01:28] AwlsomeAlex opened #841 "Graphical Problems with Network Manager Applet"
Whenever I leave the Network Manager Applet alone for a while, the icon will start to glitch out and look wierd, however, if you disconnect from the wifi or click on it (sometimes) it will revert back to normal. Also I am running Xubuntu and LXQt on a separate
![problem](https://cloud.githubusercontent.com/assets/11639639/10237700/50eb0168-6883-11e5-8944-c43a8b0fed45.png)
 option.

[2015-10-02 05:42] palinek commented on #841
dup of #106

[2015-10-02 05:42] #841 closed

[2015-10-02 05:49] mgraesslin commented on #836
ok can you please enable further debug output. It's in file ~/.config/QtProject/qtlogging.ini - if it doesn't exist create it. Add a group [Rules] if it doesn't exist and add:

kwin_core.debug=true
kwineffects.debug=true
libkwineffects.debug=true
libkwinglutils.debug=true
libkwinxrenderutils.debug=true
kwin_tabbox.debug=true
kwin_decorations.debug=true
kwin_scripting.debug=true
aurorae.debug=true

[2015-10-02 11:00] stefonarch commented on #835
I have recently cleaned up my home, erasing also ~/.kde4 so only default settings there now.

[2015-10-02 11:23] pmattern commented on #836
Terminal output from system as described yesterday,  ~/.config/QtProject/qtlogging.ini like this
[code]
LXQt components from checkout this moning: [first LXQt session](https://gist.github.com/pmattern/b8704d2bac66453b5466) after reboot, [second session after reboot](https://gist.github.com/pmattern/e5016467f143e73726d5). String `[break]` added manually to mark period when system is frozen.

Also,

[2015-10-02 11:56] mgraesslin commented on #836
Interesting the "break" happens at different point of times. Once before, once after initializing compositing. What I don't like are the two messages concerning kglobalccel. That could explain a freeze but shouldn't.

That's not surprising: the compositor is frozen and thus the screen doesn't get updated.

In case you have another system to ssh in: please run kwin_x11 through a debugger, break dur

[2015-10-02 12:32] heliocastro commented on #836
Moin guys

Just to add some light on the discussion, we have something similar on freezing issues on current plasma 5 on Fedora, and that was related not to KDE itself, but on X11 xcb. I not mentioned before because we thought was Fedora related, but now seens that is upstream then Fedora.
This can be a possible source of investigation in this related issue as well.
Here's the bugs related
https:/

[2015-10-02 14:02] pmattern commented on #836
So I made a backtrace as follows: Launch LXQt session and connect as same user via SSH. Launch GDB as `DISPLAY=:0 gdb kwin_x11`. In GDB shell invoke `run --replace`, `Ctrl+C` when the freeze takes place and `bt`.
Find the output on https://gist.github.com/pmattern/65e70ca108f371343370. Results were the same in first and second LXQt session after reboot this time.
What seems a bit odd to me is that

[2015-10-02 14:08] mgraesslin commented on #836
It's starting of KActivities. Do you have those installed? I'll see the main developer next week and will ask him about the problem.

[2015-10-02 14:14] pmattern commented on #836
→ [kactivities-frameworks](https://www.archlinux.org/packages/extra/x86_64/kactivities-frameworks/) is installed. That's all that can be done in terms of KActivities, no?

[2015-10-02 19:59] mgraesslin commented on #836
yep that looks like the package. I'll have to check with Ivan what could be the case for it. It looks like https://bugs.kde.org/show_bug.cgi?id=349992 which so far was to my knowledge only a problem on Wayland.

[2015-10-02 20:12] paulolieuthier commented on #833
@gauthma can you please try lxde/liblxqt#64? Thanks for your help.

[2015-10-03 08:57] gauthma commented on #833
@paulolieuthier Thanks for your efforts in fixing this! The good news is that lxde/liblxqt#64 fixes this bug. The bad news is that it causes two new problems: first, main menu -> Leave -> Logout no longer works (it does nothing). Second, after restarting the graphical environment, LXQt Power Management stops working: just after logging in an error message is shown stating that LXQt Power Managemen

[2015-10-03 11:02] paulolieuthier commented on #833
Finally! :smile:

Yeah, I saw that after I submitted the PR. I'm working on it.

[2015-10-04 02:10] PCMan opened #842 "[lxqt-panel] The worldclock plugin is too small and text is cropped."
![worldclock](https://cloud.githubusercontent.com/assets/46543/10266095/c286b1b6-6a7f-11e5-9618-730059c00f59.png)
Please see the screenshot.
The widget of worldclock plugin is too small and part of the text becomes invisible.
I use default "Custom" format and does not change any settings of the plugin.

[2015-10-04 09:02] pmattern commented on #842
Duplicate of #632.

[2015-10-04 09:02] #842 closed

[2015-10-05 13:32] mir3x opened #843 "menu -> doesn't start program with quotation marks"
Im not sure if it's caused by quotation marks:
I have steam in menu, which is:

LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/lib32/opengl/nvidia/lib:/usr/lib64/opengl/nvidia/lib" steam

and it doesnt start at all ( it works ok under kde )

[2015-10-05 20:46] Kf4btg commented on #836
I'm also experiencing this and thought perhaps some output from a slightly different setup might be helpful.  I hope it will be, anyway.  Sorry for the noise if not.

__My system__:
Manjaro Linux
lxqt-desktop-git (AUR)
Openbox-git
kwin 5.4.1

And some info pulled from kwin's output:
[code]

I'm using OpenGL compositing on my setup; an additional issue I wanted to make sure to mention is that, imme

[2015-10-06 13:20] pmattern commented on #843
Setting environment variables in key `Exec` isn't mentioned in the underlying [specification](http://www.freedesktop.org/wiki/Specifications/desktop-entry-spec/) so it's hard to tell whether this is supported in the first places. But a line like `Exec=LANG=C firefox %u` doesn't work in both LXQt or Xfce and searching the web yields mainly workarounds like stating bash or env in the said key. All t

[2015-10-06 14:39] mir3x commented on #843
Yes, it works after adding "env".

I just tested under xfce (without env) and it failed with error
"LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib32/opengl/nvidia/lib:/usr/lib64/opengl/nvidia/lib" ( no such file or directory)
No idea why quotes and steam are lost.
Thx for reply, i guess u can close that issue.

[2015-10-06 14:39] #843 closed

[2015-10-06 18:05] mir3x commented on #836
I had such slow load with kwin_x11, but I checked my autostart and kicked redshift from it, and now it looks ok.

[2015-10-06 20:25] YamashitaRen commented on #135
Hello,
Sorry for reopening the issue but is this really how it works ? (no-clue-guy, here)
Afaik, only Compiz works like that (and it's buggy).
On Cinnamon, you have to use a dedicated applet : https://github.com/linuxmint/Cinnamon/issues/2348
And on Plasma5, it is activated in the taskbar preferences : http://ubuntuforums.org/showthread.php?t=2275486&p=13273041#post13273041
Same in a certain dock

[2015-10-07 09:12] jleclanche commented on #135
@PCMan I'm not sure this is a WM feature.. the WM doesn't know when we're hovering taskbar items does it?

[2015-10-07 23:12] rbazaud commented on #807
Submitted pull request lxde/lxqt-common#39 which could possibly fix this issue.

[2015-10-07 23:21] rbazaud commented on #839
Submitted pull request lxde/lxqt-panel#245 which does seem to solve the problem as described. Could you conﬁrm it please ?

[2015-10-08 01:24] xiangzhai commented on #832
[code]

[code]

[2015-10-08 16:47] YamashitaRen commented on #343
I have this bug with pcmanfm-qt master and qt5.5 : http://pix.toile-libre.org/upload/original/1444322199.png
Configured icon size is 64.
Places indeed use the 64x icons. They use the 22x icons if I scale down the icon size to 24x.
Mimetypes always use the 22x icons.

[2015-10-08 16:49] #807 closed

[2015-10-08 16:50] palinek commented on #807
@paulolieuthier you're too quick for me :smile:

[2015-10-08 16:55] paulolieuthier commented on #807
@palinek I thought you would left it open imagining it had been automatically closed... Anyway, this is the reason for my speed: https://addons.mozilla.org/en-us/firefox/addon/github-notifier/ :smile:

[2015-10-09 07:01] YamashitaRen commented on #674
Good idea.
It shouldn't be limited to volume and apply to brightness too, though.
Is there an alternative tool that we could use in the meantime ?

[2015-10-09 14:01] Esclapion opened #844 "[pcmanfm-qt] icons for rename and compress ?"
Sorry, because it's more a question than an issue, but i tried a dozen of themes and none displays an icon for those both operations when right-clicking on a folder or a file.
What can be please the name of those icons, if some are associated to that ?

[2015-10-09 14:07] Esclapion opened #845 "[pcmanfm-qt] icons for rename and compress ?"
Sorry, because it's more a question than an issue, but i tried a dozen of themes and none displays an icon for those both operations when right-clicking on a folder or a file.
What can be please the name of those icons, if some are associated to that ?
![screen](https://cloud.githubusercontent.com/assets/3512979/10395912/c1f55a8a-6e9f-11e5-8188-4283a2f02efd.png)

[2015-10-09 14:08] palinek commented on #844
Based on [this](https://github.com/lxde/pcmanfm-qt/blob/master/libfm-qt/filemenu.cpp#L211) & [this](https://github.com/lxde/pcmanfm-qt/blob/master/libfm-qt/filemenu.cpp#L173) there are no icons for those menu entries...

[2015-10-09 14:10] Esclapion commented on #844
OK, thanks for the answer. I search that since a long time. A bit a pity...

I close.

[2015-10-09 14:10] palinek commented on #845
Why did you submit this twice? #844

[2015-10-09 14:13] Esclapion commented on #845
I don't know why it was submitted twice. One is to delete.

[2015-10-09 14:13] #845 closed

[2015-10-10 12:58] pmattern commented on #653
Addendum:
As of 2015-10-10 package `lxqt-leave` "depends" on `lxqt-metapackage`.

[2015-10-10 14:01] pmattern commented on #844
Problem exists in other desktop environments and file managers as well. In PCManFM GTK / LXDE and qtFM both icons are are missing, in Thunar topic "rename" doesn't feature an icon while "compressing" isn't available, in Dolphin "rename" has its icon and "compress" is missing.

The underlying [Icon Naming Specification](http://www.freedesktop.org/wiki/Specifications/icon-naming-spec/) doesn't defin

[2015-10-10 14:34] pmattern commented on #674
Hm, but isn't this implemented already? Pressing multimedia keys to adjust the volume definitely triggers notifications by `lxqt-notificationd` here (Arch Linux x86_64, all LXQt components from latest VCS checkouts).

Brightness doesn't belong here but to #36 or one of the issues stated there.

[2015-10-10 14:52] pmattern commented on #839
Apparently the problem is fixed in some plugins only. E. g. plugin-spacer isn't affected any longer but plugin-{mainmenu,showdesktop} still are.
Arch Linux running yesterday's VCS checkout of LXQt, so lxqt-panel lxde/lxqt-panel@d6fed23.

Side-note while at it:
Personally I think the current layout in dialog "Configure Panel" placing the number right after the plugin description isn't exactly intui

[2015-10-10 15:31] pmattern commented on #135
@PCMan

Could this eventually be some misunderstanding? Having a look at Compiz 0.9.12.2 on Arch Linux the only window preview I could find was the one from its "Application Switcher". But the panel which is what this issue is meant to address wasn't affected by Compiz in any way.

[2015-10-10 19:06] palinek commented on #839
The shown number/name is the name of section in configutation file. Nothing more, nothing less. IMO this information definitely s not needed to be presented

[2015-10-10 19:08] palinek commented on #839
Sorry...accidentaly pushed the button while editing on the phone

[2015-10-10 20:07] pmattern commented on #839
Well, but the number also informs about plugin instances which are eventually running already. And having this information does make some sense, IMO.

[2015-10-10 20:12] YamashitaRen commented on #135
@pmattern
http://askubuntu.com/a/227166
Don't remember if it's really there but I can confirm that I used this plugin no less than 3 months ago.

[2015-10-10 20:51] pmattern commented on #135
@YamashitaRen
Plug-in (?) "Thumbnail Window Previews" as described in the link you posted indeed does the trick so my assumption that Compiz isn't interacting with panel plugins was wrong.
@PCMan Sorry for the noise.

On a side note those previews don't seem to work when grouping is enabled in plugin-taskbar.
Also, if anything should be changed in LXQt with regards to this topic the feature should

[2015-10-10 22:40] agaida commented on #653
@gilir - please revert the splitting lxqt-leave if you want to be compatible with the upcoming debian packages - and i would also suggest to use the alioth repos as a base for the ubuntu packages.

[2015-10-11 00:45] agaida opened #846 "LXQt Panel configuration"
the items should be named with both display language and object name. This is done in the configuration window, but not in the plugin dialog (and to be true - the object names are better, i have to guess, what a plugin will do if i see only the translated names) http://i.imgur.com/QLYYxOA.png

[2015-10-11 06:57] palinek commented on #846
There is no object name to show in the add plugin dialog. There are shown the available plugins types (found \*.desktop descriptions) and not instances of the plugins. Are you suggesting to shiw there also the name of the .desktop file?

[2015-10-11 09:52] agaida commented on #846
if this are the things in brackets - yes

[2015-10-11 12:40] YamashitaRen commented on #674
You're right.
Curiously, using kmix in the same time made them disappear...

[2015-10-11 19:19] pmattern commented on #674
Interesting. But not sure whether something should be done at LXQt's side to mitigate effects of a tool that's belonging to another desktop environment as long as a counterpart is provided by LXQt and working well which applies to `kmix`. I'd tend to say no...

[2015-10-11 21:06] Atalanttore opened #847 "No transfer rate in file operations dialog"
Hi,

there is no transfer rate shown in the file operations dialog. That's bad.

Regards,
Ettore

[2015-10-12 11:20] pmattern commented on #847
This badly needs to get elaborated. You didn't even state the LXQt component you deem affected let alone any steps to reproduce your findings.

[2015-10-12 12:26] Atalanttore commented on #847
The file operations dialog appears when you copy a file in PCManFM-Qt.

[2015-10-12 12:52] tomh0665 opened #848 "Natural scrolling via xmodmap"
[I'm running Ubuntu 15.10 beta with the lubuntu-daily ppa]

'xmodmap -e "pointer = 1 2 3 5 4 7 6 8 9 10 11 12"' is respected by lxterminal, leafpad, and pcmanfm but not by qterminal, juff, or pcmanfm-qt.

[2015-10-12 18:25] surlykke commented on #848
Qt does not look at button numbers when scrolling. Instead of executing the
xmodmap command, I have a file:
/etc/X11/xorg.conf.d/10-naturalscrolling.conf

looking like:

Section "InputClass"
        Identifier "Natural scroll"
        Option "VertScrollDelta" "-50"
        Option "HorizScrollDelta" "-50"
EndSection

br. Chr.

2015-10-12 14:52 GMT+02:00 Tom H <notifications@github.com>:

[2015-10-12 19:59] tomh0665 commented on #848
Thanks. It's my first interaction with Qt. Sorry for the noise.

[2015-10-13 11:56] gilir commented on #653
@agaida well, as far as I know, lxqt-leave work without lxqt-session, and work well as a standalone app, so it makes sense to have it in a separate binary. Also, we had the same problem with lxsession / lxsession-logout. There are both independent, and people asked us to split the package, because they want to replace lxsession or lxsession-logout with something else.

[2015-10-14 00:39] JustDevZero commented on #369
I forked LXmixer from @pranavg189 as I detected him as "inactive" and added some more things on the UI...

https://github.com/JustDevZero/lxmixer

But still not functional, not a simple call to . Also, I writed an issue to him (afaik github doens't have direct messages yet).

https://github.com/pranavg189/lxmixer/issues/6

Also as I said there, tried to download source code of pavucontrol to kinda

[2015-10-14 06:28] palinek commented on #369
Just had a quick look at the pranavg189/lxmixer... what is there to fork? It does literaly nothing at all. Or am I missing something?

[2015-10-14 06:38] #478 closed

[2015-10-14 06:57] #846 closed

[2015-10-14 07:19] #794 closed

[2015-10-14 07:52] fguzm commented on #581
checking for module 'xcb'
  package 'xcb' not found
when trying to compile lxqt (or lxqt-session)

[2015-10-14 08:21] palinek commented on #581
@fguzm Are you suggesting something? Or are you asking for help? Please, be more verbose if you want to continue this discussion.

[2015-10-14 08:47] fguzm commented on #581
half a year later and another computer - same error when trying to compile

root@---:/usr/src/lxqt/lxqt-session# mkdir build && cd build
root@---:/usr/src/lxqt/lxqt-session/build# cmake ..
-- The C compiler identification is GNU 5.2.1
-- The CXX compiler identification is GNU 5.2.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C com

[2015-10-14 08:50] palinek commented on #581
Is the `libxcb1-dev` package installed?

[2015-10-14 08:51] stefonarch commented on #478
I'm not sure where the problem lies, just I've jsut recompiled
lxqt-runner, -common, -config and -panel as they had updates and it
broke my desktop: panel was not responsive, runner, switcher and
shortcuts not working at all.
Recompiled globalkeys and other stuff, panel is working ow but
globalkeys and runner not all .

Il 14/10/2015 08:39, palinek ha scritto:

[2015-10-14 08:54] palinek commented on #478
lxqt-runner, -common, -config and -panel as they had updates and it
broke my desktop: panel was not responsive, runner, switcher and
shortcuts not working at all.
Recompiled globalkeys and other stuff, panel is working ow but
globalkeys and runner not all .

IMO the lxde/lxqt-runner#32 has definitely nothing to do with this kind of problem.

[2015-10-14 09:13] fguzm commented on #581
yes, this is really frustrating

[2015-10-14 09:15] palinek commented on #581
..try the `cmake --debug-output --trace`.  It may reveal something...

[2015-10-14 09:23] palinek commented on #581
Also the `pkg-config --debug --libs xcb` may be helpfull.

[2015-10-14 09:45] fguzm commented on #581
http://pastebin.com/LnFSeatB
http://pastebin.com/LLPFtyxe

[2015-10-14 09:51] stefonarch commented on #478
I agree, I guess the problem  is here:
$ globalkeysd [Critical] Cannot register service 'org.lxqt.global_key_shortcuts' [Notice] Stopped

[2015-10-14 10:05] palinek commented on #581
From the debug it seems that `pkg-config --exists xcb` exits with non-zero, what is the output of `pkg-config --exists xcb; echo $?`

Do you have the env variable `PKG_CONFIG` set? (`echo "$PKG_CONFIG"`)

[2015-10-14 10:10] palinek commented on #581
And also it would be better if you run the cmake with debug output on a clean build directory...

[2015-10-14 10:28] JustDevZero commented on #369
You didn't miss a thing, the code is still not functional, only UI stuff yet :/

[2015-10-14 10:44] fguzm commented on #581
output of pkg-config --exists xcb; echo $?
1
PKG_CONFIG is not set, shouldn't it be set automatically at installation?

[2015-10-14 10:52] palinek commented on #581
1

That's it... it should be zero. It is weird that `pkg-config --libs xcb` prints correct information, but `pkg-config --exists xcb` returns a failure. What is the output of `pkg-config --debug --exists xcb`?

=

I suppose not, just saw that this env variable is checked in the cmake module

[2015-10-14 11:15] fguzm commented on #581
http://pastebin.com/ND2Wpy8N

[2015-10-14 11:25] palinek commented on #581
Looking for package 'pthread-stubs'
Looking for package 'pthread-stubs-uninstalled'
root@---:~#

Seems that the pthread-stubs dependency is not found. How did you install the `libxcb1-dev`?

Because this package has the `libpthread-stubs0-dev`, `libxau-dev`, `libxdmcp-dev` dependencies (see [here](https://packages.debian.org/sid/libxcb1-dev)), whose are providing required *.pc files.

[2015-10-14 12:27] pmattern commented on #478
Re-installing a fraction of LXQt components from AUR can cause trouble easily as AUR isn't aware of changed dependencies. E. g. those four components you re-installed right now may very well have been compiled against later versions of some components from the official repos than the other LXQt components which in turn may cause the trouble you ran into.
Cannot reproduce this problem on up-to-date

[2015-10-14 12:29] fguzm commented on #581
I reinstalled these dependencies and after that I could compile the most parts of lxqt...
Thank you for your help!

[2015-10-14 12:35] pmattern commented on #369
What ever the outcome will be I doubt that `lxmixer` is a suitable name.
As a rule of thumb terms like `lx<description>` belong to LXDE while `lxqt-<description>` is used on LXQt. This is already disrespected in `lxqt-sudo` but only with regards to some symbolic links. Also, that difference may become irrelevant should LXDE get abandoned one day which won't happen that soon, though.
So all in all

[2015-10-14 14:22] DrTobe commented on #671
For me, this happens, too. When I experienced it the first time, I thought it was intended because it reactivated my screen so I could at least go on doing something. But rethinking that, it does not make sense because why should it log me out?

I have checked this on the KDE Plasma Desktop, there it does not happen, so I do not think that it is a bug in KWindowSystem (I guess Plasma Desktop is us

[2015-10-14 14:24] paulolieuthier commented on #671
@DrTobe thanks for your help. I had no extra output connected.

[2015-10-14 14:38] fguzm commented on #743
I upgraded the qt libs to version 5.5 from the experimental debian repo, thus I had to uninstall the most lxqt things. So I compiled lxqt myself using the git version (thanks to Mr. palinek!).
But this icon issue is now back again, exactly like described in the initial post.

[2015-10-14 15:03] DrTobe commented on #671
Bad news: We have a bug.
Good news: It seems to be reproducible.

[2015-10-14 16:31] palinek commented on #671
After a few attempts ...  command like this `xrandr --output DP1-1 --off; sleep 2; xrandr --output eDP1 --off; sleep 2; xrandr --output eDP1 --auto --output DP1-1 --auto` is also blowing off the whole lxqt-session (which doesn't have any window/widget at all).

... then tried to run lxqt-session via valgrind and the shown error trace is like following:
[code]

[2015-10-15 13:22] luis-pereira commented on #743
@fguzm what icon theme are you using ?

[2015-10-15 14:22] fguzm commented on #743
gnome-wise

[2015-10-15 15:20] luis-pereira commented on #743
Ok. What other icon themes do you have installed ?

[2015-10-15 17:06] fguzm commented on #743
adwaita and gnome

[2015-10-15 17:11] luis-pereira commented on #743
Does it work with Adwaita ?

[2015-10-15 20:52] agaida commented on #653
it make no sense at all - but do it like you want to - we will not take care in future versions i think.

[2015-10-16 05:27] fguzm commented on #743
Switching the theme doesn't change the panel icons in any way.
Btw "activate item on single click" also not works.

[2015-10-16 06:50] #766 closed

[2015-10-16 09:19] luis-pereira commented on #743
@fguzm do you have lxqt-qtplugin installed and the `QT_QPA_PLATFORMTHEME=lxqt` set ?

[2015-10-16 10:02] fguzm commented on #743
QT_QPA_PLATFORMTHEME=lxqt did the trick, thank you!
The page https://github.com/lxde/lxqt-qtplugin describes it, but who reads that?
Why is the variable not automatically set, I would expect that from a desktop 'environment'

[2015-10-16 10:03] palinek commented on #743
https://github.com/lxde/lxqt-common/blob/master/startlxqt.in#L60

[2015-10-16 10:04] #743 closed

[2015-10-16 10:08] luis-pereira commented on #743
@palinek faster than the speed of light :smiley:

[2015-10-16 10:32] luis-pereira opened #849 "Add info on howto to re-enable power-management panel icon"
It might be hard, for a newcomer, and maybe not so newcomer, find out how to re-enable it.
A message box stating how to do it would be nice.

[2015-10-16 10:36] palinek commented on #849
Where should the new dialog should appear? IMO the checkbox in power-management configuraiotn is pretty obvious.

[2015-10-16 10:39] luis-pereira commented on #849
When the user, clicks on _Disable Icon " a message box would appear. I also find it obvious.
But..... some of my friends don't feel the same way.

[2015-10-16 10:48] fguzm commented on #743
Why so rude? I have installed lxqt-common and lxqt-qtplugin, but this variable in not automatically set.

[2015-10-16 13:32] pmattern commented on #743
Environment variable `QT_QPA_PLATFORMTHEME` gets very well set on Debian testing x86_64 running LXQt from the Siduction repository here, doesn't matter whether the LXQt session is started by SDDM or from a virtual terminal by `startx`.
So for the reasons stated in my previous post this pretty much looks like a problem of your particular system, it's not even a downstream problem in general.
You ma

[2015-10-16 16:19] luis-pereira commented on #840
@pmattern In Basic Settings > Window Manager clicking the Search button also triggers it. The Leave session doesn't need an logout to work Ok. But that's the exception.

The rule should be, "Issue an warning only on settings change". I'm implementing it.

[2015-10-17 10:23] AlfredoRamos opened #850 "GUI: malfunction of button "Add""
Hi there,

With the commit lxde/lxqt-globalkeys@f1ebb16 the "Add" button stopped working.

From what I read in the docs, the constructor QModelIndex() creates an invalid index, so It will always exit in the function `MainWindow::editAction()` when checking if it's valid.

Reverting the changes only in that function fixes this issue, but there may be another fix.

[2015-10-17 10:30] pmattern commented on #850
Confirmed.

[2015-10-17 13:51] jleclanche commented on #478
@palinek I'm still seeing this issue with items in the history, FYI.

[2015-10-17 13:56] jleclanche commented on #478
Unless it can be simply fixed on top of this, I'll file another issue for the history item, milestoned next release.

[2015-10-17 14:07] jleclanche commented on #795
We officially only support sddm now. If your computer doesn't support it, SLiM is probably your next best bet.

[2015-10-17 14:07] #795 closed

[2015-10-17 14:08] jleclanche commented on #787
I'm closing this because there's no way LXQt is at fault. Likely kernel, yeah.

[2015-10-17 14:08] #787 closed

[2015-10-17 14:10] jleclanche commented on #831
Closing, pootle isnt in use right now. I tried my best but the ts support is simply not good enough right now :/ I'll upgrade Pootle and look into it again.

[2015-10-17 14:10] #831 closed

[2015-10-17 14:19] jleclanche commented on #828
Closing because it comes for free with the kscreen port.

[2015-10-17 14:19] #828 closed

[2015-10-17 14:20] jleclanche commented on #818
@davidedmundson Ping, I see this might be Breeze-related.

[2015-10-17 14:21] jleclanche commented on #834
We have to get screen locking working in sddm first I think.

[2015-10-17 14:22] jleclanche commented on #835
I had been seeing this as well. Would really like to know where the issue is. I think it's in Qt tbh.

[2015-10-17 22:53] chtfn commented on #397
I am using LXQT 0.9.0 on Manjaro and I have similar issues but noticed that there are two places where cursors can be changed: "customise look and feel" and "appearance", which results in inconsistencies when they have different settings.

[2015-10-18 06:26] antis81 commented on #787
Yep, thanks.

[2015-10-18 14:17] pmattern commented on #478
@palinek
As of lxde/lxqt-runner@df339f2 I can confirm two entries corresponding to one binary may come up, e. g. like this
![lxqt-runner_duplicate-binary-entry](https://cloud.githubusercontent.com/assets/9860801/10564400/f0980b52-75b2-11e5-937a-8abc5d9c4b69.png)
when one invocation got already saved in `.cache/lxqt-runner.history`.
But actually I'm pretty sure this couldn't be seen when I was post

[2015-10-18 15:58] pmattern commented on #397
@chtfn

Mind elaborating what this means? Tools named exactly like this don't exist in LXQt itself.

Aside from this I'm with @luis-pereira here: Cannot reproduce. What ever I try, the cursor theme selected in `lxqt-config-appearance` or `lxqt-config-input` keeps getting used all the time, even on Lubuntu 15.04 running LXQt from ppa:lubuntu-dev/lubuntu-daily.
Pretty much looks like some downstream

[2015-10-18 17:54] pmattern commented on #681
Just had another look a the second problem:
Cannot reproduce in a KVM/QEMU virtual machine featuring a single virtual graphics card with a single output only either. The machine where it's bothering me as stated above is featuring an on-board ATI Radeon card with one monitor connected to its DVI and VGA output respectively. But the problem also appears if only one monitor is in use and the other i

[2015-10-18 17:57] pmattern commented on #624
For sure, I can have a look into this. But I'm not following right now:

Technically, no FHS object (file, directory, symbolic link) in theme Light is stating string light in terms of the theme's name (same thing with string razor, btw.). So it remains unclear how theme name Light should have been derived from some filesystem name. Also, I cannot figure a difference between "Light" and "Razor" wit

[2015-10-18 18:01] pmattern commented on #658
Distributing different kinds of features to the various GUIs `lxqt-config-*`, here limiting `lxqt-config-input` to technical aspects, makes perfect sense, providing the cursor theme's configuration at two different locations is confusing and doesn't offer a single advantage.
Subjective evaluation of mine, but I'm [not alone](https://github.com/lxde/lxqt/issues/793#issuecomment-135236929).

Solving

[2015-10-18 18:11] pmattern commented on #796
@paulolieuthier
Could very well be that translators will come. But that way we'd urge them to start over while all the work they've done before and they put time into gets thrown into the trash can.
Not exactly kind behaviour, IMO.

On a side note the current mantra to basically wait for string freezes before really getting into translations doesn't make too much sense.
It's causing lots of superf

[2015-10-18 18:40] pmattern commented on #840
Strictly speaking the rule had to be "Show the message informing about the need to restart the session only if settings were in fact changed that indeed need the session to get restarted in order to take effect".
Don't know to which of the settings in `lxqt-config-session` the latter applies and would have to test it for each of them. Guess you know better.

Aside from this I happened to see that

[2015-10-18 19:13] palinek commented on #478
Hm... I didn't make any changes in filtering the history items (not that I'm aware of). Personaly I think they shouldn't get filtered in any way...

[2015-10-18 20:25] jleclanche commented on #658
Please don't understand this as me taking a final decision. Decisions are only as final as the devs want them to be, so if you feel strongly about this, you're free to reopen it.

With that said, I maintain my stance. Both places are somewhere users would expect them to be. Fact is, when you hit Alt+F2 and type "Mouse", what comes up is *only* `lxqt-config-input`.

I'd be willing to compromise on

[2015-10-19 02:20] #850 closed

[2015-10-19 08:17] chtfn commented on #397
@pmattern
Sorry, I suspected I was being too vague.
I use the community version of Manjaro that comes with LXQT (manjaro-lxqt-15.09-i686.iso), available there: http://sourceforge.net/projects/manjarolinux/files/community/LXQT/2015.09/

The two different tools are:
- "Preferences > Customise look and feel" in the menu, which is `lxappearance` 0.6.1-1
- "Preferences > LXQt settings > Appearance", wh

[2015-10-19 08:22] palinek commented on #397
This is an LXDE application/package. On debian the package clearly states that:
[code]

[2015-10-19 10:48] Esclapion commented on #397
lxappearance will be removed in 15.10, so, my bad.

[2015-10-19 11:03] chtfn commented on #397
Great, thank you @Esclapion :)
@egodasa , can you confirm that the issue was related to having both packages handling cursor themes?

I imagine having the two packages affects more than the cursor themes (e.g. font, decoration...)

Is it safe for me to uninstall `lxappearance` ?

[2015-10-19 11:07] Esclapion commented on #397
The problem is that we have nothing after to change the openbox theme part (from raleigh to something else).

[2015-10-19 11:07] Vladimir-csp commented on #397
side note: Qt theming ecosystem is a mess right now. So it is way more simple to keep GTK style set in Qt and manage GTK themes via lxappearance.

[2015-10-19 12:21] paulolieuthier commented on #681
I have one monitor only.

[2015-10-19 18:34] pmattern commented on #397
In the meantime I saw that the parallel use of `lxappearance` and `lxqt-config-{appearance,input}` is indeed a possible cause of the problem.
Finding can be made both on Lubuntu 15.04 and Arch Linux. Steps to reproduce are simply setting one cursor theme by `lxappearance` and another one by `lxqt-config-appearance` or `lxqt-config-input`. The problem is *not* limited to one session but persists if

[2015-10-19 20:09] Esclapion commented on #397
Hmm, i think it will be complicate. It was not openbox, my bad, but gtk. For Openbox, I use obconf. obconf-qt is qt4 based, so excluded.
obconf-qt-git is qt5 based, but it's very heavy (100 MB installed) due to a lot of dependencies, for example on qt5-webchannel and qt5-webkit. If I will keep my ISO CD-sized, it's not possible.

What I need is a tool for change the default gtk2/3 "Raleigh" theme

[2015-10-19 23:05] agaida commented on #397
vi? nano? and one could use obconf compiled with Qt 5 - so i really see no problems at all in first place. The only real problem is that we are to focussed on Qt and ignore the need for gtk integration at some points.

[2015-10-19 23:31] Esclapion commented on #397
I will look again for the git ;) But i'm more focused on lxappearance.

[2015-10-19 23:38] agaida commented on #397
i know the appearance thing is pita - but what about to provide 2 files within you iso - basic gtk2 and gtk3 settings that are not ugly and match your choosen Qt theme? I do so for siduction in all flavours - and it works pretty well. Ok, it's not a solution but it take away the pain a little bit.

[2015-10-19 23:50] Esclapion commented on #397
I prefer leave the choice to the user :

![scrot002915](https://cloud.githubusercontent.com/assets/3512979/10594379/db95e498-76cc-11e5-94b7-6bf41b8d2a4c.jpg)

[2015-10-19 23:54] agaida commented on #397
we are happy to merge pull requests which integrate the GTK handling into lxqt-config ... :grinning:

[2015-10-20 07:12] Vladimir-csp opened #851 "[qterminal] close confirmation button focus"
Please make default focus on 'yes' button in close confirmation dialog. Right now it is on 'do not ask..' checkbox, which does not make any sense.

[2015-10-20 07:16] palinek commented on #851
Why are you submitting [qterminal](https://github.com/qterminal/qterminal) issue here?

[2015-10-20 07:17] Vladimir-csp commented on #851
Oops, totally forgot about it.

[2015-10-20 07:17] #851 closed

[2015-10-20 07:24] Vladimir-csp commented on #572
I've  tested Kvantum and Glare.

Well, comared to the simplicity and standardization of GTK themes, it is all a mess.
Kvantum is a small world in it's own. It uses it's own non-standard themes locations (`/usr/share/Kvantum/<themedir>`, `~/.config/Kvantum/<themedir>`) and even has it's own tool to configure itself. That is weird.

Glare messes up GTK icon selection and spacing, has a really bad ke

[2015-10-20 07:50] pmattern commented on #848
@tomh0665
Couldn't this issue get closed then? Can be done by hitting button `Close and comment` below the form to edit comments, even if nothing was filed in the latter.

[2015-10-20 08:08] pmattern commented on #572
On a side-note it isn't possible to configure what's summarized in topic "Widget Style" in `lxqt-config-appearance` (basically I haven't really understood what this is, but after reading this thread this apparently isn't just me only...). This was causing quite some misunderstanding in #835 recently.

http://sourceforge.net/projects/lxde/

[2015-10-20 08:20] pmattern commented on #397
@agaida @Esclapion
Guys, this is running OT in an already not so short thread.
Let's restrict this discussion to the actual problem which seems to boil down to the problem that parallel usage of `lxappearance` and any of `lxqt-config-{appearance,input}` is causing woes.
The question how to eventually deal with GTK theming in LXQt is for sure valid but already being discussed in #572.

[2015-10-20 08:52] Vladimir-csp commented on #572
I've made some minor updates to the first post.

[2015-10-20 09:52] agaida commented on #397
and there are no problems in a parallel usage of lxappearance and lxqt-config-{} - it's a downstream issue or a issue of mixed environments at its best. So i would suggest to test possible side effects in a clean environment - and the eventually take some action.

[2015-10-21 00:06] agaida commented on #785
fixed with times ago with lxde/lxqt-config #811656

[2015-10-21 00:06] #785 closed

[2015-10-21 01:38] chtfn commented on #397
@agaida

I am testing this on LXQt 0.9.0, with `lxqt-config` 0.9.0-2 and `lxappearance` 0.6.1-1 on Manjaro (`manjaro-system` just updated to 20151019-2 today). I installed the iso clean a few weeks ago and did not play around with the environment: I wanted to keep it as simple as possible.

Please try the following:
1. Both `lxappearance` and `lxqt-config-{}` are open and on the "Menda" set. All
2

[2015-10-21 03:50] Vladimir-csp commented on #397
I suppose there may be two things causing this: lxqt-config-appearance does not change GTK config files, lxappearance does not change lxqt session config,  combined with the way both tools signal the change to applications.

[2015-10-21 14:58] palinek commented on #397
BTW... there is an open issue requesting `lxqt-config-appeareance` to configure also GTK settings -> #403

[2015-10-21 15:07] Vladimir-csp commented on #572
mentioning #403 here also for cross-reference.

[2015-10-21 19:32] luis-pereira opened #852 "lxqt-config-session: rephrase the Session Restarted Required message info"
Write it in a non technical / non developer way.
![screen-2015-10-21-20-10-29](https://cloud.githubusercontent.com/assets/62877/10647820/9da1da40-7832-11e5-938e-5483b4a497ea.png)

[2015-10-22 00:09] jeremywh7 commented on #629
@palinek: I've now updated my arch setup to use an AUR helper to build lxqt-desktop-git; I was previously just manually building lxqt-panel-git and its many dependencies.  I will note that my system updated to Qt 5.5.1 today too.

It appears this issue has regressed; afaict I am building lxqt-desktop-git correctly; it picked up the lxqt-powermanagement-git change today, and lxqt-panel-git is at ch

[2015-10-22 06:42] palinek commented on #706
I thought this is a feature. How should it be changed?

[2015-10-22 06:44] palinek commented on #852
Any suggestion on the worging? (IMO the existing is OK)

[2015-10-22 06:58] palinek commented on #632
IMO
- `kbindicator` is/was caused by setting the size of panel and the margin/padding configured in theme
- `wordclock` is connected to font metrics and different widths of particular letters/numbers (similar as in #660)

[2015-10-22 09:00] palinek commented on #401
It's affecting Openbox and KWin here while Xfwm isn't affected.

I can't reproduce it either.

[2015-10-22 12:18] luis-pereira commented on #852
A non technical / developer user probably doesn't know about `lxqt-session`.
Something like:
`You need to restart your session to make the settings effective.`
`Just Logout and Login again.`

[2015-10-22 14:04] palinek commented on #681
@pmattern Could you see if the lxde/lxqt-panel#252 fixes both issues stated here?

[2015-10-22 14:06] palinek commented on #852
If you have the right wording in you mind... why don't you acctualy create the PR/commit right away?

[2015-10-22 16:03] tomh0665 commented on #848
Sorry. Assumed that only a dev could do so. Closing.

[2015-10-22 16:03] #848 closed

[2015-10-22 16:28] paulolieuthier commented on #796
Yeah, I said that hoping the Pootle server would come back.

[2015-10-22 18:04] jeremywh7 commented on #852
How about something more formal like, "Please restart the session to apply the changes.  Select 'Logout' then login again."

[2015-10-22 18:15] jeremywh7 opened #853 "[lxqt-panel] Regression: right-click on panel keeps it stuck unhidden until mouse-over"
Regression from: https://github.com/lxde/lxqt/issues/629
Right-clicking on any panel element, whether something is selected or not, keeps the panel stuck unhidden (including interaction w/ the desktop or applications) until panel mouse-over.

My update on issue 629, with more details:
@palinek: I've now updated my arch setup to use an AUR helper to build lxqt-desktop-git; I was previously just man

[2015-10-22 19:13] Vladimir-csp commented on #852
"Some settings will only be applied to new desktop session. Consider ending current session by logging out."

[2015-10-22 22:24] luis-pereira commented on #852
@palinek To raise the discussion before writing the PR.
What about a mix o @jeremywh7  and @Vladimir-csp:

**Some settings will only be applied to new desktop session.**
**Please restart the session to apply the changes. Select 'Logout' then login again.**

[2015-10-23 01:45] paulolieuthier commented on #852
I would only change "new" for "next".

[2015-10-23 01:48] jleclanche commented on #852
It doesn't need to be that long, nor even suggest the user *has* to relog immediately. You can just say **Some settings will not take effect until your next log in. Relog to apply all changes.**.

[2015-10-23 01:58] renaldi2108 commented on #537
the purpose of the "program=QCoreApplication::arguments().at(1);" then what? And there are parts qlist error that states"index out of range". Please enlightenment on this issue.

[2015-10-23 04:48] h0llow opened #854 "Clicking desktop icon highlights more than one item"
Sorry if this is already in. I did look and see if one was made but didn't see one :)

If I place icons on the desktop and click on it, sometimes it will highlight other items and it is a pain to deselect it. I usually end up clicking whatever I can and trying again. If my memory is correct, I may also be seeing this in PCmanFM, especially if I click a file name that is long.

In the image, I cann

[2015-10-23 05:52] #681 closed

[2015-10-23 06:01] palinek commented on #537
@renaldi2108 If you wish to discuss about https://www.github.com/alfredobonino/qsudo, please, make it there. That project isn't covered by LXQt.

[2015-10-23 06:13] palinek commented on #853
I can't reproduce this on my system right now, so I'm not able to debug and resolve it. But Qt 5.5 is on the way to debian unstable.

Maybe someone else can have a look on it till then...

[2015-10-23 06:25] stefonarch commented on #854
Duplicate of https://github.com/lxde/lxqt/issues/768 ?

[2015-10-23 06:30] h0llow commented on #854
Ahh yes! Haha thank you! I don't know why I couldn't find it.. Maybe it's just been a long day for me -_-

[2015-10-23 06:30] #854 closed

[2015-10-23 14:19] jeremywh7 commented on #852
In that case, I'd go even simpler, but no pronouns; "Some settings will not take effect until the next log in."

[2015-10-23 14:40] paulolieuthier commented on #852
Great.

[2015-10-23 14:41] pmattern commented on #706
I think the listing should disappear upon clicking any spot on the desktop that doesn't belong to the plugin, much as it's handled by plugin-mainmenu already.
This would both make more sense and be consistent.

On a side note I stumbled upon some inconsistency regarding plugin-[world]clock.
The calendar that pops up by clicking the panel icon of those plugins disappears when any area outside the p

[2015-10-23 15:20] pmattern commented on #312
This issue was closed without getting resolved besides everyone involved agreed that the problem that's addressed is valid, stating #416 as successor is wrong as that one was only about improving plugin-worldclock.
Hence reopening.

Right now both plugins are basically providing the same features, in particular the actual display in panel is the same as well as the calendar that comes up by (left)

[2015-10-23 16:02] luis-pereira commented on #852
I like @jeremywh7 proposal. Simple and to the point. @jleclanche proposition is also fine :)

[2015-10-23 16:14] luis-pereira opened #855 "lxqt-leave: Doesn't honor the "Ask for confirmation to leave session" session setting"
Steps to reproduce:
Call `lxqt-leave` without options. A dialog pops up. Ask for confirmation to leave session setting will be ignored.

[2015-10-23 16:29] jleclanche commented on #312
@pmattern Can you take the issue?

[2015-10-23 16:35] jleclanche opened #856 "Taskbar items being moved are not themed"
In a dark theme, the taskbar items are half-themed, still clear.

Milestoned 0.10 if it's simple.

[2015-10-23 16:38] paulolieuthier commented on #856
Does it happen after applying lxde/lxqt-panel#253?

[2015-10-23 16:39] jleclanche commented on #856
Only affects *unfocused* buttons.

I will test #253 once it's merged, but I think this is a css issue...

[2015-10-23 17:23] jleclanche commented on #852
Yeah let's go with that.

[2015-10-23 18:20] pmattern commented on #312
@jleclanche
Given my pretty limited programming skills I cannot handle this in a reasonable amount of time right now. So no, sorry.

[2015-10-23 18:25] jleclanche commented on #312
@palinek @paulolieuthier @luis-pereira I need one of you guys to take it if it's to land in 0.10.

[2015-10-23 20:18] palinek commented on #312
IMO it's too late to merge it until 0.10. I am not in mood to do such merging. I am not a fan of the worldclock plugin at all (altough I don't see any evident reason for such antipathy :smile:).

[2015-10-23 20:21] palinek commented on #856
I thought you would give it a try as it was you who suggested we need a visual feedback for the button move.

[2015-10-23 20:26] palinek commented on #856
Just tested with lxde/lxqt-panel#253 & Dark theme. I don't see any discrepancy either with compton (working transparency) or without it (transparency not working).

[2015-10-23 20:35] jleclanche commented on #312
Moving to 0.11. I think we'll need to have a discussion about this, I was hoping they were closer to each other.

[2015-10-23 21:11] palinek commented on #706
@pmattern please, check & reopen if neccessary.

[2015-10-23 22:17] pmattern commented on #706
The actual behaviour of the objects coming up on (left) clicking is now alright in all three plugins affected.

But the commit introduced a minor regression in both `plugin-[world]clock`: if the calendar was opened by clicking on the icon and closed by clicking elsewhere on the desktop the panel plugin itself is further highlighted (?) which can only be removed by hovering again. E. g. in this scr

[2015-10-23 23:08] pmattern commented on #312
Not quite following here, tbh.
If we handled the plugins as stated in my second to last comment (of course a suggestion only) there would just be one plugin "Clock" or "Date & Time" or whatever that happens to provide some world-clock stuff in additon. But neither would there be any need to make use of the latter nor would the plugin be called `plugin-<foo...bar...world-clock somehow included here

[2015-10-23 23:44] jleclanche commented on #312
@pmattern in the end it's up to whether people are actually willing to do it, it's not enough to ideally want it. anyway we have a release in a week, so let's focus.

[2015-10-23 23:59] jleclanche commented on #856
@palinek in my current setup it's not easy to test PRs :/ I'll try to get a better setup going asap, but the move is taking longer than I expected.

[2015-10-24 00:25] pmattern commented on #321
Duration was dealt with in #515 in the meantime.

[2015-10-24 00:33] pmattern commented on #595
Turns out the problem also exists in buttons within notifications like the following from `nm-applet` with the notifications' width set to 300px
![lxqt-notificationd_cut-text-in-buttons_300px](https://cloud.githubusercontent.com/assets/9860801/10707634/d27ac316-79f5-11e5-81ec-5f7820d2a764.png)
and 400px
![lxqt-notificationd_cut-text-in-buttons_400px](https://cloud.githubusercontent.com/assets/9860

[2015-10-24 01:06] pmattern commented on #855
IMO the current behaviour makes sense:

The reason to ask for confirmations is to avoid that *a single action* like clicking some button may have a both unwanted and somewhat momentous consequence.
This applies very well to invocations like `lxqt-leave --{logout,reboot}` and so on which do not feature an UI themselves. E. g. clicking a corresponding icon in main menu - Leave without confirmations

[2015-10-24 03:44] jleclanche commented on #855
This is unhelpful when calling `lxqt-leave` from a script though...

[2015-10-24 03:44] jleclanche commented on #332
@luis-pereira ping, what's left to do here?

[2015-10-24 03:47] jleclanche commented on #802
@agaida Can you fix it?

[2015-10-24 03:48] jleclanche commented on #804
@agaida Can you fix this too please?

[2015-10-24 03:53] jleclanche commented on #849
@luis-pereira I'm closing this because lxqt-powermanagement settings need a fairly thorough UX pass; I'll do it now, but it won't land for 0.10.

[2015-10-24 04:51] jleclanche opened #857 "Rework lxqt-powermanagement settings dialog"
1. Let's focus less on "battery" management. Right now, the powermanagement settings are very laptop-centric
2. Remove all the "Enable x watcher" checkboxes. We merge this functionality with "do nothing" dropdown items. (How do the watchers work? Current settings imply they're an active process, using resources etc)

I won't go into too much details yet, this is open to feedback.

### General (new

[2015-10-24 04:52] jleclanche commented on #849
Followup in #857

[2015-10-24 04:53] jleclanche commented on #849
I just realized I misunderstood what the issue is. Yes, I'm fine with a notification that says "To reenable the battery icon, go to ..."

[2015-10-24 04:54] jleclanche commented on #502
@selairi Is the kscreen stuff functional? if it is, it should land now, we're nearing the release.

[2015-10-24 07:10] jleclanche commented on #817
@paulolieuthier @palinek Hey sorry I caught this so late but how come the systray and status notifier plugins are mutually exclusive? If we have 2 plugins, the idea was to have both next to each other. If we have just one plugin, the plugin should support both.

[2015-10-24 07:55] agaida commented on #802
sure

[2015-10-24 08:24] selairi commented on #502
Kscreen config-monitor is functional. One user has reported a system
crash, but I can not reproduce it.

El 24/10/15 a las 06:54, Jerome Leclanche escribió:

[2015-10-24 11:51] #784 closed

[2015-10-24 11:56] alfredobonino commented on #537
The project qsudo are been abbandoned. please move to lxqt-sudo.

[2015-10-24 12:19] pmattern commented on #817
`plugin-tray` and `plugin-statusnotifier` are working just fine and without any issue in parallel here (VCS checkouts on Arch Linux i686 or x86_64). In fact the usage of both is even rather mandatory right now as `plugin-statusnotifier` lacks the ability to fall back to handling applets according to the old System Tray Specification.

How come you think parallel usage doesn't work? Any steps to re

[2015-10-24 12:22] pmattern commented on #855
Any hint what "This" is meaning here? Invoking `lxqt-leave` without any argument doesn't make sense in scripts anyway as it brings up a GUI.

[2015-10-24 12:33] paulolieuthier commented on #817
@jleclanche each plugin handles its protocol.

[2015-10-24 12:55] paulolieuthier commented on #856
@jleclanche please test it now.

[2015-10-24 15:33] #802 closed

[2015-10-24 15:37] #804 closed

[2015-10-24 17:14] luis-pereira commented on #855
My point here the difference between choosing the Logout directly and choosing Leave > Logout.
Maybe it's just me, but, I was expecting the same behaviour.

[2015-10-24 18:16] jeremywh7 commented on #853
Also; the panel also gets stuck unhidden if the clock is opened (left-clicked).

[2015-10-24 18:28] janprunk opened #858 "GIMP crashing in LXQT"
Hello !

I noticed GIMP crashing in LXQT on Debian stable when copying cropped image into clipboard.
The error is:

~$ gimp DSC04720.jpg
(gimp:21861): Gimp-Widgets-CRITICAL **: gimp_device_info_set_device: assertion '(info->device == NULL && GDK_IS_DEVICE (device)) || (GDK_IS_DEVICE (info->device) && device == NULL)' failed
While parsing XMP metadata:
Error: No XMP packet found
The program 'gimp'

[2015-10-24 18:39] jeremywh7 commented on #373
I got into a confusing mode where my panel appeared to get reset.  After a minute, I realized that (apparently...though I didn't think I did) when I tried to select 'Manage Widgets' I actually clicked 'Add Panel'.  The Configure window coming up in this scenario was therefore expected.  And my auto-hidden taskbar was no longer visible.  This is why I first thought my panel got reset.  Only when I

[2015-10-24 19:02] agaida commented on #858
nice, you use the siduction backport packages -  if there is a problem with lxqt this is clearly a downstream problem. But a bug in Gimp:
<pre>
(gimp:21861): Gimp-Widgets-CRITICAL **: gimp_device_info_set_device: assertion '(info->device == NULL && GDK_IS_DEVICE (device)) || (GDK_IS_DEVICE (info->device) && device == NULL)' failed
While parsing XMP metadata:
Error: No XMP packet found
</pre>
is no

[2015-10-24 23:05] paulolieuthier commented on #853
This is an old bug. AFAIK this has to do with Qt's focus system, which got a little messy in Qt 5. See [this](https://github.com/lxde/lxqt-panel/blob/master/panel/lxqtpanel.cpp#L132).

This comes to me as a surprise.

[2015-10-25 01:47] agaida opened #859 "lxqt-globalkeys / lxqt-config-globalkeys partly broken"
Try to setup a different key for the menu - like the "Windows-Key"
Result:
Only Menu open works reliable, the new key will not be saved and Alt-F1 is back with the next login

Other glitches: open/close is slow - compared to show/hide the runner

[2015-10-25 01:55] paulolieuthier commented on #859
The time to open is actually a workaround: https://github.com/lxde/lxqt-panel/pull/131.

[2015-10-25 11:00] janprunk commented on #858
The problem was with clipboard manager called "/usr/bin/qlipper", which was causing the GIMP to crash. After disabling qlipper it seemed to work out.

Regards,
Jan

[2015-10-25 12:43] pmattern commented on #858
@janprunk
If you should be able to figure out what exactly happens or how to reproduce the [devs](https://github.com/pvanek/qlipper) would probably be happy if you opened an issue.

[2015-10-25 15:11] pmattern opened #860 "plugin-taskbar: display of icons during d&d could be improved"
The display of the icon shown when buttons are dragged & dropped in plugin-taskbar could be improved in two ways, IMO:

The icons are placed somewhat below the mouse pointer. So given the position of the pointer during d&d a large part is outside the screen most of the time.
Transparency seems to be missing, see black box around the icon.
![lxqt-panel_taskbar-dandd-icon-position](https://cloud.git

[2015-10-25 15:46] #852 closed

[2015-10-25 15:52] pmattern opened #861 "maximized windows partially hidden behind panel on multi-monitor systems"
Pull request lxde/lxqt-panel#225 introduced some different behaviour of windows when the panel's auto-hide feature is enabled but caused a regression due to which the bottom part of maximized windows may get hidden behind the panel when the auto-hide feature is *dis*abled.

The problem appears e. g. on a dual-monitor system if the panel is placed at the bottom of the output (in terms of xrandr) wi

[2015-10-25 16:05] agaida commented on #858
whats happend ist easy - qlipper try to 'clip' a object with metadata included - the mechanism of the application don't work well in such cases because of not clean implemented mechanisms for transfering meta-datas into the external clipboad. Worst case is inkscape - now gimp. Until now i never had any problems with gimp, but @janprunk is right and the gimp dev seems to know the problem very well

[2015-10-25 16:16] agaida commented on #859
ah, ok - forget about that one

[2015-10-25 19:34] palinek commented on #860
It's the matter of panel/taskbar placement. If the panel is on left/top edge of the screen, the icon position is OK.

Transparency is ok, if compositor is active.

[2015-10-25 20:00] paulolieuthier commented on #859
@palinek could you take a look at this one?

[2015-10-25 22:29] jleclanche commented on #855
I agree with Luis.

[2015-10-25 22:32] jeremywh7 commented on #853
So do you think Qt 5.5.1 reintroduced this bug (which was resolved w/ Qt 5.4.2 and https://github.com/lxde/lxqt-panel/commit/da80ec944051b4a816bc7b6d9afc6d6457cbed12)?

Another quirk which I finally made reproducible...if I load LXQT, wait for the panel to autohide, then mouseover and right click, then un-mouseover; it autohides <b>only this first time</b>.  However, if I left-click (like in the o

[2015-10-25 22:53] jleclanche commented on #820
@Vladimir-csp That is far, far too complex. Anyway ideally we won't need a desktop file "creator" at all. What is it @q4a is actually trying to achieve?

[2015-10-26 02:02] jleclanche commented on #860
We should set a different background if compositor is not active then.

[2015-10-26 02:05] jleclanche commented on #860
There is a feedback problem though. I don't think I like the icon being shown as part of the dnd, it looks like you can drop the app eg on the desktop to create a shortcut or something.

We could instead change the cursor. But the item *being* dragged should get a visible highlight of some kind.

[2015-10-26 05:09] q4a commented on #820
Users want to do simple things with easy predictable way.
May file managers (including Windows Explorer and Nautilus) allow to:
1. Create link with context menu of file (via Right click).
2. Edit link in properties.
Check this for Nautilus: http://www.howtogeek.com/92840/create-shortcuts-for-your-favorite-or-most-used-folders-in-ubuntu/

My suggestions:
1. Create link.
Linux users are accustomed w

[2015-10-26 05:29] jleclanche commented on #820
I agree that we need a better UI to create shortcuts/app files but a desktop file editor doesn't make  it easy for users, it just makes it slightly easier for people who know the system already.

[2015-10-26 06:15] q4a commented on #820
Yes. I (or you/moderator) can change topic to "Better UI to create shortcuts/app files", but we all agree, that something should be changed to better way.

[2015-10-26 07:59] palinek commented on #860
I don't agree here. If the application `accept` the drop it should know how to handle it. On my system (oxygen cursor theme) only lxqt-panel's taskbar accepts the DnD (cursor 'closed fist'), other application (desktop, lxqt-panel's other plugins...) don't accept the DnD (cursor 'arrow with red crossed circle')

[2015-10-26 08:08] palinek commented on #860
This is a matter of cursor theme used. We don't do any special logic with the cursor.

[2015-10-26 08:12] Vladimir-csp commented on #820
IMHO, naming menu entry that creates a desktop entry as "create link" is confusing and in fact an outright lie. "Create launcher" would be more appropriate in this case.

And the editor window (second) in mockup fits here, as it is pretty simple compared to the main window.

[2015-10-26 09:58] palinek commented on #860
@pmattern Is the position of icon better in lxde/lxqt-panel#254?

[2015-10-26 11:49] paulolieuthier commented on #853
Yeah, looks like a regression.

[2015-10-26 11:49] paulolieuthier commented on #629
In #853 now.

[2015-10-26 11:49] #629 closed

[2015-10-26 12:10] pmattern commented on #860
The location of the actual icon (like Firefox in screenshot above) is fixed by lxde/lxqt-panel#254. But I'd disagree that this issue can be closed due to this PR:

*transparency*
Transparency indeed gets available by using a compositor. But I'm not sure whether this is a desirable solution with regards to LXQt's aim to be lightweight. Something similar had been discussed regarding lxqt-notificatio

[2015-10-26 12:17] paulolieuthier commented on #860
It's very different. Basically, it's a Qt thing we don't have much control of. In the menu, Qt paints the icons to the menu items and displays them correctly. Regarding the taskbar's dnd icons and lxqt-notificationd's notification widgets, there nothing behide them to paint them on. We should work on it, of course, but for now people should use a compositor.

It's the kind of thing users will lear

[2015-10-26 12:24] pmattern commented on #860
How about omitting the actual mouse pointer ("black hand and arrow" in screenshots above) and displaying the other ones ("white arrow and no sign" ~) only during d&d?

[2015-10-26 12:29] palinek commented on #860
IMO we should stick to the default pointers provided by the "environment" and don't fiddle with them in any way. The shown icon is only a supporting information for user to know which window/button is he/she moving.

[2015-10-26 16:28] palinek commented on #859
There are 2 problems in here:
- the mainmenu plugin has it's own configuration for the shortcut which overrides the one configured in lxqt-config-globalkeys
- implementation of working with the shortcut text is wrong as it doesn't handle the 'asyncness' of shortcut registration (but this doesn't harm currently, because it resets the shortcut in all cases)

To fix this issue we should:
- remove con

[2015-10-26 16:32] paulolieuthier commented on #859
This sounds more correct.

[2015-10-26 21:08] palinek commented on #859
@agaida please, confirm if it's correct now

[2015-10-27 00:37] agaida commented on #859
nope - it's not correct, but better - the menu opens with the shortcut provided by the global config, but it does not close if i hit the shortcut again - i would call this a regression, that worked with Alt-F1

[2015-10-27 07:09] palinek commented on #859
Hm... that's weird. Working as a charm here. Do I need to do something special to reproduce the "not hide" bug?

[2015-10-27 07:39] palinek commented on #861
Still no luck to reproduce the described bug here (followed all the steps)...

(debian unstable + siduction)

[2015-10-27 09:11] agaida commented on #859
will test this with a new installation today afternoon - the only thing i've done is to apply a new shortcut and a restart as it don't work right after applying.

[2015-10-27 10:25] palinek commented on #859
Hm... the shortcut changes instantly here... no matter if changed via lxqt-config-globalkeys or via mainmenu configuration dialog.

[2015-10-27 17:44] agaida commented on #859
fine - build a new iso and started this in a VM: current behaviour:
Alt-F1 works like charm, if ich change this via GUI to a new shortcut the shortcut applies immediatly, but:
* show the menu works fine, hide not
* Switching back to Alt-F1 show and hide work like charm so i think that there is a part hard wired and overlooked

[2015-10-27 17:52] maces commented on #857
I quite like this feature. For me this enables me to dock my laptop and close the lid as I am using the external monitor, keyboard and mice connected to the dock from that point on.
When detached from the dock again everything works automatically, e.g. I do not have to set my laptop into more battery friendly settings.

[2015-10-27 17:56] Vladimir-csp commented on #857
+1 on having "When using external monitor" section. It is useful and logical.

[2015-10-27 19:15] agaida commented on #859
so it seems that i'm a really bad boy who tested this with ununsual and really fugly combinations like Alt+plus and so on - and thats becomes more bad because i can create such shortcuts in the shortcut management. So far so good - these fugly combinations seems to work one way - for the open part, but not for the hide part.

[2015-10-27 19:56] pmattern commented on #859
I can confirm the findings @agaida posted in his second to last comment on Arch Linux running latest VCS checkouts of LXQt with one exception - using individual keyboard shortcuts that were set by `lxqt-config-globalkeyshortcuts` top open the menu to close the menu does work *sometimes*.
This in turn makes me wonder whether the problem could be related to #401 which I'm still seeing as well (besid

[2015-10-27 22:03] palinek commented on #859
There seems to be a discrepancy in string representation of the shortcut in globalkeys and the Qt's QKeySequence and I wasn't able to get the "old" workaround working... so made a new one in lxde/lxqt-panel#255

[2015-10-27 22:11] agaida commented on #859
cool

[2015-10-27 22:43] luis-pereira commented on #332
Not really sure. I have to check.

[2015-10-28 09:01] palinek commented on #856
IMO this should be closed.

[2015-10-28 09:16] palinek commented on #409
What't the status of this?

[2015-10-28 17:56] jleclanche commented on #856
Yeah can close now.

[2015-10-28 17:56] #856 closed

[2015-10-29 06:24] #849 closed

[2015-10-29 22:25] pmattern commented on #861
Weird.
Still seeing the problem. Some minor details are different than I first thought so I edited the first comment a bit.
Maybe we should try and discuss this on IRC some time.

[2015-10-30 07:36] palinek commented on #861
This may be the clue... will try it later.

[2015-10-30 14:53] palinek commented on #861
@pmattern finally simulated the behaviour.... please, have a look in lxde/lxqt-panel#269

[2015-10-30 15:02] dbautistadecabo opened #862 "lxqt-panel: issues with dual-head monitor (nvidia)"
Hi!

With the last update to LXQt 0.9.0 (I still was in 0.7.0) in Gentoo Linux, when I login into lxqt, suddenly the taskbar disappears and the background changes to the previous lightdm background (although the background is still seen in a minimal square in the top-left corner of the first monitor). I have updated several computers to LXQt 0.9.0 with no problem (one monitor and intel card) but w

[2015-10-30 15:10] Vladimir-csp commented on #862
That looks as if lxqt-panel and pcmanfm-qt crash.  Which menu appears if you make right click on desktop just after that?

[2015-10-30 15:14] dbautistadecabo commented on #862
An openbox menu, I think. Not the usual lxqt menu.

[2015-10-30 15:16] Vladimir-csp commented on #862
This means that pcmanfm-qt desktop handler is not running.
Look at ~/.xsession-errors for clues.

[2015-10-30 15:24] palinek commented on #859
@agaida can we close this?

[2015-10-30 16:53] #780 closed

[2015-10-30 17:47] agaida commented on #859
i think so

[2015-10-30 18:53] #859 closed

[2015-10-30 21:13] pmattern commented on #861
The actual problem is fixed by lxde/lxqt-panel@ff680ae, windows are always aware of the panel and maximizing works as expected.

While testing I stumbled upon some misbehaviour regarding the numbering of outputs.
"bare metal" changing the panel's position sometimes doesn't yield any effect. Say the panel's current position is stated as `Bottom of desktop 2` at "Configure Panel (context menu panel)

[2015-10-30 21:22] #861 closed

[2015-10-30 22:02] palinek commented on #725
closing...as I believe it was fixed in all .qss theme styles.

[2015-10-30 22:02] #725 closed

[2015-10-31 00:45] jleclanche commented on #837
@paulolieuthier session settings will eventually disappear I think.

[2015-10-31 03:19] jleclanche commented on #332
@luis-pereira can you move this to 0.11 if there's anything left to do?

[2015-10-31 03:20] jleclanche commented on #671
@palinek Can this be fixed before tomorrow?

[2015-10-31 03:24] jleclanche commented on #508
I think this was fixed, I haven't had this issue in ages. I do see the menu sometimes appearing in the topleft corner of the primary display but it's very hard to repro.

[2015-10-31 03:24] #508 closed

[2015-10-31 03:29] jleclanche opened #863 "Never allow lxqt panels to overlay each other"
When a panel is on the same side as another, it should never stack on top of the other but rather, *next* to the other one (just above if it's at the bottom, etc).

At some point this will also mean a "Move panel" UI like we have to move widgets.

[2015-10-31 03:35] #755 closed

[2015-10-31 03:38] jleclanche commented on #740
No, we're not doing that, although the about dialog could list git commit ids if possible...

[2015-10-31 09:19] antis81 commented on #740
Yes, this is totally possible and very helpful for tracking down user's issues - even for people without deeper knowledge about LXQt.

[2015-10-31 10:03] stefonarch commented on #693
A string freeze is okay before releasing, but when translators get only one (sun)day before the release  as it seems to be now we are  to ship half translated panel and config (as for Italy a lot of users just don't understand any english).  Just for the panel * pligins I did'n see heavy changes, there would have been plenty of time to translate IMHO.

So I think policy updating *.ts files should

[2015-10-31 10:11] jleclanche commented on #693
@stefonarch I agree. I wasnt going to talk about this just yet but I thought about it during the night; here's some initial thoughts on restructuring of the project with pootle in mind: https://github.com/lxde/lxqt/wiki/Thoughts-on-Pootle

This means that I'm hoping to set up a single tree for translations with daily updates, which will automatically be pulled in by cmake or some such.

[2015-10-31 11:04] dglent commented on #693
In the above thoughts page there is no mention for transifex, it is excluded from any discussion ?

[2015-10-31 11:18] palinek commented on #671
I doubt it...i'm not able to find out the reason. There's no our code in the backtraces...

[2015-10-31 11:31] pmattern commented on #508
@jleclanche

Exactly the same here - both finding and problems trying to reproduce.
Seems this mainly happens on new user profiles where no LXQt settings have been tweaked before, though.

[2015-10-31 12:09] jeremywh7 commented on #853
I found another mouse-over/click event anomaly; when nested task bar applications are selected (like, if you have two terminals open, and try to access them) and pop-up, the panel autohides when you mouse off the 'panel area' to try and select the application.

[2015-10-31 12:15] jeremywh7 commented on #723
For others who happen upon this, looking for a solution; I installed xcompmgr and it works a-ok to just have simple panel translucency.  And its really small...
Name           : xcompmgr
Version        : 1.1.7-1
Description    : Composite Window-effects manager for X.org
Architecture   : x86_64
URL            : http://xorg.freedesktop.org/
Depends On     : libxcomposite  libxdamage  libxrender  li

[2015-10-31 12:20] Vladimir-csp commented on #723
Xcompmgr is old and buggy. Compton is its advanced fork.

[2015-10-31 12:32] jeremywh7 commented on #723
I did see that, but xcompmgr is an Arch package, while compton and all the others in the Arch wiki[1] are AUR...and I'm trying to 'KISS'.  :)  I was really surprised that compton isn't an official package though.  I'm hoping that using it in its default mode[2] will avoid those bugs...?  Sine I only want the LXQT panel to be translucent.

[1] https://wiki.archlinux.org/index.php/Xorg#Composite
[2]

[2015-10-31 12:51] jeremywh7 commented on #723
Ok I'll bite...tried building Compton (on x64) for size comparison.  It had two deps:
Packages (1) libconfig-1.5-1
Total Installed Size:  0.19 MiB
(only needed for make) Packages (1) asciidoc-8.6.9-2
Total Installed Size:  0.75 MiB
And compton is:
Packages (1) compton-0.1_beta2-5
Total Installed Size:  0.25 MiB

So only 0.44 MiB to install.

[2015-10-31 14:02] jleclanche commented on #693
We won't be using transifex. They're neither open source nor self-hostable, and we already have pootle architecture in place with a bunch of users.

[2015-10-31 15:28] paulolieuthier commented on #502
Fixed!

[2015-10-31 15:28] #502 closed

[2015-10-31 15:37] paulolieuthier commented on #768
@PCMan can you take a look at this one?

[2015-10-31 15:37] davidedmundson commented on #818
as in the breeze widget style?

[2015-10-31 16:11] luis-pereira commented on #332
@jleclanche There are minor stuff to do. Moving it.

[2015-11-01 02:36] agaida opened #864 "lxqt-panel: manpage point to a manpage that not exist"
@pmattern \fBstart-lxqt.1\fR LXQt display management independient starup.

[2015-11-01 04:27] jleclanche commented on #864
We'll have a full manpage drive after 0.10

[2015-11-01 06:51] jleclanche commented on #768
Unless someone tells me this can be easily fixed, I'm going to start the release process today.

[2015-11-01 07:08] jleclanche commented on #669
This is something we need feedback on from chinese users.

[2015-11-01 07:10] jleclanche commented on #590
@luis-pereira I'll assign this to you because i think it's more of a libqtxdg thing.

[2015-11-01 07:10] #583 closed

[2015-11-01 07:11] jleclanche commented on #577
Can't repro, so it's probably not ours anyway :/ Try in 0.10 tomorrow maybe.

[2015-11-01 07:11] #577 closed

[2015-11-01 07:12] #737 closed

[2015-11-01 07:19] Vladimir-csp commented on #577
Just for the info: by [current spec](http://standards.freedesktop.org/mime-apps-spec/latest/ar01s02.html), the top priority list is $XDG_CONFIG_HOME/mimeapps.list.
$XDG_DATA_HOME/applicationst/mimeapps.list is left for backwards compatibility and has lesser priority.

[2015-11-01 09:55] hifi25nl commented on #768
It would be not advisable to release Lxqt with such a bug.

[2015-11-01 09:59] jleclanche commented on #768
@hifi25nl I don't believe this is a regression, so it's in 0.9 as well. Releasing 0.10 with the bug would make no difference.

I think we will do a 0.9.1 release on select components though, so this could be fixed then. I don't want to rush a bugfix and have something worse crop up because we didn't look close enough.

[2015-11-01 10:09] PCMan commented on #669
Well, it's not fully translated into Chinese yet.

[2015-11-01 11:53] dbautistadecabo commented on #862
![lxqt9_snapshot](https://cloud.githubusercontent.com/assets/11425458/10868724/1623efc6-808f-11e5-8386-23ab7cdc0de9.jpg)